// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  --barrier-free-icon-size: 24;
  --barrier-free-icon-padding-inline-start: calc(
    var(--barrier-free-icon-size) + var(--spacing-fixed-1x)
  );
}

.barrier-free {
  display: flex;
  position: relative;
  @include text-xs--regular();
  margin: 0;
  color: var(--color-anthracite-default);
  padding-inline-start: pxToRem(var(--barrier-free-icon-padding-inline-start));
}

.barrier-free__icon {
  position: absolute;
  inset-block-start: pxToRem(-1);
  inset-inline-start: 0;
  fill: currentColor;
  width: pxToRem(var(--barrier-free-icon-size));
  height: pxToRem(var(--barrier-free-icon-size));
}

.barrier-free__text {
  flex: 1 1 auto;
}

.barrier-free__text--visually-hidden {
  @include screenReaderOnly();
}
