:host {
  display: block;
}

.taser-hero {
  position: relative;
}

.teaser-hero__image {
  display: block;
}

.teaser-hero__panel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
