@use '../../core/styles' as sbb;

@mixin transition($properties...) {
  transition: {
    duration: var(--sbb-navigation-animation-duration);
    timing-function: var(--sbb-navigation-animation-easing);
    property: $properties;
  }
}

:host {
  --sbb-navigation-grid-column: 1 / -1;
  --sbb-navigation-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-3x)
  );
  --sbb-navigation-animation-easing: ease-in;
  --sbb-navigation-padding-inline: var(--sbb-layout-base-offset-responsive);
  --sbb-navigation-padding-block-start: var(--sbb-spacing-responsive-l);
  --sbb-navigation-padding-block-end: var(--sbb-spacing-responsive-xl);
  --sbb-navigation-backdrop-visibility: hidden;
  --sbb-navigation-backdrop-pointer-events: none;
  --sbb-navigation-backdrop-color: color-mix(in srgb, var(--sbb-color-black) 70%, transparent);
  --sbb-navigation-backdrop-animation-name: backdrop-open;
  --sbb-navigation-background-color: var(--sbb-background-color-1-negative);
  --sbb-navigation-color: var(--sbb-color-1-negative);
  --sbb-navigation-list-margin-block-start: var(--sbb-spacing-responsive-xxl);
  --sbb-navigation-inline-start: 0;
  --sbb-navigation-expanded-width: 100%;
  --sbb-navigation-inset: 0 auto auto 0;
  --sbb-navigation-translate: -100% 0;
  --sbb-navigation-content-translate: 0;
  --sbb-navigation-width: 100%;
  --sbb-navigation-height: 100dvh;
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);

  display: none;
  position: fixed;
  inset: var(--sbb-navigation-inset);
  z-index: var(--sbb-navigation-z-index, var(--sbb-overlay-default-z-index));
  overflow: hidden;

  @include sbb.mq($from: large) {
    --sbb-navigation-grid-column: 1 / 5;
    --sbb-navigation-animation-duration: var(
      --sbb-disable-animation-duration,
      var(--sbb-animation-duration-6x)
    );
    --sbb-navigation-padding-block-start: var(--sbb-spacing-responsive-xl);
    --sbb-navigation-padding-inline: var(--sbb-layout-base-offset-responsive) 0;
    --sbb-navigation-list-margin-block-start: var(--sbb-spacing-fixed-1x);
    --sbb-navigation-inline-start: calc(var(--sbb-layout-base-offset-responsive) * -1);
    --sbb-navigation-width: calc(100% + var(--sbb-layout-base-offset-responsive));
  }

  @include sbb.mq($from: ultra) {
    --sbb-navigation-grid-column: 1 / 6;
    --sbb-navigation-padding-block-start: var(--sbb-spacing-responsive-xxl);
  }
}

:host(:is(:state(state-opening), :state(state-opened), :state(state-closing))) {
  display: block;
}

:host(:state(state-opened)) {
  --sbb-navigation-animation-easing: ease-out;
}

:host(:is(:state(state-opened), :state(state-opening))) {
  --sbb-navigation-backdrop-visibility: visible;
  --sbb-navigation-backdrop-pointer-events: all;
}

:host(:not(:state(state-closed))) {
  --sbb-navigation-inset: 0;
  --sbb-navigation-translate: ;
}

:host(:state(state-closing)) {
  --sbb-navigation-backdrop-animation-name: backdrop-close;
}

:host(:state(has-open-navigation-section)) {
  --sbb-navigation-content-translate: -100% 0;

  @include sbb.mq($from: 'large') {
    --sbb-navigation-expanded-width: 100dvw;
    --sbb-navigation-content-translate: 0;
  }
}

:host(:state(resize-disable-animation)) {
  @include sbb.disable-animation;
}

.sbb-navigation__container {
  @include sbb.grid-base;

  padding-inline: 0;
  pointer-events: none;
  translate: var(--sbb-navigation-translate);

  @include sbb.mq($from: large) {
    padding-inline: var(--sbb-layout-base-offset-responsive);

    // Navigation backdrop (not visible on mobile)
    &::before {
      @include transition(visibility);

      animation: {
        name: var(--sbb-navigation-backdrop-animation-name);
        duration: var(--sbb-navigation-animation-duration);
        timing-function: var(--sbb-navigation-animation-easing);
      }

      content: '';
      visibility: var(--sbb-navigation-backdrop-visibility);
      pointer-events: var(--sbb-navigation-backdrop-pointer-events);
      position: fixed;
      inset: var(--sbb-navigation-inset);
      background-color: var(--sbb-navigation-backdrop-color);
    }
  }
}

.sbb-navigation {
  @include transition(width);

  display: none;
  width: var(--sbb-navigation-width);
  grid-column: var(--sbb-navigation-grid-column);
  padding: 0;
  margin: 0;
  position: relative;
  inset-inline-start: var(--sbb-navigation-inline-start);
  inset-block-start: 0;
  border: none;
  pointer-events: none;
  height: var(--sbb-navigation-height);
  color: var(--sbb-navigation-color);
  background-color: var(--sbb-navigation-background-color);

  &::before {
    @include transition(width);

    content: '';
    position: absolute;
    width: var(--sbb-navigation-expanded-width);
    height: var(--sbb-navigation-height);
    background: var(--sbb-navigation-background-color);
  }

  :host(:is(:state(state-opening), :state(state-opened), :state(state-closing))) & {
    display: block;
    pointer-events: all;

    animation: {
      name: open;
      duration: var(--sbb-navigation-animation-duration);
      timing-function: var(--sbb-navigation-animation-easing);
    }
  }

  :host(:state(state-closing)) & {
    pointer-events: none;
    animation-name: close;
  }

  @include sbb.if-forced-colors {
    outline: var(--sbb-border-width-1x) solid CanvasText;
  }
}

.sbb-navigation__wrapper {
  outline: none;
}

.sbb-navigation__header {
  @include transition(width);

  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: var(--sbb-navigation-expanded-width);
  pointer-events: none;
  padding: var(--sbb-spacing-responsive-xs);
  z-index: calc(var(--sbb-navigation-z-index, var(--sbb-overlay-default-z-index)) + 1);
}

.sbb-navigation__close {
  pointer-events: all;
}

.sbb-navigation__content {
  @include transition(translate);
  @include sbb.scrollbar($negative: true);

  display: flex;
  flex-direction: column;
  gap: var(--sbb-spacing-responsive-xxl);
  position: relative;
  height: var(--sbb-navigation-height);
  padding-inline: var(--sbb-navigation-padding-inline);
  padding-block: var(--sbb-navigation-padding-block-start) var(--sbb-navigation-padding-block-end);
  overflow-y: auto;
  translate: var(--sbb-navigation-content-translate);
}

::slotted(:first-child) {
  margin-block-start: var(--sbb-navigation-list-margin-block-start);
}

@keyframes open {
  from {
    translate: -100% 0;
  }

  to {
    translate: 0;
  }
}

@keyframes close {
  from {
    translate: 0;
  }

  to {
    translate: -100% 0;
  }
}

@keyframes backdrop-open {
  from {
    background-color: transparent;
  }
}

@keyframes backdrop-close {
  to {
    background-color: transparent;
  }
}
