:host {
  display: block;

  // Default Logo Styles
  // ----------------------------------------------
  --sbb-signet-panel-color: var(--color-red-default);
  --sbb-signet-panel-stroke-color: var(--color-red-default);
  --sbb-signet-signet-color: var(--color-white-default);
  --sbb-signet-word-mark-color: var(--color-black-default);

  // Forced Colors Variant
  // ----------------------------------------------
  @include ifForcedColors() {
    .sbb-signet--default,
    .sbb-signet--negative,
    .sbb-signet--on-red,
    .sbb-signet--black-on-white,
    .sbb-signet--white-on-black {
      --sbb-signet-panel-color: ButtonText;
      --sbb-signet-panel-stroke-color: ButtonText;
      --sbb-signet-signet-color: Canvas;
      --sbb-signet-word-mark-color: ButtonText;
    }
  }
}

.sbb-signet {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 454 / 48; // No Fallback for now...
}

.sbb-signet .sbb-signet__svg {
  width: 100%;
  height: auto;
}

.sbb-signet svg {
  float: left;
}

.sbb-signet--protective-room-ideal {
  aspect-ratio: 550 / 144;
}

.sbb-signet--protective-room-ideal .sbb-signet__svg {
  width: 82.545454%; // 454/550 Adapted from Figma
  height: 33.333333%; // 48/144 Adapted from Figma
}

.sbb-signet--protective-room-minimal {
  aspect-ratio: 502 / 96;
}

.sbb-signet--protective-room-minimal .sbb-signet__svg {
  width: 90.438247%; // 454/502 Adapted from Figma
  height: 50%; // 48/96 Adapted from Figma
}

// Positive / Default Variant
// ----------------------------------------------
#sbb-signet__word-mark {
  fill: var(--sbb-signet-word-mark-color);
}

#sbb-signet__panel {
  fill: var(--sbb-signet-panel-color);
  stroke: var(--sbb-signet-panel-stroke-color);
}

#sbb-signet__signet {
  fill: var(--sbb-signet-signet-color);
}

// Negative Variant
// ----------------------------------------------
.sbb-signet--negative {
  --sbb-signet-word-mark-color: var(--color-white-default);
}

// On Red Background Variant
// ----------------------------------------------
.sbb-signet--on-red {
  background: var(--color-red-default);
  --sbb-signet-word-mark-color: var(--color-white-default);
  --sbb-signet-panel-stroke-color: var(--color-white-default);
}

// Black on White Variant
// ----------------------------------------------
.sbb-signet--black-on-white {
  --sbb-signet-word-mark-color: var(--color-black-default);
  --sbb-signet-panel-color: var(--color-black-default);
  --sbb-signet-panel-stroke-color: var(--color-black-default);
}

// White on Black Variant
// ----------------------------------------------
.sbb-signet--white-on-black {
  background: var(--color-black-default);
  --sbb-signet-word-mark-color: var(--color-white-default);
  --sbb-signet-panel-color: none;
  --sbb-signet-panel-stroke-color: var(--color-white-default);
}
