@use '../core/styles' as sbb;

:host {
  display: inline-block;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;

  --sbb-toggle-check-color: var(--sbb-color-2);
  --sbb-toggle-check-checked-color: var(--sbb-color-primary);
  --sbb-toggle-check-background-color: var(--sbb-background-color-4);
  --sbb-toggle-check-icon-color: var(--sbb-toggle-check-checked-color);
  --sbb-toggle-check-icon-opacity: 0;
  --sbb-toggle-check-circle-background-color: var(--sbb-background-color-1);
  --sbb-toggle-check-circle-border-color: var(--sbb-border-color-5);
  --sbb-toggle-check-circle-border-style: solid;
  --sbb-toggle-check-circle-diameter: #{sbb.px-to-rem-build(28)};
  --sbb-toggle-check-overall-height: var(--sbb-toggle-check-circle-diameter);
  --sbb-toggle-check-circle-transform: translate(0, -50%);
  --sbb-toggle-check-height: #{sbb.px-to-rem-build(24)};
  --sbb-toggle-check-width: calc(2 * var(--sbb-toggle-check-height));
  --sbb-toggle-check-cursor: var(--sbb-cursor-pointer);
  --sbb-toggle-check-flex-direction: row-reverse;
  --sbb-toggle-check-gap: var(--sbb-spacing-fixed-3x);
  --sbb-toggle-check-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-6x)
  );

  @include sbb.if-forced-colors {
    --sbb-toggle-check-background-color: CanvasText;
    --sbb-toggle-check-circle-background-color: Canvas;
  }
}

:host([size='m']) {
  --sbb-toggle-check-overall-height: calc(1em * var(--sbb-typo-line-height-text));
}

:host(:state(checked)) {
  --sbb-toggle-check-background-color: var(--sbb-toggle-check-checked-color);
  --sbb-toggle-check-circle-background-color: var(--sbb-background-color-1-negative-inverted);
  --sbb-toggle-check-circle-border-color: var(--sbb-toggle-check-background-color);
  --sbb-toggle-check-icon-opacity: 1;

  // As the circle is greater than the track below,
  // we have to subtract the difference in order to not overshoot at the right side.
  // 100% of circle (28px) - 2 * (100% (28px) - 0.5 * width (48px)) => 20px
  --sbb-toggle-check-circle-transform: translate(
    calc(100% - 2 * (100% - 0.5 * var(--sbb-toggle-check-width))),
    -50%
  );

  @include sbb.if-forced-colors {
    --sbb-toggle-check-icon-color: Highlight;
    --sbb-toggle-check-background-color: Highlight;
  }
}

:host(:disabled) {
  --sbb-toggle-check-background-color: var(--sbb-background-color-4);
  --sbb-toggle-check-circle-background-color: var(--sbb-background-color-3);
  --sbb-toggle-check-circle-border-color: var(--sbb-border-color-5);
  --sbb-toggle-check-circle-border-style: dashed;
  --sbb-toggle-check-icon-color: light-dark(var(--sbb-color-granite), var(--sbb-color-storm));
  --sbb-toggle-check-cursor: var(--sbb-cursor-default);

  @include sbb.if-forced-colors {
    --sbb-toggle-check-icon-color: GrayText;
    --sbb-toggle-check-background-color: GrayText;
    --sbb-toggle-check-circle-border-style: solid;
  }
}

:host([label-position='before']) {
  --sbb-toggle-check-flex-direction: row;
}

.sbb-toggle-check {
  position: relative;
  display: flex;
  color: var(--sbb-toggle-check-color);
  -webkit-tap-highlight-color: transparent;
  cursor: var(--sbb-toggle-check-cursor);

  // Avoids unwanted space displayed if no label text is set.
  @include sbb.zero-width-space;

  :host(:focus-visible) & {
    @include sbb.focus-outline;

    border-radius: calc(var(--sbb-border-radius-4x) - var(--sbb-focus-outline-offset));
  }
}

.sbb-toggle-check__container {
  @include sbb.text-s--regular;

  display: flex;
  flex-direction: var(--sbb-toggle-check-flex-direction);
  gap: var(--sbb-toggle-check-gap);
  align-items: start;
  width: 100%;

  :host([size='m']) & {
    @include sbb.text-m--regular;
  }

  :host([size='xs']) & {
    @include sbb.text-xs--regular;
  }
}

.sbb-toggle-check__label {
  flex-grow: 1;
  padding-block-start: calc(
    (var(--sbb-toggle-check-circle-diameter) - (var(--sbb-typo-line-height-text) * 1em)) / 2
  );

  :host(:not(:state(slotted))) & {
    display: none;
  }
}

.sbb-toggle-check__track {
  display: inline-block;
  position: relative;
  min-width: var(--sbb-toggle-check-width);
  height: var(--sbb-toggle-check-height);
  border-radius: var(--sbb-border-radius-infinity);
  background-color: var(--sbb-toggle-check-background-color);

  // Reserve space of overlapping circle
  margin-block: calc((var(--sbb-toggle-check-overall-height) - var(--sbb-toggle-check-height)) / 2);
}

.sbb-toggle-check__circle {
  box-shadow: var(--sbb-box-shadow-level-5-hard);
  @include sbb.absolute-center-y;

  width: var(--sbb-toggle-check-circle-diameter);
  height: var(--sbb-toggle-check-circle-diameter);
  border: var(--sbb-border-width-1x) var(--sbb-toggle-check-circle-border-style)
    var(--sbb-toggle-check-circle-border-color);
  border-radius: 50%;
  background-color: var(--sbb-toggle-check-circle-background-color);
  color: var(--sbb-toggle-check-icon-color);
  will-change: transform;
  transform: var(--sbb-toggle-check-circle-transform);
  transition: transform ease var(--sbb-toggle-check-animation-duration);
}

.sbb-toggle-check__icon {
  @include sbb.absolute-center-x-y;

  width: var(--sbb-size-icon-ui-small);
  height: var(--sbb-size-icon-ui-small);
  opacity: var(--sbb-toggle-check-icon-opacity);
  transition: opacity ease var(--sbb-toggle-check-animation-duration);
}
