@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-option-group-divider-display: block;
  --sbb-option-group-label-padding-start: var(--sbb-spacing-fixed-4x);
  --sbb-option-group-label-padding-inline: var(--sbb-spacing-fixed-4x);
}

:host(:first-child) {
  --sbb-option-group-divider-display: none;
  --sbb-option-group-label-padding-start: var(--sbb-spacing-fixed-2x);
}

:host([data-variant='select']) {
  --sbb-option-group-label-padding-inline: 0;
}

.sbb-option-group {
  margin-block: var(--sbb-spacing-fixed-4x);
  margin-inline: var(--sbb-spacing-fixed-4x);
}

.sbb-option-group__label {
  display: block;
  @include sbb.text-xs--regular;

  // font size is fixed
  font-size: var(--sbb-typo-scale-0-75x);
  color: var(--sbb-color-metal-default);
  padding-inline: var(--sbb-option-group-label-padding-inline);
  padding-block-start: var(--sbb-option-group-label-padding-start);
  padding-block-end: var(--sbb-spacing-fixed-2x);
}

.sbb-option-group__divider {
  display: var(--sbb-option-group-divider-display);
}
