@use '../../core/styles' as sbb;

:host {
  --sbb-teaser-product-border-radius: var(--sbb-border-radius-4x);

  // Simulate link color optically
  @include sbb.if-forced-colors {
    --sbb-title-text-color-normal-override: LinkText !important;
    --sbb-teaser-product-content-color: LinkText !important;
    --sbb-teaser-product-footer-color: LinkText !important;
  }
}

.sbb-teaser-product__wrapper {
  position: relative;
}

.sbb-teaser-product__root {
  pointer-events: none;

  @include sbb.if-forced-colors {
    &::after {
      :host(:hover) & {
        border-color: Highlight;
      }
    }
  }
}

.sbb-teaser-product {
  position: absolute;
  inset: 0;

  &:focus-visible {
    @include sbb.focus-outline;

    border-radius: var(--sbb-teaser-product-border-radius);
  }
}
