@use '../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-popover-arrow-size: var(--sbb-spacing-fixed-4x);
  --sbb-popover-max-width: calc(100% - var(--sbb-spacing-fixed-2x));
  --sbb-popover-border-radius: var(--sbb-border-radius-8x);
  --sbb-popover-padding: var(--sbb-spacing-fixed-4x);
  --sbb-popover-background: var(--sbb-background-color-1);
  --sbb-popover-animation-easing: ease-out;
}
