@use '../core/styles' as sbb;

:host {
  --transportation-number-element-height: #{sbb.px-to-rem-build(20)};
  --product-icon-width: #{sbb.px-to-rem-build(59)};
}

:host(sbb-timetable-transportation-number) {
  display: flex;
  flex-basis: 100%;
  margin-block-end: var(--sbb-spacing-fixed-1x);
  overflow: hidden;
}

.transportation-number {
  display: flex;
  flex: 0 0 100%;
  overflow: hidden;
  margin: 0;
}

.transportation-number--first-level span {
  height: var(--transportation-number-element-height);
  line-height: #{sbb.px-to-rem-build(22)};
}

.transportation-number--visual {
  @include sbb.text-s--regular;

  display: flex;
  flex: 0 0 100%;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
}

.transportation-number--second-level .transportation-number--visual {
  flex-wrap: wrap;
}

.transportation-number__means-of-transport {
  display: flex;
  flex: 0 0 var(--transportation-number-element-height);
  aspect-ratio: 1/1;
  margin-inline-end: var(--sbb-spacing-fixed-1x);
  overflow: hidden;
}

.transportation-number__product-icon,
.transportation-number__product-text {
  display: flex;
  white-space: nowrap;
  margin-inline-end: var(--sbb-spacing-fixed-2x);
}

.transportation-number__product-icon {
  line-height: var(--transportation-number-element-height);
}

.transportation-number__product-text {
  @include sbb.text-s--bold;
}

.transportation-number--first-level .transportation-number__product-text {
  line-height: #{sbb.px-to-rem-build(22)};
}

.transportation-number--second-level .transportation-number__product-text {
  line-height: var(--transportation-number-element-height);
  transform: translateY(#{sbb.px-to-rem-build(1)});
}

.transportation-number__direction {
  flex: 1 1 auto;
  overflow: hidden;
}

.transportation-number--second-level .transportation-number__direction {
  flex: 0 0 100%;
  margin-block-start: var(--sbb-spacing-fixed-1x);
}

.transportation-number__direction-text {
  display: block;
}

.transportation-number--first-level .transportation-number__direction-text {
  @include sbb.ellipsis;
}

.transportation-number--visually-hidden {
  @include sbb.screen-reader-only;
}

svg {
  height: var(--transportation-number-element-height);

  .transportation-number__product-icon & {
    width: var(--product-icon-width);
  }

  .transportation-number__means-of-transport & {
    width: var(--transportation-number-element-height);
    height: var(--transportation-number-element-height);
  }
}
