@use '../../core/styles' as sbb;

:host {
  aspect-ratio: var(--sbb-cargo-aspect-ratio);
}

:host([protective-room='minimal']) {
  --sbb-cargo-aspect-ratio: 647 / 96;
  --sbb-logo-svg-container-height: calc(49.3 / 96 * 100%);
}

:host([protective-room='ideal']) {
  --sbb-cargo-aspect-ratio: 695 / 144;
  --sbb-logo-svg-container-height: calc(49.3 / 144 * 100%);
}
