@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize css of several frameworks.
  outline: none !important;

  --sbb-menu-action-border-radius: var(--sbb-border-radius-infinity);
  --sbb-menu-action-outer-horizontal-padding: var(--sbb-spacing-fixed-3x);
  --sbb-menu-action-gap: var(--sbb-spacing-fixed-2x);
  --sbb-menu-action-cursor: pointer;
  --sbb-menu-action-color: var(--sbb-color-white);
  --sbb-menu-action-forced-color-border-color: CanvasText;

  display: block;
}

:host(:hover:not(:disabled)) {
  @include sbb.hover-mq($hover: true) {
    --sbb-menu-background-color: var(--sbb-color-iron);
    --sbb-menu-action-forced-color-border-color: Highlight;
  }
}

:host(:disabled) {
  --sbb-menu-action-cursor: default;
  --sbb-menu-action-color: var(--sbb-color-graphite);
  --sbb-menu-action-forced-color-border-color: GrayText;

  pointer-events: none;
  cursor: default;

  @include sbb.if-forced-colors {
    --sbb-menu-action-color: GrayText;
  }
}

:host([role='button']) {
  @include sbb.if-forced-colors {
    --sbb-menu-action-color: ButtonText;
  }
}

:is(.sbb-menu-button, .sbb-menu-link) {
  text-decoration: none;
  display: block;
  width: 100%;
  color: var(--sbb-menu-action-color);
  padding: var(--sbb-spacing-fixed-1x) var(--sbb-menu-action-outer-horizontal-padding);
  cursor: var(--sbb-menu-action-cursor);
  outline: none;
}

.sbb-menu-action__content {
  @include sbb.text-xs--regular;

  display: flex;
  align-items: center;
  gap: var(--sbb-menu-action-gap);
  padding: var(--sbb-spacing-fixed-1x) var(--sbb-spacing-fixed-2x);
  border-radius: var(--sbb-menu-action-border-radius);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--sbb-menu-background-color);

  // Hide focus outline when focus origin is mouse or touch. This is being used as a workaround in various components.
  // Handle focus on the host (button variant)
  :host(:focus-visible:not([data-focus-origin='mouse'], [data-focus-origin='touch'])) & ,
  // Handle focus on the action (link variant)
  :host(:not([data-focus-origin='mouse'], [data-focus-origin='touch'])) :focus-visible & {
    --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);

    @include sbb.focus-outline;
  }

  @include sbb.if-forced-colors {
    border: var(--sbb-border-width-2x) solid var(--sbb-menu-action-forced-color-border-color);
  }
}

.sbb-menu-action__icon {
  display: flex;
  min-width: var(--sbb-size-icon-ui-small);
  min-height: var(--sbb-size-icon-ui-small);
}

.sbb-menu-action__label {
  @include sbb.ellipsis;

  :host(:disabled) & {
    text-decoration: line-through;
  }
}

.sbb-menu-action__amount {
  @include sbb.badge;

  margin-inline-start: auto;
  width: var(--sbb-spacing-fixed-4x);
  max-height: var(--sbb-spacing-fixed-4x);

  @include sbb.if-forced-colors {
    color: var(--sbb-menu-action-color);
  }
}
