@use '../../core/styles' as sbb;

$disabled: '[disabled], :disabled, [disabled-interactive]';

:host {
  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;

  --sbb-menu-action-border-radius: var(--sbb-border-radius-infinity);
  --sbb-menu-action-outer-horizontal-padding: var(--sbb-spacing-fixed-3x);
  --sbb-menu-action-outer-vertical-padding: var(--sbb-spacing-fixed-1x);
  --sbb-menu-action-gap: var(--sbb-spacing-fixed-2x);
  --sbb-menu-action-cursor: var(--sbb-cursor-pointer);
  --sbb-menu-action-color: var(--sbb-color-2-inverted);
  --sbb-menu-action-forced-color-border-color: CanvasText;
  --sbb-menu-action-content-padding-inline: var(--sbb-spacing-fixed-2x);
  --sbb-menu-action-content-padding-block: var(--sbb-spacing-fixed-1x);

  display: block;
}

:host(:is(:hover:not(#{$disabled}), [aria-expanded='true'])) {
  @include sbb.hover-mq($hover: true) {
    --sbb-menu-background-color: light-dark(var(--sbb-color-iron), var(--sbb-color-milk));
    --sbb-menu-action-forced-color-border-color: Highlight;
  }
}

:host(:is(#{$disabled})) {
  --sbb-menu-action-cursor: var(--sbb-cursor-default);
  --sbb-menu-action-color: light-dark(var(--sbb-color-graphite), var(--sbb-color-granite));
  --sbb-menu-action-forced-color-border-color: GrayText;

  pointer-events: none;
  cursor: var(--sbb-cursor-default);

  @include sbb.if-forced-colors {
    --sbb-menu-action-color: GrayText;
  }
}

:host(:state(sbb-menu-trigger)) {
  --sbb-menu-action-cursor: var(--sbb-cursor-default);
}

:host(:state(button)) {
  @include sbb.if-forced-colors {
    --sbb-menu-action-color: ButtonText;
  }
}

:host([sbb-badge]:not(:state(has-icon-name), :state(slotted-icon)))::after {
  inset: 50%
    calc(
      100% - var(--sbb-menu-action-outer-horizontal-padding) - var(
          --sbb-menu-action-content-padding-inline
        ) -
        0.5 * var(--sbb-size-icon-ui-small)
    )
    auto auto !important;
  translate: 50% -50%;
}

:host([sbb-badge]:is(:state(has-icon-name), :state(slotted-icon)))::after {
  inset: calc(
      var(--sbb-menu-action-outer-vertical-padding) + var(--sbb-menu-action-content-padding-block) +
        var(--sbb-badge-position-offset)
    )
    calc(
      100% - var(--sbb-menu-action-outer-horizontal-padding) - var(
          --sbb-menu-action-content-padding-inline
        ) - var(--sbb-size-icon-ui-small) +
        var(--sbb-badge-position-offset)
    )
    auto auto !important;
}

:host([aria-controls*='sbb-menu']) {
  --sbb-menu-action-submenu-icon-display: flex;
}

:is(.sbb-menu-button, .sbb-menu-link) {
  text-decoration: none;
  display: block;
  width: 100%;
  color: var(--sbb-menu-action-color);
  padding: var(--sbb-menu-action-outer-vertical-padding)
    var(--sbb-menu-action-outer-horizontal-padding);
  cursor: var(--sbb-menu-action-cursor);
  outline: none;
}

.sbb-menu-action__content {
  @include sbb.text-xs--regular;

  display: flex;
  align-items: center;
  gap: var(--sbb-menu-action-gap);
  padding: var(--sbb-menu-action-content-padding-block)
    var(--sbb-menu-action-content-padding-inline);
  border-radius: var(--sbb-menu-action-border-radius);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--sbb-menu-background-color);

  // Handle focus on the host (button variant)
  :host(:focus-visible) &,
  // Handle focus on the action (link variant)
  :focus-visible & {
    @include sbb.focus-outline;
  }

  @include sbb.if-forced-colors {
    border: var(--sbb-border-width-2x) solid var(--sbb-menu-action-forced-color-border-color);
  }
}

.sbb-menu-action__icon,
.sbb-menu-submenu__icon {
  display: flex;
  min-width: var(--sbb-size-icon-ui-small);
  min-height: var(--sbb-size-icon-ui-small);
}

.sbb-menu-submenu__icon {
  display: var(--sbb-menu-action-submenu-icon-display, none);
  margin-inline-start: auto;
}

.sbb-menu-action__label {
  @include sbb.ellipsis;

  :host(:is(#{$disabled})) & {
    text-decoration: line-through;
  }
}
