@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

@mixin animation {
  animation: {
    name: var(--sbb-autocomplete-animation-name);
    duration: var(--sbb-autocomplete-transition-duration);
    timing-function: ease;
  }
}

:host {
  --sbb-autocomplete-active-option-y: 0;
  --sbb-autocomplete-max-height: calc(85vh - var(--sbb-spacing-fixed-8x));
  --sbb-autocomplete-min-height: #{sbb.px-to-rem-build(120)};
  --sbb-autocomplete-visibility: visible;
  --sbb-autocomplete-internal-z-index: -1;
  --sbb-autocomplete-width: fit-content;
  --sbb-autocomplete-radius: var(--sbb-border-radius-4x);
  --sbb-autocomplete-border-radius: 0 0 var(--sbb-autocomplete-radius)
    var(--sbb-autocomplete-radius);
  --sbb-autocomplete-transition-origin: center;
  --sbb-autocomplete-transition-duration: var(--sbb-animation-duration-4x);
  --sbb-autocomplete-gap-fix-inset-block-start: calc(
    var(--sbb-autocomplete-origin-height) - var(--sbb-autocomplete-radius)
  );
}

:host([data-state='opened']) {
  --sbb-autocomplete-internal-z-index: var(--sbb-autocomplete-z-index, var(--sbb-overlay-z-index));
}

:host([data-state='closed']) {
  --sbb-autocomplete-visibility: hidden;
}

:host([data-state='opening']) {
  --sbb-autocomplete-animation-name: open;
}

:host([data-state='closing']) {
  --sbb-autocomplete-animation-name: close;
}

:host([data-autocomplete-position='below']) {
  --sbb-autocomplete-transition-origin: top;
  --sbb-autocomplete-animation-transform: translateY(
    calc((var(--sbb-autocomplete-origin-height) / 2) * -1)
  );
}

:host([data-autocomplete-position='above']) {
  --sbb-autocomplete-border-radius: var(--sbb-autocomplete-radius) var(--sbb-autocomplete-radius) 0
    0;
  --sbb-autocomplete-transition-origin: bottom;
  --sbb-autocomplete-gap-fix-inset-block-start: 0;
  --sbb-autocomplete-animation-transform: translateY(
    calc(var(--sbb-autocomplete-origin-height) / 2)
  );
}

:host([disable-animation]:not([disable-animation='false'])) {
  --sbb-autocomplete-transition-duration: 0s;
}

::slotted(sbb-divider) {
  margin-block: var(--sbb-spacing-fixed-3x);
}

:host([preserve-icon-space]:not([preserve-icon-space='false'])) {
  --sbb-option-icon-container-display: block;
}

.sbb-autocomplete__container {
  position: fixed;
  pointer-events: none;
  inset: 0;
  z-index: var(--sbb-autocomplete-internal-z-index);
}

.sbb-autocomplete__gap-fix {
  @include animation;

  position: fixed;
  visibility: var(--sbb-autocomplete-visibility);
  width: var(--sbb-autocomplete-width);
  height: var(--sbb-autocomplete-radius);
  inset-block-start: var(--sbb-autocomplete-gap-fix-inset-block-start);
  inset-inline-start: 0;
  background-color: var(--sbb-color-white-default);
  z-index: -1;
}

.sbb-autocomplete__panel {
  @include animation;

  display: block;
  position: absolute;
  visibility: var(--sbb-autocomplete-visibility);
  background-color: transparent;
  border: none;
  border-radius: var(--sbb-autocomplete-radius);
  inset-inline-start: 0;
  width: var(--sbb-autocomplete-width);
  transition: box-shadow var(--sbb-autocomplete-transition-duration) ease;

  &::before,
  &::after {
    content: '';
    display: none;
    position: relative;
    width: 100%;
    height: var(--sbb-autocomplete-origin-height);
    background-color: transparent;
    border-radius: var(--sbb-autocomplete-radius);
    pointer-events: none;
    transition: box-shadow var(--sbb-autocomplete-transition-duration) ease;
    z-index: 1;
  }

  :host([data-state='opened']) &,
  :host([data-state='opening']) & {
    @include sbb.shadow-level-5-hard;
  }

  :host([data-autocomplete-position='below']) & {
    inset-block-start: 0;

    &::before {
      display: block;
    }
  }

  :host([data-autocomplete-position='above']) & {
    inset-block-end: 0;

    &::after {
      display: block;
    }
  }

  :host(
      :is([data-state='opened'], [data-state='opening'])[data-autocomplete-origin-borderless]:not(
          [data-autocomplete-origin-borderless='false']
        )
    )
    & {
    &::before,
    &::after {
      @include sbb.shadow-level-5-hard;
    }
  }
}

.sbb-autocomplete__options {
  @include sbb.scrollbar-light;

  background-color: var(--sbb-color-white-default);
  padding-block: var(--sbb-spacing-fixed-3x);
  padding-inline: 0;
  border-radius: var(--sbb-autocomplete-border-radius);
  max-height: calc(var(--sbb-autocomplete-max-height) - var(--sbb-spacing-fixed-4x));
  min-height: var(--sbb-autocomplete-min-height);
  pointer-events: all;
  overflow-y: auto;
}

@keyframes open {
  from {
    transform: var(--sbb-autocomplete-animation-transform);
    transform-origin: var(--sbb-autocomplete-transition-origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    transform-origin: var(--sbb-autocomplete-transition-origin);
    opacity: 1;
  }
}

@keyframes close {
  from {
    transform: translateY(0);
    transform-origin: var(--sbb-autocomplete-transition-origin);
    opacity: 1;
  }

  to {
    transform: var(--sbb-autocomplete-animation-transform);
    transform-origin: var(--sbb-autocomplete-transition-origin);
    opacity: 0;
  }
}
