@use './a11y.scss';
@use '../core/mediaqueries.scss';

// ----------------------------------------------------------------------------------------------------
// Buttons Mixins
// ----------------------------------------------------------------------------------------------------

@mixin button-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 0;
  padding: 0;
  background: none;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
}

@mixin icon-button {
  @include button-reset;

  --sbb-icon-button-background: transparent;
  --sbb-icon-button-color: var(--sbb-color-black-default);
  --sbb-icon-button-transition-duration: var(--sbb-animation-duration-2x);
  --sbb-icon-button-transition-easing-function: var(--sbb-animation-easing);
  --sbb-icon-button-inset: 0;
  --sbb-icon-button-transform: none;
  --sbb-icon-button-size: var(--sbb-size-icon-ui-small);
  --sbb-icon-button-radius: var(--sbb-border-radius-infinity);

  position: relative;
  height: var(--sbb-icon-button-size);
  width: var(--sbb-icon-button-size);
  border-radius: var(--sbb-icon-button-radius);
  cursor: pointer;
  background-color: transparent;
  color: var(--sbb-icon-button-color);

  &::before {
    content: '';
    background-color: var(--sbb-icon-button-background);
    position: absolute;
    inset: var(--sbb-icon-button-inset);
    border-radius: var(--sbb-icon-button-radius);
    transition-duration: var(--sbb-icon-button-transition-duration);
    transition-timing-function: var(--sbb-icon-button-transition-easing-function);
  }

  @include mediaqueries.hover-mq($hover: true) {
    :host(:not([disabled]:not([disabled='false']), :active, [data-active])) &:hover {
      --sbb-icon-button-background: var(--sbb-color-milk-default);
      --sbb-icon-button-transform: translateY(#{sbb.px-to-rem(-1)});
    }
  }

  :host([data-active]) &,
  :host(:active) & {
    --sbb-icon-button-background: var(--sbb-color-cloud-default);
    --sbb-icon-button-inset: #{sbb.px-to-rem(1)};
    --sbb-icon-button-transform: translateY(0);
  }

  :host([disabled]) & {
    --sbb-icon-button-color: var(--sbb-color-graphite-default);
    --sbb-icon-button-inset: 0;
    --sbb-icon-button-transform: none;
    --sbb-icon-button-background: transparent;

    cursor: unset;
    pointer-events: none;
  }

  :host(:focus-visible) & {
    @include a11y.focus-outline;

    border-radius: var(--sbb-icon-button-radius);
  }

  sbb-icon {
    transition-duration: var(--sbb-icon-button-transition-duration);
    transition-timing-function: var(--sbb-icon-button-transition-easing-function);
    transform: var(--sbb-icon-button-transform);
  }
}
