@use '../core/functions';
@use '../core/mediaqueries';
@use './a11y';
@use './buttons';
@use './shadows';
@use './typo';

// -----------------------------------------------------------------------------
// Card: Mixins & CSS custom properties
// -----------------------------------------------------------------------------

@mixin card-variables {
  --sbb-card-background-color: var(--sbb-color-white-default);
  --sbb-card-border-radius: var(--sbb-border-radius-4x);
  --sbb-card-animation-duration: var(--sbb-animation-duration-1x);
  --sbb-card-animation-easing: var(--sbb-animation-easing);
  --sbb-card-border-color: transparent;
  --sbb-card-hover-shift: 0;

  @include a11y.if-forced-colors {
    --sbb-card-border-color: CanvasText;
  }
}

@mixin card-variables--milk {
  --sbb-card-background-color: var(--sbb-color-milk-default);
}

@mixin card-variables--active {
  --sbb-card-border-color: var(--sbb-color-smoke-default);

  @include a11y.if-forced-colors {
    --sbb-card-border-color: Highlight;
  }
}

// Card sizing
@mixin card-variables--xs {
  --sbb-card-padding-inline: var(--sbb-spacing-responsive-xxs);
  --sbb-card-padding-block-start: var(--sbb-spacing-fixed-3x);
  --sbb-card-padding-block-end: var(--sbb-card-padding-block-start);
}

@mixin card-variables--s {
  --sbb-card-padding-inline: var(--sbb-spacing-responsive-xxs);
  --sbb-card-padding-block-start: var(--sbb-spacing-responsive-xxxs);
  --sbb-card-padding-block-end: var(--sbb-card-padding-block-start);
}

@mixin card-variables--m {
  --sbb-card-padding-inline: var(--sbb-spacing-responsive-s);
  --sbb-card-padding-block-start: var(--sbb-spacing-responsive-xxxs);
  --sbb-card-padding-block-end: var(--sbb-card-padding-block-start);
}

@mixin card-variables--m-has-badge {
  --sbb-card-padding-block-start: var(--sbb-spacing-fixed-6x);
  --sbb-card-padding-block-end: var(--sbb-spacing-responsive-xxxs);
}

@mixin card-variables--l {
  --sbb-card-padding-inline: var(--sbb-spacing-responsive-xxs);
  --sbb-card-padding-block-start: var(--sbb-spacing-fixed-4x);
  --sbb-card-padding-block-end: var(--sbb-card-padding-block-start);
}

@mixin card-variables--l-has-badge {
  --sbb-card-padding-block-start: var(--sbb-spacing-fixed-6x);
  --sbb-card-padding-block-end: var(--sbb-spacing-fixed-4x);
}

@mixin card-variables--xl {
  --sbb-card-padding-inline: var(--sbb-spacing-responsive-xxs);
  --sbb-card-padding-block-start: var(--sbb-spacing-responsive-xxs);
  --sbb-card-padding-block-end: var(--sbb-card-padding-block-start);
}

@mixin card-variables--xl-has-badge {
  --sbb-card-padding-block-start: var(--sbb-spacing-fixed-6x);
  --sbb-card-padding-block-end: var(--sbb-spacing-responsive-xxs);
}

@mixin card-variables--xxl {
  --sbb-card-padding-inline: var(--sbb-spacing-responsive-s);
  --sbb-card-padding-block-start: var(--sbb-spacing-responsive-s);
  --sbb-card-padding-block-end: var(--sbb-card-padding-block-start);
}

@mixin card-variables--button {
  @include a11y.if-forced-colors {
    --sbb-card-color: ButtonText;
  }
}

@mixin card {
  @include typo.text-inherit;
  @include buttons.button-reset;

  display: block;
  position: relative;
  overflow: hidden;
  padding-inline: var(--sbb-card-padding-inline);
  padding-block-start: var(--sbb-card-padding-block-start);
  padding-block-end: var(--sbb-card-padding-block-end);
  border-radius: var(--sbb-card-border-radius);
  background-color: var(--sbb-card-background-color);
  transition: box-shadow var(--sbb-card-animation-duration) var(--sbb-card-animation-easing);
  cursor: pointer;
  text-decoration: none;
  user-select: text;
  color: var(--sbb-card-color);

  &::after {
    position: absolute;
    background-color: transparent;
    content: '';
    inset: 0;
    border: var(--sbb-border-width-2x) solid var(--sbb-card-border-color);
    border-radius: var(--sbb-card-border-radius);
    pointer-events: none;
  }

  // Hide focus outline when focus origin is mouse or touch. This is being used in tooltip as a workaround.
  &:focus-visible:not([data-focus-origin='mouse'], [data-focus-origin='touch']) {
    @include a11y.focus-outline;
  }
}

@mixin card--hover($cardSelector) {
  @include mediaqueries.hover-mq($hover: true) {
    --sbb-card-hover-shift: #{functions.px-to-rem-build(-2)};

    #{$cardSelector} {
      @include shadows.shadow-level-9-hard;
    }

    @include a11y.if-forced-colors {
      --sbb-card-border-color: Highlight;
    }
  }
}

@mixin card--wrapper {
  display: block;
  height: 100%;
  transition: transform var(--sbb-card-animation-duration) var(--sbb-card-animation-easing);
  transform: translateY(var(--sbb-card-hover-shift));
}
