// ----------------------------------------------------------------------------------------------------
// Inputs Mixins
// ----------------------------------------------------------------------------------------------------

@mixin input-reset {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  -webkit-appearance: none;
}
