@mixin overlayGapFix($radius, $color: var(--sbb-color-white-default)) {
  .gap-fix-wrapper {
    position: relative;
    overflow: hidden;
    width: $radius;
    height: $radius;
    background-color: transparent;
  }

  .gap-fix-corner {
    position: absolute;
    border-radius: 50%;
    border: calc($radius / 2) solid $color;
    width: calc($radius * 3);
    height: calc($radius * 3);
    inset-block-end: calc(($radius / 2) * -1);
  }

  .gap-fix-corner#left {
    inset-inline-start: calc(($radius / 2) * -1);
  }

  .gap-fix-corner#right {
    inset-inline-end: calc(($radius / 2) * -1);
  }
}
