@use './a11y';
@use '../core/functions.scss';

// ----------------------------------------------------------------------------------------------------
// Dot Mixins: Achieve the styling of a dot
// ----------------------------------------------------------------------------------------------------

@mixin pearl-chain-dot-variables {
  --sbb-pearl-chain-dot-size: #{functions.px-to-rem-build(8)};
  --sbb-pearl-chain-dot-size-xl: #{functions.px-to-rem-build(16)};
  --sbb-pearl-chain-dot-size-l: #{functions.px-to-rem-build(12)};
  --sbb-pearl-chain-dot-size-m: #{functions.px-to-rem-build(10)};
  --sbb-pearl-chain-dot-size-s: var(--sbb-pearl-chain-dot-size);
  --sbb-pearl-chain-dot-size-xs: #{functions.px-to-rem-build(6)};
  --sbb-pearl-chain-dot-color: var(--sbb-color-charcoal-default);
  --sbb-pearl-chain-dot-color-red: var(--sbb-color-red-default);
  --sbb-pearl-chain-dot-color-metal: var(--sbb-color-metal-default);
  --sbb-pearl-chain-dot-color-sky: var(--sbb-color-sky-default);
  --sbb-pearl-chain-dot-border-width: var(--sbb-border-width-2x);
  --sbb-pearl-chain-dot-border-width-thin: var(--sbb-border-width-1x);
  --sbb-pearl-chain-dot-border-color: var(--sbb-color-white-default);
  --sbb-pearl-chain-dot-animation-duration: 1920ms;
  --sbb-pearl-chain-dot-animation-easing: ease-out;
  --sbb-pearl-chain-dot-crossed-bullet-width: #{functions.px-to-rem-build(14.14)};
  --sbb-pearl-chain-dot-crossed-bullet-height: #{functions.px-to-rem-build(3.5)};
  --sbb-pearl-chain-dot-crossed-bullet-border-width: #{functions.px-to-rem-build(1.5)};
}

@mixin pearl-chain-dot {
  height: var(--sbb-pearl-chain-dot-size);
  width: var(--sbb-pearl-chain-dot-size);
  background: var(--sbb-pearl-chain-dot-color);
  color: var(--sbb-pearl-chain-dot-color);
  border-color: var(--sbb-pearl-chain-dot-color);
  border-radius: 100%;
}

@mixin pearl-chain-dot--xs {
  --sbb-pearl-chain-dot-size: var(--sbb-pearl-chain-dot-size-xs);
}

@mixin pearl-chain-dot--s {
  --sbb-pearl-chain-dot-size: var(--sbb-pearl-chain-dot-size-s);
}

@mixin pearl-chain-dot--m {
  --sbb-pearl-chain-dot-size: var(--sbb-pearl-chain-dot-size-m);
}

@mixin pearl-chain-dot--l {
  --sbb-pearl-chain-dot-size: var(--sbb-pearl-chain-dot-size-l);
}

@mixin pearl-chain-dot--xl {
  --sbb-pearl-chain-dot-size: var(--sbb-pearl-chain-dot-size-xl);
}

@mixin pearl-chain-dot-warning {
  --sbb-pearl-chain-dot-color: var(--sbb-pearl-chain-dot-color-red);
}

@mixin pearl-chain-dot-past {
  --sbb-pearl-chain-dot-color: var(--sbb-pearl-chain-dot-color-metal);
}

@mixin pearl-chain-dot-walk {
  --sbb-pearl-chain-dot-color: var(--sbb-pearl-chain-dot-color-sky);
}

@mixin pearl-chain-dot-transfer {
  @include pearl-chain-dot;

  background: Canvas !important;
  border: var(--sbb-pearl-chain-dot-border-width) solid var(--sbb-pearl-chain-dot-color);
}

@mixin pearl-chain-dot-thin-bullet {
  @include pearl-chain-dot-transfer;

  --sbb-pearl-chain-dot-border-width: var(--sbb-pearl-chain-dot-border-width-thin);
}

@mixin pearl-chain-dot-crossed-bullet {
  @include pearl-chain-dot-transfer;

  &::before {
    content: '';
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-block-start: var(--sbb-pearl-chain-dot-crossed-bullet-border-width) solid canvas;
    background: var(--sbb-pearl-chain-dot-color-red);
    height: var(--sbb-pearl-chain-dot-crossed-bullet-height);
    width: var(--sbb-pearl-chain-dot-crossed-bullet-width);
  }
}

@mixin pearl-chain-dot-crossed-bullet--s {
  @include pearl-chain-dot-crossed-bullet;

  --sbb-pearl-chain-dot-crossed-bullet-width: #{functions.px-to-rem-build(11.31)};
  --sbb-pearl-chain-dot-crossed-bullet-height: #{functions.px-to-rem-build(3)};
}

@mixin pearl-chain-dot-crossed-bullet--xl {
  @include pearl-chain-dot-crossed-bullet;

  --sbb-pearl-chain-dot-crossed-bullet-width: #{functions.px-to-rem-build(22.63)};
}

@mixin pearl-chain-dot-double-bullet {
  @include pearl-chain-dot-thin-bullet;

  --sbb-pearl-chain-dot-size: var(--sbb-pearl-chain-dot-size-l);

  &::before {
    @include pearl-chain-dot-thin-bullet;

    --sbb-pearl-chain-dot-size: var(--sbb-pearl-chain-dot-size-xs);
    --sbb-pearl-chain-dot-color: currentcolor;

    content: '';
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin pearl-chain-dot-position {
  @include pearl-chain-dot;

  --sbb-pearl-chain-dot-size: var(--sbb-pearl-chain-dot-size-m);
  --sbb-pearl-chain-dot-color: var(--sbb-pearl-chain-dot-color-red);

  animation: pearl-chain-dot-position-pulse var(--sbb-pearl-chain-dot-animation-duration)
    var(--sbb-pearl-chain-dot-animation-easing) infinite;
}

@keyframes pearl-chain-dot-position-pulse {
  0% {
    box-shadow: 0 0 0 0 var(--sbb-pearl-chain-dot-color-red);
  }

  25% {
    box-shadow: 0 0 0 0 var(--sbb-pearl-chain-dot-color-red);
  }

  50% {
    box-shadow: 0 0 0 #{functions.px-to-rem-build(4)} var(--sbb-color-red-alpha-20);
  }

  75% {
    box-shadow: 0 0 0 #{functions.px-to-rem-build(4)} var(--sbb-color-red-alpha-20);
  }

  100% {
    box-shadow: 0 0 0 0 var(--sbb-pearl-chain-dot-color-red);
  }
}
