@use '../core/functions';

@mixin scrollbar {
  --sbb-scrollbar-width: var(--sbb-spacing-fixed-4x);

  &::-webkit-scrollbar {
    // Total width
    width: var(--sbb-scrollbar-width);
    height: var(--sbb-scrollbar-width);
  }

  /* Scrollbar itself */
  &::-webkit-scrollbar-thumb {
    background-color: var(--sbb-scrollbar-color, currentcolor);
    border: calc(0.5 * (var(--sbb-scrollbar-width) - var(--sbb-scrollbar-thumb-width))) solid
      transparent;
    border-radius: var(--sbb-border-radius-4x);
    background-clip: padding-box;

    &:hover {
      background-color: var(--sbb-scrollbar-color-hover, currentcolor);
      border-width: calc(
        0.5 * (var(--sbb-scrollbar-width) - var(--sbb-scrollbar-thumb-width-hover))
      );
    }
  }

  /* Hide button (top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display: none;
  }

  /* Styles for Firefox */
  scrollbar-width: var(--sbb-scrollbar-firefox-width);
  scrollbar-color: var(--sbb-scrollbar-color, currentcolor) transparent;
}

@mixin scrollbar-variables--size-thin {
  --sbb-scrollbar-thumb-width: #{functions.px-to-rem-build(2)};
  --sbb-scrollbar-thumb-width-hover: #{functions.px-to-rem-build(4)};
  --sbb-scrollbar-firefox-width: thin;
}

@mixin scrollbar-variables--size-thick {
  --sbb-scrollbar-thumb-width: #{functions.px-to-rem-build(8)};
  --sbb-scrollbar-thumb-width-hover: var(--sbb-scrollbar-thumb-width);
  --sbb-scrollbar-firefox-width: auto;
}

@mixin scrollbar-variables--color-dark {
  --sbb-scrollbar-color: var(--sbb-color-white-alpha-30);
  --sbb-scrollbar-color-hover: var(--sbb-color-white-alpha-60);
}

@mixin scrollbar-variables--color-light {
  --sbb-scrollbar-color: var(--sbb-color-black-alpha-30);
  --sbb-scrollbar-color-hover: var(--sbb-color-black-alpha-60);
}

@mixin scrollbar-variables--color-light-thick {
  --sbb-scrollbar-color: var(--sbb-color-cement-default);
  --sbb-scrollbar-color-hover: var(--sbb-color-metal-default);
}

@mixin scrollbar-variables-light {
  @include scrollbar-variables--size-thin;
  @include scrollbar-variables--color-light;
}

@mixin scrollbar-variables-dark {
  @include scrollbar-variables--size-thin;
  @include scrollbar-variables--color-dark;
}

@mixin scrollbar-variables-dark-thick {
  @include scrollbar-variables--size-thick;
  @include scrollbar-variables--color-dark;
}

@mixin scrollbar-variables-light-thick {
  @include scrollbar-variables--size-thick;
  @include scrollbar-variables--color-light-thick;
}

@mixin scrollbar-dark {
  @include scrollbar-variables-dark;
  @include scrollbar;
}

@mixin scrollbar-light {
  @include scrollbar-variables-light;
  @include scrollbar;
}

@mixin scrollbar-dark-thick {
  @include scrollbar-variables-dark-thick;
  @include scrollbar;
}

@mixin scrollbar-light-thick {
  @include scrollbar-variables-light-thick;
  @include scrollbar;
}
