@use 'node_modules/@sbb-esta/lyne-design-tokens/dist/scss/sbb-variables.scss' as sbb-tokens;
@use '../core/mediaqueries';

@mixin page-spacing {
  padding-inline: var(--sbb-page-base-offset-responsive);
}

@mixin page-spacing__inner {
  @include mediaqueries.mq($from: wide) {
    width: calc(
      #{sbb-tokens.$sbb-breakpoint-wide-min} - (2 * var(--sbb-page-base-offset-responsive))
    );
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}

@mixin page-spacing__inner--ultra-plus {
  @include mediaqueries.mq($from: ultra) {
    width: sbb-tokens.$sbb-breakpoint-ultra-min;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}
