// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  @include card-host-properties;
  --slot-action-spacing-top: var(--spacing-fixed-4x);
}

/* ************************************************* */
/* Layout & spacing                                  */
/* ************************************************* */

.product-subscription {
  @include card;
  @include card--m;
}

.product-subscription__content {
  display: flex;
  align-items: center;
}

.product-subscription__action {
  padding-block-start: pxToRem(var(--slot-action-spacing-top));
}

// Layout switch
@include mq($from: medium) {
  .product-subscription {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .product-subscription__action {
    padding-block-start: 0;
    align-self: flex-end;
  }
}

/* ************************************************* */
/* Styling                                           */
/* ************************************************* */

.product-subscription--primary {
  @include card--primary;
}

.product-subscription--primary-negative {
  @include card--primary-negative;
}

.product-subscription__lead {
  @include title-6();
}

.product-subscription__text {
  @include text-s--regular();
  color: var(--color-granite-default);
}
