// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

/* ************************************************* */
/* Layout & spacing                                  */
/* ************************************************* */

.product-subscription__action {
  padding-top: pxToRem(var(--spacing-fixed-2x));
}

// Layout switch
@include mq($from: medium) {
  .product-subscription {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .product-subscription__start {}
  .product-subscription__end {
    align-self: flex-end;
  }

  .product-subscription__action {
    padding-top: 0;
  }
}

/* ************************************************* */
/* Styling                                           */
/* ************************************************* */

.product-subscription {
  @include card;
}

.product-subscription__lead {
  @include title-5();
}

.product-subscription__text {
  @include text-s--regular();
  color: var(--color-granite-default);
}

.product-subscription__salesprice {}
