@use '../../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-menu-animation-easing: ease;
  --sbb-menu-max-width: 100%;
  --sbb-menu-min-width: 100%;
  --sbb-menu-container-height: 100dvh;

  // 85vh is not an exact value but looks optimized for mobile view.
  --sbb-menu-max-height: calc(85vh - var(--sbb-spacing-fixed-8x));
  --sbb-menu-min-height: #{sbb.px-to-rem-build(48.5)};
  --sbb-menu-border-radius: var(--sbb-border-radius-4x);
  --sbb-menu-color: var(--sbb-color-2-inverted);
  --sbb-menu-background-color: var(--sbb-background-color-1-inverted);
}

@mixin base-breakpoint-large {
  --sbb-menu-max-width: #{sbb.px-to-rem-build(320)};
  --sbb-menu-min-width: #{sbb.px-to-rem-build(180)};
}
