@use '../../core/styles' as sbb;

:host {
  display: flex;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize css of several frameworks.
  outline: none !important;
}

@include sbb.icon-button('.sbb-datepicker-previous-day', 'sbb-icon');

.sbb-datepicker-previous-day {
  margin: auto;
  -webkit-tap-highlight-color: transparent;
}
