@use '../core/styles' as sbb;

:host {
  --_sbb-teaser-forced-colors-inset: calc(-1 * var(--sbb-focus-outline-offset));
  --_sbb-teaser-forced-colors-outline-offset: calc(2 * var(--sbb-focus-outline-offset));
  --_sbb-teaser-forced-colors-border-radius: calc(
    var(--sbb-teaser-border-radius) + var(--sbb-focus-outline-offset)
  );

  display: inline-block;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;

  @include sbb.if-forced-colors {
    --sbb-teaser-description-color: LinkText;
    --sbb-title-text-color-normal-override: LinkText !important;
  }
}

:host([alignment='after']) {
  --sbb-teaser-align-items: start;
}

:host([alignment='below']) {
  --sbb-teaser-flex-direction: column;
  --sbb-teaser-align-items: baseline;
  --sbb-teaser-gap: var(--sbb-spacing-fixed-3x);
}

@include sbb.hover-mq($hover: true) {
  :host(:hover) {
    --sbb-teaser-scale: var(--sbb-teaser-scale-hover);
  }
}

.sbb-teaser__wrapper {
  display: flex;
  position: relative;
  cursor: var(--sbb-cursor-pointer);

  @include sbb.zero-width-space;
}

.sbb-teaser {
  text-decoration: none;
  position: absolute;
  inset: 0;

  &:focus-visible {
    @include sbb.focus-outline;

    border-radius: var(--sbb-teaser-border-radius);

    // We move the focus outline further out to not overlap with the teaser border in forced colors
    @include sbb.if-forced-colors {
      outline-offset: var(--_sbb-teaser-forced-colors-outline-offset);
    }
  }

  @include sbb.if-forced-colors {
    &::before {
      content: '';
      position: absolute;
      inset: var(--_sbb-teaser-forced-colors-inset);
      pointer-events: none;
      border-radius: var(--_sbb-teaser-forced-colors-border-radius);
      border: var(--sbb-border-width-1x) solid CanvasText;
    }
  }
}

.sbb-teaser__container {
  display: flex;
  flex-flow: var(--sbb-teaser-flex-direction) nowrap;
  align-items: var(--sbb-teaser-align-items);
  gap: var(--sbb-teaser-gap);
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.sbb-teaser__text {
  color: var(--sbb-teaser-description-color);
  font-size: var(--sbb-teaser-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  overflow: hidden;
  max-width: 100%;
}

::slotted([slot='image']) {
  display: block;
  width: var(--sbb-teaser-image-width);
}

.sbb-teaser__image-wrapper {
  flex-shrink: 0;
  overflow: hidden;
  border-radius: var(--sbb-teaser-border-radius);
  transition: box-shadow var(--sbb-teaser-image-animation-duration) var(--sbb-animation-easing);

  :host(:not(:state(slotted-image))) & {
    display: none;
  }

  @include sbb.hover-mq($hover: true) {
    :host(:hover) & {
      box-shadow: var(--sbb-box-shadow-level-9-hard);
    }
  }
}

.sbb-teaser__description {
  // Reset paragraph styles
  display: inline-block;
  margin: 0;
  padding: 0;
}

::slotted(sbb-chip-label) {
  max-width: 100%;
  margin-block-end: var(--sbb-spacing-fixed-1x);
}

::slotted(sbb-title) {
  margin-block: 0;
}
