@use '../styles/index' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-optgroup-divider-display: block;
  --sbb-optgroup-divider-spacing: 0;
  --sbb-optgroup-label-padding-start: var(--sbb-spacing-fixed-4x);
  --sbb-optgroup-label-padding-inline: var(--sbb-spacing-fixed-4x);
  --sbb-optgroup-label-font-size: var(--sbb-typo-scale-0-75x);
  --sbb-optgroup-label-color: var(--sbb-color-metal);

  display: block;
}

:host(:first-child) {
  --sbb-optgroup-divider-display: none;
  --sbb-optgroup-label-padding-start: var(--sbb-spacing-fixed-2x);
}

:host([data-variant='select']) {
  --sbb-optgroup-divider-spacing: var(--sbb-spacing-fixed-4x);
  --sbb-optgroup-label-padding-inline: var(--sbb-spacing-responsive-xxxs);
  --sbb-optgroup-label-padding-start: 0;
  --sbb-optgroup-label-font-size: inherit;
}

:host([data-variant='select']:first-child) {
  --sbb-optgroup-label-padding-start: var(--sbb-spacing-fixed-4x);
}

:host([data-negative]) {
  --sbb-optgroup-label-color: var(--sbb-color-smoke);
}

.sbb-optgroup {
  margin-block: var(--sbb-spacing-fixed-4x);
  margin-inline: var(--sbb-spacing-fixed-4x);
}

.sbb-optgroup__label {
  @include sbb.text-xxs--regular;

  display: flex;
  column-gap: var(--sbb-spacing-responsive-xxxs);
  color: var(--sbb-optgroup-label-color);
  -webkit-text-fill-color: var(--sbb-optgroup-label-color);
  padding-inline: var(--sbb-optgroup-label-padding-inline);
  padding-block: var(--sbb-optgroup-label-padding-start) var(--sbb-spacing-fixed-2x);

  :host([data-variant='select'][data-multiple]) & {
    @include sbb.text-xs--regular;

    padding-inline-start: calc(var(--sbb-spacing-responsive-xxxs) + var(--sbb-spacing-fixed-8x));
  }
}

.sbb-optgroup__divider {
  display: var(--sbb-optgroup-divider-display);
  padding-block: var(--sbb-optgroup-divider-spacing);
}

// Align the group label to the option label
.sbb-optgroup__icon-space {
  // Can be overridden by the 'preserve-icon-space' on the autocomplete
  display: var(--sbb-option-icon-container-display, none);
  min-width: var(--sbb-size-icon-ui-small);
}
