@use '../../core/styles' as sbb;

:host {
  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;

  @media (forced-colors: active) {
    --sbb-teaser-description-color: LinkText;
    --sbb-title-color: LinkText !important;
  }
}

@include sbb.hover-mq($hover: true) {
  :host(:hover) {
    --sbb-teaser-scale: var(--sbb-teaser-scale-hover);
  }
}

.sbb-teaser__wrapper {
  cursor: var(--sbb-cursor-pointer);
}

.sbb-teaser__container {
  pointer-events: none;
}

.sbb-teaser {
  text-decoration: none;
  position: absolute;
  inset: 0;
}

.sbb-teaser__image-wrapper {
  @include sbb.hover-mq($hover: true) {
    :host(:hover) & {
      box-shadow: var(--sbb-box-shadow-level-9-hard);
    }
  }
}

.sbb-teaser {
  &:focus-visible {
    @include sbb.focus-outline;

    border-radius: var(--sbb-teaser-border-radius);

    // We move the focus outline further out to not overlap with the teaser border in forced colors
    @media (forced-colors: active) {
      outline-offset: var(--_sbb-teaser-forced-colors-outline-offset);
    }
  }
}
