.transportation-details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.transportation-details > sbb-timetable-transportation-time,
.transportation-details > sbb-pearl-chain {
  display: flex;
}

.transportation-details > sbb-pearl-chain {
  flex: 1 1 auto;
  align-items: center;
}
