// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  margin-top: 2rem;
}

.tab-content {
  font-family: var(--typo-type-face-sbb-roman);
  font-weight: 400;
  font-size: calc(var(--typo-scale-0-75x) / var(--typo-scale-default) * 1rem);
  line-height: var(--typo-line-height-body-text);
}
