:host {
  display: block;

  // TODO: missing design tokens
  --border-width: 1.5;
  --border-radius: 32;
  --font-family: 'SBBWeb Bold';
  --font-size: 14;
  --letter-spacing: 0.01em;
  --line-height: 1.4;
  --min-height: 56;
  --transition-duration: 180ms;
  --transition-easing-function: cubic-bezier(.47, .1, 1, .63);

  --padding-block: var(--spacing-fixed-4x);
  --padding-inline: var(--spacing-fixed-10x);
  --icon-margin-inline-end: var(--spacing-fixed-2x);

  // we use primary button styles as default values
  --color-active-background: var(--color-red150-default);
  --color-active-border: var(--color-red150-default);
  --color-active-text: var(--color-cloud-default);
  --color-default-background: var(--color-red-default);
  --color-default-border: var(--color-red-default);
  --color-default-text: var(--color-white-default);
  --color-disabled-background: var(--color-milk-default);
  --color-disabled-border: var(--color-milk-default);
  --color-disabled-text: var(--color-platinum-default);
  --color-hover-background: var(--color-red125-default);
  --color-hover-border: var(--color-red125-default);
  --color-hover-text: var(--color-milk-default);
}

.button--primary-negative {
  --color-active-background: var(--color-cloud-default);
  --color-active-border: var(--color-cloud-default);
  --color-active-text: var(--color-red150-default);
  --color-default-background: var(--color-white-default);
  --color-default-border: var(--color-white-default);
  --color-default-text: var(--color-red-default);
  --color-disabled-background: var(--color-black-alpha-10);
  --color-disabled-border: var(--color-black-alpha-0);
  --color-disabled-text: var(--color-white-alpha-60);
  --color-hover-background: var(--color-milk-default);
  --color-hover-border: var(--color-milk-default);
  --color-hover-text: var(--color-red125-default);
}

.button--secondary {
  --color-active-background: var(--color-cloud-default);
  --color-active-border: var(--color-cloud-default);
  --color-active-text: var(--color-anthracite-default);
  --color-default-background: var(--color-white-default);
  --color-default-border: var(--color-cloud-default);
  --color-default-text: var(--color-charcoal-default);
  --color-disabled-background: var(--color-milk-default);
  --color-disabled-border: var(--color-milk-default);
  --color-disabled-text: var(--color-platinum-default);
  --color-hover-background: var(--color-milk-default);
  --color-hover-border: var(--color-cloud-default);
  --color-hover-text: var(--color-iron-default);
}

.button--secondary-negative {
  --color-active-background: var(--color-red-default);
  --color-active-border: var(--color-cloud-default);
  --color-active-text: var(--color-cloud-default);
  --color-default-background: var(--color-red-default);
  --color-default-border: var(--color-white-default);
  --color-default-text: var(--color-white-default);
  --color-disabled-background: var(--color-black-alpha-10);
  --color-disabled-border: var(--color-black-alpha-0);
  --color-disabled-text: var(--color-black-alpha-60);
  --color-hover-background: var(--color-red-default);
  --color-hover-border: var(--color-milk-default);
  --color-hover-text: var(--color-milk-default);
}

.button--tertiary {
  --color-active-background: var(--color-white-default);
  --color-active-border: var(--color-charcoal-default);
  --color-active-text: var(--color-charcoal-default);
  --color-default-background: var(--color-white-default);
  --color-default-border: var(--color-granite-default);
  --color-default-text: var(--color-granite-default);
  --color-disabled-background: var(--color-black-alpha-10);
  --color-disabled-border: var(--color-black-alpha-0);
  --color-disabled-text: var(--color-white-default);
  --color-hover-background: var(--color-white-default);
  --color-hover-border: var(--color-black-default);
  --color-hover-text: var(--color-black-default);
}

.button--tertiary-negative {
  --color-active-background: var(--color-red-default);
  --color-active-border: var(--color-cloud-default);
  --color-active-text: var(--color-cloud-default);
  --color-default-background: var(--color-red-default);
  --color-default-border: var(--color-white-default);
  --color-default-text: var(--color-white-default);
  --color-disabled-background: var(--color-black-alpha-10);
  --color-disabled-border: var(--color-black-alpha-0);
  --color-disabled-text: var(--color-white-alpha-60);
  --color-hover-background: var(--color-red-default);
  --color-hover-border: var(--color-milk-default);
  --color-hover-text: var(--color-milk-default);
}

.button--transparent {
  --color-active-background: var(--color-black-alpha-70);
  --color-active-border: var(--color-black-alpha-0);
  --color-active-text: var(--color-cloud-default);
  --color-default-background: var(--color-black-alpha-50);
  --color-default-border: var(--color-black-alpha-0);
  --color-default-text: var(--color-white-default);
  --color-disabled-background: var(--color-black-alpha-20);
  --color-disabled-border: var(--color-black-alpha-0);
  --color-disabled-text: var(--color-milk-default);
  --color-hover-background: var(--color-black-alpha-60);
  --color-hover-border: var(--color-black-alpha-0);
  --color-hover-text: var(--color-milk-default);
}

.button--transparent-negative {
  --color-active-background: var(--color-white-alpha-70);
  --color-active-border: var(--color-white-alpha-0);
  --color-active-text: var(--color-anthracite-default);
  --color-default-background: var(--color-white-alpha-50);
  --color-default-border: var(--color-white-alpha-0);
  --color-default-text: var(--color-charcoal-default);
  --color-disabled-background: var(--color-white-alpha-20);
  --color-disabled-border: var(--color-white-alpha-0);
  --color-disabled-text: var(--color-platinum-default);
  --color-hover-background: var(--color-white-alpha-60);
  --color-hover-border: var(--color-white-alpha-0);
  --color-hover-text: var(--color-iron-default);
}

.button--small {
  --border-width: 1;
  --font-size: 12;
  --min-height: 40;

  --padding-block: var(--spacing-fixed-2x);
  --padding-inline: var(--spacing-fixed-5x)
}

.button--icon-only {
  --padding-inline: 0;
  --icon-margin-inline-end: 0;

  width: pxToRem(var(--min-height));
  justify-content: center;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-easing-function);
  transition-property: background-color, color;
  min-height: pxToRem(var(--min-height));
  margin: 0;
  outline: none;
  border: pxToRem(var(--border-width)) solid var(--color-default-border);
  border-radius: pxToRem(var(--border-radius));
  background-color: var(--color-default-background);
  cursor: pointer;
  padding: 0;

  // when using short hand padding-block and padding-inline, safari will not
  // evaluate the expression...
  padding-block-start: pxToRem(calc(var(--padding-block) - var(--border-width)));
  padding-block-end: pxToRem(calc(var(--padding-block) - var(--border-width)));
  padding-inline-start: pxToRem(var(--padding-inline));
  padding-inline-end: pxToRem(var(--padding-inline));
  color: var(--color-default-text);
  font-family: var(--font-family);
  font-size: pxToRem(var(--font-size));
  font-weight: normal;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  
  @include highContrastActive {
    border: pxToRem(1) solid windowText;
  }

  @include visibleFocus;

}

.button__icon {
  display: block;
  width: pxToRem(var(--icon-size-ui-small));
  height: pxToRem(var(--icon-size-ui-small));
  margin-inline-end: pxToRem(var(--icon-margin-inline-end));
  color: currentColor;
}

.button__icon-description {
  @include screenreaderOnly;
}

:host ::slotted(svg) {
  fill: currentColor;
}

.button:disabled {
  text-decoration: line-through;
  color: var(--color-disabled-text);
  background-color: var(--color-disabled-background);
  border-color: var(--color-disabled-border);
  cursor: default;
}

.button:hover:not(:disabled),
.button:focus:not(:disabled) {
  color: var(--color-hover-text);
  background-color: var(--color-hover-background);
  border-color: var(--color-hover-border);
}

.button:active:not(:disabled) {
  color: var(--color-active-text);
  background-color: var(--color-active-background);
  border-color: var(--color-active-border);
}
