:host {
  display: block;

  // we use primary button styles as default values

  --color-active-background: var(--color-red150-default);
  --color-active-border: var(--color-red150-default);
  --color-active-text: var(--color-cloud-default);
  --color-default-background: var(--color-red-default);
  --color-default-border: var(--color-red-default);
  --color-default-text: var(--color-white-default);
  --color-disabled-background: var(--color-milk-default);
  --color-disabled-border: var(--color-milk-default);
  --color-disabled-text: var(--color-platinum-default);
  --color-hover-background: var(--color-red125-default);
  --color-hover-border: var(--color-red125-default);
  --color-hover-text: var(--color-milk-default);

  --color-default-shadow-1: var(--shadow-button-positive-primary-default-1-color);
  --color-default-shadow-2: var(--shadow-button-positive-primary-default-1-color);
  --color-hover-shadow-1: var(--shadow-button-positive-primary-hover-1-color);
  --color-hover-shadow-2: var(--shadow-button-positive-primary-hover-1-color);
}

.button {
  display: flex;
  align-items: center;
  padding: rem(8);
  transition:
    background-color cubic-bezier(.47, .1, 1, .63) 150ms,
    box-shadow cubic-bezier(.47, .1, 1, .63) 150ms;
  cursor: pointer;
  border-radius: 0.1rem;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  color: var(--color-default-text);
  background-color: var(--color-default-background);
  border: 1.5px solid var(--color-default-border);

  box-shadow:
    rem($shadow-button-positive-primary-default-shadow-1-offset-x) rem($shadow-button-positive-primary-default-shadow-1-offset-y) rem($shadow-button-positive-primary-default-shadow-1-blur) rem($shadow-button-positive-primary-default-shadow-1-spread) var(--color-default-shadow-1),
    rem($shadow-button-positive-primary-default-shadow-2-offset-x) rem($shadow-button-positive-primary-default-shadow-2-offset-y) rem($shadow-button-positive-primary-default-shadow-2-blur) rem($shadow-button-positive-primary-default-shadow-2-spread) var(--color-default-shadow-2);
}

.button:hover,
.button:focus {
  color: var(--color-hover-text);
  background-color: var(--color-hover-background);
  border-color: var(--color-hover-border);

  box-shadow:
    rem($shadow-button-positive-primary-hover-shadow-1-offset-x) rem($shadow-button-positive-primary-hover-shadow-1-offset-y) rem($shadow-button-positive-primary-hover-shadow-1-blur) rem($shadow-button-positive-primary-hover-shadow-1-spread) var(--color-hover-shadow-1),
    rem($shadow-button-positive-primary-hover-shadow-2-offset-x) rem($shadow-button-positive-primary-hover-shadow-2-offset-y) rem($shadow-button-positive-primary-hover-shadow-2-blur) rem($shadow-button-positive-primary-hover-shadow-2-spread) var(--color-hover-shadow-2);
}

.button:active {
  color: var(--color-active-text);
  background-color: var(--color-active-background);
  border-color: var(--color-active-border);
}

.button__icon {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  padding-left: .5rem;
  color: currentColor;
}

.button__icon svg path {
  fill: currentColor;
}

.button--primary-negative {
  --color-active-background: var(--color-cloud-default);
  --color-active-border: var(--color-cloud-default);
  --color-active-text: var(--color-red150-default);
  --color-default-background: var(--color-white-default);
  --color-default-border: var(--color-white-default);
  --color-default-text: var(--color-red-default);
  --color-disabled-background: var(--color-black-alpha-10);
  --color-disabled-border: var(--color-black-alpha-0);
  --color-disabled-text: var(--color-white-alpha-60);
  --color-hover-background: var(--color-milk-default);
  --color-hover-border: var(--color-milk-default);
  --color-hover-text: var(--color-red125-default);

  --color-default-shadow-1: var(--shadow-button-negative-primary-default-1-color);
  --color-default-shadow-2: var(--shadow-button-negative-primary-default-1-color);
  --color-hover-shadow-1: var(--shadow-button-negative-primary-hover-1-color);
  --color-hover-shadow-2: var(--shadow-button-negative-primary-hover-1-color);

  box-shadow:
    rem($shadow-button-negative-primary-default-shadow-1-offset-x) rem($shadow-button-negative-primary-default-shadow-1-offset-y) rem($shadow-button-negative-primary-default-shadow-1-blur) rem($shadow-button-negative-primary-default-shadow-1-spread) var(--color-default-shadow-1),
    rem($shadow-button-negative-primary-default-shadow-2-offset-x) rem($shadow-button-negative-primary-default-shadow-2-offset-y) rem($shadow-button-negative-primary-default-shadow-2-blur) rem($shadow-button-negative-primary-default-shadow-2-spread) var(--color-default-shadow-2);
}

.button--primary-negative:hover,
.button--primary-negative:focus {
  box-shadow:
    rem($shadow-button-negative-primary-hover-shadow-1-offset-x) rem($shadow-button-negative-primary-hover-shadow-1-offset-y) rem($shadow-button-negative-primary-hover-shadow-1-blur) rem($shadow-button-negative-primary-hover-shadow-1-spread) var(--color-hover-shadow-1),
    rem($shadow-button-negative-primary-hover-shadow-2-offset-x) rem($shadow-button-negative-primary-hover-shadow-2-offset-y) rem($shadow-button-negative-primary-hover-shadow-2-blur) rem($shadow-button-negative-primary-hover-shadow-2-spread) var(--color-hover-shadow-2);
}

.button--secondary {
  --color-active-background: var(--color-cloud-default);
  --color-active-border: var(--color-cloud-default);
  --color-active-text: var(--color-anthracite-default);
  --color-default-background: var(--color-white-default);
  --color-default-border: var(--color-cloud-default);
  --color-default-text: var(--color-charcoal-default);
  --color-disabled-background: var(--color-milk-default);
  --color-disabled-border: var(--color-milk-default);
  --color-disabled-text: var(--color-platinum-default);
  --color-hover-background: var(--color-milk-default);
  --color-hover-border: var(--color-cloud-default);
  --color-hover-text: var(--color-iron-default);

  --color-default-shadow-1: var(--shadow-button-positive-secondary-default-1-color);
  --color-default-shadow-2: var(--shadow-button-positive-secondary-default-1-color);
  --color-hover-shadow-1: var(--shadow-button-positive-secondary-hover-1-color);
  --color-hover-shadow-2: var(--shadow-button-positive-secondary-hover-1-color);

  box-shadow:
    rem($shadow-button-positive-secondary-default-shadow-1-offset-x) rem($shadow-button-positive-secondary-default-shadow-1-offset-y) rem($shadow-button-positive-secondary-default-shadow-1-blur) rem($shadow-button-positive-secondary-default-shadow-1-spread) var(--color-default-shadow-1),
    rem($shadow-button-positive-secondary-default-shadow-2-offset-x) rem($shadow-button-positive-secondary-default-shadow-2-offset-y) rem($shadow-button-positive-secondary-default-shadow-2-blur) rem($shadow-button-positive-secondary-default-shadow-2-spread) var(--color-default-shadow-2);
}

.button--secondary:hover,
.button--secondary:focus {
  box-shadow:
    rem($shadow-button-positive-secondary-hover-shadow-1-offset-x) rem($shadow-button-positive-secondary-hover-shadow-1-offset-y) rem($shadow-button-positive-secondary-hover-shadow-1-blur) rem($shadow-button-positive-secondary-hover-shadow-1-spread) var(--color-hover-shadow-1),
    rem($shadow-button-positive-secondary-hover-shadow-2-offset-x) rem($shadow-button-positive-secondary-hover-shadow-2-offset-y) rem($shadow-button-positive-secondary-hover-shadow-2-blur) rem($shadow-button-positive-secondary-hover-shadow-2-spread) var(--color-hover-shadow-2);
}

.button--secondary-negative {
  --color-active-background: var(--color-red-default);
  --color-active-border: var(--color-cloud-default);
  --color-active-text: var(--color-cloud-default);
  --color-default-background: var(--color-red-default);
  --color-default-border: var(--color-white-default);
  --color-default-text: var(--color-white-default);
  --color-disabled-background: var(--color-black-alpha-10);
  --color-disabled-border: var(--color-black-alpha-0);
  --color-disabled-text: var(--color-black-alpha-60);
  --color-hover-background: var(--color-red-default);
  --color-hover-border: var(--color-milk-default);
  --color-hover-text: var(--color-milk-default);

  box-shadow: none;
}

.button--tertiary {
  --color-active-background: var(--color-white-default);
  --color-active-border: var(--color-charcoal-default);
  --color-active-text: var(--color-charcoal-default);
  --color-default-background: var(--color-white-default);
  --color-default-border: var(--color-granite-default);
  --color-default-text: var(--color-granite-default);
  --color-disabled-background: var(--color-black-alpha-10);
  --color-disabled-border: var(--color-black-alpha-0);
  --color-disabled-text: var(--color-white-default);
  --color-hover-background: var(--color-white-default);
  --color-hover-border: var(--color-black-default);
  --color-hover-text: var(--color-black-default);

  box-shadow: none;
}

.button--tertiary-negative {
  --color-active-background: var(--color-red-default);
  --color-active-border: var(--color-cloud-default);
  --color-active-text: var(--color-cloud-default);
  --color-default-background: var(--color-red-default);
  --color-default-border: var(--color-white-default);
  --color-default-text: var(--color-white-default);
  --color-disabled-background: var(--color-black-alpha-10);
  --color-disabled-border: var(--color-black-alpha-0);
  --color-disabled-text: var(--color-white-alpha-60);
  --color-hover-background: var(--color-red-default);
  --color-hover-border: var(--color-milk-default);
  --color-hover-text: var(--color-milk-default);

  box-shadow: none;
}

.button--transparent {
  --color-active-background: var(--color-black-alpha-70);
  --color-active-border: var(--color-black-alpha-0);
  --color-active-text: var(--color-cloud-default);
  --color-default-background: var(--color-black-alpha-50);
  --color-default-border: var(--color-black-alpha-0);
  --color-default-text: var(--color-white-default);
  --color-disabled-background: var(--color-black-alpha-20);
  --color-disabled-border: var(--color-black-alpha-0);
  --color-disabled-text: var(--color-milk-default);
  --color-hover-background: var(--color-black-alpha-60);
  --color-hover-border: var(--color-black-alpha-0);
  --color-hover-text: var(--color-milk-default);

  box-shadow: none;
}

.button--transparent-negative {
  --color-active-background: var(--color-white-alpha-70);
  --color-active-border: var(--color-white-alpha-0);
  --color-active-text: var(--color-anthracite-default);
  --color-default-background: var(--color-white-alpha-50);
  --color-default-border: var(--color-white-alpha-0);
  --color-default-text: var(--color-charcoal-default);
  --color-disabled-background: var(--color-white-alpha-20);
  --color-disabled-border: var(--color-white-alpha-0);
  --color-disabled-text: var(--color-platinum-default);
  --color-hover-background: var(--color-white-alpha-60);
  --color-hover-border: var(--color-white-alpha-0);
  --color-hover-text: var(--color-iron-default);

  box-shadow: none;
}
