@use '../../core/styles' as sbb;

:host {
  display: flex;
  gap: var(--sbb-compact-paginator-gap);
  justify-content: var(--sbb-paginator-compact-justify-content, start);
  min-height: var(--sbb-compact-paginator-height);
}

:host([size='s']) {
  --sbb-compact-paginator-height: var(--sbb-size-element-xs);
}

:host([size='m']) {
  --sbb-paginator-height: var(--sbb-size-element-m);
}

:host([negative]) {
  --sbb-compact-paginator-color: var(--sbb-color-5);
}

:host([pager-position='end']) {
  --sbb-paginator-compact-justify-content: end;
}

.sbb-paginator__pages {
  font-size: var(--sbb-compact-paginator-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sbb-compact-paginator-pages-gap);
  color: var(--sbb-compact-paginator-color);
}

.sbb-compact-paginator__divider {
  height: #{sbb.px-to-rem-build(16)};
}
