@use '../../core/styles' as sbb;

:host {
  display: block;

  --sbb-compact-paginator-height: var(--sbb-size-element-m);
  --sbb-compact-paginator-color: light-dark(var(--sbb-color-metal), var(--sbb-color-smoke));
  --sbb-paginator-compact-justify-content: start;
}

:host([size='s']) {
  --sbb-compact-paginator-height: var(--sbb-size-element-xs);
}

:host([negative]) {
  --sbb-compact-paginator-color: var(--sbb-color-5);
}

:host([pager-position='end']) {
  --sbb-paginator-compact-justify-content: end;
}

.sbb-compact-paginator {
  display: flex;
  gap: var(--sbb-spacing-fixed-5x);
  justify-content: var(--sbb-paginator-compact-justify-content);
  min-height: var(--sbb-compact-paginator-height);
}

.sbb-paginator__pages {
  @include sbb.text-m--regular;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sbb-spacing-fixed-2x);
  color: var(--sbb-compact-paginator-color);
}

.sbb-compact-paginator__divider {
  height: #{sbb.px-to-rem-build(16)};
}
