:host {
  display: block;
}

.button {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
	color: white;
  background-color: red;
  transition: background-color ease-in 200ms;
  border: none;
  cursor: pointer;
  border-radius: 0.1rem;
}

.arrow {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  padding-left: .5rem;
}

.arrow svg path {
  fill: currentColor;
}
