@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  display: contents;
}

.sbb-dialog-content {
  padding-inline: var(--sbb-dialog-padding-inline);
  padding-block: var(--sbb-dialog-padding-block);
  overflow: auto;
  margin-block: var(--sbb-dialog-header-margin-block-start) 0;
  transition: margin var(--sbb-dialog-animation-duration) var(--sbb-dialog-animation-easing);

  @include sbb.scrollbar-rules;
}
