@use '../../core/styles' as sbb;

:host {
  display: block;

  --sbb-train-blocked-passage-height: var(--sbb-train-formation-wagon-height);
  --sbb-train-blocked-passage-background-color: var(--sbb-color-error);
  --sbb-train-blocked-passage-bar-color: var(--sbb-color-white);
  --sbb-train-blocked-passage-icon-dimension: #{sbb.px-to-rem-build(16)};
  --sbb-train-blocked-passage-icon-bar-width: #{sbb.px-to-rem-build(10)};
  --sbb-train-blocked-passage-icon-bar-height: #{sbb.px-to-rem-build(4)};
  --sbb-train-blocked-passage-icon-bar-border-radius: #{sbb.px-to-rem-build(1)};

  @include sbb.if-forced-colors {
    --sbb-train-blocked-passage-background-color: CanvasText;
    --sbb-train-blocked-passage-bar-color: Canvas;
  }
}

.sbb-train-blocked-passage {
  &::before {
    content: '';
    display: var(--sbb-train-formation-wagon-label-display, block);
    height: calc(var(--sbb-text-font-size-xxs) * var(--sbb-typo-line-height-text));
  }
}

.sbb-train-blocked-passage__wrapper {
  width: var(--sbb-train-blocked-passage-icon-dimension);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: var(--sbb-train-blocked-passage-height);
}

.sbb-train-blocked-passage__icon {
  width: 100%;
  height: var(--sbb-train-blocked-passage-icon-dimension);
  border-radius: 50%;
  background-color: var(--sbb-train-blocked-passage-background-color);
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    width: var(--sbb-train-blocked-passage-icon-bar-width);
    height: var(--sbb-train-blocked-passage-icon-bar-height);
    border-radius: var(--sbb-train-blocked-passage-icon-bar-border-radius);
    background-color: var(--sbb-train-blocked-passage-bar-color);
    margin: auto 0;
  }
}
