@use '../../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-train-blocked-passage-background-color: var(--sbb-color-error);
  --sbb-train-blocked-passage-bar-color: var(--sbb-color-white);
  --sbb-train-blocked-passage-icon-bar-width: #{sbb.px-to-rem-build(10)};
  --sbb-train-blocked-passage-icon-bar-height: #{sbb.px-to-rem-build(4)};
  --sbb-train-blocked-passage-icon-bar-border-radius: var(--sbb-border-radius-1x);
}

@mixin forced-colors {
  --sbb-train-blocked-passage-background-color: CanvasText;
  --sbb-train-blocked-passage-bar-color: Canvas;
}
