@use '../../core/styles' as sbb;

:host {
  display: grid;
  grid-template-areas: 'icon';
  align-items: center;
  height: var(--sbb-train-formation-wagon-height);
}

:host(:state(orientation-vertical)) {
  height: auto;
  width: var(--sbb-train-formation-wagon-width);
}

:host::before,
:host::after {
  content: '';
  grid-area: icon;
  justify-self: center;
}

// Circle
:host::before {
  width: var(--sbb-train-blocked-passage-icon-dimension);
  height: var(--sbb-train-blocked-passage-icon-dimension);
  border-radius: 50%;
  background-color: var(--sbb-train-blocked-passage-background-color);
}

// Bar
:host::after {
  width: var(--sbb-train-blocked-passage-icon-bar-width);
  height: var(--sbb-train-blocked-passage-icon-bar-height);
  border-radius: var(--sbb-train-blocked-passage-icon-bar-border-radius);
  background-color: var(--sbb-train-blocked-passage-bar-color);
}
