@use '../../core/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-checkbox-suffix-color: var(--sbb-color-charcoal);
  --sbb-checkbox-subtext-color: var(--sbb-color-granite);

  display: inline-block;
}

:host(:not([data-is-selection-panel-input])) {
  @include sbb.selection-panel-variables;
  @include sbb.selection-panel;
}

:host([data-is-selection-panel-input]) {
  --sbb-checkbox-label-gap: 0;
}

:host([data-checked]:not(:disabled)) {
  @include sbb.selection-panel-checked;
}

:host(:focus-visible:not([data-is-selection-panel-input])) {
  @include sbb.selection-panel-focus-visible;
}

:host([disabled]) {
  @include sbb.selection-panel-disabled;
}

slot[name='suffix'] {
  color: var(--sbb-checkbox-suffix-color);
}

slot[name='subtext'] {
  display: block;
  color: var(--sbb-checkbox-subtext-color);
  padding-inline-start: var(--sbb-spacing-fixed-8x);
}

.sbb-checkbox {
  @include sbb.text-m--regular;
}

.sbb-checkbox__inner {
  // Change the focus outline when the input is placed inside of a selection panel
  // as the main input element.
  :host(
      [data-is-selection-panel-input]:focus-visible:not(
          [data-focus-origin='mouse'],
          [data-focus-origin='touch']
        )
    )
    & {
    &::before {
      content: '';
      position: absolute;
      display: block;
      inset-block: calc(
        (var(--sbb-spacing-responsive-xs) * -1) + var(--sbb-focus-outline-width) -
          (var(--sbb-focus-outline-offset) * 2)
      );
      inset-inline: calc(
        (var(--sbb-spacing-responsive-xxs) * -1) + var(--sbb-focus-outline-width) -
          (var(--sbb-focus-outline-offset) * 2)
      );
    }
  }
}

.sbb-checkbox__aligner {
  display: flex;
  align-items: center;
  height: calc(1em * var(--sbb-typo-line-height-body-text));
}

.sbb-checkbox__label {
  display: flex;
  gap: var(--sbb-checkbox-label-gap);
  color: var(--sbb-checkbox-label-color);

  // Fix for Chrome and Safari, they approximate 23.8px to 23px for line-height
  line-height: max((1em * var(--sbb-typo-line-height-body-text)), var(--sbb-checkbox-dimension));
}

.sbb-checkbox__expanded-label {
  :host(:not([data-is-selection-panel-input][data-has-selection-panel-label])) & {
    display: none;
  }
}
