// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  @include title-4;

  --sbb-navigation-marker-position-x: var(--sbb-spacing-fixed-1x);
  --sbb-navigation-marker-position-y: 0;
  --sbb-navigation-marker-width: #{px-to-rem-build(17)};
  --sbb-navigation-marker-height: var(--sbb-border-width-1x);
  --sbb-navigation-marker-padding-inline-start: var(--sbb-spacing-fixed-6x);
  --sbb-navigation-marker-margin-block: calc(
    var(--sbb-font-size-title-4) * var(--sbb-typo-line-height-titles) / 2 -
      var(--sbb-border-width-1x) / 2
  );
  --sbb-navigation-action-margin-block-end: var(--sbb-spacing-responsive-xs);

  position: relative;
  padding-inline-start: var(--sbb-navigation-marker-padding-inline-start);

  &::before {
    content: '';
    position: absolute;
    opacity: 0;
    left: var(--sbb-navigation-marker-position-x);
    top: var(--sbb-navigation-marker-position-y);
    width: var(--sbb-navigation-marker-width);
    height: var(--sbb-navigation-marker-height);
    background: var(--sbb-color-storm-default);
    margin-block: var(--sbb-navigation-marker-margin-block);
    transition: {
      duration: var(--sbb-animation-duration-6x);
      timing-function: ease;
      property: opacity, top;
    }
  }
}

:host(.sbb-navigation-marker--visible)::before {
  opacity: 1;
}

:host([size='s']) {
  @include text-xxs--bold;

  --sbb-navigation-marker-position-x: calc(
    var(--sbb-navigation-marker-padding-inline-start) - var(--sbb-spacing-fixed-2x)
  );
  --sbb-navigation-marker-width: #{px-to-rem-build(8)};
  --sbb-navigation-marker-padding-inline-start: calc(
    var(--sbb-spacing-fixed-6x) + var(--sbb-spacing-fixed-1x)
  );
  --sbb-navigation-marker-margin-block: calc(
    var(--sbb-font-size-text-xxs) * var(--sbb-typo-line-height-body-text) / 2 -
      var(--sbb-border-width-1x) / 2
  );
  --sbb-navigation-action-margin-block-end: var(--sbb-spacing-fixed-2x);
}

/* stylelint-disable-next-line plugin/stylelint-bem-namics */
::slotted(sbb-navigation-action:not(:last-child)) {
  margin-block-end: var(--sbb-navigation-action-margin-block-end);
}

.sbb-navigation-marker__content {
  @include list-reset;
}
