// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: flex;
  align-items: center;
}

.tab-label {
  display: flex;
  color: var(--color-black-default);
  line-height: var(--typo-line-height-body-text);
  font-family: var(--typo-type-face-sbb-bold);
  font-weight: 700;
  font-size: calc(var(--typo-scale-0-75x) / var(--typo-scale-default) * 1rem);
  @include mq($from: medium) {
    font-size: calc(var(--typo-scale-0-875x) / var(--typo-scale-default) * 1rem);
  }
  ::slotted(svg) {
    padding-left: 4px;
    fill: currentColor;
  }
}
