@use '../../core/styles' as sbb;

:host {
  display: block;
}

.sbb-navigation-list__content {
  @include sbb.list-reset;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sbb-navigation-list-gap);
  margin-block: var(--sbb-navigation-list-margin-block);
}

.sbb-navigation-list__label {
  display: block;
  color: var(--sbb-color-5);
  padding-block-end: var(--sbb-navigation-list-padding-block-end);
  font-weight: bold;
  font-size: var(--sbb-text-font-size-xxs);
  letter-spacing: var(--sbb-typo-letter-spacing-text);

  :host(:not(:state(slotted-label), [label])) & {
    display: none;
  }
}
