@use '../../core/styles' as sbb;

:host {
  display: block;
}

.sbb-navigation-list__content {
  @include sbb.list-reset;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sbb-spacing-fixed-2x);
  margin-block: var(--sbb-spacing-fixed-1x);
}

.sbb-navigation-list__label {
  @include sbb.text-xxs--bold;

  display: block;
  color: var(--sbb-color-5);
  padding-block-end: var(--sbb-spacing-fixed-2x);

  :host(:not(:state(slotted-label), [label])) & {
    display: none;
  }
}
