@use './core/font-face';
@use './mixins/a11y';
@use './mixins/layout';
@use './mixins/lists';
@use './mixins/typo';

@include font-face.font-declarations;

html {
  @include typo.text;

  color: var(--sbb-font-default-color);
}

sub {
  @include typo.sub;
}

sup {
  @include typo.sup;
}

// TODO: Remove if webkit bug is resolved: https://bugs.webkit.org/show_bug.cgi?id=223814
::placeholder {
  @include typo.placeholder;
}

// TODO: Remove if webkit bug is resolved: https://bugs.webkit.org/show_bug.cgi?id=223814
sbb-form-field {
  input:disabled::placeholder {
    color: var(--sbb-color-granite-default);
    -webkit-text-fill-color: var(--sbb-color-granite-default);
    text-decoration: line-through;
  }

  &[floating-label]:not([floating-label='false']) input::placeholder {
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
}

// Hiding components until they are instantiated
:is(
    sbb-dialog,
    sbb-navigation,
    sbb-menu,
    sbb-navigation-section,
    sbb-tooltip,
    sbb-autocomplete,
    sbb-select,
    sbb-toast
  ):not(.hydrated) {
  display: none;
}

// Ensure stable breadcrumb height during hydrating
sbb-breadcrumb-group:not(.hydrated) {
  display: block;
  height: calc(var(--sbb-typo-line-height-body-text) * var(--sbb-font-size-text-xs));
  overflow: hidden;
}

.sbb-text-xxs {
  @include typo.text-xxs--regular;
}

.sbb-text-xs {
  @include typo.text-xs--regular;
}

.sbb-text-s {
  @include typo.text-s--regular;
}

.sbb-text-m {
  @include typo.text-m--regular;
}

.sbb-text-l {
  @include typo.text-l--regular;
}

.sbb-text-xl {
  @include typo.text-xl--regular;
}

.sbb-text--bold {
  @include typo.text--bold;
}

.sbb-list {
  @include lists.list;
  @include lists.description-list;
}

.sbb-step-list {
  @include lists.step-list;
}

.sbb-grid,
.sbb-page-spacing {
  @include layout.page-spacing;
}

.sbb-grid-expanded,
.sbb-page-spacing-expanded {
  @include layout.page-spacing-expanded;
}

.sbb-grid,
.sbb-grid-expanded {
  @include layout.grid-base;
}

.sbb-legend {
  @include typo.legend;
}

// In smaller title font-sizes, the space after the title is smaller than the default paragraph space before.
// Due to margin collapsing, the wrong paragraph space wins.
// To prevent the mistakenly large gap, we reset the paragraph space.
sbb-title + p {
  margin-block-start: 0;
}

.sbb-screen-reader-only {
  @include a11y.screen-reader-only;
}
