:host {
  --sbb-button-color-active-background: var(--sbb-color-black-default);
  --sbb-button-color-active-border: var(--sbb-color-cloud-default);
  --sbb-button-color-active-text: var(--sbb-color-cloud-default);
  --sbb-button-color-default-background: var(--sbb-color-charcoal-default);
  --sbb-button-color-default-border: var(--sbb-color-cloud-default);
  --sbb-button-color-default-text: var(--sbb-color-white-default);
  --sbb-button-color-hover-background: var(--sbb-color-midnight-default);
  --sbb-button-color-hover-border: var(--sbb-color-cloud-default);
  --sbb-button-color-hover-text: var(--sbb-color-milk-default);
  --sbb-button-shadow-1-color: var(--sbb-color-platinum-alpha-20);
  --sbb-button-shadow-2-color: var(--sbb-color-cement-alpha-20);
}
