:host {
  --sbb-button-color-active-background: var(--sbb-color-cloud-default);
  --sbb-button-color-active-border: var(--sbb-color-cloud-default);
  --sbb-button-color-active-text: var(--sbb-color-black-default);
  --sbb-button-color-default-background: transparent;
  --sbb-button-color-default-border: transparent;
  --sbb-button-color-default-text: var(--sbb-color-black-default);
  --sbb-button-color-hover-background: var(--sbb-color-milk-default);
  --sbb-button-color-hover-border: var(--sbb-color-milk-default);
  --sbb-button-color-hover-text: var(--sbb-color-black-default);
}

:host([negative]) {
  --sbb-button-color-active-background: var(--sbb-color-iron-default);
  --sbb-button-color-active-border: var(--sbb-color-iron-default);
  --sbb-button-color-active-text: var(--sbb-color-white-default);
  --sbb-button-color-default-background: transparent;
  --sbb-button-color-default-border: transparent;
  --sbb-button-color-default-text: var(--sbb-color-white-default);
  --sbb-button-color-hover-background: var(--sbb-color-charcoal-default);
  --sbb-button-color-hover-border: var(--sbb-color-charcoal-default);
  --sbb-button-color-hover-text: var(--sbb-color-white-default);
}
