@use '../../core/styles' as sbb;

:host {
  display: block;
  height: fit-content;
  grid-area: close-button;
  margin-inline: var(--sbb-dialog-close-button-margin-inline);
  inset-inline-end: var(--sbb-dialog-close-button-inset-inline-end);

  // We have to center the button vertically to the title text.
  margin-block-start: var(--sbb-dialog-close-button-margin-block-start);
}
