@use '../../core/styles' as sbb;

:host {
  display: block;
}

:host(:is(:not([color]), [color='white'])) {
  --sbb-container-background-color: var(--sbb-background-color-1);
}

:host([color='milk']) {
  --sbb-container-background-color: var(--sbb-background-color-3);
}

:host([color='midnight']),
:host([color='charcoal']) {
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);
  --sbb-container-color: var(--sbb-color-1-negative);
}

:host([color='midnight']) {
  --sbb-container-background-color: var(--sbb-background-color-1-negative);
}

:host([color='charcoal']) {
  --sbb-container-background-color: var(--sbb-background-color-2-negative);
}

:host(:state(slotted-image)) {
  --sbb-container-background-color: transparent;
  --sbb-container-padding: var(--sbb-spacing-responsive-xxl);
}

:host([background-expanded]:not([expanded])) {
  background-color: var(--sbb-container-background-color);
}

:host(:state(slotted-image)[background-expanded]) {
  position: relative;
}

:host(:not([expanded], [background-expanded])) {
  @include sbb.mq($from: ultra) {
    --sbb-container-background-border-radius: var(--sbb-border-radius-4x);
  }
}

.sbb-container {
  color: var(--sbb-container-color);
  background-color: var(--sbb-container-background-color);
  padding: var(--sbb-container-padding);

  @include sbb.ignore-children-margin;

  // In order to support nested sbb-containers (e.g. if used in an overlay), we need to explicitly set background color to transparent.
  // We cannot use the --sbb-container-background-color variable because using it would
  // destroy sbb-sticky-bar behavior when the container and the sticky bar have transparent color.
  :host([color='transparent']) & {
    background-color: transparent;
  }

  :host(:not([expanded])) & {
    @include sbb.page-spacing;
  }

  :host([expanded]) & {
    @include sbb.page-spacing-expanded;
  }

  :host(:state(slotted-image):not([background-expanded])) & {
    position: relative;
  }
}

.sbb-container__content {
  :host(:state(slotted-image)) & {
    // With relative positioning we ensure the content is in front of the image.
    position: relative;
  }
}

::slotted([slot='image']) {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
