@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  @include sbb.text-s--regular;

  cursor: pointer;

  --sbb-option-bg-color: inherit;
  --sbb-option-min-height: var(--sbb-size-button-m-min-height);

  // Can be overridden by the 'preserve-icon-space' on the autocomplete
  --sbb-option-icon-container-display: none;
}

:host([active]:not([active='false'])) {
  @include sbb.focus-outline;

  --sbb-focus-outline-offset: calc(-1 * var(--sbb-spacing-fixed-1x));

  border-radius: var(--sbb-border-radius-4x);
}

@include sbb.hover-mq($hover: true) {
  :host(:hover) {
    --sbb-option-bg-color: var(--sbb-color-milk-default);
  }
}

// if the highlight is enabled, hide the slot content
:host(:not([data-disable-highlight])),
:host([data-disable-highlight='false']) {
  .sbb-option__label slot {
    display: none;
  }
}

.sbb-option {
  display: flex;
  align-items: center;
  column-gap: var(--sbb-spacing-responsive-xxxs);
  padding-inline: var(--sbb-spacing-responsive-xxxs);
  background-color: var(--sbb-option-bg-color);
  min-height: var(--sbb-option-min-height);
}

.sbb-option__icon {
  display: flex;
  min-width: var(--sbb-size-icon-ui-small);
  min-height: var(--sbb-size-icon-ui-small);
}

.sbb-option__icon--empty {
  display: var(--sbb-option-icon-container-display);
}

.sbb-option__label--highlight {
  @include sbb.text--bold;
}
