@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  @include sbb.text-s--regular;

  --sbb-option-bg-color: inherit;
  --sbb-option-min-height: var(--sbb-size-button-m-min-height);
}

:host([aria-selected]:not([aria-selected='false'])) {
  @include sbb.focus-outline;

  --sbb-focus-outline-offset: var(--sbb-spacing-fixed-1x);

  border-radius: var(--sbb-border-radius-4x);
}

@include sbb.hover-mq($hover: true) {
  :host(:hover) {
    --sbb-option-bg-color: var(--sbb-color-milk-default);
  }
}

.sbb-option {
  display: flex;
  align-items: center;
  column-gap: var(--sbb-spacing-responsive-xxxs);
  padding-inline: var(--sbb-spacing-responsive-xxxs);
  background-color: var(--sbb-option-bg-color);
  min-height: var(--sbb-option-min-height);
}

.sbb-option__icon {
  display: flex;
  min-width: var(--sbb-size-icon-ui-small);
  min-height: var(--sbb-size-icon-ui-small);
}

.sbb-option__icon--hidden {
  display: none;
}
