// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  --sbb-menu-position-x: 0;
  --sbb-menu-position-y: 0;
}

// stylelint-disable plugin/stylelint-bem-namics
::slotted(:not(sbb-menu-action)) {
  display: block;
  padding-inline: var(--sbb-spacing-fixed-5x);
}
// stylelint-enable plugin/stylelint-bem-namics

::slotted(sbb-divider) {
  --divider-color: var(--sbb-color-iron-default);

  margin: var(--sbb-spacing-fixed-2x) 0;
}

.sbb-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  min-width: 100%;

  // todo --> create margin var
  max-height: calc(100vh - var(--sbb-spacing-fixed-8x));
  text-align: start;
  position: fixed;
  left: 0;
  bottom: 0;
  top: unset;
  right: unset;
  will-change: visibility, transform, opacity, margin;
  transform: translateY(100%);
  color: var(--sbb-color-white-default);
  border: none;
  border-radius: var(--sbb-border-radius-4x) var(--sbb-border-radius-4x) 0 0;
  background-color: var(--sbb-color-black-default);
  padding-inline: 0;
  padding-block: var(--sbb-spacing-fixed-1x);
  transition: {
    duration: var(--sbb-animation-duration-6x);
    timing-function: ease;
    property: visibility, transform, opacity;
  }

  &[open] {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0%);
  }

  &::backdrop {
    background: rgb(0 0 0 / 20%);
  }

  &::after {
    content: '';
    display: block;
    height: var(--sbb-spacing-fixed-8x);
  }
}

@include mq($from: medium) {
  .sbb-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: unset;
    bottom: unset;
    transform: none;
    min-height: 120px;
    max-height: var(--sbb-menu-max-height);
    margin-block: var(--sbb-spacing-fixed-2x) 0;
    min-width: 240px;
    max-width: 320px;
    border-radius: var(--sbb-border-radius-4x);
    transition: {
      property: visibility, margin, opacity;
    }

    &[open] {
      position: absolute;
      margin-block: 0;
      top: var(--sbb-menu-position-y);
      left: var(--sbb-menu-position-x);

      &.sbb-menu--dismissing {
        visibility: hidden;
        opacity: 0;
        margin-block: var(--sbb-spacing-fixed-2x) 0;
      }
    }

    &::backdrop {
      background: transparent;
    }

    &::after {
      display: none;
    }
  }
}

.sbb-menu--overflows {
  overflow-y: scroll;
}
