coverage
dist
**/__snapshots__

# Changelog is formatted by release please
CHANGELOG.md

# needed for apexes in `HTMLElementTagNameMap`, which otherwise would be stripped
tools/generate-component/boilerplate/component.component.ts
