@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-header-environment-color: var(--sbb-color-granite);
  --sbb-header-environment-text-color: var(--sbb-color-white);
  --sbb-header-environment-size: 2.375rem;
  --sbb-header-environment-rotate: 45deg;

  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  width: var(--sbb-header-environment-size);
  height: var(--sbb-header-environment-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

:host(:dir(rtl)) {
  --sbb-header-environment-rotate: -45deg;
}

:host(:is(:state(env-dev), [state--env-dev])) {
  --sbb-header-environment-color: var(--sbb-color-orange);
}

:host(:is(:state(env-edu), [state--env-edu])) {
  --sbb-header-environment-color: var(--sbb-color-green);
}

:host(:is(:state(env-int), [state--env-int])),
:host(:is(:state(env-inte), [state--env-inte])) {
  --sbb-header-environment-color: var(--sbb-color-granite);
}

:host(:is(:state(env-loc), [state--env-loc])) {
  --sbb-header-environment-color: var(--sbb-color-pink);
}

:host(:is(:state(env-test), [state--env-test])) {
  --sbb-header-environment-color: var(--sbb-color-sky);
}

.sbb-header-environment__ribbon {
  border-block-start: var(--sbb-header-environment-size) solid var(--sbb-header-environment-color);
  border-inline-start: var(--sbb-header-environment-size) solid transparent;
}

.sbb-header-environment__text {
  @include sbb.text-xxs--bold;

  position: absolute;
  color: var(--sbb-header-environment-text-color);
  rotate: var(--sbb-header-environment-rotate);
  padding-block-end: var(--sbb-spacing-fixed-4x);
}
