@use '../core/styles' as sbb;

:host {
  display: block;
  position: relative;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;
}

// Hide panel when no content or link-content is provided.
:host(:not(:state(slotted), :state(slotted-link-content), [link-content])) sbb-teaser-panel {
  display: none;
}

::slotted([slot='image']) {
  width: 100%;
}

sbb-teaser-panel {
  position: absolute;

  // To avoid having a 0 height if you only slotted the panel content
  :host(:not(:state(slotted-image))) & {
    position: static;
  }
}

.sbb-teaser-hero__panel-link {
  :host(:not([href])) & {
    display: none;
  }
}
