@use '../../core/styles' as sbb;

$intersector-overlapping: 1px;

// `:state(sticking)` v.s. `:state(state-sticky)`:
// While `:state(sticking)` is representing whether the sticky bar is currently sticking (due scrolling),
// the `:state(state-xy)` holds information whether the `position: sticky` is applied or not
// but not considering the real sticking state.

:host {
  --sbb-sticky-bar-position: sticky;
  --sbb-sticky-bar-padding-block: var(--sbb-spacing-responsive-xs);
  --sbb-sticky-bar-border-radius: var(--sbb-border-radius-8x);
  --sbb-sticky-bar-animation-easing: var(--sbb-animation-easing);
  --sbb-sticky-bar-fade-in-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-5x)
  );
  --sbb-sticky-bar-fade-out-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-2x)
  );
  --sbb-sticky-bar-slide-vertically-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-4x)
  );
  --sbb-sticky-bar-slide-vertically-animation-easing: ease-out;
  --sbb-sticky-bar-slide-vertically-animation-delay: 0s;
  --sbb-sticky-bar-slide-vertically-animation-name: unset;
  --_sbb-sticky-bar-background-animation-duration: var(
    --sbb-sticky-bar-fade-out-animation-duration
  );
  --_sbb-sticky-bar-intersector-background-color: transparent;
  --_sbb-sticky-bar-forced-colors-border: none;

  // Display contents needed to get the sticky bar sticky.
  display: contents;
}

:host([size='s']) {
  --sbb-sticky-bar-padding-block: var(--sbb-spacing-responsive-xxxs);
}

:host(:state(sticking):not(:state(state-unsticky))) {
  --sbb-sticky-bar-sticky-background-color: var(
    --sbb-container-background-color,
    var(--sbb-background-color-1)
  );
  --_sbb-sticky-bar-intersector-background-color: var(--sbb-sticky-bar-sticky-background-color);
  --_sbb-sticky-bar-background-animation-duration: var(--sbb-sticky-bar-fade-in-animation-duration);

  @include sbb.if-forced-colors {
    --_sbb-sticky-bar-forced-colors-border: var(--sbb-border-width-1x) solid CanvasText;
  }
}

:host(:state(sticking):not(:state(state-unsticky))[color='white']) {
  --sbb-sticky-bar-sticky-background-color: var(--sbb-background-color-1);
}

:host(:state(sticking):not(:state(state-unsticky))[color='milk']) {
  --sbb-sticky-bar-sticky-background-color: var(--sbb-background-color-3);
}

:host(:state(sticking):not(:state(state-unsticky))[color='midnight']) {
  --sbb-sticky-bar-sticky-background-color: var(--sbb-background-color-1-negative);
}

:host(:state(sticking):not(:state(state-unsticky))[color='charcoal']) {
  --sbb-sticky-bar-sticky-background-color: var(--sbb-background-color-2-negative);
}

:host(
  :is(
    :state(sticking):is(:state(slide-vertically), :state(state-sticking), :state(state-unsticking)),
    :state(state-unsticky)
  )
) {
  --_sbb-sticky-bar-background-animation-duration: 0s;
}

:host(
  :state(sticking):is(
    :state(slide-vertically):not(:state(state-unsticky), :state(state-unsticking)),
    :state(state-sticking)
  )
) {
  --sbb-sticky-bar-slide-vertically-animation-name: slide-in;
}

:host(:state(sticking):state(state-unsticking)) {
  --sbb-sticky-bar-slide-vertically-animation-name: slide-out;
}

:host(:is(:not(:state(initialized)), :state(state-unsticky))) {
  --sbb-sticky-bar-position: relative;
}

.sbb-sticky-bar__wrapper {
  position: var(--sbb-sticky-bar-position);
  inset-block-end: 0;
  display: block;
  z-index: var(--sbb-sticky-bar-z-index);

  animation: {
    name: var(--sbb-sticky-bar-slide-vertically-animation-name);
    duration: var(--sbb-sticky-bar-slide-vertically-animation-duration);
    timing-function: var(--sbb-sticky-bar-slide-vertically-animation-easing);
    delay: var(--sbb-sticky-bar-slide-vertically-animation-delay);

    // Fill mode needed to enable delay
    fill-mode: backwards;
  }

  &::after,
  &::before {
    content: '';
    inset: 0;
    position: absolute;
    display: block;
    z-index: -1;
  }

  // Container background color (copying container)
  &::before {
    background-color: var(--sbb-container-background-color);

    // Needed because there is no content and Firefox
    // has troubles displaying correct padding when there is no content.
    padding: 0 !important;

    :host(:not(:state(expanded))) & {
      @include sbb.page-spacing;
    }
  }

  // Color and border radius when sticky
  &::after {
    background-color: var(--sbb-sticky-bar-sticky-background-color, transparent);
    border-start-start-radius: var(--sbb-sticky-bar-border-radius);
    border-start-end-radius: var(--sbb-sticky-bar-border-radius);
    transition: background-color var(--_sbb-sticky-bar-background-animation-duration)
      var(--sbb-sticky-bar-animation-easing);

    // Display a border on high contrast mode.
    border: var(--_sbb-sticky-bar-forced-colors-border);
  }
}

.sbb-sticky-bar {
  display: flex;
  padding-block: var(--sbb-sticky-bar-padding-block);

  // To push the .sbb-sticky-bar__intersector up without using absolute position we need a negative block margin.
  margin-block-end: -$intersector-overlapping;

  // Shadow with border radius and clipped shadow at the bottom
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-start-start-radius: var(--sbb-sticky-bar-border-radius);
    border-start-end-radius: var(--sbb-sticky-bar-border-radius);
    transition: box-shadow var(--_sbb-sticky-bar-background-animation-duration)
      var(--sbb-sticky-bar-animation-easing);
    clip-path: polygon(
      -100% calc(-1 * var(--sbb-shadow-elevation-level-11-shadow-1-blur)),
      150% calc(-1 * var(--sbb-shadow-elevation-level-11-shadow-1-blur)),
      150% 100%,
      -100% 100%
    );

    :host(:state(sticking):not(:state(state-unsticky))) & {
      box-shadow: var(--sbb-box-shadow-level-11-soft);
    }
  }

  :host(:not(:state(expanded))) & {
    @include sbb.page-spacing;
  }

  :host(:state(expanded)) & {
    @include sbb.page-spacing-expanded;
  }
}

.sbb-sticky-bar__intersector {
  // In order to make the intersection observer work properly on windows the intersector needs to have a defined height
  height: $intersector-overlapping;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: calc(var(--sbb-sticky-bar-bottom-overlapping-height, 0) + $intersector-overlapping);
    background-color: var(--_sbb-sticky-bar-intersector-background-color);
    pointer-events: none;
    transition: background-color var(--_sbb-sticky-bar-background-animation-duration)
      var(--sbb-sticky-bar-animation-easing);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(100%);
  }
}
