@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-form-field-clear-visibility: hidden;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize css of several frameworks.
  outline: none !important;
}

@include sbb.icon-button-base(':host', '.sbb-form-field-clear', 'sbb-icon');

:host(:focus-visible:not([data-focus-origin='mouse'], [data-focus-origin='touch'])) {
  @include sbb.icon-button-focus-visible('.sbb-form-field-clear');
}

:host(:not(:active, [data-active]):hover) {
  @include sbb.icon-button-hover('.sbb-form-field-clear');
}

:host(:is(:active, [data-active])) {
  @include sbb.icon-button-active('.sbb-form-field-clear');
}

:host([data-visible]) {
  --sbb-form-field-clear-visibility: visible;
}

.sbb-form-field-clear {
  visibility: var(--sbb-form-field-clear-visibility);
}

sbb-icon {
  min-width: var(--sbb-size-icon-ui-small);
  min-height: var(--sbb-size-icon-ui-small);
}
