@use '@sbb-esta/lyne-elements/core/styles' as sbb;

.chip-list-wrapper {
  display: flex;
  gap: var(--sbb-spacing-fixed-1x);
}

sbb-chip-label {
  margin-block-end: var(--sbb-spacing-fixed-1x);
}

sbb-chip-label[color='custom-green'] {
  --sbb-chip-label-color: var(--sbb-color-1-negative);
  --sbb-chip-label-background-color: var(--sbb-color-green);
}

sbb-chip-label[color='custom-red'] {
  --sbb-chip-label-color: var(--sbb-color-1-negative);
  --sbb-chip-label-background-color: var(--sbb-color-primary125);
}
