@use '../mixins/layout';
@use '../mixins/mediaqueries';

.sbb-grid,
.sbb-page-spacing {
  @include layout.page-spacing;
}

.sbb-grid-expanded,
.sbb-page-spacing-expanded {
  @include layout.page-spacing-expanded;
}

.sbb-grid,
.sbb-grid-expanded {
  @include layout.grid-base;
}

.sbb-grid-only {
  @include layout.grid-base;
}

.sbb-orientation-vertical,
.sbb-orientation-horizontal-from-small,
.sbb-orientation-horizontal-from-large,
.sbb-orientation-horizontal-from-ultra {
  display: flex;
  flex-direction: column;
}

.sbb-orientation-horizontal-from-small {
  @include mediaqueries.mq($from: small) {
    flex-direction: row;
  }
}

.sbb-orientation-horizontal-from-large {
  @include mediaqueries.mq($from: large) {
    flex-direction: row;
  }
}

.sbb-orientation-horizontal-from-ultra {
  @include mediaqueries.mq($from: ultra) {
    flex-direction: row;
  }
}
