// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

@mixin dot {
  content: '';
  position: absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 100%;
}

:host {
  display: block;

  --dot-size-large: #{px-to-rem-build(10)};
  --dot-size-small: #{px-to-rem-build(8)};
  --border-width: var(--sbb-border-width-2x);
  --spacing-small: var(--sbb-spacing-fixed-1x);
  --color-white: var(--sbb-color-white-default);
  --color-default: var(--sbb-color-black-default);
  --color-current-location: var(--sbb-color-red-default);
  --color-current-location-dark: var(--sbb-color-red150-default);
  --color-cancellation: var(--sbb-color-red-default);
  --color-past: var(--sbb-color-metal-default);
}

.pearl-chain {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  color: var(--sbb-color-default);
  width: 100%;
  padding-block-start: calc((var(--dot-size-large) - var(--border-width)) / 2);
  padding-block-end: calc((var(--dot-size-large) - var(--border-width)) / 2);
  padding-inline-end: var(--dot-size-large);
}

// first and last dot
.pearl-chain::before,
.pearl-chain::after {
  --dot-size: var(--dot-size-large);
  @include dot;

  background-color: currentcolor;
  top: 0;
  z-index: 3;

  @include ifForcedColors {
    background-color: CanvasText;
  }
}

.pearl-chain::before {
  left: 0;
}

.pearl-chain::after {
  right: 0;
}

.pearl-chain.pearl-chain--past::before,
.pearl-chain.pearl-chain--past::after {
  @include ifForcedColors {
    background-color: GrayText;
  }
}

.pearl-chain--departure-cancellation::before,
.pearl-chain--arrival-cancellation::after {
  color: var(--color-cancellation);

  @include ifForcedColors {
    background-color: ActiveText;
  }
}

.pearl-chain--departure-cancellation.pearl-chain--past::before,
.pearl-chain--arrival-cancellation.pearl-chain--past::after {
  color: var(--color-past);

  @include ifForcedColors {
    color: GrayText;
  }
}

.pearl-chain--past {
  color: var(--color-past);
  position: relative;

  @include ifForcedColors {
    color: GrayText;
  }
}

.pearl-chain__leg {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  height: var(--border-width);

  @include ifForcedColors {
    color: CanvasText;
  }
}

// dot on leg
.pearl-chain__leg:not(:first-child) {
  &::before {
    --dot-size: var(--dot-size-small);
    @include dot;

    box-sizing: border-box;
    top: calc(var(--dot-size) / -2 + var(--border-width) / 2);
    left: 0;
    background-color: var(--color-white);
    border: var(--border-width) solid currentcolor;
    z-index: 2;

    @include ifForcedColors {
      .pearl-chain--past & {
        border-color: GrayText;
      }
    }
  }
}

// line on leg
.pearl-chain__leg::after {
  content: '';
  position: absolute;
  top: 0;
  right: var(--spacing-small);
  bottom: 0;
  left: 0;
  background-color: currentcolor;
  border-radius: var(--border-width);
  z-index: 1;

  @include ifForcedColors {
    background-color: CanvasText;

    .pearl-chain--past & {
      background-color: GrayText;
    }
  }
}

.pearl-chain__leg:last-of-type::after {
  right: calc(-1 * var(--border-width));
}

.pearl-chain__leg--cancellation {
  color: var(--color-cancellation);

  .pearl-chain--past & {
    color: var(--color-past);

    @include ifForcedColors {
      color: GrayText;
    }
  }

  @include ifForcedColors {
    color: ActiveText;
  }
}

.pearl-chain__leg--cancellation::after {
  background-color: unset;
  background-image: linear-gradient(
    to right,
    currentcolor 0%,
    currentcolor 50%,
    var(--color-white) 50%
  );
  background-repeat: repeat-x;
  background-size: calc(2 * var(--spacing-small)) var(--border-width);
}

.pearl-chain__leg--cancellation::after,
.pearl-chain--past .pearl-chain__leg--cancellation::after {
  @include ifForcedColors {
    background: none;
    border-top: #{px-to-rem-build(1)} dashed currentColor;
    transform: translateY(#{px-to-rem-build(1)});
  }
}

.pearl-chain__status--no-animation {
  animation: unset;
}

.pearl-chain__position {
  position: absolute;

  --dot-size: var(--dot-size-large);
  @include dot;

  background-color: var(--color-current-location);
  top: 0;
  z-index: 4;

  // --status-position: defined in .tsx file
  left: var(--status-position);
  animation: pulse 3s infinite;

  @include ifForcedColors {
    background-color: ActiveText;
  }
}

.pearl-chain__leg--past {
  position: absolute;
  left: 0;
  background-color: var(--color-past);
  width: var(--status-position);
  height: var(--border-width);
  z-index: 1;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-current-location-dark);
  }

  40% {
    box-shadow: 0 0 0 #{px-to-rem-build(6)} transparent;
  }
}
