// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  --sbb-toggle-option-text-color: var(--sbb-color-anthracite-default);
  --sbb-toggle-selected-option-text-color: var(--sbb-color-charcoal-default);
  --sbb-toggle-selected-option-background-color: var(--sbb-color-white-default);
  --sbb-toggle-selected-option-border-color: var(--sbb-color-smoke-default);
  --sbb-toggle-padding-inline: var(--sbb-spacing-responsive-xxxs);
  --sbb-toggle-padding-block: var(--sbb-spacing-fixed-1x);
  --sbb-toggle-cursor: pointer;

  display: flex;
  position: relative;
  width: 100%;
}

:host([even]) {
  display: block;

  ::slotted(sbb-toggle-option) {
    width: 50%;
  }
}

:host([disabled]) {
  --sbb-toggle-option-text-color: var(--sbb-color-graphite-default);
  --sbb-toggle-selected-option-text-color: var(--sbb-color-graphite-default);
  --sbb-toggle-selected-option-background-color: var(--sbb-color-milk-default);
  --sbb-toggle-selected-option-border-color: var(--sbb-color-graphite-default);
  --sbb-toggle-cursor: unset;
}

:host([size='m']) {
  --sbb-toggle-padding-inline: var(--sbb-spacing-responsive-s);
  --sbb-toggle-padding-block: var(--sbb-spacing-fixed-3x);
}

:host([data-checked-id='0'])::after {
  left: 0;
}

:host([data-checked-id='1'])::after {
  left: 100%;
  transform: translateX(-100%);
}

.sbb-toggle {
  @include text-m--regular;

  cursor: var(--sbb-toggle-cursor);
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--sbb-color-cloud-default);
  border-radius: var(--sbb-border-radius-16x);

  &::after {
    content: '';
    padding-inline: var(--sbb-toggle-padding-inline);
    display: inline-block;
    opacity: 0;
    background-color: var(--sbb-toggle-selected-option-background-color);
    border: var(--sbb-border-width-1x) solid var(--sbb-toggle-selected-option-border-color);
    border-radius: var(--sbb-border-radius-16x);
    position: absolute;
    max-width: 100%;

    // Selected option exceeds toggle dimensions by 2x border width
    top: calc(-2 * var(--sbb-border-width-1x));
    bottom: calc(-2 * var(--sbb-border-width-1x));
    left: var(--sbb-toggle-option-left);
    right: var(--sbb-toggle-option-right);
    transition: {
      duration: var(--sbb-animation-duration-6x);
      timing-function: ease;
      property: opacity, left, right;
    }
  }

  :host(.sbb-toggle--checked) & {
    &::after {
      opacity: 1;
    }
  }
}
