// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  --sbb-toggle-width: 100%;
  --sbb-toggle-option-flex-grow: 1;
  --sbb-toggle-option-text-color: var(--sbb-color-anthracite-default);
  --sbb-toggle-selected-option-text-color: var(--sbb-color-charcoal-default);
  --sbb-toggle-padding-inline: var(--sbb-spacing-responsive-xxxs);
  --sbb-toggle-padding-block: var(--sbb-spacing-fixed-1x);
  --sbb-toggle-cursor: pointer;

  position: relative;
}

:host([disabled]) {
  --sbb-toggle-option-text-color: var(--sbb-color-graphite-default);
  --sbb-toggle-selected-option-text-color: var(--sbb-color-graphite-default);
  --sbb-toggle-cursor: unset;
}

:host([size='m']) {
  --sbb-toggle-padding-inline: var(--sbb-spacing-responsive-s);
  --sbb-toggle-padding-block: var(--sbb-spacing-fixed-3x);
}

:host[selected-index='0']::after {
  content: '';
  background-color: var(--sbb-color-white-default);
  border: var(--sbb-border-width-2x) solid var(--sbb-color-cloud-default);
  border-radius: var(--sbb-border-radius-16x);
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  right: auto;
  transition: all var(--sbb-animation-duration-6x) ease-in;
}

:host[selected-index='1']::after {
  left: auto;
  right: 0;
}

.sbb-toggle {
  @include text-m--regular;

  cursor: var(--sbb-toggle-cursor);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--sbb-toggle-width);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding-block: var(--sbb-border-width-2x);
  padding-inline: var(--sbb-border-width-2x);
  background: var(--sbb-color-cloud-default);
  border-radius: var(--sbb-border-radius-16x);
}
