// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

.tab-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sbb-spacing-fixed-3x);
}

.tab-content {
  @include text;

  color: var(--sbb-color-iron-default);
  margin-top: var(--sbb-spacing-responsive-m);
  transition: height var(--sbb-animation-duration-4x) var(--sbb-animation-easing);

  ::slotted(div),
  ::slotted(section),
  ::slotted(article) {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  ::slotted(div[active]),
  ::slotted(section[active]),
  ::slotted(article[active]) {
    opacity: 1;
    visibility: visible;
    height: fit-content;
    transition: opacity var(--sbb-animation-duration-4x) var(--sbb-animation-duration-4x)
        var(--sbb-animation-easing),
      visibility var(--sbb-animation-duration-4x) var(--sbb-animation-duration-4x)
        var(--sbb-animation-easing);
  }
}
