// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

.tab-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sbb-spacing-fixed-3x);
}

.tab-content {
  @include text;

  color: var(--sbb-color-iron-default);
  margin-top: var(--sbb-spacing-responsive-m);
  transition: height var(--sbb-animation-duration-4x) var(--sbb-animation-easing);

  ::slotted(div),
  ::slotted(section),
  ::slotted(article),
  ::slotted(sbb-tab-group) {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }

  ::slotted(div[active]),
  ::slotted(section[active]),
  ::slotted(article[active]),
  ::slotted(sbb-tab-group[active]) {
    visibility: visible;
    opacity: 1;
    height: fit-content;
    transition: opacity var(--sbb-animation-duration-4x) var(--sbb-animation-duration-4x)
        var(--sbb-animation-easing),
      visibility var(--sbb-animation-duration-4x) var(--sbb-animation-duration-4x)
        var(--sbb-animation-easing);
  }
}

// stylelint-disable plugin/stylelint-bem-namics
// Make inactive nested tab groups non-focusable, to ensure accessibility
:host(.tab-group--nested:not([active])),
:host(.tab-group--nested:not([active])) *,
:host(.tab-group--nested:not([active])) ::slotted(div[active]),
:host(.tab-group--nested:not([active])) ::slotted(section[active]),
:host(.tab-group--nested:not([active])) ::slotted(article[active]) {
  visibility: hidden;
}
// stylelint-enable plugin/stylelint-bem-namics
