// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: inline-block;

  --text-color-normal: var(--color-metal-default);
  --text-color-hover-focus: var(--color-red125-default);

}

.link {
  display: flex;
  align-items: center;
  gap: pxToRem(var(--spacing-fixed-1x));
  color: var(--text-color-normal);
  text-decoration: none;
}

.link__text_hidden {
  @include screenreaderOnly();
}

.link:focus,
.link:hover {
  color: var(--text-color-hover-focus);
}

.link__text_icon {
  width: pxToRem(var(--size-icon-ui-small));
  height: pxToRem(var(--size-icon-ui-small));
}

.link__text_icon slot {
  fill: currentColor;
}

.link--text-xs {
  @include text-xs--regular();
}

.link--text-s {
  @include text-s--regular();
}

.link--text-m {
  @include text-m--regular();
}
