@mixin dot {
  content: '';
  position: absolute;
  width: pxToRem(#{var(--dot-size)});
  height: pxToRem(#{var(--dot-size)});
  border-radius: 100%;
}

:host {
  display: block;

  --dot-size-large: 10;
  --dot-size-small: 8;
  --border-width: var(--border-width-2x);
  --spacing-small: var(--spacing-fixed-1x);
  --color-white: var(--color-white-default);
  --color-default: var(--color-black-default);
  --color-current-location: var(--color-red-default);
  --color-current-location-dark: var(--color-red150-default);
  --color-cancellation: var(--color-red-default);
  --color-past: var(--color-metal-default)
}

.pearlchain {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  color: var(--color-default);
  width: 100%;
  padding-block: calc((#{pxToRem(var(--dot-size-large))} - #{pxToRem(var(--border-width))}) / 2);
  padding-inline-end: pxToRem(var(--dot-size-large));
}

.pearlchain__line {
  height: pxToRem(var(--border-width));
  width: 100%;
  background-color: currentColor;
}

// first and last dot
.pearlchain:before,
.pearlchain:after {
  --dot-size: var(--dot-size-large);
  @include dot;
  background-color: currentColor;
  top: 0;
  z-index: 2;
}

.pearlchain:before {
  left: 0;
}

.pearlchain:after {
  right: 0;
}

.pearlchain--departure-cancellation:before,
.pearlchain--arrival-cancellation:after {
  background-color: var(--color-cancellation);
}

.perlchain--past {
  color: var(--color-past);
}

.pearlchain__leg {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  height: pxToRem(var(--border-width));
}

// dot on leg
.pearlchain__leg:not(:first-child):before {
  --dot-size: var(--dot-size-small);
  @include dot;
  
  box-sizing: border-box;
  top: calc(#{pxToRem(var(--dot-size))} / -2 + #{pxToRem(var(--border-width))} / 2);
  left: 0;
  background-color: var(--color-white);
  border: pxToRem(var(--border-width)) solid currentColor;
  z-index: 2;
}

// line on leg
.pearlchain__leg:after {
  content: '';
  position: absolute;
  top: 0;
  right: pxToRem(var(--spacing-small));
  bottom: 0;
  left: 0;
  background-color: currentColor;
  border-radius: pxToRem(var(--border-width));
  z-index: 1;
}

.pearlchain__leg:last-of-type:after {
  right: calc(-1 * #{pxToRem(var(--border-width))});
}

.pearlchain__leg--cancellation:after {
  background-color: unset;
  background-image: linear-gradient(to right, var(--color-cancellation) 0%, var(--color-cancellation) 50%, var(--color-white) 50%);
  background-size: calc(2 * #{pxToRem(var(--spacing-small))}) pxToRem(var(--border-width));
  background-repeat: repeat-x;
}

.pearlchain__status {
  --dot-size: var(--dot-size-large);
  @include dot;

  top: 0;
  background-color: var(--color-current-location);
  z-index: 3;
  
  // --status-position: defined in .tsx file
  $realChainLength: calc(100% - #{pxToRem(var(--dot-size-large))});
  $realPosition: calc(#{var(--status-position)} / 100 * #{$realChainLength});
  left: $realPosition;

  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-current-location-dark);
  }
  40% {
    box-shadow: 0 0 0 pxToRem(6) transparent;
  }
}
