@use '../../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-dialog-padding-inline: var(--sbb-spacing-fixed-5x);
  --sbb-dialog-color: var(--sbb-color-2);
  --sbb-dialog-background-color: var(--sbb-background-color-1);
  --sbb-dialog-block-shadow: var(--sbb-box-shadow-level-9-soft);
  --sbb-dialog-color-negative: var(--sbb-color-2-negative);
  --sbb-dialog-block-shadow-negative: var(--sbb-box-shadow-level-9-soft-negative);
  --sbb-dialog-width: 100%;
  --sbb-dialog-max-width: 100%;
  --sbb-dialog-max-width-default: #{sbb.px-to-rem-build(892)};
  --sbb-dialog-height: 100%;
  --sbb-dialog-max-height: 100%;
  --sbb-dialog-inset: 0 auto auto 0;
  --sbb-dialog-border-radius: var(--sbb-border-radius-8x);
  --sbb-dialog-animation-easing: ease;
  --sbb-dialog-pointer-events: none;
  --sbb-dialog-backdrop-visibility: hidden;
  --sbb-dialog-backdrop-pointer-events: none;
  --sbb-dialog-backdrop-color: transparent;
  --sbb-dialog-actions-border-color: var(--sbb-background-color-4);
}

@mixin base-breakpoint-small {
  --sbb-dialog-padding-inline: var(--sbb-spacing-fixed-12x);
}

@mixin base-breakpoint-large {
  --sbb-dialog-padding-inline: var(--sbb-spacing-responsive-s);
  --sbb-dialog-max-height: calc(100vh - var(--sbb-spacing-fixed-16x));
  --sbb-dialog-max-width: min(
    calc(100vw - var(--sbb-spacing-fixed-30x) * 2),
    var(--sbb-dialog-max-width-default)
  );
}
