@use '../../core/styles' as sbb;

:host {
  --sbb-dialog-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-6x)
  );
  --sbb-dialog-padding-block: var(--sbb-spacing-responsive-xs);
  --sbb-dialog-shadow-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-4x)
  );

  display: none;
  position: fixed;
  inset: var(--sbb-dialog-inset);
  z-index: var(--sbb-dialog-z-index, var(--sbb-overlay-default-z-index));

  @include sbb.mq($from: large) {
    --sbb-dialog-max-width: min(
      calc(100vw - var(--sbb-spacing-fixed-30x) * 2),
      var(--sbb-dialog-max-width-default)
    );
  }
}

:host(:state(top-shadow)) {
  --sbb-dialog-block-start-box-shadow: var(--_sbb-dialog-block-shadow);
}

:host(:state(bottom-shadow)) {
  --sbb-dialog-block-end-box-shadow: var(--_sbb-dialog-block-shadow);
  --sbb-dialog-actions-border-color: transparent;
}

:host(:is(:state(state-opening), :state(state-opened), :state(state-closing))) {
  display: block;
}

:host(:is(:state(state-opening), :state(state-opened))) {
  --sbb-dialog-pointer-events: all;
  --sbb-dialog-backdrop-color: var(--sbb-background-color-3);

  @include sbb.mq($from: large) {
    --sbb-dialog-backdrop-visibility: visible;
    --sbb-dialog-backdrop-pointer-events: all;
  }
}

:host([backdrop='translucent']:is(:state(state-opening), :state(state-opened))) {
  --sbb-dialog-backdrop-color: color-mix(in srgb, var(--sbb-color-black) 50%, transparent);
}

:host([backdrop='opaque']:not([negative]):is(:state(state-opening), :state(state-opened))) {
  --sbb-dialog-backdrop-color: var(--sbb-background-color-3);
}

:host(:not([negative])) {
  --_sbb-dialog-color: var(--sbb-dialog-color);
  --_sbb-dialog-block-shadow: var(--sbb-dialog-block-shadow);
  --sbb-dialog-actions-border-color: var(--sbb-background-color-4);
  --sbb-dialog-background-color: var(--sbb-background-color-1);
}

:host([negative]) {
  --_sbb-dialog-color: var(--sbb-dialog-color-negative);
  --_sbb-dialog-block-shadow: var(--sbb-dialog-block-shadow-negative);
  --sbb-dialog-background-color: var(--sbb-background-color-1-negative);
  --sbb-dialog-actions-border-color: var(--sbb-background-color-4-negative);
  --sbb-dialog-backdrop-color: var(--sbb-background-color-3-negative);
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);
}

:host(:not(:state(state-closed))) {
  --sbb-dialog-inset: 0;
}

.sbb-dialog__container {
  pointer-events: var(--sbb-dialog-pointer-events);
  display: flex;
  align-items: center;
  position: fixed;
  inset: var(--sbb-dialog-inset);

  // Dialog backdrop (not visible on mobile)
  &::before {
    content: '';
    visibility: var(--sbb-dialog-backdrop-visibility);
    pointer-events: var(--sbb-dialog-backdrop-pointer-events);
    position: fixed;
    inset: var(--sbb-dialog-inset);
    background-color: var(--sbb-dialog-backdrop-color);
    transition: {
      duration: var(--sbb-dialog-animation-duration);
      timing-function: var(--sbb-dialog-animation-easing);
      property: background-color, visibility;
    }
  }
}

.sbb-dialog {
  display: none;
  position: absolute;
  inset-inline: 0;
  margin: auto;
  padding: 0;
  border: none;
  width: var(--sbb-dialog-width);
  height: var(--sbb-dialog-height);
  max-width: var(--sbb-dialog-max-width);
  max-height: var(--sbb-dialog-max-height);
  color: var(--_sbb-dialog-color);
  background-color: var(--sbb-dialog-background-color);

  :host(:is(:state(state-opening), :state(state-opened), :state(state-closing))) & {
    display: block;

    animation: {
      name: open;
      duration: var(--sbb-dialog-animation-duration);
      timing-function: ease;
    }
  }

  :host(:state(state-closing)) & {
    pointer-events: none;
    animation-name: close;
  }

  @include sbb.if-forced-colors {
    outline: var(--sbb-border-width-1x) solid CanvasText;
  }

  @include sbb.mq($from: large) {
    border-radius: var(--sbb-dialog-border-radius);
    overflow: hidden;
    height: auto;
  }
}

:host(:state(has-intermediate-element)) ::slotted(:first-child),
.sbb-dialog__wrapper {
  width: var(--sbb-dialog-width);
  height: var(--sbb-dialog-height);
  max-width: var(--sbb-dialog-max-width);
  max-height: var(--sbb-dialog-max-height);
}

:host(:state(has-intermediate-element)) ::slotted(:first-child),
:host(:not(:state(has-intermediate-element))) .sbb-dialog__wrapper {
  display: grid;
  grid-template:
    'title close-button' auto
    'content content' 1fr
    'actions actions' auto / 1fr auto;
  gap: 0;
}

// It is necessary to use animations with keyframes instead of transitions in order not to alter
// the default `display: block` of the modal otherwise it causes several problems,
// especially for accessibility.
@keyframes open {
  from {
    opacity: 0;
    translate: 0 var(--sbb-spacing-fixed-4x);
  }

  to {
    opacity: 1;
    translate: 0;
  }
}

@keyframes close {
  from {
    opacity: 1;
    translate: 0;
  }

  to {
    opacity: 0;
    translate: 0 var(--sbb-spacing-fixed-4x);
  }
}
