@use '../../core/styles/index' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-timetable-form-swap-button-margin-inline-end: var(--sbb-spacing-fixed-6x);

  position: relative;
}

.sbb-timetable-form-swap-button {
  position: absolute;
  margin-inline-end: var(--sbb-timetable-form-swap-button-margin-inline-end);
  right: 0;
  z-index: 1;
  translate: 0 -50%;
}
