@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  display: block;

  --sbb-train-wagon-width: var(--sbb-train-formation-wagon-width);
  --sbb-train-wagon-height: var(--sbb-train-formation-wagon-height);
  --sbb-train-wagon-inner-padding: var(--sbb-spacing-fixed-3x);
  --sbb-train-wagon-shape-border-radius: var(--sbb-train-formation-wagon-border-radius);
  --sbb-train-wagon-shape-color: var(--sbb-color-charcoal);
  --sbb-train-wagon-shape-color-closed: var(--sbb-color-metal);
  --sbb-train-wagon-shape-width: var(--sbb-border-width-1x);
  --sbb-train-wagon-gap: var(--sbb-spacing-fixed-2x);
  --sbb-train-wagon-icons-gap: var(--sbb-spacing-fixed-1x);
  --sbb-train-wagon-icons-height: #{sbb.px-to-rem-build(14)};

  @include sbb.if-forced-colors {
    --sbb-train-wagon-shape-color-closed: CanvasText;
  }
}

.sbb-train-wagon {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: var(--sbb-train-wagon-width);
  gap: var(--sbb-train-wagon-gap);
}

.sbb-train-wagon__compartment {
  @include sbb.list-reset;

  display: grid;
  grid-template:
    'label label' auto
    'occupancy class' 1fr / 1fr 1fr;
  position: relative;
  inline-size: 100%;

  // Reserve space because there is no content in the closed wagon
  &::before {
    :host([type='closed']) &,
    :host(:not([data-has-visible-wagon-content])) & {
      content: '';
      grid-area: occupancy / span 2;
      block-size: var(--sbb-train-wagon-height);
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    inset-inline: 0;
    inset-block: auto 0;
    inline-size: var(--sbb-train-wagon-width);
    block-size: var(--sbb-train-wagon-height);
    border-radius: var(--sbb-train-wagon-shape-border-radius);

    :host([type='wagon']) & {
      border: var(--sbb-train-wagon-shape-width) solid var(--sbb-train-wagon-shape-color);
    }

    :host([type='closed']) & {
      border: var(--sbb-train-wagon-shape-width) solid var(--sbb-train-wagon-shape-color-closed);
    }
  }
}

.sbb-train-wagon__occupancy,
.sbb-train-wagon__class {
  block-size: var(--sbb-train-wagon-height);
  display: flex;
  align-items: center;
}

.sbb-train-wagon__label {
  @include sbb.text-s--regular;

  grid-area: label;
  text-align: center;
  display: var(--sbb-train-formation-wagon-label-display, inline-block);
  min-block-size: calc(1em * var(--sbb-typo-line-height-body-text));
}

.sbb-train-wagon__occupancy {
  grid-area: occupancy;
  padding-inline-start: var(--sbb-train-wagon-inner-padding);
}

.sbb-train-wagon__class {
  @include sbb.title-6($exclude-spacing: true);

  grid-area: class;
  padding-inline-end: var(--sbb-train-wagon-inner-padding);
  margin-inline-start: auto;
}

.sbb-train-wagon__locomotive {
  grid-area: occupancy / span 2;
}

.sbb-train-wagon__icons {
  --sbb-icon-svg-height: var(--sbb-train-wagon-icons-height);

  display: flex;

  &[hidden] {
    // Don't reserve any space in hidden case
    position: absolute;
  }
}

.sbb-train-wagon__icons-list {
  @include sbb.list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: var(--sbb-train-wagon-icons-gap);
  justify-content: center;
}

// Using ... li selector, because the li generation
// is handled in the component base class.
.sbb-train-wagon__icons-list > :is(li, span) {
  display: inline-flex;
}

.sbb-screen-reader-only {
  @include sbb.screen-reader-only;
}
