@use '../../core/styles' as sbb;

:host {
  display: block;
  font-size: var(--sbb-train-wagon-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
}

:host([type='closed']) {
  @include sbb.if-forced-colors {
    --sbb-train-wagon-shape-color: GrayText;
  }
}

:host(.sbb-active) {
  --sbb-train-wagon-border-width: var(--sbb-border-width-3x);
}

:host(:state(view-side)[type='wagon-end-left']) {
  --sbb-train-wagon-padding-inline: var(--sbb-spacing-fixed-4x) var(--sbb-spacing-fixed-3x);
}

:host(:state(view-side)[type='wagon-end-right']) {
  --sbb-train-wagon-padding-inline: var(--sbb-spacing-fixed-3x) var(--sbb-spacing-fixed-4x);
}

:host(:state(view-side)[type='locomotive']) {
  --sbb-train-wagon-padding-inline: var(--sbb-spacing-fixed-4x);
}

:host([label]) {
  --_sbb-train-wagon-attributes-max-width: var(--sbb-train-wagon-attributes-max-width);
  --sbb-train-wagon-attribute-icon-rows: 3;
}

:host(:not([label])) {
  --_sbb-train-wagon-attributes-justify-content: center;
}

.sbb-train-wagon {
  display: flex;
  flex-direction: var(--sbb-train-formation-flex-direction-row, column);
  align-items: center;
  width: var(--sbb-train-formation-wagon-width);
  gap: var(--sbb-train-wagon-vertical-gap);
  position: relative;

  :host(:state(orientation-vertical)) & {
    width: auto;
    height: var(--sbb-train-formation-wagon-height);
  }
}

.sbb-train-wagon__compartment {
  @include sbb.list-reset;

  display: flex;
  flex-direction: var(--sbb-train-formation-flex-direction-column, row);
  justify-content: center;
  padding-inline: var(--sbb-train-wagon-padding-inline);
  mask-image: var(--sbb-train-wagon-clip-shape-compartment);

  &:has(.sbb-train-wagon__occupancy):has(.sbb-train-wagon__class) {
    justify-content: space-between;
  }

  :host(:state(orientation-vertical)) & {
    padding-inline: 0;
    padding-block: var(--sbb-train-wagon-padding-inline);
  }
}

.sbb-train-wagon__compartment,
.sbb-train-wagon__main-icon {
  width: var(--sbb-train-formation-wagon-width);
  height: var(--sbb-train-formation-wagon-height);
}

:is(.sbb-train-wagon__shape, .sbb-train-wagon__closed-cross) {
  position: absolute;
  inset: 0;
  width: var(--sbb-train-formation-wagon-dimension-long);
  height: var(--sbb-train-formation-wagon-dimension-short);

  :host(:state(orientation-vertical)) & {
    transform-origin: 0 0;
    rotate: 90deg;
    translate: var(--sbb-train-formation-wagon-dimension-short) 0;
  }
}

.sbb-train-wagon__shape {
  // We have to clip the shape, because the path can be larger than the wagon shape and would overflow otherwise.
  mask-image: var(--sbb-train-wagon-clip-shape);
  pointer-events: none;
  fill: none;
  stroke: var(--sbb-train-wagon-shape-color);

  // We have to multiply by factor 2 because the border grows from the bounding box lines
  stroke-width: calc(var(--sbb-train-wagon-border-width) * 2);
}

.sbb-train-wagon__main-icon {
  --sbb-icon-svg-height: var(--sbb-train-wagon-main-icon-height);

  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sbb-train-wagon__closed-cross {
  stroke: var(--sbb-train-wagon-shape-color);
}

.sbb-train-wagon__occupancy,
.sbb-train-wagon__class {
  height: var(--sbb-train-formation-wagon-height);
  flex-direction: var(--sbb-train-formation-flex-direction-column, row);
  display: flex;
  align-items: center;
  justify-content: center;

  :host(:state(orientation-vertical)) & {
    height: auto;
    width: var(--sbb-train-formation-wagon-width);
  }
}

.sbb-train-wagon__occupancy {
  --sbb-icon-svg-height: var(--sbb-train-wagon-occupancy-height);

  grid-area: occupancy;
}

.sbb-train-wagon__class {
  gap: #{sbb.px-to-rem-build(1)};
  order: 1;
}

.sbb-train-wagon__class-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sbb-train-wagon-class-dimension);
  height: var(--sbb-train-wagon-class-dimension);
  border: var(--sbb-train-wagon-class-border);
  background-color: var(--sbb-train-wagon-class-background-color);
  border-radius: var(--sbb-train-wagon-class-border-radius);
  font-weight: var(--sbb-train-wagon-class-font-weight);
  color: var(--sbb-train-wagon-class-color);
  position: relative;

  &.first {
    &::before {
      content: '';
      position: absolute;
      background-color: var(--sbb-train-wagon-class-first-color);

      :host(:not(:state(orientation-vertical))) & {
        height: var(--sbb-train-wagon-class-first-height);
        inset: calc(
            -0.5 *
              (var(--sbb-train-formation-wagon-height) - var(--sbb-train-wagon-class-dimension)) +
              var(--sbb-train-wagon-border-width) - var(--sbb-train-wagon-class-border-width)
          )
          0 auto;
        border-end-start-radius: var(--sbb-train-wagon-class-first-border-radius);
        border-end-end-radius: var(--sbb-train-wagon-class-first-border-radius);
      }

      :host(:state(orientation-vertical)) & {
        width: var(--sbb-train-wagon-class-first-height);
        inset: 0
          calc(
            -0.5 *
              (var(--sbb-train-formation-wagon-width) - var(--sbb-train-wagon-class-dimension)) +
              var(--sbb-train-wagon-border-width) - var(--sbb-train-wagon-class-border-width)
          )
          0 auto;
        border-start-start-radius: var(--sbb-train-wagon-class-first-border-radius);
        border-end-start-radius: var(--sbb-train-wagon-class-first-border-radius);
      }
    }
  }
}

.sbb-train-wagon__information-wrapper {
  display: flex;
  align-items: start;
  flex-direction: var(--sbb-train-formation-flex-direction-column, row);
  gap: var(--sbb-spacing-fixed-1x);
  min-width: var(--sbb-train-wagon-information-min-width);
}

.sbb-train-wagon__label {
  // In vertical orientation, the label is horizontally centered in a fixed width box of 32px by design.
  // As the box can grow to the side if there are many attribute icons, we have to re-apply this width as max-width here.
  :host(:state(orientation-vertical)) & {
    max-width: var(--sbb-train-wagon-information-min-width);
    width: 100%;
    text-align: center;
    line-height: 1;
  }
}

.sbb-train-wagon__label-divider {
  height: var(--sbb-train-wagon-font-size);
  margin-block-start: calc(
    0.5 * (1em * var(--sbb-typo-line-height-text) - var(--sbb-train-wagon-font-size))
  );

  :host(:state(orientation-vertical)) & {
    height: auto;
    width: var(--sbb-train-wagon-font-size);
    margin-block-start: 0;
    margin-inline-start: calc(
      0.5 * (var(--sbb-train-wagon-information-min-width) - var(--sbb-train-wagon-font-size))
    );
  }
}

.sbb-train-wagon__attribute-icon-list {
  @include sbb.list-reset;

  --sbb-icon-svg-height: var(--sbb-train-wagon-attribute-icon-height);

  display: flex;
  justify-content: var(--_sbb-train-wagon-attributes-justify-content, start);
  flex-wrap: wrap;
  gap: var(--sbb-train-wagon-attribute-icon-gap);
  color: var(--sbb-train-wagon-attribute-icon-color);
  padding-block-start: calc(
    0.5 * (1em * var(--sbb-typo-line-height-text) - var(--sbb-train-wagon-attribute-icon-height))
  );
  max-width: var(--_sbb-train-wagon-attributes-max-width);

  :host(:state(orientation-vertical)) & {
    // We have to ensure that the icons stay as long as possible to the side of the shape and only then use a second column.
    // However, the order of the icons should be row wise. To mitigate this problem, we programmatically get the amount of
    // slotted icons and can therefore calculate, how many columns approximately are needed.
    // To move the icons against the shape, we control the max-width.
    // The max-height is given by the fact, that 3 rows fit into the design. For the calculation,
    // also two times the gap has to be included.
    max-width: calc(
      var(--sbb-train-wagon-attributes-icon-columns) * var(--sbb-train-wagon-attributes-mean-width)
    );
    max-height: calc(
      var(--sbb-train-wagon-attribute-icon-rows) * var(--sbb-train-wagon-attribute-icon-height) +
        (var(--sbb-train-wagon-attribute-icon-rows) - 1) * var(--sbb-train-wagon-attribute-icon-gap)
    );
    padding-block-start: 0;
    justify-content: center;
    width: 100%;
  }
}

// Using ... li selector, because the li generation
// is handled in the component base class.
.sbb-train-wagon__attribute-icon-list > :is(li, span) {
  display: inline-flex;
}

.sbb-screen-reader-only {
  @include sbb.screen-reader-only;
}
