@use '../../core/styles' as sbb;

:host {
  display: block;

  --sbb-train-wagon-width: var(--sbb-train-formation-wagon-width);
  --sbb-train-wagon-height: var(--sbb-train-formation-wagon-height);
  --sbb-train-wagon-shape-color: var(--sbb-color-3);
  --sbb-train-wagon-main-icon-height: #{sbb.px-to-rem-build(20)};
  --sbb-train-wagon-main-icon-margin-block-start: #{sbb.px-to-rem-build(10)};
  --sbb-train-wagon-attribute-icon-gap: var(--sbb-spacing-fixed-1x);
  --sbb-train-wagon-attribute-icon-height: #{sbb.px-to-rem-build(14)};
  --sbb-train-wagon-attribute-icon-color: var(--sbb-color-1);
  --sbb-train-wagon-occupancy-height: #{sbb.px-to-rem-build(12)};

  @include sbb.if-forced-colors {
    --sbb-train-wagon-shape-color: CanvasText;
  }
}

// :host(:is([type='closed'], [type='locomotive'])) {
//  --sbb-train-wagon-shape-color: var(--sbb-color-metal);
//
//  @include sbb.if-forced-colors {
//    --sbb-train-wagon-shape-color: CanvasText;
//  }
// }

:host([type='closed']) {
  @include sbb.if-forced-colors {
    --sbb-train-wagon-shape-color: GrayText;
  }
}

:host(:is([type='sleeping'], [type='couchette'])) {
  --sbb-train-wagon-main-icon-margin-block-start: #{sbb.px-to-rem-build(6.25)};
}

:host(:is([type='wagon'], [type='restaurant'], [type='sleeping'], [type='couchette'])) {
  --sbb-train-wagon-shape: var(--sbb-train-wagon-wagon-shape);
}

:host([type='closed']) {
  --sbb-train-wagon-shape: var(--sbb-train-wagon-wagon-closed-shape);
}

:host([type='locomotive']) {
  --sbb-train-wagon-shape: var(--sbb-train-wagon-locomotive-shape);
}

:host([type='wagon-end-left']) {
  --sbb-train-wagon-shape: var(--sbb-train-wagon-wagon-end-left-shape);
}

:host([type='wagon-end-right']) {
  --sbb-train-wagon-shape: var(--sbb-train-wagon-wagon-end-right-shape);
}

.sbb-train-wagon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--sbb-train-wagon-width);
  gap: var(--sbb-train-formation-vertical-gap);
}

.sbb-train-wagon__compartment {
  @include sbb.list-reset;

  display: grid;
  grid-template:
    'label label' auto
    'occupancy class' 1fr / 1fr 1fr;

  // Type shape
  &::before {
    content: '';
    grid-column: occupancy / class;
    grid-row: occupancy;
    pointer-events: none;
    width: var(--sbb-train-wagon-width);
    height: var(--sbb-train-wagon-height);
    background-color: var(--sbb-train-wagon-shape-color);

    // Using mask-image takes the background-color as stroke color
    mask-image: var(--sbb-train-wagon-shape);
  }
}

.sbb-train-wagon__main-icon {
  --sbb-icon-svg-height: var(--sbb-train-wagon-main-icon-height);

  grid-column: occupancy / class;
  grid-row: occupancy;
  margin-block-start: var(--sbb-train-wagon-main-icon-margin-block-start);
  justify-self: center;
}

.sbb-train-wagon__label {
  @include sbb.text-xxs--regular;

  grid-area: label;
  text-align: center;
  display: var(--sbb-train-formation-wagon-label-display, inline-block);
  min-height: calc(1em * var(--sbb-typo-line-height-text));
}

.sbb-train-wagon__occupancy,
.sbb-train-wagon__class {
  height: var(--sbb-train-wagon-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sbb-train-wagon__occupancy {
  --sbb-icon-svg-height: var(--sbb-train-wagon-occupancy-height);

  grid-area: occupancy;
}

.sbb-train-wagon__class {
  @include sbb.title-6($exclude-spacing: true);

  grid-area: class;
}

.sbb-train-wagon__attribute-icon-list {
  @include sbb.list-reset;

  --sbb-icon-svg-height: var(--sbb-train-wagon-attribute-icon-height);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--sbb-train-wagon-attribute-icon-gap);
  color: var(--sbb-train-wagon-attribute-icon-color);
}

// Using ... li selector, because the li generation
// is handled in the component base class.
.sbb-train-wagon__attribute-icon-list > :is(li, span) {
  display: inline-flex;
}

.sbb-screen-reader-only {
  @include sbb.screen-reader-only;
}
