@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-radio-button-label-color: var(--color-black-default);
  --sbb-radio-button-background-color: var(--sbb-color-white-default);
  --sbb-radio-button-border: var(--sbb-border-width-1x);
  --sbb-radio-button-size: calc(var(--sbb-spacing-fixed-6x) - var(--sbb-radio-button-border) * 2);

  // Align radio button to the first row of the label based on the line-height so that it's vertically
  // aligned to the label and sticks to the top if the label breaks into multiple lines
  --sbb-radio-button-icon-align: calc(
    (1em * var(--sbb-typo-line-height-body-text) - var(--sbb-radio-button-size)) / 2
  );
}

:host([data-group-disabled]),
:host([disabled]:not([disabled='false'])) {
  --sbb-radio-button-label-color: var(--sbb-color-smoke-default);
}

.sbb-radio-button__input {
  @include sbb.screen-reader-only;
}

// One radio button per line
.sbb-radio-button {
  @include sbb.text-m--regular;

  cursor: pointer;
  user-select: none;
  position: relative;
  color: var(--sbb-radio-button-label-color);
  -webkit-tap-highlight-color: transparent;

  :host(:focus-visible) & {
    @include sbb.focus-outline;

    border-radius: calc(var(--sbb-border-radius-4x) - var(--sbb-focus-outline-offset));
  }

  :host([size='s']) & {
    @include sbb.text-s--regular;
  }

  :host([data-group-disabled]) &,
  :host([disabled]:not([disabled='false'])) & {
    cursor: default;
  }
}

.sbb-radio-button__label-slot {
  display: flex;
  align-items: flex-start;

  // Unchecked style
  &::before {
    content: '';
    flex-shrink: 0;
    width: var(--sbb-radio-button-size);
    height: var(--sbb-radio-button-size);
    background: var(--sbb-radio-button-background-color);
    border-radius: 50%;

    // The border was used to generate the animation of the radio-button,
    // consequently the box-shadow was used as the actual border of the radio.
    border: calc(var(--sbb-radio-button-size) / 2) solid var(--sbb-color-white-default);
    box-shadow: 0 0 0 var(--sbb-radio-button-border) var(--sbb-color-smoke-default);
    margin-inline-end: calc(var(--sbb-spacing-fixed-2x) + var(--sbb-radio-button-border));
    margin-inline-start: var(--sbb-radio-button-border);
    margin-block-start: var(--sbb-radio-button-icon-align);
    transition: {
      duration: var(--sbb-animation-duration-4x);
      timing-function: ease;
      property: background-color, border;
    }

    // We use the :checked pseudo-class to reflect the checked state
    .sbb-radio-button__input:checked + & {
      --sbb-radio-button-background-color: var(--sbb-color-red-default);

      border-width: #{sbb.px-to-rem-build(6)};

      @include sbb.if-forced-colors {
        --sbb-radio-button-background-color: Highlight;

        outline: var(--sbb-border-width-2x) solid Highlight;
        border-color: Canvas;
      }
    }

    // We use the :checked pseudo-class to reflect the checked state
    :host([data-group-disabled]) .sbb-radio-button__input:checked + &,
    :host([disabled]:not([disabled='false'])) .sbb-radio-button__input:checked + & {
      --sbb-radio-button-background-color: var(--sbb-color-graphite-default);

      @include sbb.if-forced-colors {
        --sbb-radio-button-background-color: GrayText;

        outline-color: GrayText;
        border-color: Canvas;
      }
    }

    @include sbb.if-forced-colors {
      transition: none;
      border: var(--sbb-border-width-2x) solid ButtonBorder;

      :host([data-group-disabled]) &,
      :host([disabled]:not([disabled='false'])) & {
        border-color: GrayText;
      }
    }
  }
}
