@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  display: block;
}

.autocomplete-item {
  @include sbb.text-s--bold;

  background-color: var(--sbb-color-white-default);
  border-radius: var(--sbb-border-radius-4x);
  padding-block-start: var(--sbb-spacing-fixed-2x);
  padding-block-end: var(--sbb-spacing-fixed-2x);
  padding-inline-start: var(--sbb-spacing-responsive-xxxs-zero);
  padding-inline-end: var(--sbb-spacing-responsive-xxxs-zero);

  @include sbb.mq($from: medium) {
    padding-inline-start: var(--sbb-spacing-responsive-xxxs-medium);
    padding-inline-end: var(--sbb-spacing-responsive-xxxs-medium);
  }
}

.autocomplete-item__highlight {
  @include sbb.text-s--regular;
}

.autocomplete-item--selected,
.autocomplete-item:hover,
.autocomplete-item:focus {
  background-color: var(--sbb-color-milk-default);

  @include sbb.if-forced-colors {
    background-color: Highlight;
    color: HighlightText;

    span {
      background-color: Highlight;
    }
  }
}

.autocomplete-item > span {
  pointer-events: none;
}
