@use '../../core/styles' as sbb;

:host([size='xs']) {
  --sbb-checkbox-font-size: var(--sbb-text-font-size-xs);
  --sbb-checkbox-dimension: var(--sbb-checkbox-dimension-xs);
}

:host([size='s']) {
  --sbb-checkbox-font-size: var(--sbb-text-font-size-s);
  --sbb-checkbox-dimension: var(--sbb-checkbox-dimension-s);
}

:host([size='m']) {
  --sbb-checkbox-font-size: var(--sbb-text-font-size-m);
  --sbb-checkbox-dimension: var(--sbb-checkbox-dimension-m);
}

:host(:disabled) {
  --sbb-checkbox-cursor: var(--sbb-cursor-default);
  --sbb-checkbox-label-color: light-dark(var(--sbb-color-granite), var(--sbb-color-aluminium));
}

.sbb-checkbox-wrapper {
  display: flex;

  @include sbb.zero-width-space;
}

.sbb-checkbox {
  font-size: var(--sbb-checkbox-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  position: relative;
  display: block;
  width: 100%;
  cursor: var(--sbb-checkbox-cursor);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.sbb-checkbox__inner {
  display: flex;
  align-items: start;
  gap: var(--sbb-spacing-fixed-2x);
}

.sbb-checkbox__label {
  display: flex;
  flex-grow: 1;
  color: var(--sbb-checkbox-label-color);

  // Fix for Chrome and Safari, they approximate 23.8px to 23px for line-height
  line-height: max((1em * var(--sbb-typo-line-height-text)), var(--sbb-checkbox-dimension));
}

.sbb-checkbox__aligner {
  display: flex;
  align-items: center;
  height: calc(1em * var(--sbb-typo-line-height-text));
}
