@use '../../core/styles' as sbb;

:host {
  --sbb-datepicker-control-radius: var(--sbb-border-radius-4x);
  --sbb-datepicker-control-color: var(--sbb-color-black);

  display: inline-flex;
}

sbb-popover-trigger {
  --sbb-button-display: flex;

  color: var(--sbb-datepicker-control-color);

  // Enables taking full height in order to shift the calendar position to the border bottom of the form field.
  height: unset;
}

sbb-icon {
  color: var(--sbb-color-graphite);
}
