@use '../core/styles' as sbb;

:host {
  display: block;
}

:host([orientation='vertical']) {
  height: 100%;
}

:host([negative]) {
  --sbb-divider-color: var(--sbb-divider-color-negative);
}

.sbb-divider {
  :host(:is([orientation='horizontal'], :not([orientation]))) & {
    border-top: var(--sbb-divider-border-width) solid var(--sbb-divider-color);
  }

  :host([orientation='vertical']) & {
    height: 100%;
    border-left: var(--sbb-divider-border-width) solid var(--sbb-divider-color);
  }
}
