@use '../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-divider-color: var(--sbb-color-cloud);
  --sbb-divider-border-width: var(--sbb-border-width-1x);

  display: block;
}

:host([orientation='vertical']) {
  block-size: 100%;
}

:host([negative]) {
  --sbb-divider-color: var(--sbb-color-iron);
}

.sbb-divider {
  :host([orientation='horizontal']) & {
    border-block-start: var(--sbb-divider-border-width) solid var(--sbb-divider-color);
  }

  :host([orientation='vertical']) & {
    block-size: 100%;
    border-inline-start: var(--sbb-divider-border-width) solid var(--sbb-divider-color);
  }
}
