@use '../../core/styles/index' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-timetable-form-field-some-color-var: var(--color-black);

  display: block;
}

.sbb-timetable-form-field {
  color: var(--sbb-timetable-form-field-some-color-var);
}
