@use '../../core/styles' as sbb;

:host {
  --sbb-form-field-select-inline-padding-end: calc(
    var(--sbb-icon-svg-width) + var(--sbb-form-field-gap)
  );
  --sbb-form-field-label-size: calc(
    var(--sbb-form-field-label-text-size) * var(--sbb-typo-line-height-text)
  );
  --sbb-form-field-text-line-height: calc(
    var(--sbb-form-field-input-text-size) * var(--sbb-typo-line-height-text)
  );
  --sbb-form-field-margin-block-start: calc(
    (
        var(--sbb-form-field-min-height) - var(--sbb-form-field-label-size) - var(
            --sbb-form-field-text-line-height
          ) +
          var(--sbb-form-field-label-to-input-overlapping)
      ) /
      2
  );

  // Lock sbb-icon size
  --sbb-icon-svg-width: var(--sbb-form-field-icon-size);
  --sbb-icon-svg-height: var(--sbb-form-field-icon-size);

  display: inline-block;
  color: var(--sbb-form-field-color);
}

:host(:where(:not([width='collapse']))) {
  min-width: #{sbb.px-to-rem-build(150)};
  width: min(#{sbb.px-to-rem-build(300)}, 100%);
}

:host([negative]) {
  color: var(--sbb-color-3-negative);

  --sbb-form-field-background-color: var(--sbb-background-color-1-negative);
  --sbb-form-field-border-color: var(--sbb-border-color-5);
  --sbb-form-field-label-color: var(--sbb-color-5);
  --sbb-form-field-prefix-color: var(--sbb-color-5);
  --sbb-form-field-text-color: var(--sbb-color-3-negative);
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);
  --sbb-form-field-arrow-color: var(--sbb-color-3-negative);

  @include sbb.if-forced-colors {
    --sbb-form-field-border-color: ButtonBorder;
  }
}

:host([size='s']) {
  --sbb-form-field-min-height: var(--sbb-size-element-xs);
  --sbb-form-field-padding-inline: var(--sbb-spacing-fixed-2x);
  --sbb-form-field-input-text-size: var(--sbb-text-font-size-s);
  --sbb-form-field-label-text-size: var(--sbb-text-font-size-xxs);

  // Values found by try and error
  --sbb-form-field-label-to-input-overlapping: #{sbb.px-to-rem-build(10)};
  --sbb-form-field-floating-label-transform: #{sbb.px-to-rem-build(5.5)};
  --sbb-form-field-spacer-margin-block-end: #{sbb.px-to-rem-build(-8.5)};

  @include sbb.mq($from: large) {
    // Values found by try and error
    --sbb-form-field-label-to-input-overlapping: #{sbb.px-to-rem-build(11)};
    --sbb-form-field-floating-label-transform: #{sbb.px-to-rem-build(5)};
    --sbb-form-field-spacer-margin-block-end: #{sbb.px-to-rem-build(-8)};
  }
}

:host([size='m']) {
  --sbb-form-field-min-height: var(--sbb-size-element-m);
  --sbb-form-field-padding-inline: var(--sbb-spacing-fixed-3x);
  --sbb-form-field-input-text-size: var(--sbb-text-font-size-m);
  --sbb-form-field-label-text-size: var(--sbb-text-font-size-xs);
  --sbb-form-field-label-to-input-overlapping: var(--sbb-spacing-fixed-1x);
  --sbb-form-field-floating-label-transform: #{sbb.px-to-rem-build(8.5)};
  --sbb-form-field-spacer-margin-block-end: calc(
    -1 * var(--sbb-form-field-label-to-input-overlapping)
  );
}

:host([size='l']) {
  --sbb-form-field-min-height: var(--sbb-size-element-l);
  --sbb-form-field-padding-inline: var(--sbb-spacing-responsive-xxxs);
}

:host([error-space='reserve']) {
  --sbb-form-field-error-min-height: calc(
    var(--sbb-typo-line-height-text) * var(--sbb-text-font-size-xs)
  );
  --sbb-form-field-error-padding-block-start-override: var(--sbb-form-field-error-divider-width);
}

:host(:where(:state(readonly), :state(disabled))) {
  --sbb-form-field-background-color: var(--sbb-background-color-3);
  --sbb-form-field-border-color: light-dark(var(--sbb-color-graphite), var(--sbb-color-smoke));
  --sbb-form-field-arrow-color: light-dark(var(--sbb-color-granite), var(--sbb-color-storm));

  @include sbb.if-forced-colors {
    --sbb-form-field-border-color: ButtonBorder;
  }
}

:host(:where(:state(readonly), :state(disabled))[negative]) {
  --sbb-form-field-background-color: var(--sbb-background-color-3-negative);
  --sbb-form-field-border-color: var(--sbb-border-color-5);
  --sbb-form-field-arrow-color: var(--sbb-border-color-5);
}

:host(:where(:state(disabled))) {
  --sbb-form-field-label-color: light-dark(var(--sbb-color-granite), var(--sbb-color-smoke));
  --sbb-form-field-prefix-color: light-dark(var(--sbb-color-granite), var(--sbb-color-storm));
  --sbb-form-field-border-style: dashed;

  @include sbb.if-forced-colors {
    --sbb-form-field-label-color: GrayText !important;
    --sbb-form-field-prefix-color: GrayText !important;
    --sbb-form-field-text-color: GrayText !important;
    --sbb-form-field-border-color: GrayText !important;
  }
}

// :where is to align specificity
:host(:where(:state(disabled))[negative]) {
  --sbb-form-field-text-color: var(--sbb-color-5);
  --sbb-form-field-label-color: var(--sbb-color-5);
  --sbb-form-field-prefix-color: var(--sbb-color-5);
}

// :where is to align specificity
:host(:where(:state(readonly)):not([negative])) {
  --sbb-form-field-label-color: light-dark(var(--sbb-color-granite), var(--sbb-color-smoke));
  --sbb-form-field-prefix-color: light-dark(var(--sbb-color-granite), var(--sbb-color-storm));
}

// :where is to align specificity
:host(:where(:state(focus))) {
  --sbb-form-field-border-color: var(--sbb-border-color-3);
  --sbb-form-field-prefix-color: var(--sbb-color-3);
  --sbb-form-field-border-width: var(--sbb-border-width-2x);
}

// :where is to align specificity
:host(:where(:state(focus))[negative]) {
  --sbb-form-field-border-color: var(--sbb-border-color-3-negative);
  --sbb-form-field-prefix-color: var(--sbb-color-3-negative);
}

// We must not use :where here, as it needs the added specificity to properly work
:host(:state(focus)) {
  @include sbb.if-forced-colors {
    --sbb-form-field-border-color: Highlight;
    --sbb-form-field-prefix-color: Highlight;
  }
}

// :where is to align specificity
:host(:not(:where(:state(has-error)))) {
  --sbb-form-field-error-padding-block-start: 0;
}

:host([floating-label]) {
  --sbb-select-placeholder-color: transparent;

  @include sbb.if-forced-colors {
    --sbb-select-placeholder-color: Canvas;
  }
}

:host(:is(:not(:state(slotted-label)), [hidden-label])) {
  --sbb-form-field-label-size: 0rem;
  --sbb-form-field-label-to-input-overlapping: 0rem;
}

// Should be after other definitions to override overflow
// :where is to align specificity
:host(:where(:state(input-type-sbb-slider))) {
  --sbb-form-field-overflow: visible;
}

.sbb-form-field__space-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include sbb.zero-width-space;
}

.sbb-form-field__wrapper {
  display: flex;
  flex: 1;
  gap: var(--sbb-form-field-gap);
  padding-inline: var(--sbb-form-field-padding-inline);
  border-radius: var(--sbb-form-field-border-radius);
  min-height: var(--sbb-form-field-min-height);
  max-height: var(--sbb-form-field-max-height);
  background-color: var(--sbb-form-field-background-color);
  position: relative;

  // Use ::before to avoid content shifting when border width changes.
  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    border: var(--sbb-form-field-border-width) var(--sbb-form-field-border-style)
      var(--sbb-form-field-border-color);
    border-radius: var(--sbb-form-field-border-radius);
  }

  // :where is to align specificity
  :host(:where(:state(focus):state(focus-origin-keyboard))) & {
    @include sbb.focus-outline;

    outline-offset: var(--sbb-form-field-outline-offset, var(--sbb-focus-outline-offset));
  }

  // In high contrast, there is no borderless variant
  @media (forced-colors: none) {
    :host(:is([borderless], :state(input-type-sbb-slider))) & {
      &::before {
        border-color: transparent;
      }
    }

    :host(:where(:state(focus), :state(disabled))[borderless]) & {
      &::after {
        content: '';
        position: absolute;
        border-block-end: var(--sbb-border-width-1x) var(--sbb-form-field-border-style)
          var(--sbb-form-field-border-color);
        inset-inline: var(--sbb-form-field-padding-inline);
        inset-block-end: 0;
        z-index: var(--sbb-form-field-focus-underline-z-index, initial);
      }
    }
  }
}

::slotted(*[slot='prefix']) {
  color: var(--sbb-form-field-prefix-color);
}

// Ensure slotted inline elements are vertically centered
::slotted(*[slot='prefix']),
::slotted(*[slot='suffix']) {
  display: flex;
  min-width: var(--sbb-icon-svg-width);
  margin-block-start: calc((var(--sbb-form-field-min-height) - var(--sbb-size-icon-ui-small)) / 2);
}

::slotted(sbb-form-field-clear) {
  :host(:where(:state(empty), :state(disabled), :state(readonly))) & {
    display: none;
  }
}

// As the calendar should be shown below the form field border, we have to stretch the toggle's height.
// TODO: Maybe move this to the datepicker-toggle component.
::slotted(sbb-datepicker-toggle) {
  padding-block-end: calc((var(--sbb-form-field-min-height) - var(--sbb-size-icon-ui-small)) / 2);
}

@include sbb.if-forced-colors {
  // Align with prefix color
  ::slotted(*[slot='suffix']) {
    color: var(--sbb-form-field-prefix-color);
  }
}

.sbb-form-field__select-input-icon {
  @include sbb.absolute-center-y;

  position: absolute;
  inset-inline-end: 0;
  margin-block-start: calc(-1 * var(--sbb-form-field-margin-block-start) / 2);
  pointer-events: none;
  color: var(--sbb-form-field-arrow-color);
}

.sbb-form-field__input-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  margin-block-start: var(--sbb-form-field-margin-block-start);

  // Prevents overflowing parent
  min-width: 0;
}

.sbb-form-field__label-spacer {
  display: flex;
  height: calc(var(--sbb-form-field-label-text-size) * var(--sbb-typo-line-height-text));

  // Moves label down and input up to meet positioning requirements
  margin-block-end: var(--sbb-form-field-spacer-margin-block-end);
}

// To avoid doubled payload, we group the rules.
:is(.sbb-form-field__label, .sbb-form-field__label-spacer) {
  :host(:not(:state(slotted-label))) & {
    display: none;
  }

  :host([hidden-label]) & {
    @include sbb.screen-reader-only;
  }
}

.sbb-form-field__label {
  display: flex;
  max-width: 100%;
  cursor: var(--sbb-cursor-default);
  position: absolute;
  inset-block-start: 0;
  color: var(--sbb-form-field-label-color);
  font-size: var(--sbb-form-field-label-text-size);
  letter-spacing: var(--sbb-form-field-label-letter-spacing);

  :host(:where(:state(input-type-select), :state(input-type-sbb-select))) & {
    padding-inline-end: var(--sbb-form-field-select-inline-padding-end);
  }

  :host([floating-label]) & {
    transform-origin: 0 0;
    pointer-events: none; // We shouldn't catch mouse events (let them through).
    backface-visibility: hidden;
    will-change: transform, font-size;

    transition: {
      duration: var(--sbb-disable-animation-duration, var(--sbb-animation-duration-2x));
      timing-function: var(--sbb-animation-easing);
      property: transform, font-size;
    }
  }

  // If floating-label is activated and there is no focus in it (except for select) and no popup is open
  // and input is empty then apply the label transition.
  // If it is empty and readonly, always apply transition
  // :where is to align specificity
  :host(
      [floating-label]:is(
          :not(
            :where(:state(focus)):not(:where(:state(input-type-sbb-select))),
            :where(:state(has-popup-open))
          ),
          :where(:state(readonly))
        ):where(:state(empty))
    )
    & {
    font-size: var(--sbb-form-field-input-text-size);
    transform: translateY(var(--sbb-form-field-floating-label-transform));
  }

  // :where is to align specificity
  :host(:where(:state(input-type-textarea))) & {
    @include sbb.if-forced-colors {
      // The background of the textarea is set to Canvas and therefore hides the label behind.
      // By setting the z-index to 1, we move the label in front of the textarea.
      z-index: 1;
    }
  }
}

.sbb-form-field__label-ellipsis {
  @include sbb.ellipsis;
}

.sbb-form-field__input {
  display: flex;
  flex: 1;
  align-items: start;

  :host(
      [size='s']:is(
        :state(input-type-input),
        :state(input-type-select),
        :state(input-type-sbb-select),
        :state(input-type-sbb-date-input),
        :state(input-type-sbb-time-input)
      )
    )
    & {
    // In size s, the natural height of the text input is too small.
    // To not reserve too much space, we decrease the height.
    margin-block-end: #{sbb.px-to-rem-build(-2)};
  }
}

.sbb-form-field__error {
  display: flex;
  min-height: var(--sbb-form-field-error-min-height);
  flex-direction: column;
  margin-block-start: var(
    --sbb-form-field-error-padding-block-start-override,
    var(--sbb-form-field-error-padding-block-start)
  );
}
