@use '../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-loading-indicator-color: var(--sbb-color-red);
  --sbb-loading-indicator-padding: 0;
  --sbb-loading-indicator-duration: var(
    --sbb-disable-animation-zero-duration,
    var(--sbb-animation-duration-6x)
  );

  display: inline-block;
  line-height: 0;
}

:host([color='smoke']) {
  --sbb-loading-indicator-color: var(--sbb-color-smoke);
}

:host([color='white']) {
  --sbb-loading-indicator-color: var(--sbb-color-white);
}

:host([color='white'][variant='circle']) .sbb-loading-indicator__animated-element::after {
  @include sbb.if-forced-colors {
    --sbb-loading-indicator-color: var(--sbb-color-white);
  }
}

:host([size='s']) {
  --sbb-loading-indicator-window-height: #{sbb.px-to-rem-build(26.66666)};
  --sbb-loading-indicator-window-padding-block-start: #{sbb.px-to-rem-build(10.66666)};
  --sbb-loading-indicator-window-element-width: #{sbb.px-to-rem-build(55.46666)};
  --sbb-loading-indicator-window-element-height: #{sbb.px-to-rem-build(5.33333)};
  --sbb-loading-indicator-window-element-perspective: #{sbb.px-to-rem-build(75)};
  --sbb-loading-indicator-window-element-rotate-y: 50.125deg;
  --sbb-loading-indicator-window-element-animation-name: loading-container;
  --sbb-loading-indicator-window-element-animation-speed: 0.73333em;
  --sbb-loading-indicator-window-last-span-width: #{sbb.px-to-rem-build(8.53333)};
  --sbb-loading-indicator-window-last-span-height: #{sbb.px-to-rem-build(5.33333)};
  --sbb-loading-indicator-window-last-span-margin: #{sbb.px-to-rem-build(3.2)};
  --sbb-loading-indicator-window-last-span-transform: translate3d(
    #{sbb.px-to-rem-build(-1.6)},
    0,
    0
  );
}

:host([size='l']) {
  --sbb-loading-indicator-window-height: #{sbb.px-to-rem-build(48)};
  --sbb-loading-indicator-window-padding-block-start: #{sbb.px-to-rem-build(19.2)};
  --sbb-loading-indicator-window-element-width: #{sbb.px-to-rem-build(92.7969)};
  --sbb-loading-indicator-window-element-height: #{sbb.px-to-rem-build(9.59375)};
  --sbb-loading-indicator-window-element-perspective: #{sbb.px-to-rem-build(119.19)};
  --sbb-loading-indicator-window-element-rotate-y: 52.642deg;
  --sbb-loading-indicator-window-element-animation-name: loading-container;
  --sbb-loading-indicator-window-element-animation-speed: 1.2em;
  --sbb-loading-indicator-window-last-span-width: #{sbb.px-to-rem-build(16)};
  --sbb-loading-indicator-window-last-span-height: #{sbb.px-to-rem-build(9.59375)};
  --sbb-loading-indicator-window-last-span-margin: #{sbb.px-to-rem-build(3.2)};
}

:host([size='xl']) {
  --sbb-loading-indicator-window-height: #{sbb.px-to-rem-build(48)};
  --sbb-loading-indicator-window-padding-block-start: #{sbb.px-to-rem-build(19.2)};
  --sbb-loading-indicator-window-element-width: #{sbb.px-to-rem-build(140.8)};
  --sbb-loading-indicator-window-element-height: #{sbb.px-to-rem-build(16)};
  --sbb-loading-indicator-window-element-perspective: #{sbb.px-to-rem-build(179.4)};
  --sbb-loading-indicator-window-element-rotate-y: 53.868deg;
  --sbb-loading-indicator-window-element-animation-name: loading-container;
  --sbb-loading-indicator-window-element-animation-speed: 1.8em;
  --sbb-loading-indicator-window-last-span-width: #{sbb.px-to-rem-build(25.6)};
  --sbb-loading-indicator-window-last-span-height: #{sbb.px-to-rem-build(16)};
  --sbb-loading-indicator-window-last-span-margin: #{sbb.px-to-rem-build(3.2)};
}

:host([size='xxl']) {
  --sbb-loading-indicator-window-height: #{sbb.px-to-rem-build(48)};
  --sbb-loading-indicator-window-padding-block-start: #{sbb.px-to-rem-build(19.2)};
  --sbb-loading-indicator-window-element-width: #{sbb.px-to-rem-build(249.6)};
  --sbb-loading-indicator-window-element-height: #{sbb.px-to-rem-build(28)};
  --sbb-loading-indicator-window-element-perspective: #{sbb.px-to-rem-build(297.248)};
  --sbb-loading-indicator-window-element-rotate-y: 54.437deg;
  --sbb-loading-indicator-window-element-animation-name: loading-container;
  --sbb-loading-indicator-window-element-animation-speed: 3.2em;
  --sbb-loading-indicator-window-last-span-width: #{sbb.px-to-rem-build(44.8)};
  --sbb-loading-indicator-window-last-span-height: #{sbb.px-to-rem-build(28)};
  --sbb-loading-indicator-window-last-span-margin: #{sbb.px-to-rem-build(6.4)};
}

:host([size='xxxl']) {
  --sbb-loading-indicator-window-height: #{sbb.px-to-rem-build(150)};
  --sbb-loading-indicator-window-padding-block-start: #{sbb.px-to-rem-build(50.2)};
  --sbb-loading-indicator-window-element-width: #{sbb.px-to-rem-build(354.4)};
  --sbb-loading-indicator-window-element-height: #{sbb.px-to-rem-build(40)};
  --sbb-loading-indicator-window-element-perspective: #{sbb.px-to-rem-build(408.85)};
  --sbb-loading-indicator-window-element-rotate-y: 54.442deg;
  --sbb-loading-indicator-window-element-animation-name: loading-container;
  --sbb-loading-indicator-window-element-animation-speed: 4.5375em;
  --sbb-loading-indicator-window-last-span-width: #{sbb.px-to-rem-build(64)};
  --sbb-loading-indicator-window-last-span-height: #{sbb.px-to-rem-build(40)};
  --sbb-loading-indicator-window-last-span-margin: #{sbb.px-to-rem-build(8.6)};
}

span {
  display: inline-block;
}

.sbb-loading-indicator {
  display: flex;
  height: var(--sbb-loading-indicator-window-height);
  padding-block-start: var(--sbb-loading-indicator-window-padding-block-start);
}

.sbb-loading-indicator__animated-element {
  margin: 0 auto;
  transform-origin: center;
  transform: translate3d(-2em, 0, 0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  width: var(--sbb-loading-indicator-window-element-width);
  height: var(--sbb-loading-indicator-window-element-height);
  perspective: var(--sbb-loading-indicator-window-element-perspective);
}

.sbb-loading-indicator__animated-element > span {
  position: relative;
  transform: rotateY(var(--sbb-loading-indicator-window-element-rotate-y)) translateZ(1em);
  transform-origin: right;
  backface-visibility: hidden;
}

.sbb-loading-indicator__animated-element > span > span {
  position: relative;
  display: flex;
  animation-name: var(--sbb-loading-indicator-window-element-animation-name);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: var(--sbb-loading-indicator-duration);
}

.sbb-loading-indicator__animated-element > span > span > span {
  background: var(--sbb-loading-indicator-color);
  backface-visibility: hidden;
  outline: var(--sbb-border-width-1x) solid rgb(0 0 0 / 0%);
  width: var(--sbb-loading-indicator-window-last-span-width);
  height: var(--sbb-loading-indicator-window-last-span-height);
  margin-right: var(--sbb-loading-indicator-window-last-span-margin);
  transform: var(--sbb-loading-indicator-window-last-span-transform);

  &:nth-child(1) {
    animation: loading-rectangle1 var(--sbb-loading-indicator-duration) linear infinite;
  }

  &:nth-child(2) {
    animation: loading-rectangle2 var(--sbb-loading-indicator-duration) linear infinite;
  }

  &:nth-child(3) {
    animation: loading-rectangle3 var(--sbb-loading-indicator-duration) linear infinite;
  }

  &:nth-child(4) {
    animation: loading-rectangle4 var(--sbb-loading-indicator-duration) linear infinite;
  }

  &:nth-child(5) {
    animation: loading-rectangle5 var(--sbb-loading-indicator-duration) linear infinite;
  }

  &:last-child {
    margin-right: 0;
  }
}

@keyframes loading-container {
  0% {
    transform: translateX(var(--sbb-loading-indicator-window-element-animation-speed));
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes loading-rectangle1 {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loading-rectangle2 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes loading-rectangle3 {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loading-rectangle4 {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes loading-rectangle5 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.25;
  }
}
