@use '../core/styles' as sbb;

:host {
  --sbb-loading-indicator-color: var(--sbb-color-primary);
  --sbb-loading-indicator-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-6x)
  );
  --sbb-loading-indicator-window-element-rotation: 55.24deg;
  --_sbb-loading-indicator-window-first-span-width: calc(
    var(--sbb-loading-indicator-window-height) * 0.58
  );

  // Size of the gap between the windows
  --_sbb-loading-indicator-window-unit: calc(
    var(--_sbb-loading-indicator-window-first-span-width) / 5.5
  );

  // The spans must move one rectangle plus one gap per animation cycle
  --_sbb-loading-indicator-window-element-animation-speed: calc(
    var(--_sbb-loading-indicator-window-unit) * 6.5
  );

  // Defaults to S
  --sbb-loading-indicator-window-height: #{sbb.px-to-rem-build(18)};
  --sbb-loading-indicator-window-element-width: #{sbb.px-to-rem-build(55)};

  display: inline-block;
  line-height: 0;
}

:host([color='smoke']) {
  --sbb-loading-indicator-color: var(--sbb-color-smoke);
}

:host([color='white']) {
  --sbb-loading-indicator-color: var(--sbb-color-white);
}

:host([size='l']) {
  --sbb-loading-indicator-window-height: #{sbb.px-to-rem-build(32)};
  --sbb-loading-indicator-window-element-width: #{sbb.px-to-rem-build(100)};
}

:host([size='xl']) {
  --sbb-loading-indicator-window-height: #{sbb.px-to-rem-build(51)};
  --sbb-loading-indicator-window-element-width: #{sbb.px-to-rem-build(140)};
}

:host([size='xxl']) {
  --sbb-loading-indicator-window-height: #{sbb.px-to-rem-build(98)};
  --sbb-loading-indicator-window-element-width: #{sbb.px-to-rem-build(250)};
}

:host([size='xxxl']) {
  --sbb-loading-indicator-window-height: #{sbb.px-to-rem-build(147)};
  --sbb-loading-indicator-window-element-width: #{sbb.px-to-rem-build(360)};
}

span {
  display: inline-block;
}

.sbb-loading-indicator {
  display: flex;
  height: var(--sbb-loading-indicator-window-height);
  align-items: center;

  @include sbb.zero-width-space;
}

.sbb-loading-indicator__animated-element {
  position: relative;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  transform-origin: center;
  translate: 25%;
  backface-visibility: hidden;
  width: var(--sbb-loading-indicator-window-element-width);
  perspective: var(--sbb-loading-indicator-window-height);
}

.sbb-loading-indicator__animated-element > span {
  position: relative;
  align-self: center;
  transform-origin: left;
  rotate: y var(--sbb-loading-indicator-window-element-rotation);
  backface-visibility: hidden;
}

.sbb-loading-indicator__animated-element > span > span {
  position: relative;
  display: flex;
  animation: loading-container var(--sbb-loading-indicator-duration) linear infinite;
}

.sbb-loading-indicator__animated-element > span > span > span {
  background: var(--sbb-loading-indicator-color);
  backface-visibility: hidden;
  outline: var(--sbb-border-width-1x) solid transparent;
  width: var(--_sbb-loading-indicator-window-first-span-width);
  height: var(--sbb-loading-indicator-window-height);
  margin-inline-end: var(--_sbb-loading-indicator-window-unit);

  &:nth-child(1) {
    animation: loading-rectangle1 var(--sbb-loading-indicator-duration) linear infinite;
  }

  &:nth-child(2) {
    animation: loading-rectangle2 var(--sbb-loading-indicator-duration) linear infinite;
  }

  &:nth-child(3) {
    animation: loading-rectangle3 var(--sbb-loading-indicator-duration) linear infinite;
  }

  &:nth-child(4) {
    animation: loading-rectangle4 var(--sbb-loading-indicator-duration) linear infinite;
  }

  &:nth-child(5) {
    animation: loading-rectangle5 var(--sbb-loading-indicator-duration) linear infinite;
  }

  &:last-child {
    margin-inline-end: 0;
  }
}

@keyframes loading-container {
  0% {
    translate: var(--_sbb-loading-indicator-window-element-animation-speed);
  }

  100% {
    translate: 0;
  }
}

@keyframes loading-rectangle1 {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loading-rectangle2 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes loading-rectangle3 {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loading-rectangle4 {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes loading-rectangle5 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.25;
  }
}
