@use '@sbb-esta/lyne-elements/core/styles' as sbb;

:host {
  --sbb-seat-reservation-navigation-travelclass-spacing: #{sbb.px-to-rem-build(12)};
  --sbb-seat-reservation-navigation-btn-border-color: var(--sbb-color-granite);
  --sbb-seat-reservation-navigation-btn-border-width: var(--sbb-border-width-1x);
  --sbb-seat-reservation-navigation-btn-background-color: var(--sbb-color-white);
  --sbb-seat-reservation-navigation-btn-border-color-hover: var(--sbb-color-charcoal);
  --sbb-seat-reservation-navigation-btn-border-width-hover: var(--sbb-border-width-2x);
  --sbb-seat-reservation-navigation-btn-background-color-hover: var(--sbb-color-cloud);
}

.sbb-seat-reservation-navigation__list-coaches {
  @include sbb.list-reset;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--sbb-spacing-fixed-1x);
  min-height: #{sbb.px-to-rem-build(60)};
}

// <li>
.sbb-seat-reservation-navigation__item-coach {
  display: flex;
  flex-direction: column;
  gap: var(--sbb-spacing-fixed-2x);
  width: #{sbb.px-to-rem-build(80)};

  &:first-of-type,
  &:last-of-type {
    .sbb-seat-reservation-navigation--first-class {
      width: calc(100% - #{sbb.px-to-rem-build(16)});
    }
  }

  &:first-of-type {
    .sbb-seat-reservation-navigation-control__button {
      border-radius: var(--sbb-border-radius-8x) var(--sbb-border-radius-2x)
        var(--sbb-border-radius-2x) var(--sbb-border-radius-8x);
    }

    .sbb-seat-reservation-navigation--first-class {
      margin-inline-start: var(--sbb-seat-reservation-navigation-travelclass-spacing);
    }
  }

  &:last-of-type {
    .sbb-seat-reservation-navigation-control__button {
      border-radius: var(--sbb-border-radius-2x) var(--sbb-border-radius-8x)
        var(--sbb-border-radius-8x) var(--sbb-border-radius-2x);
    }

    .sbb-seat-reservation-navigation__additional-information {
      padding-inline-end: var(--sbb-seat-reservation-navigation-travelclass-spacing);
    }

    .sbb-seat-reservation-navigation--first-class {
      margin-inline-end: var(--sbb-seat-reservation-navigation-travelclass-spacing);
    }
  }
}

.sbb-seat-reservation-navigation-control__button {
  @include sbb.button-reset;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: #{sbb.px-to-rem-build(36)};
  border: var(--sbb-seat-reservation-navigation-btn-border-width) solid
    var(--sbb-seat-reservation-navigation-btn-border-color);
  border-radius: var(--sbb-border-radius-2x);
  background-color: var(--sbb-seat-reservation-navigation-btn-background-color);
  cursor: pointer;
}

.sbb-seat-reservation-navigation__item-coach--selected
  .sbb-seat-reservation-navigation-control__button,
.sbb-seat-reservation-navigation__item-coach:focus-visible
  .sbb-seat-reservation-navigation-control__button,
.sbb-seat-reservation-navigation-control__button:hover,
.sbb-seat-reservation-navigation-control__button:focus-visible {
  --sbb-seat-reservation-navigation-btn-border-width: var(
    --sbb-seat-reservation-navigation-btn-border-width-hover
  );
  --sbb-seat-reservation-navigation-btn-border-color: var(
    --sbb-seat-reservation-navigation-btn-border-color-hover
  );
  --sbb-seat-reservation-navigation-btn-background-color: var(
    --sbb-seat-reservation-navigation-btn-background-color-hover
  );

  .sbb-seat-reservation-navigation__item-coach-number {
    color: var(--sbb-color-charcoal);
  }

  .sbb-seat-reservation-navigation__item-coach-travelclass {
    background-color: var(--sbb-color-charcoal);
  }
}

.sbb-seat-reservation-navigation__additional-information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding-inline-start: var(--sbb-seat-reservation-navigation-travelclass-spacing);
  font-family: var(--sbb-typo-font-family), sans-serif;
  font-weight: 700;
  color: var(--sbb-color-granite);
}

// todo remove complete block
.sbb-seat-reservation-navigation__item-coach-number {
  @include sbb.ellipsis;

  max-width: var(--sbb-spacing-fixed-5x);
}

// graphical orientation of FIRST class
.sbb-seat-reservation-navigation--first-class {
  width: calc(100% - #{sbb.px-to-rem-build(4)});

  // use border instead of height to support force-color modes
  border: var(--sbb-border-width-1x) solid transparent;
  border-radius: var(--sbb-border-radius-1x);
  margin: auto;
  background-color: var(--sbb-color-lemon);
  transform: translateY(#{sbb.px-to-rem-build(1)});
}

// textual orientation of travel class
.sbb-seat-reservation-navigation__item-coach-travelclass {
  display: flex;
  align-items: center;
  justify-content: center;
  height: #{sbb.px-to-rem-build(20)};
  width: #{sbb.px-to-rem-build(20)};
  border-radius: var(--sbb-border-radius-1x);
  text-align: center;
  background-color: var(--sbb-color-granite);
  color: var(--sbb-color-white);
}

.sbb-seat-reservation-navigation__signs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--sbb-spacing-fixed-1x);
  color: var(--sbb-color-granite);
}
