@use '@sbb-esta/lyne-elements/core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

.sbb-seat-reservation-navigation__list-coaches {
  @include sbb.list-reset;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--sbb-spacing-fixed-2x);
  min-height: #{sbb.px-to-rem-build(60)};
}
