@use '../../core/styles' as sbb;

:host {
  display: block;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;
}

:host(:not(:state(slotted), :state(slotted-icon), :state(has-icon-name))) {
  --sbb-radio-button-label-gap: 0;
}

.sbb-radio-button {
  :host(:focus-visible) & {
    @include sbb.focus-outline;

    border-radius: calc(var(--sbb-border-radius-4x) - var(--sbb-focus-outline-offset));
  }
}
