@use '../../../elements/core/styles' as sbb;

.scrollbar {
  @include sbb.scrollbar;
}

.scrollbar-negative {
  @include sbb.scrollbar($negative: true);
}

.scrollbar-thick {
  @include sbb.scrollbar($size: thick);
}

.scrollbar-thick-negative {
  @include sbb.scrollbar($size: thick, $negative: true);
}

.scrollbar-track-visible {
  @include sbb.scrollbar($track-visible: true);
}

.scrollbar-negative-track-visible {
  @include sbb.scrollbar($negative: true, $track-visible: true);
}

.scrollbar-thick-track-visible {
  @include sbb.scrollbar($size: thick, $track-visible: true);
}

.scrollbar-thick-negative-track-visible {
  @include sbb.scrollbar($size: thick, $negative: true, $track-visible: true);
}

.negative {
  background-color: var(--sbb-color-charcoal);
  color: var(--sbb-color-white);
}

.overflow-container {
  padding: var(--sbb-spacing-responsive-xs);
  inline-size: 400px;
  block-size: 300px;
  overflow: auto;
}

.inner-box {
  inline-size: 500px;
}
