@use '../../core/styles' as sbb;

:host {
  --sbb-chip-background-color: var(--sbb-background-color-3);
  --sbb-chip-border: var(--sbb-border-width-1x) solid var(--sbb-chip-border-color);
  --sbb-chip-border-color: var(--sbb-border-color-4-inverted);
  --sbb-chip-border-radius: var(--sbb-border-radius-2x);
  --sbb-chip-color: light-dark(var(--sbb-color-granite), var(--sbb-color-cloud));
  --sbb-chip-color-hover: var(--sbb-color-2);
  --sbb-chip-background-color-active: var(--sbb-background-color-1);
  --sbb-chip-background-color-hover: var(--sbb-background-color-1);
  --sbb-chip-height: #{sbb.px-to-rem-build(24)};
  --sbb-chip-label-padding-inline: var(--sbb-spacing-fixed-2x);
  --sbb-chip-transition-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-2x)
  );

  outline: none !important;
  display: inline-block;
}

:host([negative]) {
  --sbb-chip-border-color: var(--sbb-border-color-4-negative-inverted);
  --sbb-chip-background-color: var(--sbb-background-color-3-negative);
  --sbb-chip-color: var(--sbb-color-4-negative);
  --sbb-chip-color-hover: var(--sbb-color-2-negative);
  --sbb-chip-background-color-active: var(--sbb-background-color-1-negative);
  --sbb-chip-background-color-hover: var(--sbb-background-color-1-negative);
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);
}

.sbb-chip {
  background-color: var(--sbb-chip-background-color);
  border-radius: var(--sbb-chip-border-radius);
  color: var(--sbb-chip-color);
  display: flex;
  align-items: stretch;
  height: var(--sbb-chip-height);

  :host(:focus) & {
    @include sbb.focus-outline;

    // Outline overlaps the border
    --sbb-focus-outline-offset: #{sbb.px-to-rem-build(-1)};

    // Basically the focus-outline mixin is made for use with focus-visible.
    // As we use it here with :focus, we have to ensure that the outline is not overridden when mouse or touch is in use.
    --sbb-focus-outline-style: initial;
  }
}

.sbb-chip__label-wrapper {
  border: var(--sbb-chip-border);
  border-inline-end: none;
  border-radius: var(--sbb-chip-border-radius) 0 0 var(--sbb-chip-border-radius);
  display: flex;
  align-items: center;
  padding-inline: var(--sbb-chip-label-padding-inline);
  outline: none;
  overflow: hidden;

  :host(:is([disabled], [readonly])) & {
    border: var(--sbb-chip-border);
    border-radius: var(--sbb-chip-border-radius);
  }
}

.sbb-chip__label {
  @include sbb.text-xxs--regular;
  @include sbb.ellipsis;

  display: inline-block;
  transition: transform var(--sbb-chip-transition-duration) var(--sbb-animation-easing);
}

.sbb-chip__delete {
  --sbb-mini-button-border-radius: 0 var(--sbb-chip-border-radius) var(--sbb-chip-border-radius) 0;
  --sbb-mini-button-color-text: var(--sbb-chip-color);
  --sbb-mini-button-color-active-background: var(--sbb-chip-background-color-active);
  --sbb-mini-button-color-hover-background: var(--sbb-chip-background-color-hover);
  --sbb-icon-svg-width: calc(var(--sbb-size-icon-ui-small) - var(--sbb-border-width-1x) * 2);
  --sbb-icon-svg-height: calc(var(--sbb-size-icon-ui-small) - var(--sbb-border-width-1x) * 2);

  border: var(--sbb-chip-border);
  border-radius: 0 var(--sbb-chip-border-radius) var(--sbb-chip-border-radius) 0;

  :host(:is([disabled], [readonly])) & {
    display: none;
  }

  @include sbb.hover-mq($hover: true) {
    :host(:not([disabled])) & {
      &:hover {
        --sbb-mini-button-color-text: var(--sbb-chip-color-hover);
      }
    }
  }
}
