:host {
  display: block;
  border-top: 1px solid rgba(0, 0, 0, .1);
  padding: 2.5rem 1.375rem 3.5rem;
  height: 0;
  overflow: hidden;
  transition: height 400ms ease-in-out;

  border-bottom: 1px solid rgba(0, 0, 0, .4);
  margin-bottom: -1rem;
}

:host(.visible) {
  height: auto;
}

@media (min-width: 643px) {
  :host {
    padding-right: 2.75rem;
    padding-left: 2.75rem;
  }
}

@media (min-width: 1025px) {
  :host {
    float: left;
    display: inline-block;
    width: 25%;
    height: auto;
    padding-top: 5rem;
    padding-right: 1.5rem;
    padding-bottom: 5rem;
    border-top: 0;
    border-bottom: none;
  }

}
