@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-title-text-color-normal: var(--sbb-color-charcoal-default);
  --sbb-journey-header-gap: var(--sbb-spacing-fixed-1x);
}

:host([negative]:not([negative='false'])) {
  @include sbb.title--negative;
}

.sbb-journey-header[id] {
  @include sbb.scroll-margin-block-start;
}

.sbb-journey-header {
  @include sbb.font-smoothing;
  @include sbb.title-5($exclude-spacing: true);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--sbb-journey-header-gap);
  width: fit-content;
  color: var(--sbb-title-text-color-normal);

  :host([size='l']) & {
    @include sbb.title-4($exclude-spacing: true);
  }
}

.sbb-journey-header__connection--visually-hidden {
  @include sbb.screen-reader-only;
}
