@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --_icon-spacing-inset: var(--sbb-spacing-fixed-1x);
  --sbb-title-text-color-normal: var(--sbb-color-charcoal-default);
}

.journey-header[id] {
  @include sbb.scroll-margin-block-start;
}

.journey-header {
  @include sbb.font-smoothing;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  color: var(--sbb-title-text-color-normal);

  // Right to left expression
  &[dir='rtl'] {
    .journey-header__icon {
      transform: rotate(-180deg);
    }
  }
}

.journey-header--primary-negative {
  @include sbb.title--negative;
}

.journey-header--size-4 {
  @include sbb.title-4;
}

.journey-header--size-5 {
  @include sbb.title-5;
}

.connection--visually-hidden {
  @include sbb.screen-reader-only;
}

.icon {
  display: flex;
  align-items: center;
  padding-inline: var(--_icon-spacing-inset);

  svg {
    fill: currentcolor;

    @include sbb.if-forced-colors {
      fill: ButtonText;
    }
  }
}
