.timetable__row {
  position: relative;
}

.timetable__row-header {
  display: flex;
  gap: 1rem;
}

::slotted([slot='direction']) {
  @include ellipsis;

  margin: 0;
}

.timetable__row-body,
.timetable__row-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

::slotted([slot='pearlChain']) {
  flex: 1 1 auto;
  align-self: center;
}

::slotted([slot='pearlChain']),
::slotted([slot='walkTimeBefore']),
::slotted([slot='leftTime']),
::slotted([slot='rightTime']),
::slotted([slot='walkTimeAfter']) {
  align-self: center;
}

::slotted([slot='walkTimeBefore']),
::slotted([slot='walkTimeAfter']),
.timetable__row-occupancy li {
  display: inline-flex;
}

::slotted([slot='leftTime']),
::slotted([slot='rightTime']) {
  @include text-m--bold;
}

::slotted([slot='travelHints']),
.timetable__row-occupancy {
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
