:host {
  --row-badge-padding: var(--sbb-spacing-fixed-6x);
}

.timetable__row {
  position: relative;
  overflow: hidden;
}

.timetable__row-header {
  display: flex;
  gap: 1rem;
}

::slotted([slot='direction']) {
  @include ellipsis;

  margin: 0;
}

.timetable__row-body,
.timetable__row-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

::slotted([slot='pearlChain']) {
  flex: 1 1 auto;
  align-self: center;
}

::slotted([slot='pearlChain']),
::slotted([slot='walkTimeBefore']),
::slotted([slot='leftTime']),
::slotted([slot='rightTime']),
::slotted([slot='walkTimeAfter']) {
  align-self: center;
}

::slotted([slot='walkTimeBefore']),
::slotted([slot='walkTimeAfter']),
.timetable__row-occupancy li {
  display: inline-flex;
}

::slotted([slot='leftTime']),
::slotted([slot='rightTime']) {
  @include text-m--bold;
}

::slotted([slot='travelHints']),
.timetable__row-occupancy {
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

.loading {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--sbb-spacing-fixed-2x);
  padding-block-start: var(--row-badge-padding);
  overflow: hidden;
  cursor: progress;
}

.loading__row,
.loading__badge {
  animation: skeleton-pulse 2s linear infinite alternate;
}

.loading__row {
  width: 100%;
  height: #{px-to-rem-build(24)};
  border-radius: #{px-to-rem-build(2)};
}

.loading__row:first-of-type {
  width: 75%;

  @include mq($from: medium) {
    width: 100%;
  }
}

.loading__badge {
  @include card-badge;

  width: 15%;
  height: #{px-to-rem-build(20)};
}

@keyframes skeleton-pulse {
  0% {
    background: var(--sbb-color-milk-default);
  }

  100% {
    background: var(--sbb-color-cloud-default);
  }
}
