// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  position: relative;
  // error height = text line-height
  min-height: calc(var(--sbb-typo-line-height-body-text) * var(--lyne-font-size-text-xs));
  --icon-size: var(--sbb-size-icon-ui-small);
}

// Error
.input-label-error {
  @include text-xs--regular();
  display: flex;
  align-items: center;
  color: var(--sbb-color-red125-default);
  position: absolute;
  top: 0;
  // reserving space for icon
  left: calc(var(--icon-size) + var(--sbb-spacing-fixed-1x));
}

.input-label-error__icon,
svg {
  line-height: var(--icon-size);
  fill: var(--sbb-color-red125-default);
  @include absoluteCenterY;
}
