// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

// Error
::slotted(.input-label-error) {
  @include text-xs--regular();
  display: flex;
  align-items: center;
  color: var(--sbb-color-red125-default);
}

::slotted(.input-label-error__icon) {
  line-height: var(--icon-size);
  margin-inline-end: var(--spacing-fixed-1x);
}

::slotted(.input-label-error__icon svg) {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: currentColor;
}
