// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

// Error
::slotted(.input-label-error) {
  @include text-xs--regular();
  display: flex;
  align-items: center;
  color: var(--color-red125-default);
}

::slotted(.input-label-error__icon) {
  line-height: pxToRem(var(--icon-size));
  margin-inline-end: pxToRem(var(--spacing-fixed-1x));
}

::slotted(.input-label-error__icon svg) {
  width: pxToRem(var(--icon-size));
  height: pxToRem(var(--icon-size));
  fill: currentColor;
}