.sbb-journey-summary {
  @include text-s--regular;

  display: flex;
  flex-direction: column;
}

.sbb-journey-summary__via-block {
  display: flex;
}

.sbb-journey-summary__vias {
  @include ellipsis;

  margin-block-start: 0;
  margin-block-end: var(--sbb-spacing-fixed-1x);
  padding-inline-start: 0;
}

.sbb-journey-summary__via {
  padding-inline-start: var(--sbb-spacing-fixed-1x);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul li {
  list-style: none;
  display: inline;
}
