.journey-summary {
  @include text-s--regular;

  padding: var(--sbb-spacing-responsive-s);
  display: flex;
  flex-direction: column;
}

.journey-summary__via-block {
  display: flex;

  .journey-summary__via-text {
    padding-inline-end: var(--sbb-spacing-fixed-1x);
  }
}

.journey-summary__vias {
  @include ellipsis;

  margin-block-start: 0;
  margin-block-end: var(--sbb-spacing-fixed-1x);
  padding-inline-start: 0;
}

.journey-summary__via {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.journey-summary__transportation-details {
  display: flex;
  flex-direction: row;
  gap: var(--sbb-spacing-fixed-3x);
  align-items: center;

  .journey-summary__pearlchain {
    flex: 1 1 auto;
  }
}

.journey-summary__walktime {
  @include text-xxs--regular;

  align-items: center;
  display: inline-flex;
}

.journey-summary__time {
  @include text-s--bold;
}

ul li {
  list-style: none;
  display: inline;
}

.screenreaderonly {
  @include screenReaderOnly;
}
