@use '../../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-train-formation-wagon-dimension-short: #{sbb.px-to-rem-build(36)};
  --sbb-train-formation-wagon-dimension-long: #{sbb.px-to-rem-build(84)};
  --sbb-train-formation-wagon-width: var(--sbb-train-formation-wagon-dimension-long);
  --sbb-train-formation-wagon-height: var(--sbb-train-formation-wagon-dimension-short);
  --sbb-train-formation-wagon-gap: var(--sbb-spacing-fixed-1x);
  --sbb-train-formation-sector-line-color: light-dark(
    var(--sbb-color-cement),
    var(--sbb-color-smoke)
  );
  --sbb-train-formation-sector-line-width: var(--sbb-border-width-1x);
  --sbb-train-formation-blocked-passage-width: #{sbb.px-to-rem-build(16)};
  --sbb-train-formation-text-color: var(--sbb-color-3);
  --sbb-train-formation-vertical-gap: var(--sbb-spacing-fixed-2x);
  --sbb-train-formation-sector-padding: var(--sbb-spacing-fixed-1x);
  --sbb-train-formation-sector-margin: var(--sbb-spacing-fixed-2x);
  --sbb-train-formation-flex-direction: row;
  --sbb-train-formation-flex-direction-inverted: column;
  --sbb-train-formation-padding: var(--sbb-spacing-fixed-1x);
}

@mixin forced-colors {
  --sbb-train-formation-sector-line-color: CanvasText;
}

@mixin rules {
  sbb-train-formation:has(sbb-train[direction-label]) {
    --sbb-train-formation-reserve-spacing-display: block;
  }

  sbb-train-formation:has(sbb-train-wagon[sector]) {
    --sbb-train-formation-show-sectors-gap: 1;
  }
}
