@use '../../core/styles' as sbb;

:host {
  --_sbb-train-formation-sectors-to-train-gap: calc(
    var(--sbb-train-formation-show-sectors-gap, 0) * var(--sbb-train-formation-vertical-gap)
  );

  display: grid;
  grid-template:
    'start sectors end' auto
    'start trains end' auto / auto 1fr auto;
  position: relative;
  overflow: auto visible;
  row-gap: var(--_sbb-train-formation-sectors-to-train-gap);
  padding-block-end: var(--sbb-train-formation-vertical-gap);
  color: var(--sbb-train-formation-text-color);
  font-size: var(--sbb-text-font-size-xs);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  line-height: var(--sbb-typo-line-height-text);

  // Enable inline padding
  &::before,
  &::after {
    content: '';
    display: block;
    width: var(--sbb-train-formation-scroll-padding);
  }

  &::before {
    grid-area: start;
  }

  &::after {
    grid-area: end;
  }
}

// With scrollable content, the train formation can get focus.
:host(:focus-visible) {
  @include sbb.focus-outline;
}

:host([orientation='vertical']) {
  --sbb-train-formation-wagon-width: var(--sbb-train-formation-wagon-dimension-short);
  --sbb-train-formation-wagon-height: var(--sbb-train-formation-wagon-dimension-long);
  --sbb-train-formation-flex-direction: column;
  --sbb-train-formation-flex-direction-inverted: row;

  grid-template:
    'start start' auto
    'sectors trains' 1fr
    'end end' auto;
  overflow: visible auto;
  padding-block-end: unset;
  padding-inline-end: var(--sbb-train-formation-vertical-gap);
  row-gap: unset;
  column-gap: var(--_sbb-train-formation-sectors-to-train-gap);
  width: fit-content;

  &::before,
  &::after {
    width: auto;
    height: var(--sbb-train-formation-scroll-padding);
  }
}

.sbb-train-formation__sectors {
  display: flex;
  grid-area: sectors;
  gap: var(--sbb-train-formation-wagon-gap);
  flex-direction: var(--sbb-train-formation-flex-direction);
}

.sbb-train-formation__sector {
  --_wagon-sum: var(--sbb-train-formation-wagon-count) *
    var(--sbb-train-formation-wagon-dimension-long);
  --_blocked-passage-sum: var(--sbb-train-formation-wagon-blocked-passage-count) *
    var(--sbb-train-formation-blocked-passage-width);
  --_total-count: calc(
    var(--sbb-train-formation-wagon-count) + var(--sbb-train-formation-wagon-blocked-passage-count)
  );
  --_gap-sum: calc((var(--_total-count) - 1) * var(--sbb-train-formation-wagon-gap));
  --_sector-width: calc(var(--_wagon-sum) + var(--_blocked-passage-sum) + var(--_gap-sum));
  --_sector-line-length: calc(0.5 * var(--_sector-width));

  flex: 0 0 var(--_sector-width);
  display: flex;
  flex-direction: var(--sbb-train-formation-flex-direction);
  justify-content: center;
  overflow: clip visible;

  :host([orientation='vertical']) & {
    overflow: visible clip;
  }
}

.sbb-train-formation__sector-sticky-wrapper {
  position: sticky;
  inset: auto 0;
  padding: 0 var(--sbb-train-formation-sector-padding);
  margin: 0 var(--sbb-train-formation-sector-margin);
  white-space: nowrap;

  :host([orientation='vertical']) & {
    writing-mode: sideways-lr;
    inset: 0 auto;
    padding: var(--sbb-train-formation-sector-padding) 0;
    margin: var(--sbb-train-formation-sector-margin) 0;
  }

  // Lines beside the sector-label
  &::before,
  &::after {
    content: '';
    position: absolute;

    // Exactly center the line by subtracting half of the border width
    inset-block: calc(50% - var(--sbb-train-formation-sector-line-width) / 2);
    border-block-end: var(--sbb-train-formation-sector-line-width) solid
      var(--sbb-train-formation-sector-line-color);
    width: var(--_sector-line-length);

    :host([orientation='vertical']) & {
      width: auto;
      height: var(--_sector-line-length);
    }
  }

  &::before {
    inset-inline-end: 100%;
  }

  &::after {
    inset-inline-start: 100%;
  }
}

.sbb-train-formation__trains {
  grid-area: trains;
}

.sbb-train-formation__train-list {
  @include sbb.list-reset;

  display: flex;
  flex-direction: var(--sbb-train-formation-flex-direction);
  gap: var(--sbb-train-formation-wagon-gap);
}

// Using ... li selector, because the li generation
// is handled in the component base class.
.sbb-train-formation__train-list > :is(li, span) {
  display: inline-flex;
}
