@use '../../core/styles' as sbb;

:host {
  @include sbb.selection-panel-variables;
  @include sbb.selection-panel;

  --sbb-checkbox-panel-suffix-color: var(--sbb-color-charcoal);
  --sbb-checkbox-panel-subtext-color: var(--sbb-color-granite);
}

:host([color='milk']) {
  @include sbb.selection-panel-milk-variables;
}

:host([borderless]:not([data-checked])) {
  @include sbb.selection-panel-borderless-variables;
}

:host([data-checked]:not(:disabled)) {
  @include sbb.selection-panel-checked-variables;
}

:host(:focus-visible) {
  @include sbb.focus-outline;
}

:host(:disabled) {
  @include sbb.selection-panel-disabled-variables;
}

slot[name='suffix'] {
  color: var(--sbb-checkbox-panel-suffix-color);
}

slot[name='subtext'] {
  display: block;
  color: var(--sbb-checkbox-panel-subtext-color);
  padding-inline-start: var(--sbb-spacing-fixed-8x);
}
