@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-tooltip-background-hover: #444;
  --sbb-tooltip-background-active: #5a5a5a;

  display: inline-block;
}

.sbb-tooltip-trigger {
  @include sbb.button-reset;
}

.sbb-tooltip-trigger:hover {
  color: var(--sbb-tooltip-background-hover);
  cursor: pointer;
}

.sbb-tooltip-trigger:active {
  color: var(--sbb-tooltip-background-active);
  cursor: pointer;
}
