@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-tooltip-background-hover: var(--sbb-color-iron-default);
  --sbb-tooltip-background-active: var(--sbb-color-anthracite-default);

  display: inline-block;
}

.sbb-tooltip-trigger {
  @include sbb.button-reset;

  cursor: pointer;
}

.sbb-tooltip-trigger:hover {
  color: var(--sbb-tooltip-background-hover);
}

.sbb-tooltip-trigger:active {
  color: var(--sbb-tooltip-background-active);
}
