@use '../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-journey-header-gap: var(--sbb-spacing-fixed-1x);

  display: block;
}

:host([id]) {
  @include sbb.scroll-margin-block-start;
}

sbb-title {
  // Overwrite sbb-title default margin
  margin: 0;
}

sbb-icon {
  // Avoid layout shift after loading the icon
  min-inline-size: var(--sbb-size-icon-ui-small);
}

.sbb-journey-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: var(--sbb-journey-header-gap);
  inline-size: fit-content;

  &[dir='rtl'] {
    sbb-icon {
      transform: rotate(-180deg);
    }
  }
}
