@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  // Overwrites logo in slotted and default case
  --sbb-logo-height: #{sbb.px-to-rem-build(16)};
  --sbb-header-animation-duration: var(--sbb-animation-duration-4x);
  --sbb-header-position: fixed;
  --sbb-header-translate-y: 0;

  @include sbb.mq($from: medium) {
    --sbb-logo-height: #{sbb.px-to-rem-build(20)};
  }

  // Setting the height here reserves the space for the header which will else be lost with fixed position.
  height: var(--sbb-header-height);
}

:host([data-shadow]) {
  @include sbb.shadow-level-9-soft;
}

:host([hide-on-scroll]) {
  --sbb-header-position: absolute;
}

:host([hide-on-scroll][data-animated]) {
  transition: all var(--sbb-header-animation-duration) var(--sbb-animation-easing);
}

:host([hide-on-scroll][data-fixed-header]) {
  --sbb-header-position: fixed;
  --sbb-header-translate-y: -100%;
}

:host([hide-on-scroll][data-fixed-header][data-visible-header]) {
  --sbb-header-translate-y: 0;
}

.sbb-header {
  position: var(--sbb-header-position);
  inset: 0 0 auto;
  background: var(--sbb-color-white-default);
  z-index: 10;
  transition: box-shadow var(--sbb-header-animation-duration) var(--sbb-animation-easing);
  transform: translateY(var(--sbb-header-translate-y));

  @include sbb.if-forced-colors {
    border-block-end: var(--sbb-border-width-1x) solid CanvasText;
  }
}

.sbb-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--sbb-header-height);

  :host(:not([expanded]:not([expanded='false']))) & {
    @include sbb.page-spacing;
  }

  :host([expanded]:not([expanded='false'])) & {
    @include sbb.page-spacing-expanded;
  }
}

.sbb-header__logo {
  margin-inline-start: auto;
}

// Fix left offset if first element of the header is a sbb-header-action.
// The value of the offset is calculated inside sbb-header-action styles.
.sbb-header__wrapper > ::slotted(sbb-header-action:first-child) {
  margin-inline-start: var(--sbb-header-first-item-margin-inline-start);
}

// Apply padding and outline to possible slotted link in logo slot
::slotted(a[slot='logo']) {
  display: block;
  padding-block: var(--sbb-spacing-fixed-3x);
  position: relative;
  outline: none;
}

// To show the correct outline, we need to span a hidden element filling the link but without the outline-offset.
::slotted(a[slot='logo'])::before {
  content: '';
  display: block;
  position: absolute;
  inset: var(--sbb-spacing-fixed-3x) 0;
}

::slotted(a[slot='logo']:focus-visible)::before {
  @include sbb.focus-outline;

  outline-offset: var(--sbb-spacing-fixed-3x);

  // As if the outline has an offset, the border radius increases, we set it to the smallest possible border-radius.
  border-radius: 0.1px;
}
