// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  display: block;

  --header-height: #{px-to-rem-build(56)}; // fixme
  --logo-width: #{px-to-rem-build(151.33)}; // fixme
  --logo-height: #{px-to-rem-build(16)}; // fixme

  @include mq($from: medium) {
    --header-height: #{px-to-rem-build(96)}; // fixme
    --logo-width: #{px-to-rem-build(189.17)}; // fixme
    --logo-height: #{px-to-rem-build(20)}; // fixme
  }
}

.sbb-header--shadow {
  @include shadow-level-9-soft;
}

.sbb-header {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  padding: 0 var(--sbb-page-base-offset-responsive);
  background: var(--sbb-color-white-default);
  transition: box-shadow var(--sbb-animation-duration-4x) var(--sbb-animation-easing);
}

.sbb-header__wrapper {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: #{px-to-rem-build(56)}; // fixme
  width: 100%;
}

.sbb-header__left {
  display: flex;
}

.sbb-header__right {
  width: var(--logo-width);
  height: var(--logo-height);
  margin-left: var(--sbb-spacing-responsive-s);
}

::slotted(.header-action__container) {
  display: flex;
}
