/* stylelint-disable */
// TODO: solve stylelint issues

@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  @include sbb.card-host-properties;
}

.button {
  @include sbb.card;
  @include sbb.card--primary-negative;
  @include sbb.card--m;

  width: 100%;
  border: 0;
}

.button__inner_wrapper {
  @include sbb.text-s--regular;

  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  align-items: center;
}

// First Level appearances
// ----------------------------------------------
.button--earlier-connections .button__inner_wrapper,
.button--later-connections .button__inner_wrapper {
  justify-content: center;
}

// Second Level appearances
// ----------------------------------------------
sbb-timetable-cus-him,
sbb-timetable-transportation-walk {
  flex: 1 1 auto;
}

button[dir='rtl'] .button__chevron {
  transform: scaleX(-1);
}

.button--walk .button__cta {
  @include sbb.text-xs--regular;

  margin-inline-start: var(--sbb-spacing-fixed-2x);
  margin-inline-end: var(--sbb-spacing-fixed-1x);

  @include sbb.mq($to: micro) {
    @include sbb.screen-reader-only;
  }
}

.button__chevron {
  height: var(--sbb-size-icon-ui-small);
}

/* stylelint-enable */
