@use '../../core/styles' as sbb;

:host {
  display: flex;
  column-gap: var(--sbb-option-hint-column-gap);
  padding-inline: var(--sbb-option-hint-padding-inline);
  padding-block-end: var(--sbb-option-hint-padding-block-end);
  font-size: var(--sbb-option-hint-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
}

:host([negative]) {
  --sbb-option-hint-color: var(--sbb-color-5);
}

.sbb-optgroup__icon-space {
  // Can be overridden by the 'preserve-icon-space' on the autocomplete
  display: var(--sbb-option-icon-container-display, none);
  min-width: var(--sbb-size-icon-ui-small);
}

.sbb-option-hint {
  color: var(--sbb-option-hint-color);
  -webkit-text-fill-color: var(--sbb-option-hint-color);
  flex-grow: 1;
}
