@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

@mixin transition($properties...) {
  transition: {
    duration: var(--sbb-navigation-animation-duration);
    timing-function: var(--sbb-navigation-animation-easing);
    property: $properties;
  }
}

:host {
  --sbb-navigation-grid-column: 1 / 5;
  --sbb-navigation-position: fixed;
  --sbb-navigation-animation-duration: var(--sbb-animation-duration-3x);
  --sbb-navigation-animation-easing: ease-out;
  --sbb-navigation-padding-inline: var(--sbb-layout-base-offset-responsive);
  --sbb-navigation-padding-block-start: var(--sbb-spacing-responsive-l);
  --sbb-navigation-padding-block-end: var(--sbb-spacing-responsive-xl);
  --sbb-navigation-backdrop-color: transparent;
  --sbb-navigation-list-margin-block-start: var(--sbb-spacing-responsive-xxl);
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);
  --sbb-navigation-left: 0;
  --sbb-navigation-width: 100%;

  @include sbb.grid-base;

  column-gap: 0;
  padding-inline: 0;
  position: var(--sbb-navigation-position);
  inset-inline-start: 0;
  inset-block-start: 0;
  pointer-events: none;
  z-index: 10;

  ::slotted(sbb-navigation-list:first-child),
  ::slotted(sbb-navigation-marker:first-child) {
    margin-block-start: var(--sbb-navigation-list-margin-block-start);
  }

  @include sbb.mq($from: medium) {
    --sbb-navigation-grid-column: 1 / 9;
  }

  @include sbb.mq($from: large) {
    --sbb-navigation-grid-column: 1 / 5;
    --sbb-navigation-animation-duration: var(--sbb-animation-duration-4x);
    --sbb-navigation-padding-block-start: var(--sbb-spacing-responsive-xl);
    --sbb-navigation-padding-inline: var(--sbb-layout-base-offset-responsive) 0;
    --sbb-navigation-position: absolute;
    --sbb-navigation-list-margin-block-start: var(--sbb-spacing-fixed-1x);
    --sbb-navigation-left: calc(var(--sbb-layout-base-offset-responsive) * -1);
    --sbb-navigation-width: calc(100% + var(--sbb-layout-base-offset-responsive));

    padding-inline: var(--sbb-layout-base-offset-responsive);

    // Navigation backdrop (not visible on mobile)
    &::before {
      @include transition(background-color, visibility);

      content: '';
      visibility: hidden;
      pointer-events: none;
      position: fixed;
      inset: 0;
      background-color: var(--sbb-navigation-backdrop-color);
    }
  }

  @include sbb.mq($from: ultra) {
    --sbb-navigation-grid-column: 1 / 6;
    --sbb-navigation-padding-block-start: var(--sbb-spacing-responsive-xxl);
  }
}

/* stylelint-disable-next-line plugin/stylelint-bem-namics */
:host(:not(.sbb-navigation-section--closed)) {
  inset: 0;
}

:host(.sbb-navigation--opened),
:host(.sbb-navigation--opening) {
  @include sbb.mq($from: large) {
    --sbb-navigation-backdrop-color: var(--sbb-color-black-alpha-70);

    &::before {
      visibility: visible;
      pointer-events: all;
    }
  }
}

:host([disable-animation]) {
  --sbb-navigation-animation-duration: 0s;
}

.sbb-navigation {
  @include transition(width);

  display: block;
  width: var(--sbb-navigation-width);
  grid-column: var(--sbb-navigation-grid-column);
  padding: 0;
  margin: 0;
  position: var(--sbb-navigation-position);
  visibility: hidden;
  opacity: 0;
  left: var(--sbb-navigation-left);
  top: 0;
  border: none;
  pointer-events: none;
  height: 100vh;
  color: var(--sbb-color-white-default);
  background-color: var(--sbb-color-midnight-default);

  &::before {
    @include transition(width);

    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--sbb-color-midnight-default);

    @include sbb.mq($from: 'large') {
      :host(.sbb-navigation--has-navigation-section) & {
        width: 100vw;
      }
    }
  }

  &[open] {
    visibility: visible;
    opacity: 1;
    pointer-events: all;

    animation: {
      name: open;
      duration: var(--sbb-navigation-animation-duration);
      timing-function: var(--sbb-navigation-animation-easing);
    }
  }

  :host(.sbb-navigation--closing) & {
    pointer-events: none;
    animation-name: close;
  }

  @include sbb.if-forced-colors {
    outline: var(--sbb-border-width-1x) solid CanvasText;
  }
}

.sbb-navigation__wrapper {
  outline: none;
}

.sbb-navigation__header {
  @include transition(width, transform);

  display: flex;
  transform: translateX(-100%);
  justify-content: flex-end;
  grid-column: var(--sbb-navigation-grid-column);
  position: absolute;
  left: var(--sbb-navigation-left);
  width: var(--sbb-navigation-width);
  height: auto;
  pointer-events: none;
  padding: var(--sbb-spacing-responsive-xs);
  z-index: 11;

  :host(.sbb-navigation--opened) &,
  :host(.sbb-navigation--opening) & {
    transform: translateX(0%);
  }

  :host(.sbb-navigation--has-navigation-section) & {
    width: 100vw;
  }
}

.sbb-navigation__close {
  pointer-events: all;
}

.sbb-navigation__content {
  @include transition(transform);
  @include sbb.scrollbar-dark;

  display: flex;
  flex-direction: column;
  gap: var(--sbb-spacing-responsive-xxl);
  position: relative;
  height: 100vh;
  padding-inline: var(--sbb-navigation-padding-inline);
  padding-block-start: var(--sbb-navigation-padding-block-start);
  padding-block-end: var(--sbb-navigation-padding-block-end);
  overflow-y: auto;

  :host(.sbb-navigation--has-navigation-section) & {
    transform: translateX(-100%);
  }

  @include sbb.mq($from: large) {
    :host(.sbb-navigation--has-navigation-section) & {
      transform: translateX(0%);
    }
  }
}

@keyframes open {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes close {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
