@import "mixins/mixins_shadows";
@import "mixins/mixins_spacing";
@import "mixins/mixins_a11y";
@import "mixins/mixins_card";
@import "mixins/mixins_buttons";
@import "mixins/mixins_typo";
@import "mixins/mixins_shadows";
@import "mixins/mixins_grid_layout";

@import "mixins/mixins_dev_and_debug";

@mixin listReset {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
