@use '../../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-link-gap: var(--sbb-spacing-fixed-1x);
  --sbb-link-icon-size: var(--sbb-size-icon-ui-small);
  --sbb-block-link-font-size: #{sbb.theme-pattern-select(
      (
        'standard': var(--sbb-text-font-size-s),
        'lean': var(--sbb-text-font-size-xs),
      ),
      $theme
    )};
}
