@use '../../core/styles' as sbb;

:host {
  @include sbb.block-link-variables;

  display: block;
}

:host([negative]) {
  @include sbb.block-link-variables--negative;
}

:host(.sbb-active) {
  @include sbb.block-link-variables--active;
}

:host(.sbb-active[negative]) {
  @include sbb.block-link-variables--active-negative;
}

:host([size='xs']) {
  --sbb-block-link-font-size: var(--sbb-text-font-size-xs);
}

:host([size='s']) {
  --sbb-block-link-font-size: var(--sbb-text-font-size-s);
}

:host([size='m']) {
  --sbb-block-link-font-size: var(--sbb-text-font-size-m);
}

.sbb-action-base {
  gap: var(--sbb-block-link-gap);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  font-size: var(--sbb-block-link-font-size);
}

.sbb-link__icon {
  position: relative;
  height: calc(var(--sbb-typo-line-height-text) * 1em);
  width: var(--sbb-block-link-icon-size);
  flex: 0 0 auto;
  align-self: start;

  :host(:not(:state(slotted-icon), :state(has-icon-name))) & {
    display: none;
  }

  :host([icon-placement='end']) & {
    order: 2;
  }

  ::slotted([slot='icon']),
  sbb-icon {
    @include sbb.absolute-center-y;
  }
}
