@use '../../core/styles' as sbb;
@use '../link.library.global' as link;

$disabled: '[disabled], :disabled, [disabled-interactive]';

:host {
  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;
}

:host(:state(button)) {
  @include link.variables--button;
}

.sbb-action-base {
  @include link.base;

  display: flex;
  align-items: center;
  width: 100%;
  cursor: var(--sbb-cursor-pointer);
  padding: var(--sbb-link-padding, 0);
  outline: none;

  :host(:is(#{$disabled})) & {
    pointer-events: none;
    cursor: var(--sbb-cursor-default);

    @media (forced-colors: active) {
      color: GrayText;
    }
  }

  // Handle focus on the host (button variant)
  :host(:focus-visible) &,
  // Handle focus on the action (link variant)
  &:focus-visible {
    @include sbb.focus-outline;

    border-radius: calc(var(--sbb-border-radius-4x) - var(--sbb-focus-outline-offset));
  }

  :host(:hover:not(#{$disabled})) & {
    @include link.hover-rules;
  }

  :host(:is(:active, :state(active)):not(#{$disabled})) & {
    // Active definitions have to be after :hover definitions
    @include link.active-rules;
  }
}
