// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: block;

  --element-height: 20;
  --product-icon-width: 59;
  --timetable-row-line-height: var(--element-height);

  /* height: pxToRem(var(--icon-height));
  line-height: pxToRem(var(--icon-height)); */

  background: lime;

}

.transportation-number {
  display: flex;
  flex: 1 1 100%;
  margin: 0;
}

.transportation-number--visual {
  @include text-s--regular();
  display: flex;
  flex: 1 1 100%;
  flex-wrap: nowrap;
  align-items: center;
  height: pxToRem(var(--element-height));
  line-height: pxToRem(19);
  overflow: hidden;
  background: orange;
}

.transportation-number__means_of_transport {
  display: flex;
  height: pxToRem(var(--icon-height));
  width: pxToRem(var(--icon-height));
  margin-inline-end: pxToRem(var(--spacing-fixed-1x));
  overflow: hidden;
}

.transportation-number__means_of_transport svg {
  width: pxToRem(var(--element-height));
}

.transportation-number__product-icon,
.transportation-number__product-text {
  display: flex;
  white-space: nowrap;
  margin-inline-end: pxToRem(var(--spacing-fixed-2x));
}

.transportation-number__product-icon svg {
  width: pxToRem(var(--product-icon-width));
}

.transportation-number__product-text {
  @include text-s--bold();
  line-height: inherit;
}

.transportation-number__direction {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.transportation-number__direction_text {
  @include ellipsis();
}

.transportation-number--visually-hidden {
  @include screenReaderOnly();
}

svg {
  float: left;
  height: pxToRem(var(--element-height));
}


