// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: block;
}

lyne-title {
  margin-block-end: pxToRem(var(--spacing-fixed-3x));
}

.link-list {
  @include listReset();
}

@mixin link-list--horizontal {
  display: flex;
  flex-wrap: wrap;
  column-gap: pxToRem(var(--spacing-fixed-8x));
}

.link-list--horizontal {
  @include link-list--horizontal;
}

.link-list--horizontal-from-large {
  @include mq($from: large) {
    @include link-list--horizontal;
  }
}

::slotted(.link-list__item:not(:last-child)) {
  margin-block-end: pxToRem(var(--spacing-fixed-3x));
}
// Need to be after the ::slotted(.link-list__item:not(:last-child))
// selector due to specificity
.link-list--horizontal ::slotted(.link-list__item) {
  margin-block-end: unset;
}
.link-list--horizontal-from-large ::slotted(.link-list__item) {
  @include mq($from: large) {
    margin-block-end: unset;
  }
}
