// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: block;
}

lyne-title {
  margin-block-end: pxToRem(var(--spacing-fixed-3x));
}

.link-list {
  @include listReset();
}

.link-list--horizontal {
  @include mq($from: large) {
    display: flex;
    flex-wrap: wrap;
    gap: pxToRem(var(--spacing-fixed-8x));
  }
}

::slotted(.link-list__item:not(:last-child)) {
  margin-block-end: pxToRem(var(--spacing-fixed-3x));
}
