@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-toast-z-index: var(--sbb-overlay-z-index);
}

.sbb-toast__overlay-container {
  position: fixed;
  pointer-events: none;
  inset: 0;
  z-index: var(--sbb-toast-z-index);
}

.sbb-toast {
  display: none;

  :host(:not([data-state='closed'])) & {
    display: block;
  }
}
