@use '../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-tooltip-position: absolute;
  --sbb-tooltip-position-x: 0;
  --sbb-tooltip-position-y: 0;
  --sbb-tooltip-max-width: #{sbb.px-to-rem-build(400)};
  --sbb-tooltip-inset: 0 auto auto 0;
  --sbb-tooltip-border-radius: var(--sbb-border-radius-8x);
  --sbb-tooltip-padding: var(--sbb-spacing-fixed-2x) var(--sbb-spacing-fixed-4x);
  --sbb-tooltip-background: var(--sbb-color-midnight);
  --sbb-tooltip-color: var(--sbb-color-white);
  --sbb-tooltip-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-4x)
  );
  --sbb-tooltip-animation-easing: ease-out;
  --sbb-tooltip-transform: translateY(var(--sbb-spacing-fixed-2x));

  display: none;
  border: none;
}

:host([data-state]:not([data-state='closed'])) {
  display: contents;

  --sbb-tooltip-inset: 0;
}

.sbb-tooltip__container {
  position: fixed;
  inset: var(--sbb-tooltip-inset);
  pointer-events: none;
  z-index: var(--sbb-tooltip-z-index, var(--sbb-overlay-default-z-index));
  color: var(--sbb-tooltip-color);
}

.sbb-tooltip {
  @include sbb.shadow-level-5-soft;
  @include sbb.text-xs--regular;

  display: none;
  position: var(--sbb-tooltip-position);
  pointer-events: all;
  top: var(--sbb-tooltip-position-y);

  // bottom: unset;
  left: var(--sbb-tooltip-position-x);

  // right: unset;
  border: none;
  border-radius: var(--sbb-tooltip-border-radius);
  padding: var(--sbb-tooltip-padding);
  max-width: var(--sbb-tooltip-max-width);
  width: max-content;
  background-color: var(--sbb-tooltip-background);
  outline: none;

  :host([data-state]:not([data-state='closed'])) & {
    display: block;

    animation: {
      name: open;
      duration: var(--sbb-tooltip-animation-duration);
      timing-function: var(--sbb-tooltip-animation-easing);
    }
  }

  :host([data-state][data-state='closing']) & {
    pointer-events: none;
    animation: {
      name: close;
      duration: var(--sbb-tooltip-animation-duration);
      timing-function: var(--sbb-tooltip-animation-easing);
    }
  }

  // Transparent area which increases hover area in order to not trigger closing too early.
  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: transparent;

    :host([data-position='below']) & {
      inset-block-start: calc(-1 * var(--sbb-spacing-fixed-4x));
    }

    :host([data-position='above']) & {
      inset-block-end: calc(-1 * var(--sbb-spacing-fixed-4x));
    }
  }
}

@keyframes open {
  from {
    opacity: 0;
    transform: var(--sbb-tooltip-transform);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes close {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: var(--sbb-tooltip-transform);
  }
}
