@use '../../core/styles' as sbb;

:host {
  display: block;

  --sbb-paginator-height: var(--sbb-size-element-m);
  --sbb-paginator-page-color: light-dark(var(--sbb-color-metal), var(--sbb-color-smoke));
  --sbb-paginator-page-background-color: transparent;
  --sbb-paginator-page-border-width: 0;
  --sbb-paginator-page-border-style: none;
  --sbb-paginator-page-border-color: none;
  --sbb-paginator-page-cursor: var(--sbb-cursor-pointer);
  --sbb-paginator-page-inset: 0;
  --sbb-paginator-animation-easing: var(--sbb-animation-easing);
  --sbb-paginator-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-2x)
  );
  --sbb-paginator-justify-content: start;
  --sbb-paginator-wrapping-group-wrap: wrap-reverse;
  --sbb-paginator-wrap: wrap;
}

:host([size='s']) {
  --sbb-paginator-height: var(--sbb-size-element-xs);
}

:host([negative]) {
  --sbb-paginator-page-color: var(--sbb-color-5);
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);
}

:host([pager-position='end']) {
  --sbb-paginator-justify-content: end;
  --sbb-paginator-wrapping-group-wrap: wrap;
  --sbb-paginator-wrap: wrap-reverse;
}

.sbb-paginator,
.sbb-paginator__wrapping-group {
  display: flex;
  gap: var(--sbb-spacing-fixed-3x) var(--sbb-spacing-fixed-6x);
  justify-content: var(--sbb-paginator-justify-content);
}

.sbb-paginator {
  flex-wrap: var(--sbb-paginator-wrap);
  min-height: var(--sbb-paginator-height);
}

.sbb-paginator__wrapping-group {
  flex-wrap: var(--sbb-paginator-wrapping-group-wrap);
}

.sbb-paginator__page-size-options {
  @include sbb.text-s--regular;

  display: flex;
  align-items: center;
  gap: var(--sbb-spacing-fixed-2x);
  white-space: nowrap;
  color: var(--sbb-paginator-page-color);

  // Reapply part of the global form-field css that does not pierce the shadow DOM.
  sbb-select {
    @include sbb.text-m--regular;

    color: var(--sbb-form-field-text-color);
    font-size: var(--sbb-form-field-input-text-size);
    padding-inline-end: var(--sbb-form-field-select-inline-padding-end);
  }
}

.sbb-paginator__pages {
  @include sbb.list-reset;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sbb-spacing-fixed-1x);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.sbb-paginator__page--ellipsis,
.sbb-paginator__page--number {
  @include sbb.text-s--regular;

  position: relative;
  color: var(--sbb-paginator-page-color);
}

.sbb-paginator__page--ellipsis-item,
.sbb-paginator__page--number-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--sbb-size-element-xxs);
  height: var(--sbb-size-element-xxs);
}

.sbb-paginator__page--number-item {
  @include sbb.button-reset;
  @include sbb.text-s--regular;

  position: relative;
  cursor: var(--sbb-paginator-page-cursor);
  outline: none !important;
  color: var(--sbb-paginator-page-color);
  transition: color var(--sbb-paginator-animation-duration) var(--sbb-paginator-animation-easing);

  &::before {
    content: '';
    position: absolute;
    background-color: var(--sbb-paginator-page-background-color);
    border: var(--sbb-paginator-page-border-width) var(--sbb-paginator-page-border-style)
      var(--sbb-paginator-page-border-color);
    border-radius: var(--sbb-border-radius-infinity);
    inset: var(--sbb-paginator-page-inset);
    transition: {
      property: background-color, border, inset;
      duration: var(--sbb-paginator-animation-duration);
      timing-function: var(--sbb-paginator-animation-easing);
    }
  }

  &:focus-visible {
    &::before {
      @include sbb.focus-outline;

      outline-offset: var(--sbb-border-width-2x);
    }
  }

  &[data-selected] {
    @include sbb.text--bold;

    --sbb-paginator-page-color: var(--sbb-color-3);
    --sbb-paginator-page-border-width: var(--sbb-border-width-2x);
    --sbb-paginator-page-border-style: solid;
    --sbb-paginator-page-border-color: var(--sbb-border-color-2);

    :host([negative]) & {
      --sbb-paginator-page-color: var(--sbb-color-3-negative);
      --sbb-paginator-page-border-color: var(--sbb-border-color-2-negative);
    }

    @include sbb.if-forced-colors {
      --sbb-paginator-page-border-color: Highlight !important;
    }
  }

  &:disabled {
    --sbb-paginator-page-color: var(--sbb-color-5);
    --sbb-paginator-page-border-style: dashed;
    --sbb-paginator-page-border-color: var(--sbb-border-color-5);
    --sbb-paginator-page-background-color: var(--sbb-background-color-3);
    --sbb-paginator-page-cursor: var(--sbb-cursor-default);

    &:not([data-selected]) {
      --sbb-paginator-page-border-width: var(--sbb-border-width-1x);
    }

    :host([negative]) & {
      --sbb-paginator-page-color: var(--sbb-color-5);
      --sbb-paginator-page-background-color: var(--sbb-background-color-3-negative);
    }

    @include sbb.if-forced-colors {
      --sbb-paginator-page-border-color: GrayText;
      --sbb-paginator-page-color: GrayText;
      --sbb-paginator-page-background-color: Canvas;
    }
  }

  &:not(:disabled):hover {
    @include sbb.hover-mq($hover: true) {
      --sbb-paginator-page-background-color: var(--sbb-background-color-3);
      --sbb-paginator-page-inset: calc(var(--sbb-border-width-2x) * -1);
      --sbb-paginator-translate-y-content-hover: #{sbb.px-to-rem-build(-1)};

      :host([negative]) & {
        --sbb-paginator-page-background-color: var(--sbb-background-color-3-negative);
      }

      @include sbb.if-forced-colors {
        --sbb-paginator-page-background-color: Highlight !important;
      }
    }
  }

  &:not(:disabled):active {
    --sbb-paginator-page-color: var(--sbb-color-3);
    --sbb-paginator-page-background-color: var(--sbb-background-color-4);
    --sbb-paginator-page-inset: 0;
    --sbb-paginator-translate-y-content-hover: 0;

    :host([negative]) & {
      --sbb-paginator-page-color: var(--sbb-color-3-negative);
      --sbb-paginator-page-background-color: var(--sbb-background-color-4-negative);
    }

    @include sbb.if-forced-colors {
      --sbb-paginator-page-background-color: Highlight !important;
    }
  }
}

.sbb-paginator__page--number-item-label {
  transition: transform var(--sbb-paginator-animation-duration)
    var(--sbb-paginator-animation-easing);
  transform: translateY(var(--sbb-paginator-translate-y-content-hover, #{sbb.px-to-rem-build(0)}));
}

// Needed for the sbb-select
.sbb-screen-reader-only {
  @include sbb.screen-reader-only;
}
