@use '../core/styles' as sbb;

:host {
  --sbb-timetable-occupancy-icon-height: #{sbb.px-to-rem-build(12)};
  --sbb-icon-svg-height: var(--sbb-timetable-occupancy-icon-height);

  @include sbb.mq($from: medium) {
    --sbb-timetable-occupancy-icon-height: #{sbb.px-to-rem-build(16)};
  }

  @include sbb.if-forced-colors-light {
    svg {
      filter: invert(1);
    }
  }
}
