@use '../../core/styles' as sbb;

:host {
  display: block;
}

:host(:first-child) {
  --sbb-optgroup-divider-display: none;
}

:host(:state(negative)) {
  --sbb-optgroup-label-color: var(--sbb-color-5);
}

.sbb-optgroup {
  margin-block: var(--sbb-spacing-fixed-4x);
  margin-inline: var(--sbb-spacing-fixed-4x);
}

.sbb-optgroup__label {
  display: flex;
  column-gap: var(--sbb-spacing-responsive-xxxs);
  font-size: var(--sbb-optgroup-label-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  color: var(--sbb-optgroup-label-color);
  -webkit-text-fill-color: var(--sbb-optgroup-label-color);
  padding-inline: var(--sbb-optgroup-label-padding-inline);
  padding-block-end: var(--sbb-optgroup-label-padding-end);
}

.sbb-optgroup__divider {
  display: var(--sbb-optgroup-divider-display, block);
  padding-block: var(--sbb-options-panel-divider-margin-block);
}

// Align the group label to the option label
.sbb-optgroup__icon-space {
  // Can be overridden by the 'preserve-icon-space' on the autocomplete
  display: var(--sbb-option-icon-container-display, none);
  min-width: var(--sbb-size-icon-ui-small);
}

::slotted(sbb-divider) {
  margin-block: var(--sbb-options-panel-divider-margin-block);
}
