@use '../../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-optgroup-label-color: light-dark(var(--sbb-color-metal), var(--sbb-color-smoke));
  --sbb-optgroup-label-font-size: var(--sbb-text-font-size-xxs);
  --sbb-optgroup-label-padding-end: var(--sbb-spacing-fixed-2x);
  --sbb-optgroup-label-padding-inline: var(--sbb-spacing-responsive-xxxs);
}
