@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-expansion-panel-content-padding-inline-start: 0;
}

// FIXME: token -9x doesn't exist
:host([data-icon-space]) {
  --sbb-expansion-panel-content-padding-inline-start: calc(
    var(--sbb-spacing-fixed-5x) + var(--sbb-spacing-fixed-4x) + var(--sbb-spacing-fixed-4x)
  );
}

.sbb-expansion-panel-content {
  padding-block-start: var(--sbb-spacing-responsive-xs);
  padding-inline-start: var(--sbb-expansion-panel-content-padding-inline-start);
}

.sbb-expansion-panel-content__spacer {
  display: inline-block;
  width: sbb.px-to-rem-build(36); // --sbb-spacing-fixed-9x does not exist
  margin-inline-end: var(--sbb-spacing-fixed-4x);
}
