@use '../core/styles' as sbb;

:host {
  --park-and-rail-icon-height: #{sbb.px-to-rem-build(16)};
  --park-and-rail-icon-width: var(--park-and-rail-icon-height);

  @include sbb.mq($from: medium) {
    --park-and-rail-icon-height: #{sbb.px-to-rem-build(24)};
    --park-and-rail-icon-width: var(--park-and-rail-icon-height);
  }
}

.park-and-rail__icon svg {
  float: inline-start;
  height: var(--park-and-rail-icon-height);
  width: var(--park-and-rail-icon-width);

  @include sbb.if-forced-colors {
    fill: CanvasText;
  }
}
