// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  --_divider-color: var(--sbb-color-cloud-default);
  --_divider-background-color: var(--footer-divider-color, var(--sbb-color-cloud-default));
}

.sbb-divider {
  display: block;
}

.sbb-divider--horizontal {
  border-top: #{px-to-rem-build(1)} solid var(--_divider-color);
}

.sbb-divider--vertical {
  height: 100%;
  border-left: #{px-to-rem-build(1)} solid var(--_divider-color);
}

.sbb-divider--negative {
  border-color: var(--sbb-color-iron-default);
}
