// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

@mixin image-aspect-ratio-1-1 {
  aspect-ratio: 1 / 1;
}

@mixin image-aspect-ratio-16-9 {
  aspect-ratio: 16 / 9;
}

:host {
  --panel-opacity-hover: 1;
}

.teaser-hero {
  position: relative;
  display: block;

  &:focus-visible {
    @include focusOutline;
  }

  &:hover {
    ::slotted([slot='panel']) {
      opacity: 1;
    }
  }
}

.teaser-hero__link-info-text {
  @include screenReaderOnly;
}

.teaser-hero__panel {
  @include absoluteCenterY();
}

::slotted([slot='image']) {
  @include image-aspect-ratio-1-1;
  display: block;
  object-fit: cover;
  width: 100%;

  @include mq($from: small) {
    @include image-aspect-ratio-16-9;
  }
}
