// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  @include panel-variables;

  --teaser-hero-brightness-hover: 1.075;
}

.sbb-teaser-hero {
  position: relative;
  display: block;

  &:focus-visible {
    @include focusOutline;
  }

  @include hover-mq($hover: true) {
    &:hover {
      --panel-background-color: var(--panel-background-color-hover);
      --teaser-hero-brightness: var(--teaser-hero-brightness-hover);
    }
  }
}

.sbb-teaser-hero__panel {
  @include panel;
  @include absoluteCenterY;

  z-index: 1;
}

.sbb-teaser-hero__panel-text {
  @include panel-text;
}

.sbb-teaser-hero__panel-link {
  @include fontSmoothing;
}

.sbb-teaser-hero__opens-in-new-window {
  @include screenReaderOnly;
}

::slotted([slot='image']),
sbb-image {
  filter: brightness(var(--teaser-hero-brightness, 1));
  transition: filter var(--panel-animation-duration) var(--panel-animation-easing);
}
