@use '../../core/styles' as sbb;

:host {
  aspect-ratio: var(--sbb-logo-aspect-ratio);
}

:host([protective-room='minimal']) {
  --sbb-logo-aspect-ratio: 502 / 96;
  --sbb-logo-svg-container-height: 50%; // 48/96 Adapted from Figma
}

:host([protective-room='ideal']) {
  --sbb-logo-aspect-ratio: 550 / 144;
  --sbb-logo-svg-container-height: calc(48 / 144 * 100%);
}
