@use '../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-map-container-map-height-zero: #{sbb.px-to-rem-build(295)};
  --sbb-map-container-map-height-small: #{sbb.px-to-rem-build(320)};
  --sbb-map-container-sidebar-width: #{sbb.px-to-rem-build(400)};
  --sbb-map-container-sidebar-background-color: var(--sbb-background-color-1);
  --sbb-map-container-border-radius: var(--sbb-border-radius-4x);
}

@mixin base-breakpoint-ultra {
  --sbb-map-container-sidebar-width: #{sbb.px-to-rem-build(480)};
}
