@include host-component-properties;

@mixin dot {
  border-radius: 100%;
  border-color: var(--sbb-color-white-default);
  position: relative;
  z-index: 2;
  height: var(--sbb-pearl-chain-vertical-item-dot-size);
  width: var(--sbb-pearl-chain-vertical-item-dot-size);
}

@mixin dot--transfer {
  @include dot;

  background-color: transparent;
  z-index: 2;

  @include ifForcedColors {
    .pearl-chain--past & {
      border-color: GrayText;
    }
  }
}

:host {
  display: table-row;
  position: relative;

  --sbb-pearl-chain-vertical-item-dot-size-ultra: var(--sbb-spacing-fixed-3x);
  --sbb-pearl-chain-vertical-item-dot-size-large: #{px-to-rem-build(10)};
  --sbb-pearl-chain-vertical-item-dot-size-medium: var(--sbb-spacing-fixed-2x);
  --sbb-pearl-chain-vertical-item-dot-size-small: #{px-to-rem-build(7)};
  --sbb-pearl-chain-vertical-item-dot-size-extra-small: #{px-to-rem-build(6)};
  --sbb-pearl-chain-vertical-item-dot-size: var(--sbb-pearl-chain-vertical-item-dot-size-small);
  --sbb-pearl-chain-vertical-item-bullet-border-width: var(--sbb-border-width-2x);
  --sbb-pearl-chain-vertical-item-border-width: var(--sbb-border-width-2x);
  --sbb-pearl-chain-vertical-item-border-width-thin: var(--sbb-border-width-1x);
  --sbb-pearl-chain-vertical-item-spacing-small: var(--sbb-spacing-fixed-1x);
  --sbb-pearl-chain-vertical-item-spacing-medium: var(--sbb-spacing-fixed-4x);
  --sbb-pearl-chain-vertical-item-color-white: var(--sbb-color-white-default);
  --sbb-pearl-chain-vertical-item-color-default: var(--sbb-color-charcoal-default);
  --sbb-pearl-chain-vertical-item-color-red: var(--sbb-color-red-default);
  --sbb-pearl-chain-vertical-item-color-red-dark: var(--sbb-color-red150-default);
  --sbb-pearl-chain-vertical-item-color-metal: var(--sbb-color-metal-default);
  --sbb-pearl-chain-vertical-item-color-sky: #0079c7;
  --sbb-pearl-chain-vertical-item-inline-start: 50%;
  --sbb-pearl-chain-vertical-item-transform: translateX(-50%);
}

.sbb-pearl-chain-vertical-item-position__dot--disable-animation {
  animation: unset !important;
}

.sbb-pearl-chain-vertical-item__dot-size--small {
  --sbb-pearl-chain-vertical-item-dot-size: var(--sbb-pearl-chain-vertical-item-dot-size-small);

  inset-inline-start: var(--sbb-pearl-chain-vertical-item-inline-start);
  transform: var(--sbb-pearl-chain-vertical-item-transform);
}

.sbb-pearl-chain-vertical-item__dot-size--medium {
  --sbb-pearl-chain-vertical-item-dot-size: var(--sbb-pearl-chain-vertical-item-dot-size-medium);

  inset-inline-start: var(--sbb-pearl-chain-vertical-item-inline-start);
  transform: var(--sbb-pearl-chain-vertical-item-transform);
}

.sbb-pearl-chain-vertical-item__dot-size--large {
  --sbb-pearl-chain-vertical-item-dot-size: var(--sbb-pearl-chain-vertical-item-dot-size-large);

  inset-inline-start: var(--sbb-pearl-chain-vertical-item-inline-start);
  transform: var(--sbb-pearl-chain-vertical-item-transform);
}

.sbb-pearl-chain-vertical-item__dot-size--ultra {
  --sbb-pearl-chain-vertical-item-dot-size: var(--sbb-pearl-chain-vertical-item-dot-size-ultra);
}

.sbb-pearl-chain-vertical-item__dot-size--extra-small {
  margin-inline-start: calc(
    var(--sbb-pearl-chain-vertical-item-dot-size-extra-small) / 2 -
      var(--sbb-pearl-chain-vertical-item-bullet-border-width)
  );
  inset-block-start: calc(
    var(--sbb-pearl-chain-vertical-item-dot-size-extra-small) / 2 -
      var(--sbb-pearl-chain-vertical-item-bullet-border-width)
  );

  --sbb-pearl-chain-vertical-item-dot-size: var(
    --sbb-pearl-chain-vertical-item-dot-size-extra-small
  );
}

.sbb-pearl-chain-vertical-item__line {
  position: absolute;
  bottom: 0;
  flex: 1 1 0%;
  inset-inline-start: var(--sbb-pearl-chain-vertical-item-inline-start);
  transform: var(--sbb-pearl-chain-vertical-item-transform);
  width: var(--sbb-border-width-2x);
  inset-block-start: var(--sbb-pearl-chain-vertical-item-dot-size);

  &::after {
    content: '';
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    height: var(--sbb-pearl-chain-vertical-item-leg-status);
    width: var(--sbb-pearl-chain-vertical-item-border-width);
    background-color: var(--sbb-pearl-chain-vertical-item-color-metal);
  }
}

.sbb-pearl-chain-vertical-item-position__dot {
  @include dot;

  --sbb-pearl-chain-vertical-item-dot-size: var(--sbb-pearl-chain-vertical-item-dot-size-large);

  inset-block-start: var(--sbb-pearl-chain-vertical-item-position);
  position: absolute;
  animation: pulse 2800ms var(--sbb-animation-easing) infinite;
  border: var(--sbb-pearl-chain-vertical-item-border-width) currentcolor;
  border-color: var(--sbb-pearl-chain-vertical-item-color-red);
  background-color: var(--sbb-pearl-chain-vertical-item-color-red);
  inset-inline-start: var(--sbb-pearl-chain-vertical-item-inline-start);
  transform: var(--sbb-pearl-chain-vertical-item-transform);
}

.sbb-pearl-chain-vertical-item__line--dotted {
  background-color: unset;
  border-color: unset;
  background-image: linear-gradient(
    to bottom,
    currentcolor 0%,
    currentcolor 50%,
    var(--sbb-pearl-chain-vertical-item-color-white) 50%
  );
  background-repeat: repeat-y;
  background-size: calc(2 * var(--sbb-pearl-chain-vertical-item-spacing-small))
    var(--sbb-pearl-chain-vertical-item-spacing-small);
}

.sbb-pearl-chain-vertical-item__line--thin {
  width: var(--sbb-pearl-chain-vertical-item-border-width-thin);
}

.sbb-pearl-chain-vertical-item__dot--standard {
  @include dot;

  border: var(--sbb-pearl-chain-vertical-item-border-width) currentcolor;
}

.sbb-pearl-chain-vertical-item__dot--thick-bullet {
  @include dot--transfer;

  border: var(--sbb-pearl-chain-vertical-item-bullet-border-width) solid currentcolor;
  background-color: var(--sbb-pearl-chain-vertical-item-color-white) !important;
}

.sbb-pearl-chain-vertical-item__dot--thin-bullet {
  @include dot--transfer;

  --sbb-pearl-chain-vertical-item-bullet-border-width: var(
    --sbb-pearl-chain-vertical-item-border-width-thin
  );

  border: var(--sbb-pearl-chain-vertical-item-bullet-border-width) solid currentcolor;
  background-color: var(--sbb-pearl-chain-vertical-item-color-white) !important;
}

.sbb-color--charcoal {
  background-color: var(--sbb-pearl-chain-vertical-item-color-default);
  border-color: var(--sbb-pearl-chain-vertical-item-color-default);
  color: var(--sbb-pearl-chain-vertical-item-color-default);
}

.sbb-color--red {
  border-color: var(--sbb-pearl-chain-vertical-item-color-red);
  background-color: var(--sbb-pearl-chain-vertical-item-color-red);
  color: var(--sbb-pearl-chain-vertical-item-color-red);
}

.sbb-color--metal {
  border-color: var(--sbb-pearl-chain-vertical-item-color-metal);
  background-color: var(--sbb-pearl-chain-vertical-item-color-metal);
  color: var(--sbb-pearl-chain-vertical-item-color-metal);
}

.sbb-color--sky {
  border-color: var(--sbb-pearl-chain-vertical-item-color-sky);
  background-color: var(--sbb-pearl-chain-vertical-item-color-sky);
  color: var(--sbb-pearl-chain-vertical-item-color-sky);
}

.sbb-pearl-chain-vertical-item__column {
  display: table-cell;
  position: relative;
  vertical-align: top;
}

.sbb-pearl-chain-vertical-item__column--right {
  width: var(--sbb-pearl-chain-vertical-right-item-width, 100%);
}

.sbb-pearl-chain-vertical-item__column--middle {
  width: var(
    --sbb-pearl-chain-vertical-middle-item-width,
    --sbb-pearl-chain-vertical-item-dot-size
  );
}

slot[name='left']::slotted(*) {
  margin-block-start: var(--sbb-pearl-chain-vertical-left-item-block-start);
  padding-inline-end: var(--sbb-pearl-chain-vertical-left-item-inline-end);
}

slot[name='right']::slotted(*) {
  margin-block-start: var(--sbb-pearl-chain-vertical-right-item-block-start);
  padding-inline-start: var(--sbb-pearl-chain-vertical-right-item-inline-start);
}

.sbb-pearl-chain-vertical-item__middle {
  vertical-align: top;
  border-spacing: 0;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--sbb-color-red);
  }

  50% {
    box-shadow: 0 0 0 #{px-to-rem-build(4)} var(--sbb-color-red-alpha-20);
  }

  100% {
    box-shadow: 0 0 0 0 var(--sbb-color-red);
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(1);
  }
}
