@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  @include sbb.dot-variables;

  display: table-row;
  position: relative;

  --sbb-pearl-chain-vertical-right-item-width: 100%;
  --sbb-pearl-chain-vertical-item-border-width: var(--sbb-border-width-2x);
  --sbb-pearl-chain-vertical-item-border-width-thin: var(--sbb-border-width-1x);
  --sbb-pearl-chain-vertical-item-spacing-small: var(--sbb-spacing-fixed-1x);
  --sbb-pearl-chain-vertical-item-spacing-medium: var(--sbb-spacing-fixed-4x);
  --sbb-pearl-chain-vertical-item-color-white: var(--sbb-color-white-default);
  --sbb-pearl-chain-vertical-item-color-default: var(--sbb-color-charcoal-default);
  --sbb-pearl-chain-vertical-item-color-red: var(--sbb-color-red-default);
  --sbb-pearl-chain-vertical-item-color-red-dark: var(--sbb-color-red150-default);
  --sbb-pearl-chain-vertical-item-color-metal: var(--sbb-color-metal-default);
  --sbb-pearl-chain-vertical-item-color-sky: #0079c7;
  --sbb-pearl-chain-vertical-item-inline-start: 50%;
  --sbb-pearl-chain-vertical-item-transform: translateX(-50%);
}

.sbb-pearl-chain-vertical-item__dot {
  position: relative;
  inset-inline-start: var(--sbb-pearl-chain-vertical-item-inline-start);
  transform: var(--sbb-pearl-chain-vertical-item-transform);
}

.sbb-pearl-chain-vertical-item-position__dot--disable-animation {
  animation: unset !important;
}

.sbb-pearl-chain-vertical-item__dot-size--xs {
  @include sbb.dot--xs;
}

.sbb-pearl-chain-vertical-item__dot-size--s {
  @include sbb.dot--s;
}

.sbb-pearl-chain-vertical-item__dot-size--m {
  @include sbb.dot--m;
}

.sbb-pearl-chain-vertical-item__dot-size--l {
  @include sbb.dot--l;
}

.sbb-pearl-chain-vertical-item__dot-size--xl {
  @include sbb.dot--xl;
}

.sbb-pearl-chain-vertical-item__dot-size--xs.sbb-pearl-chain-vertical-item__dot--crossed-bullet,
.sbb-pearl-chain-vertical-item__dot-size--s.sbb-pearl-chain-vertical-item__dot--crossed-bullet {
  @include sbb.dot-crossed-bullet--s;
}

.sbb-pearl-chain-vertical-item__dot-size--m.sbb-pearl-chain-vertical-item__dot--crossed-bullet {
  @include sbb.dot-crossed-bullet;
}

.sbb-pearl-chain-vertical-item__dot-size--l.sbb-pearl-chain-vertical-item__dot--crossed-bullet,
.sbb-pearl-chain-vertical-item__dot-size--xl.sbb-pearl-chain-vertical-item__dot--crossed-bullet {
  @include sbb.dot-crossed-bullet--xl;
}

.sbb-pearl-chain-vertical-item__line {
  position: absolute;
  bottom: 0;
  flex: 1 1 0%;
  inset-inline-start: var(--sbb-pearl-chain-vertical-item-inline-start);
  transform: var(--sbb-pearl-chain-vertical-item-transform);
  width: var(--sbb-border-width-2x);
  inset-block-start: calc(var(--dot-size) / 2);

  &::after {
    content: '';
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    height: var(--sbb-pearl-chain-vertical-item-leg-status);
    width: var(--sbb-pearl-chain-vertical-item-border-width);
    background-color: var(--sbb-pearl-chain-vertical-item-color-metal);
  }
}

.sbb-pearl-chain-vertical-item-position__dot {
  @include sbb.dot-position;
  @include sbb.absolute-center-x;

  inset-block-start: var(--sbb-pearl-chain-vertical-item-position);
}

.sbb-pearl-chain-vertical-item__line--dotted {
  background-color: unset;
  border-color: unset;
  background-image: linear-gradient(
    to bottom,
    currentcolor 0%,
    currentcolor 50%,
    var(--sbb-pearl-chain-vertical-item-color-white) 50%
  );
  background-repeat: repeat-y;
  background-size: calc(2 * var(--sbb-pearl-chain-vertical-item-spacing-small))
    var(--sbb-pearl-chain-vertical-item-spacing-small);
}

.sbb-pearl-chain-vertical-item__line--thin {
  width: var(--sbb-pearl-chain-vertical-item-border-width-thin);
}

.sbb-pearl-chain-vertical-item__dot--standard {
  @include sbb.dot;
}

.sbb-pearl-chain-vertical-item__dot--thick-bullet {
  @include sbb.dot-transfer;
}

.sbb-pearl-chain-vertical-item__dot--thin-bullet {
  @include sbb.dot-thin-bulett;
}

.sbb-pearl-chain-vertical-item__dot--double-bullet {
  @include sbb.dot-double-bullet;
}

.sbb-color--charcoal {
  background-color: var(--sbb-pearl-chain-vertical-item-color-default);
  border-color: var(--sbb-pearl-chain-vertical-item-color-default);
  color: var(--sbb-pearl-chain-vertical-item-color-default);
}

.sbb-color--red {
  border-color: var(--sbb-pearl-chain-vertical-item-color-red);
  background-color: var(--sbb-pearl-chain-vertical-item-color-red);
  color: var(--sbb-pearl-chain-vertical-item-color-red);
}

.sbb-color--metal {
  border-color: var(--sbb-pearl-chain-vertical-item-color-metal);
  background-color: var(--sbb-pearl-chain-vertical-item-color-metal);
  color: var(--sbb-pearl-chain-vertical-item-color-metal);
}

.sbb-color--sky {
  border-color: var(--sbb-pearl-chain-vertical-item-color-sky);
  background-color: var(--sbb-pearl-chain-vertical-item-color-sky);
  color: var(--sbb-pearl-chain-vertical-item-color-sky);
}

.sbb-pearl-chain-vertical-item__column {
  display: table-cell;
  position: relative;
  vertical-align: top;
}

.sbb-pearl-chain-vertical-item__column--right {
  width: var(--sbb-pearl-chain-vertical-right-item-width);
}

.sbb-pearl-chain-vertical-item__column--middle {
  width: var(--sbb-pearl-chain-vertical-middle-item-width, --dot-size);
}

slot[name='left']::slotted(*) {
  margin-block-start: var(--sbb-pearl-chain-vertical-left-item-block-start);
  padding-inline-end: var(--sbb-pearl-chain-vertical-left-item-inline-end);
}

slot[name='right']::slotted(*) {
  margin-block-start: var(--sbb-pearl-chain-vertical-right-item-block-start);
  padding-inline-start: var(--sbb-pearl-chain-vertical-right-item-inline-start);
}

.sbb-pearl-chain-vertical-item__middle {
  vertical-align: top;
  border-spacing: 0;
}
