@use '../../global/styles' as sbb;

:host {
  --walk-icon-height: #{sbb.px-to-rem-build(24)};
  --walk-icon-width: var(--walk-icon-height);
}

.walk {
  display: flex;
  align-items: center;
  @include sbb.text-s--regular;

  margin: 0;
  pointer-events: all;
  cursor: help;
}

.walk--departure {
  margin-inline-end: var(--sbb-spacing-fixed-2x);
}

.walk--arrival {
  margin-inline-start: var(--sbb-spacing-fixed-2x);
}

.walk__text--visually-hidden {
  @include sbb.screen-reader-only;
}

.walk__icon {
  width: #{sbb.px-to-rem-build(10)};
  margin-inline-end: var(--sbb-spacing-fixed-1x);
}

.walk--second-level {
  @include sbb.text-xs--regular;

  cursor: pointer;
}

.walk--second-level .walk__duration--visual {
  order: -1;
  margin-inline-start: 0;
  margin-inline-end: var(--sbb-spacing-fixed-3x);
}

.walk--second-level .walk__icon {
  margin-inline-end: var(--sbb-spacing-fixed-2x);
}

.walk__icon svg {
  float: left;
  height: var(--walk-icon-height);
  width: var(--walk-icon-width);
  transform: translateX(#{sbb.px-to-rem-build(-7)});

  @include sbb.if-forced-colors {
    fill: CanvasText;
  }
}
