@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  display: block;

  --sbb-train-direction-label-spacing: var(--sbb-spacing-fixed-1x);
}

.sbb-train {
  display: flex;
  flex-direction: column;
  gap: var(--sbb-train-formation-vertical-gap);
}

.sbb-train__wagons {
  @include sbb.list-reset;

  display: flex;
  gap: var(--sbb-train-formation-wagon-gap);
}

.sbb-train__direction-heading {
  @include sbb.text-xs--regular;

  display: flex;
}

.sbb-train__direction-sticky-wrapper {
  position: sticky;
  inset-inline-start: 0;
  display: inline-flex;
  align-items: center;
  gap: var(--sbb-train-direction-label-spacing);
}

.sbb-train__direction-label {
  @include sbb.ellipsis;
}

.sbb-train__direction-label-sr {
  @include sbb.screen-reader-only;
}

.sbb-train__direction-placeholder {
  display: var(--sbb-train-formation-reserve-spacing-display, none);
  height: var(--sbb-size-icon-ui-small);
}
