@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  display: block;

  --sbb-train-direction-spacing: var(--sbb-spacing-fixed-4x);
  --sbb-train-direction-label-padding: var(--sbb-spacing-fixed-1x);
  --sbb-train-direction-station-padding: var(--sbb-spacing-fixed-3x);
  --sbb-train-direction-line-width: var(--sbb-border-width-1x);
  --sbb-train-direction-line-color: var(--sbb-color-smoke);
  --sbb-train-direction-label-color: var(--sbb-color-metal);
  --sbb-train-direction-label-background: var(--sbb-color-white);

  // Static value from design specs
  --sbb-train-direction-indicator-end-height: #{sbb.px-to-rem-build(12)};

  // Evaluate offset for the arrow-icon because 50% offset will cause a cut off of
  // the arrow-top on the overflowing edge
  --sbb-train-direction-indicator-arrow-offset-end: #{sbb.px-to-rem-build(9)};
  --sbb-train-direction-indicator-arrow-offset-start: calc(
    var(--sbb-train-direction-indicator-arrow-offset-end) * -1
  );

  @include sbb.if-forced-colors {
    --sbb-train-direction-line-color: CanvasText;
  }
}

.sbb-train {
  display: flex;
  flex-direction: column;
  position: relative;
  block-size: 100%;
}

.sbb-train__wagons {
  @include sbb.list-reset;

  display: flex;
  gap: var(--sbb-train-formation-wagon-gap);
}

.sbb-train__direction {
  @include sbb.text-s--regular;

  padding-block-start: var(--sbb-train-direction-spacing);
  margin-block: auto var(--sbb-train-direction-spacing);
  display: flex;
  position: relative;
  inline-size: 100%;
}

.sbb-train__direction-heading {
  z-index: 1;
  display: flex;
  position: sticky;
  inset-block: auto;
  inset-inline: 0;
  flex-direction: column;
  inline-size: 100%;
  max-inline-size: var(--sbb-train-direction-width);
  margin: 0;
  color: var(--sbb-train-direction-label-color);
  font-size: inherit;
  font-weight: inherit;
}

.sbb-train__direction-indicator {
  z-index: 0;
  position: absolute;
  inset-block-start: calc(
    ((0.5em * var(--sbb-typo-line-height-body-text))) + var(--sbb-train-direction-spacing)
  );
  inset-inline: 0;
  block-size: var(--sbb-train-direction-line-width);
  background-color: var(--sbb-train-direction-line-color);
}

.sbb-train__direction-arrow {
  color: var(--sbb-train-direction-line-color);

  :host([direction='right']) & {
    transform: translateX(var(--sbb-train-direction-indicator-arrow-offset-end));
    order: 1;
  }

  :host([direction='left']) & {
    transform: translateX(var(--sbb-train-direction-indicator-arrow-offset-start));
  }
}

.sbb-train__sticky-wrapper {
  position: sticky;
  inset-block: auto;
  inset-inline: 0;
  inline-size: 100%;
  max-inline-size: var(--sbb-train-direction-width);
  block-size: var(--sbb-train-direction-line-width);
  display: flex;
  align-items: center;
  justify-content: space-between;

  // Direction indicator end-shape
  &::after {
    content: '';
    inline-size: var(--sbb-train-direction-line-width);
    block-size: var(--sbb-train-direction-indicator-end-height);
    background-color: var(--sbb-train-direction-line-color);
    display: block;
  }
}

.sbb-train__direction-label,
.sbb-train__direction-station {
  margin-block: 0;
  margin-inline: auto;
}

.sbb-train__direction-label {
  padding-block: 0;
  padding-inline: var(--sbb-train-direction-label-padding);
  background-color: var(--sbb-train-direction-label-background);
}

.sbb-train__direction-station {
  @include sbb.text-xxs--regular;

  max-inline-size: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-block: 0;
  padding-inline: var(--sbb-train-direction-station-padding);
}

.sbb-train__direction-label-sr {
  @include sbb.screen-reader-only;
}
