@use '../core/styles' as sbb;
@use 'sass:color';
@use 'node_modules/@sbb-esta/lyne-design-tokens/dist/scss/sbb-variables.scss' as sbb-tokens;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

// Open/Close animation vars
$open-anim-margin-from: 0;
$open-anim-margin-to: var(--sbb-notification-margin, 0);
$open-anim-opacity-from: 0;
$open-anim-opacity-to: 1;
$open-anim-height-from: 0;
$open-anim-height-to: calc(
  var(--sbb-notification-height) + (var(--sbb-notification-border-width) * 2)
);

:host {
  --sbb-notification-margin: 0;
  --sbb-notification-padding-block: var(--sbb-spacing-responsive-xxs);
  --sbb-notification-padding-inline: var(--sbb-spacing-responsive-xs);
  --sbb-notification-color: var(--sbb-color-charcoal);
  --sbb-notification-icon-color: var(--sbb-notification-type-color);
  --sbb-notification-icon-margin-block-start: 0;
  --sbb-notification-border-width: var(--sbb-border-width-1x);
  --sbb-notification-border: var(--sbb-notification-border-width) solid
    var(--sbb-notification-type-color);
  --sbb-notification-base-radius: var(--sbb-border-radius-4x);
  --sbb-notification-border-radius: calc(var(--sbb-notification-base-radius) / 2)
    var(--sbb-notification-base-radius) var(--sbb-notification-base-radius)
    calc(var(--sbb-notification-base-radius) / 2);
  --sbb-notification-animation-duration: var(
    --sbb-disable-animation-zero-duration,
    var(--sbb-animation-duration-4x)
  );
  --sbb-notification-timing-function: ease-in;
  --sbb-notification-content-padding-inline: var(--sbb-spacing-responsive-xxxs)
    var(--sbb-spacing-responsive-xs);

  // As the notification has always a light background, we have to fix the focus outline color
  // to default color for cases where the notification is used in a negative context.
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-default);

  display: block;
}

// By default, the open animation is disabled
:host([data-state='opening']:not([animation='open'], [animation='all'])) {
  @include sbb.disable-animation;
}

:host([data-state='closing']:not([animation='close'], [animation='all'])) {
  @include sbb.disable-animation;
}

:host([data-resize-disable-animation]) {
  @include sbb.disable-animation;
}

// Types

:host([type='info']) {
  --sbb-notification-type-color: var(--sbb-color-smoke);
  --sbb-notification-type-color-sass: #{color.mix(sbb-tokens.$sbb-color-smoke, white, 5%)};
  --sbb-notification-icon-color: var(--sbb-notification-color);
}

:host([type='success']) {
  --sbb-notification-type-color: var(--sbb-color-green);
  --sbb-notification-type-color-sass: #{color.mix(sbb-tokens.$sbb-color-green, white, 5%)};
}

:host([type='warn']) {
  --sbb-notification-type-color: var(--sbb-color-peach);
  --sbb-notification-type-color-sass: #{color.mix(sbb-tokens.$sbb-color-peach, white, 5%)};
  --sbb-notification-icon-color: var(--sbb-notification-color);
}

:host([type='error']) {
  --sbb-notification-type-color: var(--sbb-color-red);
  --sbb-notification-type-color-sass: #{color.mix(sbb-tokens.$sbb-color-red, white, 5%)};
}

:host([size='s']) {
  --sbb-notification-padding-block: var(--sbb-spacing-responsive-xxxs);
  --sbb-notification-padding-inline: var(--sbb-spacing-responsive-xxs)
    var(--sbb-spacing-responsive-xxxs);
  --sbb-notification-content-padding-inline: var(--sbb-spacing-responsive-xxxs)
    var(--sbb-spacing-responsive-xxs);
}

@include sbb.mq($from: small) {
  :host {
    --sbb-notification-icon-margin-block-start: calc(
      ((1em * var(--sbb-typo-line-height-body-text)) - var(--sbb-size-icon-ui-small)) / 2
    );
  }

  :host(:where([data-slot-names~='title'], [title-content])) {
    --sbb-notification-icon-margin-block-start: calc(
      (
          (var(--sbb-font-size-title-5) * var(--sbb-typo-line-height-body-text)) - var(
              --sbb-size-icon-ui-small
            )
        ) / 2
    );
  }

  :host([size='s']) {
    --sbb-notification-padding-inline: var(--sbb-spacing-responsive-xxs);
    --sbb-notification-icon-margin-block-start: 0;
  }
}

.sbb-notification__wrapper {
  position: relative;
  inset-inline-start: calc(
    var(--sbb-notification-base-radius) - var(--sbb-notification-border-width)
  );
  width: calc(
    100% - calc(var(--sbb-notification-base-radius) - var(--sbb-notification-border-width))
  );
  border: var(--sbb-notification-border);
  border-radius: var(--sbb-notification-border-radius);
  opacity: #{$open-anim-opacity-from};
  max-height: #{$open-anim-height-from};
  margin: #{$open-anim-margin-from};

  &::before {
    content: '';
    position: absolute;
    inset: calc(var(--sbb-notification-border-width) * -1) var(--sbb-notification-base-radius)
      calc(var(--sbb-notification-border-width) * -1) calc(var(--sbb-notification-base-radius) * -1);
    background-color: var(--sbb-notification-type-color);
    border: var(--sbb-notification-border);
    border-radius: var(--sbb-notification-base-radius);
  }

  :host(:is([data-state='opened'], [data-state='closing'])) & {
    opacity: #{$open-anim-opacity-to};
    max-height: #{$open-anim-height-to};
    margin: #{$open-anim-margin-to};
  }

  :host([data-state='opening']) & {
    animation: {
      name: open;
      fill-mode: forwards;
      duration: var(--sbb-notification-animation-duration);
      timing-function: var(--sbb-notification-timing-function);
    }
  }

  :host([data-state='closing']) & {
    animation: {
      name: close, close-height;
      fill-mode: forwards;
      duration: var(--sbb-notification-animation-duration);
      timing-function: var(--sbb-notification-timing-function);
      delay: 0s, var(--sbb-disable-animation-zero-duration, var(--sbb-animation-duration-2x));
    }
  }
}

.sbb-notification {
  @include sbb.text-s--regular;

  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-block: var(--sbb-notification-padding-block);
  padding-inline: var(--sbb-notification-padding-inline);
  color: var(--sbb-notification-color);
  border-radius: var(--sbb-notification-border-radius);
  overflow: hidden;

  // We apply SASS calculated background color as default/fallback for older browsers.
  background-color: var(--sbb-notification-type-color-sass);

  // If supported, try to mix color with CSS
  @supports (background-color: color-mix(in srgb, transparent 5%, white)) {
    background-color: color-mix(in srgb, var(--sbb-notification-type-color) 5%, white);
  }

  @include sbb.mq($from: small) {
    grid-template-columns: auto 1fr auto;
    align-items: flex-start;
  }

  :host([size='s']) & {
    @include sbb.text-xs--regular;
  }
}

.sbb-notification__icon {
  color: var(--sbb-notification-icon-color);
  margin-block-start: var(--sbb-notification-icon-margin-block-start);

  // This is an undocumented feature for sbb.ch, to have the ability to hide the icon.
  --sbb-icon-svg-width: var(--sbb-notification-icon-size);
}

.sbb-notification__title {
  // Overwrite sbb-title default margin
  margin: 0;

  :host(:not([data-slot-names~='title'], [title-content])) & {
    display: none;
  }
}

.sbb-notification__content {
  order: 3;
  grid-area: 2 / 1 / 3 / 3;
  margin-block-start: var(--sbb-spacing-fixed-2x);

  @include sbb.mq($from: small) {
    order: initial;
    grid-area: initial;
    margin-block-start: 0;
    padding-inline: var(--sbb-notification-content-padding-inline);
  }
}

.sbb-notification__close-wrapper {
  display: flex;
  align-items: center;
  gap: var(--sbb-spacing-responsive-xxs);
  height: 100%;
}

.sbb-notification__divider {
  --sbb-divider-color: var(--sbb-notification-type-color);

  display: none;
  position: relative;
  inset-inline-start: var(--sbb-border-width-1x);
  opacity: 0.2;

  @include sbb.mq($from: small) {
    display: block;
    height: calc(100% - (var(--sbb-spacing-fixed-1x) * 2));
  }
}

@keyframes open {
  from {
    opacity: #{$open-anim-opacity-from};
    max-height: #{$open-anim-height-from};
    margin: #{$open-anim-margin-from};
  }

  to {
    opacity: #{$open-anim-opacity-to};
    max-height: #{$open-anim-height-to};
    margin: #{$open-anim-margin-to};
  }
}

@keyframes close {
  from {
    opacity: #{$open-anim-opacity-to};
    margin: #{$open-anim-margin-to};
  }

  to {
    opacity: #{$open-anim-opacity-from};
    margin: #{$open-anim-margin-from};
  }
}

@keyframes close-height {
  from {
    max-height: #{$open-anim-height-to};
  }

  to {
    max-height: #{$open-anim-height-from};
  }
}
