@use '../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.

@include sbb.box-sizing;

:host {
  display: block;
}

.sbb-action-group {
  display: flex;
  flex-direction: var(--sbb-action-group__orientation);
  gap: var(--sbb-action-group__gap);
  justify-content: var(--sbb-action-group__justify-content);
  align-items: var(--sbb-action-group__align-items);
}
