@use '../styles' as sbb;

:host {
  --sbb-selection-panel-background: var(
    --sbb-selection-panel-inner-background,
    var(--sbb-selection-panel-background-default)
  );
  --sbb-selection-panel-border-width: var(
    --sbb-selection-panel-inner-border-width,
    var(--sbb-selection-panel-border-width-default)
  );
  --sbb-selection-panel-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-4x)
  );

  display: block;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;
}

:host([size='xs']) {
  --sbb-selection-panel-checkbox-dimension: var(--sbb-checkbox-dimension-xs);
  --sbb-selection-panel-input-padding: var(--sbb-selection-panel-input-padding-block-xs)
    var(--sbb-selection-panel-input-padding-inline-xs);
}

:host([size='s']) {
  --sbb-selection-panel-checkbox-dimension: var(--sbb-checkbox-dimension-s);
  --sbb-selection-panel-input-padding: var(--sbb-selection-panel-input-padding-block-s)
    var(--sbb-selection-panel-input-padding-inline-s);
}

:host([size='m']) {
  --sbb-selection-panel-checkbox-dimension: var(--sbb-checkbox-dimension-m);
  --sbb-selection-panel-input-padding: var(--sbb-selection-panel-input-padding-block-m)
    var(--sbb-selection-panel-input-padding-inline-m);
}

:host([color='milk']) {
  --sbb-selection-panel-background: var(
    --sbb-selection-panel-inner-background,
    var(--sbb-selection-panel-background-milk)
  );
}

:host([borderless]:not(:state(checked))) {
  --sbb-selection-panel-border-color: var(--sbb-selection-panel-border-color-borderless);
}

:host(:is(:state(checked)):not(:disabled, [disabled])) {
  --sbb-selection-panel-border-color: var(--sbb-selection-panel-border-color-checked);
  --sbb-selection-panel-border-width: var(
    --sbb-selection-panel-inner-border-width,
    var(--sbb-selection-panel-border-width-checked)
  );
}

:host(:is(:disabled, [disabled])) {
  --sbb-selection-panel-cursor: var(--sbb-cursor-default);
}

.sbb-selection-panel {
  display: block;
  cursor: var(--sbb-selection-panel-cursor);
  position: relative;
  border-radius: var(--sbb-selection-panel-border-radius);
  box-shadow: inset 0 0 0 var(--sbb-selection-panel-border-width)
    var(--sbb-selection-panel-border-color);
  padding: var(--sbb-selection-panel-input-padding);
  background-color: var(--sbb-selection-panel-background);

  transition: {
    duration: var(--sbb-selection-panel-animation-duration);
    timing-function: var(--sbb-animation-easing);
    property: box-shadow;
  }

  // For high contrast mode we need a real border
  @include sbb.if-forced-colors {
    &::after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      pointer-events: none;
      border: var(--sbb-selection-panel-border-width) solid var(--sbb-selection-panel-border-color);
      border-radius: var(--sbb-selection-panel-border-radius);
    }
  }

  :host(:focus-visible) & {
    @include sbb.focus-outline;
  }
}

.sbb-selection-panel__badge {
  user-select: none;
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: var(--sbb-selection-panel-border-radius);
  overflow: hidden;
}

slot[name='suffix'] {
  color: var(--sbb-selection-panel-suffix-color);
}

slot[name='subtext'] {
  display: block;
  color: var(--sbb-selection-panel-subtext-color);
  padding-inline-start: calc(
    var(--sbb-selection-panel-checkbox-dimension) + var(--sbb-spacing-fixed-2x)
  );

  :host(:not(:state(slotted-subtext))) & {
    display: none;
  }
}
