@use '../../core/styles' as sbb;
@use '../common/tab-label-common' as tab-label-common;

:host {
  display: inline-block;
  max-width: 100%;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;
}

.sbb-tab-label {
  cursor: var(--sbb-tab-label-cursor);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.sbb-tab-label__icon {
  display: flex;
  flex-shrink: 0;

  :host(:not(:state(slotted-icon), :state(has-icon-name))) & {
    display: none;
  }
}

.sbb-tab-label__text {
  @include sbb.ellipsis;

  :host(:not(:state(slotted))) & {
    display: none;
  }
}

.sbb-tab-label__amount {
  @include tab-label-common.tab-label-amount;

  :host(:not(:state(slotted-amount), [amount])) & {
    display: none;
  }
}
