@use '../../core/styles' as sbb;

:host {
  display: inline-block;
  max-width: 100%;
  pointer-events: var(--sbb-tab-label-pointer-events, unset);
  -webkit-tap-highlight-color: transparent;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;

  @include sbb.if-forced-colors {
    --sbb-tab-label-color: ButtonText;
    --sbb-tab-label-amount-color: ButtonText;
  }
}

:host([disabled]) {
  --sbb-tab-label-cursor: unset;
  --sbb-tab-label-pointer-events: none;
  --sbb-tab-label-text-decoration: line-through;

  @include sbb.if-forced-colors {
    --sbb-tab-label-color: GrayText;
    --sbb-tab-label-amount-color: GrayText;
  }
}

// If active and not disabled
:host([active]:not([disabled])) {
  --sbb-tab-label-color: var(--sbb-color-3);
  --sbb-tab-label-cursor: unset;
  --sbb-tab-label-pointer-events: none;
  --sbb-tab-label-marker-transform: scale(1);

  @include sbb.if-forced-colors {
    --sbb-tab-label-color: ButtonText;
    --sbb-tab-label-amount-color: ButtonText;
  }
}

:host(:hover:not([disabled])) {
  @include sbb.hover-mq($hover: true) {
    --sbb-tab-label-marker-transform: scale(1);
  }
}

// Pressed/active state
:host(:active) {
  --sbb-tab-label-color: var(--sbb-color-3);
}

.sbb-tab-label__wrapper {
  position: relative;

  :host(:focus-visible) & {
    &::before {
      @include sbb.focus-outline;

      content: '';
      position: absolute;
      display: block;
      inset: 0;
      z-index: 1;
      border-radius: var(--sbb-tab-label-outline-border-radius-internal);
    }
  }
}

.sbb-tab-label {
  position: relative;
  margin: 0;
  min-height: var(--sbb-tab-label-height);
  display: flex;
  align-items: center;
  padding-inline: var(--sbb-tab-label-inline-padding);
  gap: var(--sbb-tab-label-gap);
  user-select: none;
  cursor: var(--sbb-tab-label-cursor);
  transition: color var(--sbb-tab-label-animation-duration) var(--sbb-tab-label-animation-easing);

  // Show a border under the tab-group and between flex rows when the tab titles wrap to a new line
  :host(:state(has-divider)) & {
    &::before {
      content: '';
      position: absolute;
      inset-inline-start: 0;
      inset-block-end: 0;
      width: var(--sbb-tab-group-width);
      height: var(--sbb-border-width-1x);
      background-color: var(--sbb-tab-label-line-color);
    }
  }

  &::after {
    position: absolute;
    content: '';
    inset-inline: 0;
    inset-block-end: 0;
    height: var(--sbb-tab-label-marker-thickness);
    background-color: var(--sbb-tab-label-color);
    transform: var(--sbb-tab-label-marker-transform, scale(0));
    transition: {
      duration: var(--sbb-tab-label-animation-duration);
      timing-function: var(--sbb-tab-label-animation-easing);
      property: transform, background-color;
    }
  }
}

.sbb-tab-label__icon,
.sbb-tab-label__text,
.sbb-tab-label__amount {
  text-decoration: var(--sbb-tab-label-text-decoration);
}

.sbb-tab-label__icon {
  display: flex;
  flex-shrink: 0;
  color: var(--sbb-tab-label-color);
  transition: color var(--sbb-tab-label-animation-duration) var(--sbb-tab-label-animation-easing);

  :host(:not(:state(slotted-icon), :state(has-icon-name))) & {
    display: none;
  }
}

.sbb-tab-label__text {
  color: var(--sbb-tab-label-color);
  transition: color var(--sbb-tab-label-animation-duration) var(--sbb-tab-label-animation-easing);
  font-size: var(--sbb-tab-label-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  font-weight: var(--sbb-tab-label-font-weight);

  @include sbb.ellipsis;

  :host(:not(:state(slotted))) & {
    display: none;
  }
}

.sbb-tab-label__amount {
  margin: 0;
  display: flex;
  color: var(--sbb-tab-label-amount-color);
  transition: color var(--sbb-tab-label-animation-duration) var(--sbb-tab-label-animation-easing);
  font-size: var(--sbb-tab-label-amount-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  font-weight: var(--sbb-tab-label-amount-font-weight);

  :host(:not(:state(slotted-amount), [amount])) & {
    display: none;
  }
}
