// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

.sbb-navigation-list__content {
  @include list-reset;

  display: flex;
  flex-direction: column;
}

.sbb-navigation-list__action {
  margin-block: var(--sbb-spacing-fixed-1x);
}
