// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: block;
  position: relative;
  border-radius: pxToRem(var(--border-radius-4x));
  background-color: var(--color-white-default);
}

.autocomplete__list {
  @include listReset;
  position: absolute;
  display: none;
  z-index: -1;

  top: calc(100% - #{pxToRem(var(--border-radius-4x))});
  right: 0;
  left: 0;

  padding-top: #{pxToRem(var(--border-radius-4x))};

  background-color: gray;
}

.autocomplete__list--visible {
  display: block;
}
