@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-card-badge-gap: var(--sbb-spacing-fixed-2x);

  display: block;
}

:host([color='white']) {
  --sbb-card-badge-color: var(--sbb-color-charcoal);
  --sbb-card-badge-background-color: var(--sbb-color-white);
  --sbb-card-badge-border-color: var(--sbb-color-aluminium);
}

:host([color='charcoal']) {
  --sbb-card-badge-color: var(--sbb-color-white);
  --sbb-card-badge-background-color: var(--sbb-color-charcoal);
  --sbb-card-badge-border-color: transparent;
}

.sbb-card-badge-wrapper {
  display: flex;
  position: relative;
  height: fit-content;
  justify-content: end;

  // Divider line to content
  @include sbb.if-forced-colors {
    &::after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      border-block-end: var(--sbb-border-width-1x) solid CanvasText;
    }
  }
}

.sbb-card-badge {
  position: relative;
  display: flex;
  inset-block-start: 0;
  inset-inline-end: 0;
  padding-inline: var(--sbb-spacing-fixed-2x) var(--sbb-spacing-fixed-3x);
}

.sbb-card-badge-content {
  @include sbb.text-xxs--bold;

  position: relative;
  display: flex;
  align-items: center;
  gap: var(--sbb-card-badge-gap);
  color: var(--sbb-card-badge-color);
}

.sbb-card-badge-background {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--sbb-card-badge-background-color);
  border-end-start-radius: var(--sbb-border-radius-4x);

  // Increase size to avoid looking cut.
  margin-inline-end: calc(var(--sbb-spacing-fixed-3x) * -1);
  transform: skew(16deg, 0deg);

  :host([dir='rtl']) & {
    transform: skew(-16deg, 0deg);
  }

  // Set border inline to the badge
  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    border-block-end: var(--sbb-border-width-1x) solid var(--sbb-card-badge-border-color);
    border-inline-start: var(--sbb-border-width-1x) solid var(--sbb-card-badge-border-color);
    border-end-start-radius: var(--sbb-border-radius-4x);

    @include sbb.if-forced-colors {
      border: none;
    }
  }
}
