@use '../../core/styles' as sbb;

:host {
  display: block;
}

:host(:state(size-s)) {
  --sbb-expansion-panel-header-gap: var(--sbb-expansion-panel-header-gap-s);
  --sbb-expansion-panel-header-padding-block: var(--sbb-expansion-panel-header-padding-block-s);
  --sbb-expansion-panel-header-padding-inline: var(--sbb-expansion-panel-header-padding-inline-s);
}

:host(:state(size-l)) {
  --sbb-expansion-panel-header-gap: var(--sbb-expansion-panel-header-gap-l);
  --sbb-expansion-panel-header-padding-block: var(--sbb-expansion-panel-header-padding-block-l);
  --sbb-expansion-panel-header-padding-inline: var(--sbb-expansion-panel-header-padding-inline-l);
}

:host(:not(:state(size-s), :state(size-l))) {
  --sbb-expansion-panel-header-gap: var(--sbb-expansion-panel-header-gap-default);
  --sbb-expansion-panel-header-padding-block: var(
    --sbb-expansion-panel-header-padding-block-default
  );
  --sbb-expansion-panel-header-padding-inline: var(
    --sbb-expansion-panel-header-padding-inline-default
  );
}

:host(:is(:disabled, [disabled-interactive])) {
  --sbb-expansion-panel-header-cursor: var(--sbb-cursor-default);
  --sbb-expansion-panel-header-text-color: light-dark(
    var(--sbb-color-granite),
    var(--sbb-color-storm)
  );

  @include sbb.if-forced-colors {
    --sbb-expansion-panel-header-text-color: GrayText;
  }
}

:host(:focus-visible) {
  @include sbb.focus-outline;

  outline-offset: var(--sbb-spacing-fixed-1x);
  border-radius: var(--sbb-expansion-panel-border-radius);
}

.sbb-expansion-panel-header {
  display: flex;
  justify-content: var(--sbb-expansion-panel-header-justify-content);
  align-items: center;
  gap: var(--sbb-expansion-panel-header-gap);
  width: 100%;
  padding: var(--sbb-expansion-panel-header-padding-block)
    var(--sbb-expansion-panel-header-padding-inline);
  text-align: start;
  cursor: var(--sbb-expansion-panel-header-cursor);
  color: var(--sbb-expansion-panel-header-text-color);
  font-size: var(--sbb-expansion-panel-header-font-size);
  font-weight: normal;
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  -webkit-tap-highlight-color: transparent;
}

.sbb-expansion-panel-header__title,
.sbb-expansion-panel-header__toggle,
.sbb-expansion-panel-header__icon {
  display: flex;
}

.sbb-expansion-panel-header__icon {
  width: var(--sbb-expansion-panel-icon-size);

  --sbb-icon-svg-width: var(--sbb-expansion-panel-icon-size);
  --sbb-icon-svg-height: var(--sbb-expansion-panel-icon-size);

  :host(:not(:state(slotted-icon), :state(has-icon-name))) & {
    display: none;
  }
}

.sbb-expansion-panel-header__title {
  align-items: center;
  gap: var(--sbb-expansion-panel-title-gap);
  overflow: hidden;

  // Align with toggle icon
  min-height: var(--sbb-size-icon-ui-medium);
}

.sbb-expansion-panel-header__toggle-icon {
  transition: transform var(--sbb-disable-animation-duration, var(--sbb-animation-duration-4x));

  :host([aria-expanded]:not([aria-expanded='false'])) & {
    transform: rotate(-180deg);
  }
}
