// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: block;

  --row-min-height: 108;
  --third-row-min-height: 27;

  @include mq($from: medium) {
    --row-min-height: 114;
  }

}

.timetable__row {
  position: relative;
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  // min-height: pxToRem(var(--row-min-height));
}

.timetable__row > * {
  display: flex;
  flex: 0 1 auto;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.timetable__row svg {
  float: left;
}

.timetable__row > lyne-timetable-row-header {
  @include screenReaderOnly();
}

.timetable__row > lyne-timetable-row-button {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: all;
}

.timetable__row > lyne-timetable-transportation-details {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  // margin-block-end: pxToRem(var(--spacing-fixed-1x));
}

.timetable__row > lyne-timetable-platform,
.timetable__row > lyne-timetable-occupancy,
.timetable__row > lyne-timetable-travel-hints,
.timetable__row > lyne-timetable-duration,
.timetable__row > lyne-timetable-cus-him {
  align-items: center;
  min-height: pxToRem(var(--third-row-min-height));
}

.timetable__row > lyne-timetable-cus-him {
  justify-self: end;
}

.timetable__row > lyne-timetable-travel-hints {
  flex-grow: 1;
  justify-content: center;

}

.timetable__row > lyne-timetable-duration {
  justify-self: end;
}

.timetable__row > lyne-timetable-platform {
  align-items: center;
  min-height: pxToRem(var(--third-row-min-height));
  flex-basis: pxToRem(50);

  @include mq($from: medium) {
    flex-basis: pxToRem(55);
  }

}

.timetable__row.timetable__row--departure-walk > lyne-timetable-platform {
  flex-basis: pxToRem(85);

  @include mq($from: medium) {
    flex-basis: pxToRem(92);
  }

}
