// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: block;

  --row-min-height: 108;
  --third-row-min-height: 27;

  --flex-basis-pillar-columns: 50; // left and right of pearl chain
  --flex-basis-pillar-columns-walking-icon: 85; // if an icon is present, we have to increase the basis

  @include mq($from: medium) {
    --row-min-height: 114;
    --flex-basis-pillar-columns: 55;
  }

}

:host(lyne-timetable-row) {
  margin-block-end: pxToRem(var(--spacing-fixed-1x));
}

.timetable__row {
  @include card--m();

  position: relative;
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: pxToRem(var(--spacing-fixed-2x));

  padding-block-start: var(--card-padding-top);
  padding-inline-end: var(--card-padding-right);
  padding-block-end: var(--card-padding-bottom);
  padding-inline-start: var(--card-padding-left);

}

.timetable__row > lyne-timetable-row-header,
.timetable__row > lyne-timetable-transportation-details,
.timetable__row > lyne-timetable-row-button,
.timetable__row > lyne-timetable-platform,
.timetable__row > lyne-timetable-occupancy,
.timetable__row > lyne-timetable-travel-hints,
.timetable__row > lyne-timetable-park-and-rail,
.timetable__row > lyne-timetable-duration,
.timetable__row > lyne-timetable-cus-him {
  display: flex;
  flex: 0 1 auto;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.timetable__row svg {
  float: inline-start;
}

.timetable__row > lyne-timetable-row-header {
  @include screenReaderOnly();
}

.timetable__row > lyne-timetable-row-button {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: all;
}

.timetable__row > lyne-timetable-transportation-details {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
}

.timetable__row > lyne-timetable-platform,
.timetable__row > lyne-timetable-occupancy,
.timetable__row > lyne-timetable-travel-hints,
.timetable__row > lyne-timetable-park-and-rail,
.timetable__row > lyne-timetable-duration,
.timetable__row > lyne-timetable-cus-him {
  align-items: center;
  min-height: pxToRem(var(--third-row-min-height));

  &.visually-empty {
    position: absolute;
  }

}
