// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: block;

  --row-min-height: 108;

  @include mq($from: medium) {
    --row-min-height: 114;
  }

}

.timetable__row {
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  // min-height: pxToRem(var(--row-min-height));
}

.timetable__row > * {
  display: flex;
  flex: 0 1 auto;
}

.timetable__row > lyne-timetable-transportation-details {
  display: flex;
  flex: 1 1 100%;
  max-width: 100%;
}

.timetable__row > lyne-timetable-cus-him {
  justify-self: end;
}

.timetable__row > lyne-timetable-duration {
  flex-grow: 1;
  justify-content: flex-end;
}
