// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: inline-block;
}
span {
  @include text;
  vertical-align: middle;
  color: var(--lyne-amount-color-override, var(--color-metal-default));
  padding-inline-start: pxToRem(var(--spacing-fixed-1x));
}