// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  padding-left: 4px;
  font-family: var(--typo-type-face-sbb-roman);
  color: var(--lyne-amount-color, var(--color-metal-default));
}
