@use '../core/styles' as sbb;

:host {
  display: inline-block;
  line-height: 0;
  -webkit-tap-highlight-color: transparent;
}

:host(:state(empty)) {
  --sbb-icon-default-dimension: 0;
}

:host(:state(empty):state(namespace-default)[name$='-extra-small']) {
  --sbb-icon-default-dimension: var(--sbb-size-icon-ui-extra-small);
}

:host(:state(empty):state(namespace-default)[name$='-small']) {
  --sbb-icon-default-dimension: var(--sbb-size-icon-ui-small);
}

:host(:state(empty):state(namespace-default)[name$='-medium']) {
  --sbb-icon-default-dimension: var(--sbb-size-icon-ui-medium);
}

:host(:state(empty):state(namespace-default)[name$='-large']) {
  --sbb-icon-default-dimension: var(--sbb-size-icon-ui-large);
}

svg {
  width: var(--sbb-icon-svg-width, var(--sbb-icon-default-dimension));
  height: var(--sbb-icon-svg-height, var(--sbb-icon-default-dimension));
  stroke: var(--sbb-icon-svg-stroke-color);
  stroke-width: var(--sbb-icon-svg-stroke-width);

  &:not(.color-immutable) {
    [fill]:not([fill='none']) {
      fill: currentcolor;
    }

    [stroke]:not([stroke='none']) {
      stroke: currentcolor;
    }

    // stylelint-disable selector-not-notation
    // TODO: Maybe improve this solution in CDN Image
    & >,
    :where(:not([stroke]):not([fill])) {
      :where(path, polygon, polyline):where(:not([stroke]):not([fill])) {
        fill: currentcolor;
      }
    }
    // stylelint-enable selector-not-notation
  }
}
