@use '../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-logo-panel-color: var(--sbb-color-brand);
  --sbb-logo-signet-color: var(--sbb-color-white);
  --sbb-logo-word-mark-color: light-dark(var(--sbb-color-black), var(--sbb-color-white));
  --sbb-logo-aspect-ratio: 454 / 48;
}

@mixin base-forced-colors {
  --sbb-logo-panel-color: ButtonText !important;
  --sbb-logo-signet-color: Canvas !important;
  --sbb-logo-word-mark-color: ButtonText !important;
}
