:host {
  display: block;
}

.title {
  font-size: $size-font-base;
	color: black;
  margin: 0;
  border: 2px solid red;
}

.title--level1 {
  color: red;
  font-size: calc(3 * #{$size-font-base});
}

.title--level2 {
  color: green;
  font-size: calc(2 * #{$size-font-base});
}

.title--level3 {
  color: blue;
  font-weight: bold;
  font-size: $size-font-base;
}
