:host {
  display: block;
}

.title {
  font-size: $font-size-regular;
	color: black;
  margin: 0;
}

.title--level1 {
  color: red;
  font-size: calc(3 * #{$font-size-regular});
}

.title--level2 {
  color: green;
  font-size: calc(2 * #{$font-size-regular});
}

.title--level3 {
  color: blue;
  font-weight: bold;
  font-size: $font-size-regular;
}
