@include host-component-properties;

.title {
  margin: 0;
}

.title--level1 {
  color: red;
  font-size: 3rem;
}

.title--level2 {
  color: green;
  font-size: 2rem;
}

.title--level3 {
  color: blue;
  font-size: 1rem;
}
