@include host-component-properties;

.title {
  font-family: var(--typo-font-style-title-1-font-family);
  line-height: 1.3em;
}

.title--level1 {
  font-size: pxToRem(var(--typo-font-style-title-1-zero-to-micro-font-size));
}

.title--level2 {
  font-size: pxToRem(var(--typo-font-style-title-2-zero-to-medium-font-size));
}

.title--level3 {
  font-size: pxToRem(var(--typo-font-style-title-3-zero-to-medium-font-size));
}
