@use '../core/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --barrier-free-icon-size: #{sbb.px-to-rem-build(24)};
  --barrier-free-icon-padding-inline-start: calc(
    var(--barrier-free-icon-size) + var(--sbb-spacing-fixed-1x)
  );
}

.barrier-free {
  display: flex;
  position: relative;
  @include sbb.text-xs--regular;

  margin: 0;
  color: var(--sbb-color-anthracite-default);
  padding-inline-start: var(--barrier-free-icon-padding-inline-start);
}

.barrier-free__icon {
  position: absolute;
  inset-block-start: #{sbb.px-to-rem-build(-1)};
  inset-inline-start: 0;
  fill: currentcolor;
  width: var(--barrier-free-icon-size);
  height: var(--barrier-free-icon-size);
}

.barrier-free__text {
  flex: 1 1 auto;
}

.barrier-free__text--visually-hidden {
  @include sbb.screen-reader-only;
}
