// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

@mixin image-aspect-ratio-1-1 {
  aspect-ratio: 1 / 1;
}

@mixin image-aspect-ratio-1-2 {
  aspect-ratio: 1 / 2;
}

@mixin image-aspect-ratio-2-1 {
  aspect-ratio: 2 / 1;
}

@mixin image-aspect-ratio-2-3 {
  aspect-ratio: 2 / 3;
}

@mixin image-aspect-ratio-3-2 {
  aspect-ratio: 3 / 2;
}

@mixin image-aspect-ratio-3-4 {
  aspect-ratio: 3 / 4;
}

@mixin image-aspect-ratio-4-3 {
  aspect-ratio: 4 / 3;
}

@mixin image-aspect-ratio-4-5 {
  aspect-ratio: 4 / 5;
}

@mixin image-aspect-ratio-5-4 {
  aspect-ratio: 5 / 4;
}

@mixin image-aspect-ratio-9-16 {
  aspect-ratio: 9 / 16;
}

@mixin image-aspect-ratio-16-9 {
  aspect-ratio: 16 / 9;
}

:host {
  --image-border-radius: var(--border-radius-4x);
}

.image__figure {
  margin: 0;
}

.image__figure img {
  width: 100%;
  height: auto;
}

.image__lqip,
.image__img {
  position: absolute;
  inset: 0;
}

.image__figure .image__img {
  opacity: .000001;
  transition: opacity var(--animation-duration-4x) var(--animation-easing);
}

.image__figure--loaded .image__img {
  opacity: .999999;
}

.image__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: pxToRem(var(--spacing-fixed-4x));
  border-radius: pxToRem(var(--image-border-radius));
  @include image-aspect-ratio-16-9;
}

.image__caption {
  @include text-xs--regular();
}

// Variant: Hero Teaser
.image__figure--teaser-hero .image__wrapper {
  @include image-aspect-ratio-1-1;

  @include mq($from: small) {
    @include image-aspect-ratio-16-9;
  }

};
