@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not applied on this level. We need to include box-sizing for every component.
@include sbb.box-sizing;

@mixin horizontal-orientation {
  --sbb-checkbox-group-orientation: row;
  --sbb-checkbox-group-checkbox-width: auto;
}

$breakpoints: 'zero', 'micro', 'small', 'medium', 'large', 'wide', 'ultra';

:host {
  @include horizontal-orientation;

  --sbb-checkbox-group-width: max-content;
  --sbb-checkbox-group-gap: var(--sbb-spacing-fixed-3x) var(--sbb-spacing-fixed-6x);

  display: block;
}

:host([orientation='vertical']) {
  --sbb-checkbox-group-orientation: column;
  --sbb-checkbox-group-width: 100%;
  --sbb-checkbox-group-checkbox-width: 100%;
}

:host([data-has-selection-panel]) {
  --sbb-checkbox-group-width: 100%;
}

:host([data-has-selection-panel][orientation='vertical']) {
  --sbb-checkbox-group-gap: var(--sbb-spacing-fixed-2x) var(--sbb-spacing-fixed-4x);
}

@each $breakpoint in $breakpoints {
  @include sbb.mq($from: #{$breakpoint}) {
    // horizontal-from overrides orientation vertical
    :host([orientation='vertical'][horizontal-from='#{$breakpoint}']) {
      @include horizontal-orientation;
    }

    :host(
        [orientation='vertical'][horizontal-from='#{$breakpoint}']:not([data-has-selection-panel])
      ) {
      --sbb-checkbox-group-width: max-content;
    }
  }
}

.sbb-checkbox-group {
  display: flex;
  flex-direction: var(--sbb-checkbox-group-orientation);
  gap: var(--sbb-checkbox-group-gap);
  align-items: flex-start;
  width: var(--sbb-checkbox-group-width);
}

.sbb-checkbox-group__error {
  display: inline-block;
  margin-block-start: var(--sbb-spacing-fixed-1x);

  :host(:not([data-slot-names~='error'])) & {
    display: none;
  }
}

::slotted(sbb-checkbox) {
  width: var(--sbb-checkbox-group-checkbox-width);
}
