@use '../core/styles' as sbb;

:host {
  --sbb-status-color: var(--sbb-color-4);
  --sbb-status-gap: var(--sbb-spacing-fixed-1x);
  --sbb-status-text-color: var(--sbb-status-color);
  --_sbb-status-icon-color: var(--sbb-status-color);

  display: block;
}

:host([type='error']) {
  --sbb-status-color: var(--sbb-color-error);
}

:host([type='success']) {
  --sbb-status-color: var(--sbb-color-success);
}

:host([type='warning']) {
  --sbb-status-color: var(--sbb-color-2);
}

:host([type='pending']) {
  --sbb-status-color: var(--sbb-color-sky);
}

:host([type='incomplete']) {
  --sbb-status-color: var(--sbb-color-error);
}

:host([type='not-started']) {
  --sbb-status-color: var(--sbb-color-5);
  --sbb-status-text-color: var(--sbb-color-2);
}

:host([type='in-progress']) {
  --sbb-status-color: var(--sbb-color-pink);
}

.sbb-status {
  @include sbb.text-s--regular;

  display: flex;
  gap: var(--sbb-status-gap);
  color: var(--_sbb-status-text-color-override, var(--sbb-status-text-color));
}

.sbb-status__icon {
  display: flex;
  flex-shrink: 0;
  color: var(--_sbb-status-icon-color);
  margin-block-start: calc(
    (
        (
            var(--_sbb-status-title-font-size, var(--sbb-text-font-size-s)) *
              var(--_sbb-status-title-line-height, var(--sbb-typo-line-height-text))
          ) - var(--sbb-size-icon-ui-small)
      ) /
      2
  );
}

.sbb-status__content-slot {
  // Reset paragraph styles
  display: inline;
  margin: 0;
  padding: 0;
}

::slotted(sbb-title) {
  margin-block: 0;
}
