@use '../core/styles' as sbb;

:host {
  --sbb-status-text-color: var(--sbb-status-color);

  display: flex;
  gap: var(--sbb-status-gap);
  color: var(--sbb-status-text-color);
  font-size: var(--sbb-status-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  line-height: var(--sbb-typo-line-height-text);
}

:host([type='error']) {
  --sbb-status-color: var(--sbb-color-error);
}

:host([type='success']) {
  --sbb-status-color: var(--sbb-color-success);
}

:host([type='warning']) {
  --sbb-status-color: var(--sbb-color-2);
}

:host([type='pending']) {
  --sbb-status-color: var(--sbb-color-sky);
}

:host([type='incomplete']) {
  --sbb-status-color: var(--sbb-color-error);
}

:host([type='not-started']) {
  --sbb-status-color: var(--sbb-color-5);
  --sbb-status-text-color: var(--sbb-color-2);
}

:host([type='in-progress']) {
  --sbb-status-color: var(--sbb-color-pink);
}

:host(:state(slotted-title)) {
  --sbb-status-gap: var(--sbb-spacing-responsive-xxxs);
  --_sbb-status-title-font-size: var(--sbb-heading-font-size-5);
  --_sbb-status-title-line-height: var(--sbb-typo-line-height-heading);

  color: var(--sbb-status-title-color);
}

.sbb-status__icon {
  display: flex;
  flex-shrink: 0;
  color: var(--sbb-status-color);
  margin-block-start: calc(
    (
        (
            var(--_sbb-status-title-font-size, var(--sbb-status-font-size)) *
              var(--_sbb-status-title-line-height, var(--sbb-typo-line-height-text))
          ) - var(--sbb-size-icon-ui-small)
      ) /
      2
  );
}

.sbb-status__content-slot {
  // Reset paragraph styles
  display: inline;
  margin: 0;
  padding: 0;
}

::slotted(sbb-title) {
  margin-block: 0;
}
