@use '../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

$has-title: ':is([data-slot-names~=title], [title-content])';

:host {
  --sbb-status-gap: var(--sbb-spacing-fixed-1x);
  --sbb-status-icon-color: var(--sbb-color-iron);
  --sbb-status-text-color: var(--sbb-color-iron);
  --_sbb-status-icon-font-size: var(--sbb-font-size-text-s);

  display: block;
}

:host([type='error']) {
  --sbb-status-text-color: var(--sbb-color-red125);
}

:host(:is([type='error'], [type='error']#{$has-title})) {
  --sbb-status-icon-color: var(--sbb-color-red125);
}

:host([type='success']) {
  --sbb-status-text-color: var(--sbb-color-green);
}

:host(:is([type='success'], [type='success']#{$has-title})) {
  --sbb-status-icon-color: var(--sbb-color-green);
}

:host([type='warning']) {
  --sbb-status-icon-color: var(--sbb-color-charcoal);
  --sbb-status-text-color: var(--sbb-color-charcoal);
}

:host([type='pending']) {
  --sbb-status-text-color: var(--sbb-color-sky);
}

:host(:is([type='pending'], [type='pending']#{$has-title})) {
  --sbb-status-icon-color: var(--sbb-color-sky);
}

:host([type='incomplete']) {
  --sbb-status-text-color: var(--sbb-color-red125);
}

:host(:is([type='incomplete'], [type='incomplete']#{$has-title})) {
  --sbb-status-icon-color: var(--sbb-color-red125);
}

:host([type='not-started']) {
  --sbb-status-icon-color: var(--sbb-color-smoke);
  --sbb-status-text-color: var(--sbb-color-charcoal);
}

:host(:is([type='not-started'], [type='in-progress']#{$has-title})) {
  --sbb-status-icon-color: var(--sbb-color-smoke);
}

:host([type='in-progress']) {
  --sbb-status-text-color: var(--sbb-color-pink);
}

:host(:is([type='in-progress'], [type='in-progress']#{$has-title})) {
  --sbb-status-icon-color: var(--sbb-color-pink);
}

:host(#{$has-title}) {
  --sbb-status-text-color: var(--sbb-color-granite);
  --sbb-status-icon-color: var(--sbb-color-charcoal);
  --sbb-status-gap: var(--sbb-spacing-responsive-xxxs);
  --_sbb-status-icon-font-size: var(--sbb-font-size-title-5);
}

.sbb-status {
  @include sbb.text-s--regular;

  display: flex;
  gap: var(--sbb-status-gap);
  color: var(--sbb-status-text-color);
}

.sbb-status__icon {
  display: flex;
  flex-shrink: 0;
  color: var(--sbb-status-icon-color);
  margin-block-start: calc(
    (
        (var(--_sbb-status-icon-font-size) * var(--sbb-typo-line-height-body-text)) - var(
            --sbb-size-icon-ui-small
          )
      ) / 2
  );
}

.sbb-status__title {
  margin-block: 0;

  :host(:not(#{$has-title})) & {
    display: none;
  }
}

.sbb-status__content-slot {
  // Reset paragraph styles
  display: inline;
  margin: 0;
  padding: 0;
}
