// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  position: relative;
  margin-block-start: var(--sbb-spacing-fixed-1x);

  // error height = text line-height
  min-height: calc(var(--sbb-typo-line-height-body-text) * var(--sbb-font-size-text-xs));

  --sbb-icon-svg-width: var(--sbb-size-icon-form-error);
}

// Error
.input-label-error {
  @include text-xs--regular;

  display: flex;
  align-items: center;
  color: var(--sbb-color-red125-default);
  position: absolute;
  top: 0;

  // reserving space for icon
  left: calc(var(--sbb-icon-svg-width) + var(--sbb-spacing-fixed-1x));
}

.sbb-icon {
  @include absoluteCenterY;

  color: var(--sbb-color-red125-default);
}
