// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  --form-error-height: calc(var(--sbb-typo-line-height-body-text) * var(--sbb-font-size-text-xs));

  // Overrides sbb icon
  --sbb-icon-svg-width: var(--sbb-size-icon-form-error);
  --sbb-icon-svg-height: var(--sbb-size-icon-form-error);

  @include text-xs--regular;

  display: flex;
  align-items: flex-start;
  color: var(--sbb-color-red125-default);

  // Error height = text line-height
  min-height: var(--form-error-height);
}

.form-error__icon {
  display: flex;
  align-items: center;
  height: var(--form-error-height);
  margin-inline-end: var(--sbb-spacing-fixed-1x);
}

.input-label-error {
  // Fix for line-height taking more than reserved space
  line-height: var(--sbb-typo-line-height-body-text);
  vertical-align: text-top;
}

.form-error__icon-svg {
  stroke: currentcolor;
}
