@use '../../core/styles/index' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-chip-group-input-min-width: #{sbb.px-to-rem-build(150)};
}

::slotted(input) {
  flex: 1 1 var(--sbb-chip-group-input-min-width);
}

.sbb-chip-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sbb-spacing-fixed-1x);
}
