:host {

  --park-and-rail-icon-height: 12;
  --park-and-rail-icon-width: var(--park-and-rail-icon-height);

  @include mq($from: medium) {
    --park-and-rail-icon-height: 16;
    --park-and-rail-icon-width: var(--park-and-rail-icon-height);
  }

}

.park-and-rail__icon svg {
  float: left;
  height: pxToRem(var(--park-and-rail-icon-height));
  width: pxToRem(var(--park-and-rail-icon-width));

  @include ifForcedColors {
    fill: CanvasText;
  }
}
