@use '../../core/styles' as sbb;

:host {
  // The variables have to be set to `initial`. Otherwise, in nested containers,
  // outer variables can bleed into the inner container / content.
  --_sbb-sidebar-content-margin-inline-start: initial;
  --_sbb-sidebar-content-margin-inline-end: initial;

  // The margin must be equal to the width of the sidebar
  // either at the start (--_sbb-sidebar-container-start-width) or at the end (--_sbb-sidebar-content-margin-inline-end).
  // However, in over mode, or if there is not enough space, the margin must be overridden to 0.
  // Overriding is done in core.scss via the --_sbb-sidebar-content-margin-inline-start / --_sbb-sidebar-content-margin-inline-end variable.
  margin-inline: var(
      --_sbb-sidebar-content-margin-inline-start,
      var(--_sbb-sidebar-container-start-width, 0)
    )
    var(--_sbb-sidebar-content-margin-inline-end, var(--_sbb-sidebar-container-end-width, 0));
  transition: margin var(--sbb-sidebar-container-animation-duration)
    var(--sbb-sidebar-container-animation-easing);
}
