@use '../../core/styles/index' as sbb;

:host {
  // The variables have to be set to `initial`. Otherwise, in nested containers,
  // outer variables can bleed into the inner container / content.
  --sbb-sidebar-content-margin-inline-start: initial;
  --sbb-sidebar-content-margin-inline-end: initial;

  // This variable gets overridden to 0s in the core.scss when the animation should be skipped.
  // We need to redefine it from --sbb-sidebar-container-animation-duration here as we don't
  // want to globally override the animation duration in core.scss
  --sbb-sidebar-content-animation-duration: var(--sbb-sidebar-container-animation-duration);
}

.sbb-sidebar-content {
  margin-inline: var(
      --sbb-sidebar-content-margin-inline-start,
      var(--sbb-sidebar-container-start-width, 0)
    )
    var(--sbb-sidebar-content-margin-inline-end, var(--sbb-sidebar-container-end-width, 0));

  transition: {
    duration: var(--sbb-sidebar-content-animation-duration);
    timing-function: var(--sbb-sidebar-container-animation-easing);
    property: margin;
  }
}
