@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-menu-position-x: 0;
  --sbb-menu-position-y: 0;
  --sbb-menu-animation-duration: var(
    --sbb-disable-animation-time,
    var(--sbb-animation-duration-6x)
  );
  --sbb-menu-animation-easing: ease;
  --sbb-menu-transform: translateY(100%);
  --sbb-menu-max-width: 100%;
  --sbb-menu-min-width: 100%;
  --sbb-menu-inset: 0 auto auto 0;
  --sbb-menu-container-height: 100vh;

  // Needed for backwards compatibility on Chromatic
  // TODO: Remove once not needed
  @supports (height: 100dvh) {
    --sbb-menu-container-height: 100dvh;
  }

  // 85vh is not an exact value but looks optimized for mobile view.
  --sbb-menu-max-height: calc(85vh - var(--sbb-spacing-fixed-8x));
  --sbb-menu-min-height: #{sbb.px-to-rem-build(48.5)};
  --sbb-menu-border-radius: var(--sbb-border-radius-4x);
  --sbb-menu-visibility: hidden;
  --sbb-menu-backdrop-color: transparent;

  // We use this rule to make the inner container element to appear as if it were a
  // direct child of the host's parent element. This is useful because the host
  // should be ignored when using CSS grid or similar layout techniques.
  display: contents;

  @include sbb.mq($from: medium) {
    --sbb-menu-transform: translateY(var(--sbb-spacing-fixed-2x));
    --sbb-menu-max-width: #{sbb.px-to-rem-build(320)};
    --sbb-menu-min-width: #{sbb.px-to-rem-build(180)};
  }
}

:host(:is([data-state='opened'], [data-state='opening'])) {
  --sbb-menu-visibility: visible;
  --sbb-menu-backdrop-color: var(--sbb-color-black-alpha-20);

  @include sbb.mq($from: medium) {
    --sbb-menu-backdrop-color: transparent;
  }
}

:host(:not([data-state='closed'])) {
  --sbb-menu-inset: 0;
}

::slotted(:not(sbb-menu-button, sbb-menu-link, sbb-divider)) {
  display: block;
  padding-inline: var(--sbb-spacing-fixed-5x);
}

::slotted(sbb-divider) {
  --sbb-divider-color: var(--sbb-color-iron);

  margin-block: var(--sbb-spacing-fixed-2x);
}

.sbb-menu__container {
  position: fixed;
  pointer-events: none;
  inset: var(--sbb-menu-inset);
  height: var(--sbb-menu-container-height);
  z-index: var(--sbb-menu-z-index, var(--sbb-overlay-default-z-index));

  // Menu backdrop (only visible on mobile)
  &::before {
    content: '';
    visibility: var(--sbb-menu-visibility);
    pointer-events: all;
    position: fixed;
    inset: var(--sbb-menu-inset);
    height: var(--sbb-menu-container-height);
    background-color: var(--sbb-menu-backdrop-color);
    transition: {
      duration: var(--sbb-menu-animation-duration);
      timing-function: var(--sbb-menu-animation-easing);
      property: background-color, visibility;
    }
  }
}

.sbb-menu {
  display: none;
  opacity: 0;
  pointer-events: none;
  max-width: var(--sbb-menu-max-width);
  min-width: var(--sbb-menu-min-width);
  text-align: start;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: unset;
  inset-block-end: 0;
  inset-inline-end: unset;
  color: var(--sbb-color-white);
  border: none;
  border-radius: var(--sbb-menu-border-radius) var(--sbb-menu-border-radius) 0 0;
  background-color: var(--sbb-color-black);
  padding: 0;
  overflow: hidden;

  :host([data-state]:not([data-state='closed'])) & {
    display: block;
    opacity: 1;
    pointer-events: all;
    animation: {
      name: open;
      duration: var(--sbb-menu-animation-duration);
      timing-function: var(--sbb-menu-animation-easing);
    }
  }

  :host([data-state][data-state='closing']) & {
    pointer-events: none;
    animation-name: close;
  }

  @include sbb.if-forced-colors {
    outline: var(--sbb-border-width-1x) solid CanvasText;
  }

  @include sbb.mq($from: medium) {
    top: 0;
    bottom: unset;
    left: 0;
    right: unset;
    max-height: fit-content;
    border-radius: var(--sbb-menu-border-radius);

    :host(:not([data-state='closed'])) & {
      top: var(--sbb-menu-position-y);
      left: var(--sbb-menu-position-x);
      max-height: var(--sbb-menu-max-height);
      min-height: var(--sbb-menu-min-height);
    }
  }
}

.sbb-menu__content {
  @include sbb.scrollbar($negative: true);

  max-height: var(--sbb-menu-max-height);
  padding-block: var(--sbb-spacing-fixed-1x);
  overflow: auto;
  outline: none;

  // Margin bottom in mobile variant
  &::after {
    content: '';
    display: block;
    height: var(--sbb-spacing-fixed-8x);
  }

  @include sbb.mq($from: medium) {
    max-height: fit-content;

    :host(:not([data-state='closed'])) & {
      max-height: var(--sbb-menu-max-height);
      min-height: var(--sbb-menu-min-height);
    }

    &::after {
      display: none;
    }
  }
}

.sbb-menu-list {
  @include sbb.list-reset;
}

@keyframes open {
  from {
    opacity: 0;
    transform: var(--sbb-menu-transform);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes close {
  from {
    opacity: 1;
    transform: translateY(0%);
  }

  to {
    opacity: 0;
    transform: var(--sbb-menu-transform);
  }
}
