@use '../core/styles' as sbb;

.day-change:not(day-change--visually-hidden) {
  padding-block: var(--sbb-spacing-fixed-2x) var(--sbb-spacing-fixed-1x);
}

.day-change__text {
  @include sbb.text-xs--regular;

  margin: 0;
  color: var(--sbb-color-smoke-default);
}

.day-change--visually-hidden,
.day-change__text--visually-hidden {
  @include sbb.screen-reader-only;
}
