@use '../../core/styles' as sbb;

:host {
  display: flex;
  position: relative;
  width: var(--sbb-pearl-chain-node-size);
  height: var(--sbb-pearl-chain-node-size);
  align-items: center;
  justify-content: center;
}

.bullet {
  width: var(--sbb-pearl-chain-bullet-size);
  height: var(--sbb-pearl-chain-bullet-size);
  color: var(--sbb-pearl-chain-bullet-color);
  rotate: var(--sbb-pearl-chain-bullet-rotation, 0deg);

  &--start,
  &--end {
    width: var(--sbb-pearl-chain-bullet-start-end-size);
    height: var(--sbb-pearl-chain-bullet-start-end-size);
  }

  &--past {
    --sbb-pearl-chain-bullet-color: var(--sbb-pearl-chain-bullet-past-color);
  }

  &--disruption {
    --sbb-pearl-chain-bullet-color: var(--sbb-pearl-chain-bullet-disruption-color);
  }

  &--irrelevant {
    --sbb-pearl-chain-bullet-color: var(--sbb-pearl-chain-bullet-irrelevant-color);
    --sbb-pearl-chain-bullet-stroke-width: var(--sbb-pearl-chain-irrelevant-border-width);

    // thinner stroke
  }

  &--stop circle {
    fill: var(--sbb-pearl-chain-bullet-fill-color);
    r: calc(50% - var(--sbb-pearl-chain-bullet-stroke-width) / 2);
    stroke-width: var(--sbb-pearl-chain-bullet-stroke-width);
  }
}
