@use '../../core/styles' as sbb;

:host {
  @include sbb.ignore-children-margin;
}

:host(:focus-visible) {
  @include sbb.focus-outline;
}

:host(:not(:state(active))) {
  // We want that a consumer can have a different display property on the tab, e.g. flex, grid, etc.
  // But if the tab is not active, display: none should always win.
  display: none !important;
}

:host(:state(active)) {
  display: block;
  opacity: 1;
  transition: {
    duration: var(--sbb-tab-group-animation-duration);
    delay: var(--sbb-tab-group-animation-duration);
    timing-function: var(--sbb-animation-easing);
    property: opacity, height;
  }

  // Experimental property, but supported in every major browser.
  transition-behavior: allow-discrete;

  // Experimental property, currently supported in every major browser except Firefox.
  @starting-style {
    opacity: 0;
  }
}
