@use '../../core/styles' as sbb;

:host {
  display: none;

  @include sbb.ignore-children-margin;
}

:host(:focus-visible) {
  @include sbb.focus-outline;
}

:host(:state(active)) {
  display: block;
  opacity: 1;
  transition: {
    duration: var(--sbb-tab-group-animation-duration);
    delay: var(--sbb-tab-group-animation-duration);
    timing-function: var(--sbb-animation-easing);
    property: opacity, height;
  }

  // Experimental property, but supported in every major browser.
  transition-behavior: allow-discrete;

  // Experimental property, currently supported in every major browser except Firefox.
  @starting-style {
    opacity: 0;
  }
}

:host(:state(fixed-height)) {
  height: 100%;
  overflow: auto;
}
