@use '../../core/styles/index' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  display: contents;
}

.sbb-sidebar-content {
  @include sbb.scrollbar;

  & {
    position: relative;
    display: block;
    height: 100%;
    overflow: auto;

    // Scrollable content can get focus if there is no focusable element inside.
    // We avoid graphical artifacts by removing the outline.
    outline: none;
  }
}
