@use '../../core/styles/index' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  display: block;

  --sbb-sidebar-background-color: var(--sbb-color-white);
}

:host([color='milk']) {
  --sbb-sidebar-background-color: var(--sbb-color-milk);
}
