@use '../core/styles' as sbb;

// Box-sizing rules contained in typography are not applied on this level. We need to include box-sizing for every component.
@include sbb.box-sizing;

:host {
  --sbb-pearl-chain-vertical-width: 100%;

  display: block;
}

.sbb-pearl-chain-vertical {
  display: table;
  width: var(--sbb-pearl-chain-vertical-width);
}
