// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: inline-block;

  --text-color-normal: var(--sbb-color-granite-default);
  --text-color-hover-focus: var(--sbb-color-red125-default);
  --text-color-active: var(--sbb-color-red150-default);

  // Necessary to forward styles to native link
  @include text-inherit();
  color: inherit;
}

.sbb-link {
  display: flex;
  align-items: center;
  gap: var(--sbb-spacing-fixed-1x);
  color: var(--text-color-normal);
  text-decoration: none;
  word-break: break-word;
  fill: currentColor;

  &:focus-visible {
    @include focusOutline();
  }

  &:active {
    color: var(--text-color-active);
  }

  @include ifForcedColors {
    fill: LinkText;
    text-decoration: underline;
    text-decoration-skip-ink: auto; // -> read more about here https://bit.ly/3BHdTsE
  }
}

.sbb-link--block-negative,
.sbb-link--inline-negative {
  --focus-outline-color: var(--sbb-focus-outline-color-negative);
}

.sbb-link--block-negative{
  --text-color-normal: var(--sbb-color-white-default);
  --text-color-hover-focus: var(--sbb-color-cloud-default);
  --text-color-active: var(--sbb-color-silver-default);
}

.sbb-link--inline,
.sbb-link--inline-negative {
  @include text-inherit();
  color: inherit;
  text-decoration: underline;
}

.sbb-link--inline-negative {
  --text-color-hover-focus: var(--sbb-color-graphite-default);
  --text-color-active: var(--sbb-color-metal-default);
}

.sbb-link--text-xs {
  @include text-xs--regular();
}

.sbb-link--text-s {
  @include text-s--regular();
}

.sbb-link--text-m {
  @include text-m--regular();
}

@include hover-mq($hover: true) {
  .sbb-link:hover {
    color: var(--text-color-hover-focus);
  }
}

.sbb-link__icon {
  width: var(--sbb-size-icon-ui-small);
  height: var(--sbb-size-icon-ui-small);
}

.sbb-link--icon-placement-end .sbb-link__icon {
  order: 2;
}

.sbb-link[dir="rtl"].sbb-link--icon-flip .sbb-link__icon {
  transform: scaleX(-1);
}
