@use '../../core/styles' as sbb;

:host {
  display: block;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;
  position: absolute;
  inset: 0;
}

:is(.sbb-card-button, .sbb-card-link) {
  display: block;
  position: absolute;
  inset: 0;
  border-radius: var(--sbb-card-border-radius);
  cursor: var(--sbb-cursor-pointer);
  outline: none;

  // Handle focus on the host (button variant)
  :host(:focus-visible) &,
  // Handle focus on the action (link variant)
  &:focus-visible {
    @include sbb.focus-outline;
  }
}

.sbb-screen-reader-only {
  @include sbb.screen-reader-only;
}
