@use '../../core/styles/index' as sbb;

:host {
  display: block;
}

.sbb-mini-calendar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sbb-spacing-fixed-2x) var(--sbb-spacing-fixed-1x);
}

.sbb-mini-calendar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sbb-spacing-fixed-2x) var(--sbb-spacing-fixed-1x);
}
