@use '../../core/styles/index' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-mini-calendar-month-offset: 0;

  display: inline-block;
}

:host([data-orientation='horizontal']) {
  --sbb-mini-calendar-grid-auto-flow: row;

  ::slotted(sbb-mini-calendar-day:first-child) {
    grid-column-start: var(--sbb-mini-calendar-month-offset);
  }
}

:host([data-orientation='vertical']) {
  --sbb-mini-calendar-grid-auto-flow: column;

  ::slotted(sbb-mini-calendar-day:first-child) {
    grid-row-start: var(--sbb-mini-calendar-month-offset);
  }
}

.sbb-mini-calendar-month-wrapper {
  display: grid;
  grid-auto-flow: var(--sbb-mini-calendar-grid-auto-flow);
  grid-auto-rows: sbb.px-to-rem-build(8);

  :host([data-orientation='horizontal']) & {
    height: sbb.px-to-rem-build(48);
    grid-template-columns: repeat(7, 1fr);
  }

  :host([data-orientation='vertical']) & {
    grid-template-rows: repeat(7, 1fr);
  }
}

.sbb-mini-calendar-month-label-year,
.sbb-mini-calendar-month-label-month {
  @include sbb.text-xxs--regular;

  color: var(--sbb-color-granite);
}
