@use '../../core/styles' as sbb;

:host {
  --sbb-step-position: initial;
  --sbb-step-inset-block-start: unset;
  --sbb-step-opacity: 0;
  --sbb-step-display: none;
  --sbb-step-height: 0;
  --sbb-step-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-2x)
  );
  --sbb-step-animation-delay: 0;

  display: contents;
}

:host(:state(selected)) {
  --sbb-step-opacity: 1;
  --sbb-step-display: block;
  --sbb-step-height: fit-content;
  --sbb-step-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-4x)
  );
  --sbb-step-animation-delay: var(--sbb-step-animation-duration);
}

:host(:state(orientation-horizontal)) {
  --sbb-step-position: absolute;
  --sbb-step-inset-block-start: 0;
}

.sbb-step--wrapper {
  :host(:state(orientation-vertical)) & {
    margin-inline-start: var(--sbb-spacing-fixed-4x);
    opacity: 0;
    height: 0;
    transition:
      display var(--sbb-step-animation-duration) var(--sbb-animation-easing),
      height var(--sbb-stepper-animation-duration) var(--sbb-animation-easing),
      opacity var(--sbb-step-animation-duration) var(--sbb-animation-easing);

    // Experimental property, but supported in every major browser.
    transition-behavior: allow-discrete;
  }

  :host(:state(selected):state(orientation-vertical)) & {
    opacity: 1;
    height: var(--sbb-stepper-content-height);
    transition:
      display var(--sbb-step-animation-duration) var(--sbb-animation-easing),
      height var(--sbb-stepper-animation-duration) var(--sbb-animation-easing),
      opacity var(--sbb-step-animation-duration) var(--sbb-stepper-animation-duration)
        var(--sbb-animation-easing);

    // Experimental property, but supported in every major browser.
    transition-behavior: allow-discrete;
  }
}

.sbb-step {
  @include sbb.text-m--regular;

  position: var(--sbb-step-position);
  width: 100%;
  inset-block-start: var(--sbb-step-inset-block-start);
  opacity: var(--sbb-step-opacity);
  display: var(--sbb-step-display);
  height: var(--sbb-step-height);
  transition: {
    property: display, opacity;
    duration: var(--sbb-step-animation-duration);
    delay: var(--sbb-step-animation-delay);
    timing-function: var(--sbb-animation-easing);
  }

  // Experimental property, but supported in every major browser.
  transition-behavior: allow-discrete;

  // Experimental property, currently supported in every major browser except Firefox.
  @starting-style {
    --sbb-step-opacity: 0;
  }
}
