@use './mixins/typo';

sub {
  @include typo.sub;
}

sup {
  @include typo.sup;
}

.sbb-text-xxs,
.sbb-text-xs,
.sbb-text-s,
.sbb-text-m,
.sbb-text-l,
.sbb-text-xl {
  @include typo.text;
}

.sbb-text-xxs {
  --sbb-text-font-size: var(--sbb-font-size-text-xxs);
}

.sbb-text-xs {
  --sbb-text-font-size: var(--sbb-font-size-text-xs);
}

.sbb-text-s {
  --sbb-text-font-size: var(--sbb-font-size-text-s);
}

.sbb-text-m {
  --sbb-text-font-size: var(--sbb-font-size-text-m);
}

.sbb-text-l {
  --sbb-text-font-size: var(--sbb-font-size-text-l);
}

.sbb-text-xl {
  --sbb-text-font-size: var(--sbb-font-size-text-xl);
}

.sbb-text--bold {
  @include typo.text--bold;
}

.sbb-legend {
  @include typo.legend;
}
