@use './mediaqueries';
@use './functions';

// Due to some tools complaining using @use we use @import here.
@import 'node_modules/@sbb-esta/lyne-design-tokens/dist/scss/sbb-variables_css--placeholder.scss';

@mixin lyne-components-css-vars {
  // Grab css vars defined by `@sbb-esta/lyne-design-tokens` package
  @extend %lyne-design-tokens-css-variables;

  // Train formation
  --sbb-train-formation-wagon-width: #{functions.px-to-rem-build(80)};
  --sbb-train-formation-wagon-height: #{functions.px-to-rem-build(40)};
  --sbb-train-formation-wagon-border-radius: #{functions.px-to-rem-build(12)};
  --sbb-train-formation-wagon-gap: var(--sbb-spacing-fixed-1x);

  // Header
  --sbb-header-height: var(--sbb-spacing-fixed-14x);

  // Time Input
  --sbb-time-input-max-width: #{functions.px-to-rem-build(58)};

  // Overlay
  --sbb-overlay-default-z-index: 1000;

  // Infinity border radius, can be used to achieve rounded border on start and end
  // TODO: Check if infinity is supported by all browsers (e.g. Firefox) -> calc(1em * infinity);
  --sbb-border-radius-infinity: 10000000em;

  @include mediaqueries.mq($from: medium) {
    // Header
    --sbb-header-height: var(--sbb-spacing-fixed-24x);

    // Time Input
    --sbb-time-input-max-width: #{functions.px-to-rem-build(65)};
  }
}
