@use '../../core/styles' as sbb;

:host([size='m']) {
  --_sbb-file-selector-dropzone-icon-medium-display: block;
  --_sbb-file-selector-dropzone-icon-small-display: none;
}

:host([size='s']) {
  --_sbb-file-selector-dropzone-icon-medium-display: none;
  --_sbb-file-selector-dropzone-icon-small-display: block;
}

.sbb-file-selector__dropzone-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--sbb-spacing-responsive-s);
  background-color: var(--sbb-file-selector-background-color);
  border: var(--sbb-border-width-1x) dashed var(--sbb-file-selector-border-color);
  border-radius: var(--sbb-border-radius-4x);
  transition-duration: var(--sbb-file-selector-transition-duration);
  transition-timing-function: var(--sbb-file-selector-transition-easing-function);
  transition-property: background-color, border-color;
}

.sbb-file-selector__dropzone-area--icon {
  color: var(--sbb-file-selector-color);
  line-height: 0;

  sbb-icon[name='folder-open-medium'] {
    display: var(--_sbb-file-selector-dropzone-icon-medium-display);
  }

  sbb-icon[name='folder-open-small'] {
    display: var(--_sbb-file-selector-dropzone-icon-small-display);
  }
}

.sbb-file-selector__dropzone-area--title {
  font-weight: bold;
  font-size: var(--sbb-heading-font-size-6);
  letter-spacing: var(--sbb-typo-letter-spacing-heading);
  text-align: center;
  color: var(--sbb-file-selector-color);
}

.sbb-file-selector__dropzone-area--subtitle {
  @include sbb.text-xs--regular;

  text-align: center;
  color: var(--sbb-file-selector-subtitle-color);
  margin-block-end: var(--sbb-spacing-fixed-4x);
}
