@use '@sbb-esta/lyne-components/core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  display: block;
}

.sbb-journey-summary {
  @include sbb.text-s--regular;

  color: var(--sbb-color-iron);
  display: flex;
  flex-direction: column;
}

.sbb-journey-summary__via-block {
  display: flex;
}

.sbb-journey-summary__vias {
  @include sbb.ellipsis;

  margin-block: 0;
  padding-inline-start: var(--sbb-spacing-fixed-1x);
}

.sbb-journey-summary__date {
  margin-block-end: var(--sbb-spacing-fixed-2x);
}

.sbb-journey-summary__via {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sbb-journey-summary__divider {
  margin-block: var(--sbb-spacing-fixed-6x);
}

ul li {
  list-style: none;
  display: inline;
}
