@use '../core/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-divider-color: var(--sbb-color-cloud);
  --sbb-divider-border-width: var(--sbb-border-width-1x);
}

:host([orientation='vertical']) {
  height: 100%;
}

:host([negative]) {
  --sbb-divider-color: var(--sbb-color-iron);
}

.sbb-divider {
  :host([orientation='horizontal']) & {
    border-top: var(--sbb-divider-border-width) solid var(--sbb-divider-color);
  }

  :host([orientation='vertical']) & {
    height: 100%;
    border-left: var(--sbb-divider-border-width) solid var(--sbb-divider-color);
  }
}
