@use '../core/styles' as sbb;

// Box-sizing rules contained in typography are not applied on this level. We need to include box-sizing for every component.
@include sbb.box-sizing;

:host {
  --sbb-divider-color: var(--sbb-color-cloud);
  --sbb-divider-border-width: var(--sbb-border-width-1x);

  display: block;
}

:host([orientation='vertical']) {
  height: 100%;
}

:host([negative]) {
  --sbb-divider-color: var(--sbb-color-iron);
}

.sbb-divider {
  :host([orientation='horizontal']) & {
    border-top: var(--sbb-divider-border-width) solid var(--sbb-divider-color);
  }

  :host([orientation='vertical']) & {
    height: 100%;
    border-left: var(--sbb-divider-border-width) solid var(--sbb-divider-color);
  }
}
