.lyne-footer-bottom {
  margin: 0 auto;
  padding: 0 1.375rem;
  max-width: 1264px;
  min-height: 8rem;
  position: relative;
}

@media (min-width: 643px) {
  .lyne-footer-bottom {
    padding: 0 2.75rem;
    min-height: 10rem;
  }
}

@media (min-width: 1025px) {
  .lyne-footer-bottom {
    min-height: initial;
    padding: 0 2rem;
    position: initial;
  }
}
