@use './helpers';
@use './typo';
@use './mediaqueries';

@mixin core-base {
  // Overlay
  --sbb-overlay-default-z-index: 1000;

  // Cursor
  --sbb-cursor-default: default;
  --sbb-cursor-pointer: pointer;

  // Infinity border radius, can be used to achieve rounded border on start and end
  --sbb-border-radius-infinity: calc(infinity * 1px);

  @include typo.text;

  color-scheme: light dark;
  color: var(--sbb-font-color-default);
  background-color: var(--sbb-background-color-1);
}

@mixin core-rules {
  @include helpers.box-sizing;

  // When the input modality is either mouse or touch,
  // the focus outline should be hidden.
  // We achieve this by setting the outline style to none.
  // This is primarily to work around Safari bugs.
  :root:where(.sbb-focus-modality-mouse, .sbb-focus-modality-touch) {
    --sbb-focus-outline-style: none;
  }

  // TODO: Remove if webkit bug is resolved: https://bugs.webkit.org/show_bug.cgi?id=223814
  ::placeholder {
    @include typo.placeholder;
  }

  // Hiding components until they are instantiated
  :is(
    sbb-autocomplete,
    sbb-autocomplete-grid,
    sbb-datepicker,
    sbb-dialog,
    sbb-menu,
    sbb-navigation,
    sbb-navigation-section,
    sbb-overlay,
    sbb-popover,
    sbb-select,
    sbb-skiplink-list,
    sbb-toast,
    sbb-tooltip
  ):not(:defined) {
    display: none;
  }

  img {
    aspect-ratio: var(--sbb-image-aspect-ratio);
    object-fit: var(--sbb-image-object-fit);
    object-position: var(--sbb-image-object-position);
  }

  // Target the slotted `sbb-image` which are generally wrapped by a <figure> (therefore are not reachable with the :slotted)
  // Apply the brightness effect on mouse hover
  :is(sbb-teaser, sbb-teaser-hero, sbb-teaser-product) {
    --sbb-teaser-image-brightness-hover: var(--sbb-hover-image-brightness);
    --sbb-teaser-image-animation-duration: var(
      --sbb-disable-animation-duration,
      var(--sbb-animation-duration-4x)
    );
    --sbb-teaser-image-animation-easing: var(--sbb-animation-easing);

    &:hover {
      @include mediaqueries.hover-mq($hover: true) {
        --sbb-teaser-image-brightness: var(--sbb-teaser-image-brightness-hover);
      }
    }

    :is(sbb-image, img):not(.sbb-figure-overlap-image) {
      // Although only the teaser has a scale property, we do it here, because this rule is
      // more specific and overrides would not be respected.
      will-change: filter, scale;
      filter: brightness(var(--sbb-teaser-image-brightness, 1));
      transition:
        filter,
        scale var(--sbb-teaser-image-animation-duration) var(--sbb-teaser-image-animation-easing);
    }
  }

  .sbb-overlay-outlet {
    position: fixed;
    inset: 0;
    pointer-events: none;
  }
}
