// ----------------------------------------------------------------------------------------------------
// A11y: MediaQueries & Other things
// ----------------------------------------------------------------------------------------------------
@mixin if-forced-colors {
  @media (forced-colors: active) {
    @content;
  }
}

@mixin if-forced-colors-light {
  @media (forced-colors: active) and (prefers-color-scheme: light) {
    @content;
  }
}

@mixin if-forced-colors-dark {
  @media (forced-colors: active) and (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin focus-outline {
  outline-offset: var(--sbb-focus-outline-offset);
  outline: var(--sbb-focus-outline-color) var(--sbb-focus-outline-style, solid)
    var(--sbb-focus-outline-width);
}

@mixin screen-reader-only {
  border: 0;
  clip-path: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin scroll-margin-block-start {
  scroll-margin-block-start: var(--sbb-spacing-fixed-10x);
}
