// ----------------------------------------------------------------------------------------------------
// Animation related stuff
// ----------------------------------------------------------------------------------------------------

@mixin disable-animation {
  --sbb-disable-animation-duration: 0.1ms;
  --sbb-disable-animation-zero-duration: 0s;
}

@mixin enable-animation {
  --sbb-disable-animation-duration: initial;
  --sbb-disable-animation-zero-duration: initial;
}
