@mixin font-declarations {
  @font-face {
    font-family: SBB;
    src:
      url('https://cdn.app.sbb.ch/fonts/v1_8_1_subset/SBBWeb-Roman.woff2') format('woff2'),
      url('https://cdn.app.sbb.ch/fonts/v1_8_1_subset/SBBWeb-Roman.woff') format('woff');
    font-display: fallback;
    font-weight: 400;
  }

  @font-face {
    font-family: SBB;
    src:
      url('https://cdn.app.sbb.ch/fonts/v1_8_1_subset/SBBWeb-Bold.woff2') format('woff2'),
      url('https://cdn.app.sbb.ch/fonts/v1_8_1_subset/SBBWeb-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
  }

  @font-face {
    font-family: SBB;
    src:
      url('https://cdn.app.sbb.ch/fonts/v1_8_1_subset/SBBWeb-Light.woff2') format('woff2'),
      url('https://cdn.app.sbb.ch/fonts/v1_8_1_subset/SBBWeb-Light.woff') format('woff');
    font-display: swap;
    font-weight: 300;
  }
}

@mixin font-declarations-full {
  @font-face {
    font-family: SBB;
    src:
      url('https://cdn.app.sbb.ch/fonts/v1_8_1_full/SBBWeb-Roman.woff2') format('woff2'),
      url('https://cdn.app.sbb.ch/fonts/v1_8_1_full/SBBWeb-Roman.woff') format('woff');
    font-display: fallback;
    font-weight: 400;
  }

  @font-face {
    font-family: SBB;
    src:
      url('https://cdn.app.sbb.ch/fonts/v1_8_1_full/SBBWeb-Bold.woff2') format('woff2'),
      url('https://cdn.app.sbb.ch/fonts/v1_8_1_full/SBBWeb-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
  }

  @font-face {
    font-family: SBB;
    src:
      url('https://cdn.app.sbb.ch/fonts/v1_8_1_full/SBBWeb-Light.woff2') format('woff2'),
      url('https://cdn.app.sbb.ch/fonts/v1_8_1_full/SBBWeb-Light.woff') format('woff');
    font-display: swap;
    font-weight: 300;
  }
}
