@mixin font-declarations {
  @font-face {
    font-family: SBB;
    src: url('https://cdn.app.sbb.ch/fonts/v1_9_subset/SBBWeb-Roman.woff2') format('woff2');
    font-display: fallback;
    font-weight: 400;
  }

  @font-face {
    font-family: SBB;
    src: url('https://cdn.app.sbb.ch/fonts/v1_9_subset/SBBWeb-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
  }

  @font-face {
    font-family: SBB;
    src: url('https://cdn.app.sbb.ch/fonts/v1_9_subset/SBBWeb-Light.woff2') format('woff2');
    font-display: swap;
    font-weight: 300;
  }
}

@mixin font-declarations-full {
  @font-face {
    font-family: SBB;
    src: url('https://cdn.app.sbb.ch/fonts/v1_9_full/SBBWeb-Roman.woff2') format('woff2');
    font-display: fallback;
    font-weight: 400;
  }

  @font-face {
    font-family: SBB;
    src: url('https://cdn.app.sbb.ch/fonts/v1_9_full/SBBWeb-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
  }

  @font-face {
    font-family: SBB;
    src: url('https://cdn.app.sbb.ch/fonts/v1_9_full/SBBWeb-Light.woff2') format('woff2');
    font-display: swap;
    font-weight: 300;
  }
}
