@use './typo';

@mixin figure {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  margin: 0;
  height: 100%;
}

@mixin figure-image {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
}

@mixin figure-caption {
  grid-row: 2;
  grid-column: 1;
  padding-block-start: var(--sbb-spacing-fixed-4x);
  @include typo.text-xs--regular;
}

@mixin figure-overlap-base {
  position: relative;
  order: 1; // Alternative to z-index
  grid-row: 1;
  grid-column: 1;
  margin: var(--sbb-spacing-responsive-xxxs);
}

@mixin figure-overlap($row-alignment, $column-alignment) {
  place-self: #{$row-alignment} #{$column-alignment};
}
