@use './typo';

@mixin figure {
  display: grid;
  grid-row-gap: var(--sbb-spacing-fixed-4x);
  margin: 0;
  height: 100%;
}

@mixin figure-image {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
}

@mixin figure-caption {
  grid-row: 2;
  grid-column: 1;
  @include typo.text-xs--regular;
}

@mixin figure-overlap($row-alignment, $column-alignment) {
  z-index: 1;
  grid-row: 1;
  grid-column: 1;
  place-self: #{$row-alignment} #{$column-alignment};
  margin: var(--sbb-spacing-responsive-xxxs);
}
