@use 'sass:selector';
@use '../core/functions';
@use '../core/mediaqueries';
@use './typo';

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

@mixin list {
  // Support both top level usage (& is empty / falsy)
  // and applied to a selector usage.
  #{if(&, '&:where(ol, ul)', ':is(ol, ul)')} {
    --sbb-list-vertical-gap: 0.75em;
    --sbb-list-padding-inline-start: 1.5em;

    &,
    :is(ol, ul) {
      margin: 0;
      padding: 0;
      padding-inline-start: var(--sbb-list-padding-inline-start);
      color: var(--sbb-color-iron);

      > li {
        + li {
          margin-block-start: var(--sbb-list-vertical-gap);
        }

        p {
          margin-block: 0;
        }

        // P has to be redefined to be more specific
        > * + p {
          margin-block-start: var(--sbb-spacing-responsive-xxxs);
        }
      }
    }

    :is(ul, ol),
    .sbb-step-list & {
      margin-block-start: var(--sbb-list-vertical-gap);
    }
  }

  // Support both top level usage (& is empty / falsy)
  // and applied to a selector usage.
  #{if(&, '&:where(ul)', 'ul')} {
    &,
    ul {
      list-style-type: none;

      > li {
        position: relative;

        // Bullet point
        &::before {
          content: '\2022'; // •
          position: absolute;
          display: flex;
          height: 1em;
          width: 1em;
          align-items: center;
          justify-content: center;
          inset-block-start: calc(0.5 * (var(--sbb-typo-line-height-body-text) * 1em - 1em));
          inset-inline-start: calc(-1 * (0.5 * var(--sbb-list-padding-inline-start) + 0.5em));

          // Scale 1.3 to match Figma specs.
          transform: scale(1.3);
        }
      }
    }
  }
}

@mixin description-list {
  // Support both top level usage (& is empty / falsy)
  // and applied to a selector usage.
  #{if(&, '&:where(dl)', 'dl')} {
    @include typo.text-s--regular;

    margin: 0;
    padding: 0;
    display: grid;

    // Ensure that description is always attached to the label
    grid-template-columns: auto minmax(20%, 1fr);
    gap: var(--sbb-spacing-fixed-1x) var(--sbb-spacing-fixed-2x);
    color: var(--sbb-color-iron);

    :is(dt, dd) {
      margin: 0;
      padding: 0;
    }
  }
}

@mixin base-marker-list($name) {
  & {
    --sbb-#{$name}-dimensions: #{functions.px-to-rem-build(34)};
    --sbb-#{$name}-padding-inline: var(--sbb-spacing-responsive-xxs);
    --sbb-#{$name}-to-text-gap: var(--sbb-spacing-responsive-xxxs);

    // Additional space from overall li padding to the text because text
    // has to be centered to marker number.
    --sbb-list-text-to-marker-block-offset: calc(
      0.5 *
        (
          var(--sbb-#{$name}-dimensions) - var(--sbb-typo-line-height-body-text) *
            var(--sbb-text-font-size)
        )
    );

    list-style: none;
    margin: 0;
    padding: 0;
  }

  &:where(.sbb-text-xl) {
    @include mediaqueries.mq($from: medium) {
      --sbb-#{$name}-dimensions: #{functions.px-to-rem-build(41)};
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  > li {
    position: relative;
    padding-inline: calc(
        var(--sbb-#{$name}-padding-inline) + var(--sbb-#{$name}-dimensions) +
          var(--sbb-#{$name}-to-text-gap)
      )
      var(--sbb-#{$name}-padding-inline);
    min-height: var(--sbb-#{$name}-dimensions);

    &::before {
      @include typo.text-xxs--bold;

      position: absolute;
      height: var(--sbb-#{$name}-dimensions);
      width: var(--sbb-#{$name}-dimensions);
      margin-block-start: calc(-1 * var(--sbb-list-text-to-marker-block-offset));
      inset-inline-start: var(--sbb-#{$name}-padding-inline);
      border-radius: 50%;
    }

    + li {
      margin-block-start: var(--sbb-#{$name}-vertical-gap);
    }

    p {
      margin-block: 0;
    }

    // P has to be redefined to be more specific
    > * + p {
      margin-block-start: var(--sbb-spacing-responsive-xxxs);
    }
  }
}

@mixin checkup-list {
  @include base-marker-list($name: 'checkup-list');

  & {
    --sbb-checkup-list-marker-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='none' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M4.25 18c0-7.595 6.156-13.75 13.75-13.75S31.75 10.405 31.75 18 25.594 31.75 18 31.75 4.25 25.594 4.25 18M18 3.25C9.853 3.25 3.25 9.853 3.25 18S9.853 32.75 18 32.75 32.75 26.146 32.75 18 26.147 3.25 18 3.25m-1.854 19.555 7.5-9.75-.792-.61-7.19 9.346-3.352-2.681-.624.78 3.75 3 .398.319z' clip-rule='evenodd'/%3E%3C/svg%3E");
    --sbb-checkup-list-marker-icon-color: currentcolor;
    --sbb-checkup-list-vertical-gap: var(--sbb-spacing-fixed-2x);
    --sbb-checkup-list-dimensions: var(--sbb-size-icon-ui-small);
    --sbb-checkup-list-to-text-gap: var(--sbb-spacing-fixed-2x);
  }

  > li::before {
    content: '';
    background-color: var(--sbb-checkup-list-marker-icon-color);
    mask-image: var(--sbb-checkup-list-marker-icon);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
  }
}

@mixin step-list {
  @include base-marker-list($name: 'step-list');

  & {
    --sbb-step-list-padding-block: var(--sbb-spacing-fixed-3x);
    --sbb-step-list-vertical-gap: var(--sbb-spacing-fixed-1x);
    --sbb-step-list-border-radius: var(--sbb-border-radius-4x);

    counter-reset: steps;
  }

  &:where(.sbb-text-s) {
    --sbb-step-list-padding-block: var(--sbb-spacing-fixed-4x);
  }

  &:where(.sbb-text-m, .sbb-text-l, .sbb-text-xl) {
    --sbb-step-list-padding-block: var(--sbb-spacing-fixed-5x);
  }

  > li {
    counter-increment: steps;
    background-color: var(--sbb-color-milk);
    padding-block: calc(
        var(--sbb-step-list-padding-block) + var(--sbb-list-text-to-marker-block-offset)
      )
      var(--sbb-step-list-padding-block);
    padding-inline: calc(
        var(--sbb-step-list-padding-inline) + var(--sbb-step-list-dimensions) +
          var(--sbb-step-list-to-text-gap)
      )
      var(--sbb-step-list-padding-inline);
    min-height: calc(var(--sbb-step-list-dimensions) + 2 * var(--sbb-step-list-padding-block));

    &::before {
      content: counter(steps);
      display: flex;
      align-items: center;
      justify-content: center;
      border: var(--sbb-border-width-1x) solid var(--sbb-color-cement);
      color: var(--sbb-color-charcoal);
    }

    &:first-of-type {
      border-start-start-radius: var(--sbb-step-list-border-radius);
      border-start-end-radius: var(--sbb-step-list-border-radius);
    }

    &:last-of-type {
      border-end-start-radius: var(--sbb-step-list-border-radius);
      border-end-end-radius: var(--sbb-step-list-border-radius);
    }
  }
}
