@use './a11y';

@mixin selection-panel-variables {
  --sbb-selection-panel-background: var(
    --sbb-selection-expansion-panel-inner-background,
    var(--sbb-color-white)
  );
  --sbb-selection-panel-border-color: var(--sbb-color-cloud);
  --sbb-selection-panel-border-radius: var(--sbb-border-radius-4x);
  --sbb-selection-panel-border-width: var(
    --sbb-selection-expansion-panel-inner-border-width,
    var(--sbb-border-width-1x)
  );
  --sbb-selection-panel-input-padding: var(--sbb-spacing-responsive-xs)
    var(--sbb-spacing-responsive-xxs);
  --sbb-selection-panel-animation-duration: var(
    --sbb-disable-animation-zero-time,
    var(--sbb-animation-duration-4x)
  );
  --sbb-selection-panel-cursor: pointer;
}

@mixin selection-panel-milk-variables {
  --sbb-selection-panel-background: var(
    --sbb-selection-expansion-panel-inner-background,
    var(--sbb-color-milk)
  );
}

@mixin selection-panel-borderless-variables {
  --sbb-selection-panel-border-color: transparent;
}

@mixin selection-panel {
  cursor: var(--sbb-selection-panel-cursor);
  flex: auto;
  position: relative;
  width: 100%;
  border-radius: var(--sbb-selection-panel-border-radius);
  box-shadow: inset 0 0 0 var(--sbb-selection-panel-border-width)
    var(--sbb-selection-panel-border-color);
  padding: var(--sbb-selection-panel-input-padding);
  background-color: var(--sbb-selection-panel-background);

  transition: {
    duration: var(--sbb-selection-panel-animation-duration);
    timing-function: var(--sbb-animation-easing);
    property: box-shadow;
  }

  // For high contrast mode we need a real border
  @include a11y.if-forced-colors {
    &::after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      pointer-events: none;
      border: var(--sbb-selection-panel-border-width) solid var(--sbb-selection-panel-border-color);
      border-radius: var(--sbb-selection-panel-border-radius);
    }
  }
}

@mixin selection-panel-checked-variables {
  --sbb-selection-panel-border-color: var(--sbb-color-charcoal);
  --sbb-selection-panel-border-width: var(
    --sbb-selection-expansion-panel-inner-border-width,
    var(--sbb-border-width-2x)
  );
}

@mixin selection-panel-disabled-variables {
  --sbb-selection-panel-cursor: default;
}
