@use '@sbb-esta/lyne-elements/core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-seat-reservation-scoped-width: 0;
  --sbb-seat-reservation-scoped-height: 0;

  display: block;

  .scoped-element {
    width: calc(
      var(--sbb-seat-reservation-scoped-width) *
        var(--sbb-seat-reservation-one-px-rem, #{sbb.px-to-rem-build(1)})
    );
    height: calc(
      var(--sbb-seat-reservation-scoped-height) *
        var(--sbb-seat-reservation-one-px-rem, #{sbb.px-to-rem-build(1)})
    );
  }
}
