@use '../../core/styles' as sbb;

:host {
  display: block;

  --sbb-tab-group-animation-duration: 0s;
}

:host(:state(initialized)) {
  --sbb-tab-group-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-4x)
  );
}

.sbb-tab-group {
  display: flex;
  flex-wrap: wrap;
}

.sbb-tab-group-content {
  margin-block-start: var(--sbb-spacing-responsive-m);
  transition: height var(--sbb-tab-group-animation-duration) var(--sbb-animation-easing);
}
