@use '../../core/styles' as sbb;

:host {
  --sbb-tab-group-animation-duration: 0s;

  gap: var(--sbb-tab-group-content-gap);
}

:host(:state(initialized)) {
  --sbb-tab-group-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-4x)
  );
}

.sbb-tab-group-content {
  height: var(--sbb-tab-content-height);
  transition: height var(--sbb-tab-group-animation-duration) var(--sbb-animation-easing);
}

::slotted(sbb-tab) {
  :host([fixed-height]) & {
    height: 100%;
    overflow: auto;
  }
}
