@use '../../core/styles' as sbb;
@use '../card.global' as card;

// # Stacking of action
// To support content with actions that should be accessible, we have to stack the action and content like following:
// The content is basically on top of the action, but is made pointer transparent with `pointer-events: none`.
// All focusable elements inside the main slot will receive `pointer-events: all` which makes them pointer accessible.

:host {
  @include card.element-rules;
  @include card.variables--spacing-default;
}

// :where is needed for lower specificity
:host(:where([color='white'])) {
  @include card.variables--white;
}

// :where is needed for lower specificity
:host(:where([color='milk'])) {
  @include card.variables--milk;
}

// :where is needed for lower specificity
:host(:where([color='transparent-bordered'])) {
  @include card.variables--transparent-bordered;
}

// :where is needed for lower specificity
:host(:where([color='transparent-bordered-dashed'])) {
  @include card.variables--transparent-bordered-dashed;
}

// :where is needed for lower specificity
:host(:where(:not([color]))) {
  @include card.variables--white;
}

:host(:state(has-active-action)) {
  @include card.variables--active;
}

:host(:state(has-action)) {
  --sbb-card-pointer-events: none;
}

:host(:state(has-action):not(:state(has-active-action)):hover) {
  @include card.state--hover;
}

// :where is needed for lower specificity
:host(:where(:state(has-action):state(action-role-button))) {
  @include card.variables--button;
}

// :where is needed for lower specificity
:host(:where(:state(has-action):state(action-role-link))) {
  @include card.variables--link;
}

:host(.sbb-card-spacing-3x-xxs) {
  @include card.variables--spacing-3x-xxs;
}

:host(.sbb-card-spacing-xxxs-xxs) {
  @include card.variables--spacing-xxxs-xxs;
}

:host(.sbb-card-spacing-xxxs-s) {
  @include card.variables--spacing-xxxs-s;
}

:host(.sbb-card-spacing-4x-xxs) {
  @include card.variables--spacing-4x-xxs;
}

:host(.sbb-card-spacing-xxs) {
  @include card.variables--spacing-xxs;
}

:host(.sbb-card-spacing-s) {
  @include card.variables--spacing-s;
}

:host(.sbb-card-spacing-l) {
  @include card.variables--spacing-l;
}

// Has to be after spacing definitions
:host(:state(slotted-badge)) {
  --sbb-card-padding-block: var(--sbb-card-with-badge-padding-block);
  --sbb-card-badge-display: block;
}

.sbb-card__wrapper {
  @include card.wrapper;

  pointer-events: var(--sbb-card-pointer-events, auto);
  translate: 0 var(--sbb-card-hover-shift, 0);
  transition: translate var(--sbb-card-animation-duration) var(--sbb-card-animation-easing);
}

.sbb-card__badge-wrapper {
  display: var(--sbb-card-badge-display, none);
  overflow: hidden;
  position: absolute;
  inset: 0;
  inset-block-end: unset;
  border-start-start-radius: var(--sbb-card-border-radius);
  border-start-end-radius: var(--sbb-card-border-radius);
  pointer-events: var(--sbb-card-pointer-events, auto);
}

// We remove upper margin from all titles
// as we do not expect multiple titles to be used inside a card.
::slotted(sbb-title) {
  margin-block-start: 0;
}
