@use '../core/styles' as sbb;

:host {
  --sbb-toast-max-width: #{sbb.px-to-rem-build(400)};
  --sbb-toast-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-6x)
  );
  --sbb-toast-animation-timing-function: ease;
  --sbb-toast-text-color: var(--sbb-color-3-inverted);
  --sbb-toast-background-color: var(--sbb-background-color-1-inverted);
  --sbb-toast-margin: var(--sbb-spacing-responsive-s);
  --sbb-toast-padding-block: var(--sbb-spacing-responsive-xxxs);
  --sbb-toast-padding-inline: var(--sbb-spacing-responsive-xs);
  --sbb-toast-border-radius: var(--sbb-border-radius-4x);
  --sbb-toast-container-display: none;
  --sbb-toast-container-position: fixed;
  --sbb-toast-horizontal-position: initial;
  --sbb-toast-vertical-position: initial;
  --sbb-toast-gap: var(--sbb-spacing-fixed-2x);
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);

  display: none;
}

:host(:is(:state(state-opening), :state(state-opened), :state(state-closing))) {
  --sbb-toast-container-display: flex;

  display: block;
}

:host([position='bottom-left']),
:host([position='bottom-start']) {
  --sbb-toast-horizontal-position: flex-start;
  --sbb-toast-vertical-position: flex-end;
}

:host([position='bottom-center']) {
  --sbb-toast-horizontal-position: center;
  --sbb-toast-vertical-position: flex-end;
}

:host([position='bottom-right']),
:host([position='bottom-end']) {
  --sbb-toast-horizontal-position: flex-end;
  --sbb-toast-vertical-position: flex-end;
}

:host([position='top-left']),
:host([position='top-start']) {
  --sbb-toast-horizontal-position: flex-start;
  --sbb-toast-vertical-position: flex-start;
}

:host([position='top-center']) {
  --sbb-toast-horizontal-position: center;
  --sbb-toast-vertical-position: flex-start;
}

:host([position='top-right']),
:host([position='top-end']) {
  --sbb-toast-horizontal-position: flex-end;
  --sbb-toast-vertical-position: flex-start;
}

:host(:state(dark)) {
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-default);
}

.sbb-toast__overlay-container {
  position: var(--sbb-toast-container-position);
  pointer-events: none;
  inset: 0;
  display: var(--sbb-toast-container-display);
  justify-content: var(--sbb-toast-horizontal-position);
  align-items: var(--sbb-toast-vertical-position);
}

.sbb-toast {
  z-index: var(--sbb-toast-z-index, var(--sbb-overlay-default-z-index));
  pointer-events: auto;
  margin: var(--sbb-toast-margin);
  border-radius: var(--sbb-toast-border-radius);
  max-width: var(--sbb-toast-max-width);
  display: flex;
  color: var(--sbb-toast-text-color);
  background-color: var(--sbb-toast-background-color);

  :host(:state(state-opening)) & {
    animation: {
      name: open;
      duration: var(--sbb-toast-animation-duration);
      timing-function: var(--sbb-toast-animation-timing-function);
    }
  }

  :host(:state(state-closing)) & {
    animation: {
      name: close;
      duration: var(--sbb-toast-animation-duration);
      timing-function: var(--sbb-toast-animation-timing-function);
    }
  }
}

.sbb-toast-wrapper {
  display: flex;
  align-items: center;
  gap: var(--sbb-toast-gap);
  padding-block: var(--sbb-toast-padding-block);
  padding-inline: var(--sbb-toast-padding-inline);
}

slot:not([name='icon']),
.sbb-toast__close {
  // As the slotted content is displayed on a white background, we need to force light mode for them.
  color-scheme: only light;
}

.sbb-toast__content {
  @include sbb.title-6($exclude-spacing: true);

  flex: 1 1 0;
}

.sbb-toast__close {
  display: flex;
  align-items: center;
}

.sbb-toast__close-divider {
  padding-block: var(--sbb-toast-padding-block);
}

.sbb-toast__close-button {
  margin-inline: var(--sbb-spacing-responsive-xxxs);
}

@keyframes open {
  from {
    visibility: hidden;
    opacity: 0;
    translate: 0 var(--sbb-spacing-fixed-2x);
  }

  to {
    visibility: visible;
    opacity: 1;
    translate: 0;
  }
}

@keyframes close {
  from {
    visibility: visible;
    opacity: 1;
    translate: 0;
  }

  to {
    visibility: hidden;
    opacity: 0;
    translate: 0 var(--sbb-spacing-fixed-2x);
  }
}
