@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-breadcrumb-group-wrap: nowrap;
  --sbb-breadcrumb-group-visibility: hidden;
}

:host([data-loaded]) {
  --sbb-breadcrumb-group-visibility: visible;
}

:host([data-state]) {
  --sbb-breadcrumb-group-wrap: wrap;
}

.sbb-breadcrumb-group {
  @include sbb.list-reset;

  display: flex;
  flex-wrap: var(--sbb-breadcrumb-group-wrap);
  column-gap: var(--sbb-spacing-fixed-1x);
  visibility: var(--sbb-breadcrumb-group-visibility);
}

.sbb-breadcrumb-group__item {
  flex: 0 0 auto;
  display: flex;
  column-gap: var(--sbb-spacing-fixed-1x);
}

#sbb-breadcrumb-ellipsis:focus-visible:not(
    [data-focus-origin='mouse'],
    [data-focus-origin='touch']
  ) {
  @include sbb.focus-outline;

  border-radius: var(--sbb-border-radius-2x);
}
