// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

@mixin card-product-reset {
  // Since we are using either an '<a>' or '<button>' to render the card-product
  // we need to reset these properties
  width: 100%;
  border: none;
  text-decoration: none;
  text-align: start;
}

:host {
  @include card-host-properties;
  --slot-icon-spacing-inline: var(--spacing-fixed-4x);
  --slot-details-spacing-top: var(--spacing-fixed-2x);
  --slot-action-spacing-top: var(--spacing-fixed-4x);
  --card-text-color: var(--color--charcoal-default);
}

/* ************************************************* */
/* Layout & spacing                                  */
/* ************************************************* */
.card-product {
  @include card-product-reset;
  @include card;
  @include card--m;

  color: var(--card-text-color);
}

.card-product--tall {
  @include card--m--tall;
}

.card-product__icon {
  display: none;
  padding-inline-end: pxToRem(var(--slot-icon-spacing-inline));
}

::slotted( [slot="icon"] ) {
  display: flex;
}

.card-product__content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-inline-end: var(--card-padding-right);
}

.card-product__inner {
  width: 100%;
}

.card-product__details {
  padding-block-start: pxToRem(var(--slot-details-spacing-top));
}

.card-product__action {
  padding-block-start: pxToRem(var(--slot-action-spacing-top));
  flex-shrink: 0;
}

// Layout switch
@include mq($from: small) {
  .card-product {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .card-product__icon {
    display: block;
  }

  .card-product__action {
    padding-block-start: 0;
  }
}

.card-product--standard {
  .card-product__action {
    // Align self center would be the default behaviour but for clarity and
    // better differentiation between standard and loose mode it explicitly defined
    align-self: center;
  }
}

// Special behaviour/action alignment for type loose
.card-product--loose {
  // Button position switch
  @include mq($from: small) {
    .card-product__action {
      align-self: flex-end;
    }
  }
  // Switch back to initial layout (button position)
  @include mq($from: medium) {
    display: block;
    .card-product__action {
      padding-block-start: pxToRem(var(--slot-action-spacing-top));
    }
  }
  // And here we switch back again to the 'small' breakpoint layout
  @include mq($from: wide) {
    display: flex;
  }
}

/* ************************************************* */
/* Styling                                           */
/* ************************************************* */

.card-product--primary {
  @include card--primary;
}

.card-product--primary-negative {
  @include card--primary-negative;
}

.card-product__lead {
  @include title-6();
}

.card-product__category,
.card-product__text {
  @include text-s--regular();
  margin: 0;
  color: var(--color-granite-default);
}
