:root {
  // Spacing
  // ...
  // Typo
  --typo-font-style-title-1-zero-to-micro-font-size: 32;
  --typo-font-style-title-2-zero-to-medium-font-size: 24;
  --typo-font-style-title-3-zero-to-medium-font-size: 20;
  // ... and so on
}
