@use '../../core/styles' as sbb;

:host {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--sbb-carousel-background-color);
  overflow: hidden;
  border-radius: var(--sbb-carousel-border-radius) var(--sbb-carousel-border-radius) 0 0;
}

:host([shadow]) {
  box-shadow: var(--sbb-carousel-box-shadow);
  border-radius: var(--sbb-carousel-border-radius);
}

:host(:not([shadow])) ::slotted(sbb-carousel-list) {
  --sbb-carousel-inherit-border-radius: var(--sbb-carousel-border-radius);
}

::slotted(sbb-compact-paginator) {
  padding: var(--sbb-carousel-paginator-padding);
}
