@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

// Fixes the gap between the origin and the overlay by creating conjuction
// corners based on the origin element border radius
@include sbb.overlayGapFix(var(--sbb-autocomplete-border-radius));

:host {
  --sbb-options-panel-position-x: 0;
  --sbb-options-panel-position-y: 0;
  --sbb-autocomplete-active-option-y: 0;
  --sbb-options-panel-max-height: calc(85vh - var(--sbb-spacing-fixed-8x));
  --sbb-autocomplete-min-height: var(--sbb-options-panel-origin-height);
  --sbb-autocomplete-visibility: visible;
  --sbb-autocomplete-internal-z-index: var(--sbb-autocomplete-z-index, var(--sbb-overlay-z-index));
  --sbb-options-panel-width: fit-content;
  --sbb-autocomplete-border-radius: var(--sbb-border-radius-4x);
  --sbb-autocomplete-options-border-radius: 0 0 var(--sbb-autocomplete-border-radius)
  var(--sbb-autocomplete-border-radius);
  --sbb-autocomplete-animation-duration: var(--sbb-animation-duration-4x);
  --sbb-autocomplete-animation-timing-function: ease;
  --sbb-autocomplete-gap-fix-opacity: 0;
  --sbb-autocomplete-gap-fix-transform: none;
  --sbb-autocomplete-gap-fix-inset-block-start: calc(
    var(--sbb-options-panel-position-y) - var(--sbb-autocomplete-border-radius)
  );
}

:host([data-state='closed']) {
  --sbb-autocomplete-visibility: hidden;
}

:host([data-state='opening']) {
  --sbb-autocomplete-animation-name: open;
}

:host([data-state='closing']) {
  --sbb-autocomplete-animation-name: close;
}

:host([data-state='opened']),
:host([data-state='opening']) {
  --sbb-autocomplete-gap-fix-opacity: 1;
}

:host([data-options-panel-position='below']) {
  --sbb-autocomplete-animation-transform: translateY(
      calc((var(--sbb-options-panel-origin-height) / 2) * -1)
  );
}

:host([data-options-panel-position='above']) {
  --sbb-autocomplete-options-border-radius: var(--sbb-autocomplete-border-radius)
  var(--sbb-autocomplete-border-radius) 0 0;
  --sbb-autocomplete-gap-fix-inset-block-start: var(--sbb-options-panel-max-height);
  --sbb-autocomplete-gap-fix-transform: rotate(180deg);
  --sbb-autocomplete-animation-transform: translateY(
      calc(var(--sbb-options-panel-origin-height) / 2)
  );
}

:host([disable-animation]:not([disable-animation='false'])) {
  --sbb-autocomplete-animation-duration: 0s;
}

::slotted(sbb-divider) {
  margin-block: var(--sbb-spacing-fixed-3x);
}

:host([preserve-icon-space]:not([preserve-icon-space='false'])) {
  --sbb-option-icon-container-display: block;
}

.sbb-select__trigger {
  @include sbb.ellipsis;

  height: calc(1em * var(--sbb-typo-line-height-body-text));
}

.sbb-select__trigger--placeholder {
  color: var(--sbb-color-metal-default);
}

.sbb-select__container {
  position: fixed;
  pointer-events: none;
  inset: 0;
  z-index: var(--sbb-autocomplete-internal-z-index);
}

.sbb-select__gap-fix {
  display: flex;
  justify-content: space-between;
  position: fixed;
  visibility: var(--sbb-autocomplete-visibility);
  opacity: var(--sbb-autocomplete-gap-fix-opacity);
  background-color: transparent;
  width: var(--sbb-options-panel-width);
  height: var(--sbb-autocomplete-border-radius);
  inset-block-start: var(--sbb-autocomplete-gap-fix-inset-block-start);
  inset-inline-start: var(--sbb-options-panel-position-x);
  transform: var(--sbb-autocomplete-gap-fix-transform);
  transition: opacity var(--sbb-autocomplete-animation-duration)
  var(--sbb-autocomplete-animation-timing-function);
}

.sbb-select__panel {
  display: block;
  position: absolute;
  visibility: var(--sbb-autocomplete-visibility);
  overflow: hidden;
  background-color: transparent;
  border: none;
  border-radius: var(--sbb-autocomplete-border-radius);
  inset-block-start: var(--sbb-options-panel-position-y);
  inset-inline-start: var(--sbb-options-panel-position-x);
  width: var(--sbb-options-panel-width);
  transition: box-shadow var(--sbb-autocomplete-animation-duration)
  var(--sbb-autocomplete-animation-timing-function);

  &::before,
  &::after {
    content: '';
    display: none;
    position: relative;
    width: 100%;
    height: var(--sbb-options-panel-origin-height);
    background-color: transparent;
    border-radius: var(--sbb-autocomplete-border-radius);
    pointer-events: none;
    transition: box-shadow var(--sbb-autocomplete-animation-duration)
    var(--sbb-autocomplete-animation-timing-function);
    z-index: 1;
  }

  :host([data-state='opened']) &,
  :host([data-state='opening']) & {
    @include sbb.shadow-level-5-hard;
  }

  :host([data-options-panel-position='below']) & {
    inset-block-start: calc(
      var(--sbb-options-panel-position-y) - var(--sbb-options-panel-origin-height)
    );

    &::before {
      display: block;
    }
  }

  :host([data-options-panel-position='above']) & {
    &::after {
      display: block;
    }
  }

  :host(
      :is([data-state='opened'], [data-state='opening'])[data-option-panel-origin-borderless]:not(
          [data-option-panel-origin-borderless='false']
        )
    )
  & {
    &::before,
    &::after {
      @include sbb.shadow-level-5-hard;
    }
  }
}

.sbb-select__wrapper {
  overflow: hidden;
}

.sbb-select__options {
  @include sbb.scrollbar-light;

  background-color: var(--sbb-color-white-default);
  padding-block: var(--sbb-spacing-fixed-3x);
  padding-inline: 0;
  border-radius: var(--sbb-autocomplete-options-border-radius);
  max-height: var(--sbb-options-panel-max-height);
  min-height: var(--sbb-autocomplete-min-height);
  pointer-events: all;
  overflow-y: auto;
  animation: {
    name: var(--sbb-autocomplete-animation-name);
    duration: var(--sbb-autocomplete-animation-duration);
    timing-function: var(--sbb-autocomplete-animation-timing-function);
  }
}

@keyframes open {
  from {
    transform: var(--sbb-autocomplete-animation-transform);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes close {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: var(--sbb-autocomplete-animation-transform);
    opacity: 0;
  }
}
