// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

@mixin link-list--horizontal {
  sbb-title {
    @include screenReaderOnly;
  }

  ul {
    flex-flow: row wrap;
  }
}

.sbb-link-list {
  display: flex;
  flex-direction: column;
  gap: var(--sbb-spacing-fixed-3x);
}

.sbb-link-list ul {
  @include list-reset;

  display: flex;
  gap: var(--sbb-spacing-fixed-3x) var(--sbb-spacing-fixed-8x);
  flex-direction: column;
}

.sbb-link-list--horizontal {
  @include link-list--horizontal;
}

@each $breakpointName, $value in $mq-breakpoints {
  /* stylelint-disable-next-line plugin/stylelint-bem-namics */
  .sbb-link-list--horizontal-from-#{$breakpointName} {
    @include mq($from: #{$breakpointName}) {
      @include link-list--horizontal;
    }
  }
}
