@use '../../core/styles' as sbb;

:host {
  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;
  display: inline-block;
}

.sbb-checkbox__label--icon {
  color: var(--sbb-checkbox-label-icon-color);

  :host([icon-placement='end']) & {
    margin-inline-start: auto;
  }

  :host(
    // No icon
    :not(:state(has-icon-name), :state(slotted-icon))) & {
    display: none;
  }

  :host(
    // Icon present and placement start
    :is(:state(has-icon-name), :state(slotted-icon)):not([icon-placement='end'])) & {
    padding-inline-end: var(--sbb-spacing-fixed-2x);
  }

  :host(
    // Icon present and placement end
    :is(:state(has-icon-name), :state(slotted-icon))[icon-placement='end']) & {
    padding-inline-start: var(--sbb-spacing-fixed-2x);
  }
}

.sbb-checkbox-wrapper {
  :host(:focus-visible) & {
    @include sbb.focus-outline;

    border-radius: calc(var(--sbb-border-radius-4x) - var(--sbb-focus-outline-offset));
  }
}

.sbb-checkbox__label {
  :host([icon-placement='start']) & {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  :host([icon-placement='end']) & {
    justify-content: flex-start;
    flex-grow: 1;
  }
}
