@use '../../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-checkbox-label-icon-flex-direction: row;
  --sbb-checkbox-label-icon-justify-content: space-between;
  --sbb-checkbox-label-icon-flex-grow: 1;
  --sbb-checkbox-label-gap: var(--sbb-spacing-fixed-2x);
}
