@use '../../core/styles' as sbb;

:host {
  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;
  display: inline-block;
}

:host([icon-placement='start']) {
  --sbb-checkbox-label-icon-flex-direction: row-reverse;
  --sbb-checkbox-label-icon-justify-content: flex-end;
  --sbb-checkbox-label-icon-flex-grow: 0;
}

.sbb-checkbox-wrapper {
  :host(:focus-visible) & {
    @include sbb.focus-outline;

    border-radius: calc(var(--sbb-border-radius-4x) - var(--sbb-focus-outline-offset));
  }
}

.sbb-checkbox__label {
  flex-direction: var(--sbb-checkbox-label-icon-flex-direction);
  justify-content: var(--sbb-checkbox-label-icon-justify-content);
  flex-grow: var(--sbb-checkbox-label-icon-flex-grow);
  gap: var(--sbb-checkbox-label-gap);

  :host(:not(:state(slotted), :state(slotted-icon), :state(has-icon-name))) & {
    display: none;
  }
}

sbb-icon,
slot[name='icon'] ::slotted(sbb-icon) {
  display: flex;
  align-items: center;

  // Align height to text height
  height: calc(1em * var(--sbb-typo-line-height-text));
}
