@use '../core/styles' as sbb;

// Fixes the gap between the origin and the overlay by creating conjunction
// corners based on the origin element border radius
@include sbb.overlay-gap-fix;

:host {
  @include sbb.options-panel-overlay-variables;

  --sbb-options-pointer-events: all;
  --sbb-options-panel-internal-z-index: var(
    --sbb-autocomplete-z-index,
    var(--sbb-overlay-default-z-index)
  );

  display: none;
}

:host([size='s']) {
  @include sbb.options-panel-overlay-size-s-variables;
}

:host([size='m']) {
  @include sbb.options-panel-overlay-size-m-variables;
}

:host(:is(:state(state-opening), :state(state-opened), :state(state-closing))) {
  display: block;
}

:host([negative]) {
  @include sbb.options-panel-overlay-negative-variables;
}

:host(:not(:state(state-opening), :state(state-opened), :state(state-closing))),
:host(:state(state-closed)) {
  --sbb-options-panel-visibility: hidden;
  --sbb-options-pointer-events: none;
}

:host(:state(state-opening)) {
  --sbb-options-panel-animation-name: open;
}

:host(:state(state-closing)) {
  --sbb-options-panel-animation-name: close;
}

:host(:state(state-opened)),
:host(:state(state-opening)) {
  --sbb-options-panel-gap-fix-opacity: 1;
}

:host(:state(options-panel-position-below)) {
  --sbb-options-panel-animation-transform: translateY(
    calc((var(--sbb-options-panel-origin-height) / 2) * -1)
  );
}

:host(:state(options-panel-position-above)) {
  --sbb-options-panel-options-border-radius: var(--sbb-options-panel-border-radius)
    var(--sbb-options-panel-border-radius) 0 0;
  --sbb-options-panel-gap-fix-top: var(--_sbb-options-panel-max-height);
  --sbb-options-panel-gap-fix-transform: rotate(180deg);
  --sbb-options-panel-animation-transform: translateY(
    calc(var(--sbb-options-panel-origin-height) / 2)
  );
}

:host([preserve-icon-space]) {
  --sbb-option-icon-container-display: block;
}

::slotted(sbb-divider) {
  margin-block: var(--sbb-options-panel-divider-margin-block);
}

.sbb-autocomplete__container {
  @include sbb.options-panel-overlay-container;
}

.sbb-autocomplete__gap-fix {
  @include sbb.options-panel-overlay-gap;
}

.sbb-autocomplete__panel {
  @include sbb.options-panel-overlay;

  :host(:state(options-panel-position-below)) & {
    inset-block-start: calc(
      var(--sbb-options-panel-position-y) - var(--sbb-options-panel-origin-height)
    );
  }

  :host(:is(:state(state-opened), :state(state-opening))) & {
    box-shadow: var(--sbb-box-shadow-level-5-hard);
  }

  :host(:is(:state(state-opened), :state(state-opening))[negative]) & {
    box-shadow: var(--sbb-box-shadow-level-5-hard-negative);
  }

  &::before {
    :host(:state(options-panel-position-below)) & {
      display: block;
    }
  }

  &::after {
    :host(:state(options-panel-position-above)) & {
      display: block;
    }
  }

  // stylelint-disable-next-line no-descending-specificity
  &::before,
  &::after {
    :host(:is(:state(state-opened), :state(state-opening)):state(option-panel-origin-borderless))
      & {
      box-shadow: var(--sbb-box-shadow-level-5-hard);
    }

    :host(
        :is(:state(state-opened), :state(state-opening)):state(
            option-panel-origin-borderless
          )[negative]
      )
      & {
      box-shadow: var(--sbb-box-shadow-level-5-hard-negative);
    }
  }
}

.sbb-autocomplete__wrapper {
  overflow: hidden;
}

.sbb-autocomplete__options {
  @include sbb.optionsOverlay;
  @include sbb.scrollbar-rules;

  pointer-events: var(--sbb-options-pointer-events);

  @include sbb.if-forced-colors {
    border: var(--sbb-border-width-1x) solid CanvasText;
    border-top: none;
  }
}

@keyframes open {
  from {
    transform: var(--sbb-options-panel-animation-transform);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes close {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: var(--sbb-options-panel-animation-transform);
    opacity: 0;
  }
}
