// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  --default-min-width: 50;

  @include mq($from: medium) {
    --default-min-width: 55;
  }

}

.platform {
  @include text-s--regular();
  width: pxToRem(var(--default-min-width));
  margin: 0;
}

.platform__text--visually-hidden {
  @include screenReaderOnly();
}
