// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  --sbb-navigation-action-l: var(--sbb-typo-scale-1-25x);
  --sbb-navigation-action-m: var(--sbb-typo-scale-0-875x);
  --sbb-navigation-action-s: var(sbb-typo-scale-0-75x);
  --sbb-navigation-margin-inline-start: var(--sbb-spacing-fixed-3x);

  @include mq($from: medium) {
    --sbb-navigation-action-l: var(--sbb-typo-scale-1-5x);
    --sbb-navigation-action-m: var(--sbb-typo-scale-default);
  }
}

:host(:focus-within) {
  outline: none;
}

.sbb-navigation-action {
  @include buttonReset;

  text-decoration: none;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }
}

.sbb-navigation-action__content {
  @include text--bold;
  @include ellipsis;

  display: flex;
  align-items: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-inline-start: var(--sbb-navigation-margin-inline-start);
  transition-duration: var(--sbb-animation-duration-3x);
  font-size: var(--sbb-navigation-action-l);

  :host([size='s']) .sbb-navigation-action & {
    font-size: var(--sbb-navigation-action-s);
  }

  :host([size='m']) .sbb-navigation-action & {
    font-size: var(--sbb-navigation-action-m);
  }

  :host([active]) .sbb-navigation-action & {
    transition-duration: var(--sbb-animation-duration-3x);
    color: var(--sbb-color-storm-default);
  }

  .sbb-navigation-action:focus-visible & {
    --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);

    @include focusOutline;
  }

  @include hover-mq($hover: true) {
    :host .sbb-navigation-action:hover & {
      transition-duration: var(--sbb-animation-duration-3x);
      color: var(--sbb-color-storm-default);
    }
  }
}
