@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  cursor: pointer;
}

:host(:focus-within) {
  outline: none;
}

.sbb-navigation-action {
  @include sbb.title-4;
  @include sbb.buttonReset;

  text-decoration: none;
  display: flex;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: color var(--sbb-animation-duration-3x) ease;
  word-break: break-all;
  text-align: left;

  :host([size='m']) & {
    @include sbb.text-s--bold;
  }

  :host([size='s']) & {
    @include sbb.text-xxs--bold;
  }

  :host([active]) & {
    color: var(--sbb-color-storm-default);
  }

  &:focus-visible {
    @include sbb.focusOutline;

    border-radius: calc(var(--sbb-border-radius-4x) - var(--sbb-focus-outline-offset));
  }

  @include sbb.hover-mq($hover: true) {
    &:hover {
      cursor: pointer;
      color: var(--sbb-color-storm-default);
    }
  }
}
