@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  @include sbb.text-xs--regular;
  @include sbb.fontSmoothing;

  display: inline-block;
}

span {
  color: var(--sbb-amount-color-override, var(--sbb-color-metal-default));
  vertical-align: middle;
  line-height: 0;
  transition: color var(--sbb-animation-duration-4x) var(--sbb-animation-easing);
}
