// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  @include text-xs--regular;
  @include fontSmoothing;

  display: inline-block;
  padding-inline-start: var(--sbb-spacing-fixed-1x);
}

span {
  color: var(--sbb-amount-color-override, var(--sbb-color-metal-default));
  vertical-align: middle;
  line-height: 0;
}
