@use '../../core/styles' as sbb;

:host {
  display: block;
  overflow: auto;

  @include sbb.scrollbar-variables--size-thick;
  @include sbb.scrollbar-variables--color-positive-track-visible;
}

:host(:focus-visible) {
  @include sbb.focus-outline;
}

::slotted(.sbb-table) {
  width: 100%;
}

:host([negative]) {
  @include sbb.scrollbar-variables--color-negative-track-visible;
}
