@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  display: block;
  overflow: auto;
}

:host(:not(.sbb-table-wrapper-offset-none)) {
  padding-bottom: var(--sbb-spacing-fixed-1x);
}

:host(:focus-visible) {
  @include sbb.focus-outline;
}

::slotted(.sbb-table) {
  width: 100%;
}
