@use '../../core/styles/index' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  display: block;
}

.sbb-table-wrapper {
  overflow: auto;
  @include sbb.scrollbar($track-visible: true);

  &::-webkit-scrollbar {
    border-radius: 0 0 var(--sbb-border-radius-4x) var(--sbb-border-radius-4x);
  }
}
