@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  display: inline-block;

  --sbb-toggle-check-color: var(--sbb-color-charcoal-default);
  --sbb-toggle-check-background: var(--sbb-color-smoke-default);
  --sbb-toggle-check-fill: var(--sbb-color-red-default);
  --sbb-toggle-check-circle-background: var(--sbb-color-white-default);
  --sbb-toggle-check-circle-offset: var(--sbb-border-width-2x);
  --sbb-toggle-check-circle-diameter: var(--sbb-size-icon-ui-small);
  --sbb-toggle-check-height: calc(
    var(--sbb-toggle-check-circle-diameter) + 2 * var(--sbb-toggle-check-circle-offset)
  );
  --sbb-toggle-check-circle-transform: translate(var(--sbb-toggle-check-circle-offset), -50%);
  --sbb-toggle-check-cursor: pointer;
  --sbb-toggle-check-flex-direction: row-reverse;
  --sbb-toggle-check-icon-opacity: 0;

  @include sbb.if-forced-colors {
    --sbb-toggle-check-circle-background: Canvas;
    --sbb-toggle-check-background: CanvasText;
  }
}

:host([checked]) {
  --sbb-toggle-check-background: var(--sbb-color-red-default);
  --sbb-toggle-check-circle-transform: translate(
    calc(100% - var(--sbb-toggle-check-circle-offset)),
    -50%
  );
  --sbb-toggle-check-icon-opacity: 1;

  @include sbb.if-forced-colors {
    --sbb-toggle-check-fill: Highlight;
    --sbb-toggle-check-background: Highlight;
  }
}

:host([disabled]) {
  --sbb-toggle-check-color: var(--sbb-color-graphite-default);
  --sbb-toggle-check-background: var(--sbb-color-cloud-default);
  --sbb-toggle-check-fill: var(--sbb-color-granite-default);
  --sbb-toggle-check-circle-background: var(--sbb-color-milk-default);
  --sbb-toggle-check-cursor: not-allowed;

  @include sbb.if-forced-colors {
    --sbb-toggle-check-fill: GrayText;
    --sbb-toggle-check-background: GrayText;
  }
}

:host([label-position='before']) {
  --sbb-toggle-check-flex-direction: row;
}

.sbb-toggle-check {
  // Avoids unwanted space displayed if no label text is set.
  @include sbb.zero-width-space;

  position: relative;
  display: flex;
  color: var(--sbb-toggle-check-color);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input[type='checkbox'] {
  @include sbb.invisible-container-overlay;
}

.sbb-toggle-check__container {
  @include sbb.text-s--regular;

  display: flex;
  flex-direction: var(--sbb-toggle-check-flex-direction);
  gap: var(--sbb-spacing-fixed-3x);
  align-items: start;
}

.sbb-toggle-check__label {
  padding-block-start: calc(
    (var(--sbb-toggle-check-height) - (var(--sbb-typo-line-height-body-text) * 1em)) / 2
  );
}

.sbb-toggle-check__slider {
  display: inline-block;
  position: relative;
  overflow: hidden;
  min-width: calc(2 * var(--sbb-toggle-check-circle-diameter));
  height: var(--sbb-toggle-check-height);
  border-radius: var(--sbb-toggle-check-height);
  background-color: var(--sbb-toggle-check-background);
  cursor: var(--sbb-toggle-check-cursor);

  input[type='checkbox']:focus-visible + .toggle-check__container & {
    @include sbb.focus-outline;
  }
}

.sbb-toggle-check__circle {
  @include sbb.shadow-level-5-hard;
  @include sbb.absolute-center-y;

  width: var(--sbb-toggle-check-circle-diameter);
  height: var(--sbb-toggle-check-circle-diameter);
  border-radius: var(--sbb-toggle-check-height);
  background-color: var(--sbb-toggle-check-circle-background);
  color: var(--sbb-toggle-check-fill);
  will-change: transform;
  transform: var(--sbb-toggle-check-circle-transform);
  transition: transform ease var(--sbb-animation-duration-6x);
}

::slotted(sbb-icon),
slot[name='icon'] sbb-icon {
  opacity: var(--sbb-toggle-check-icon-opacity);
  transition: opacity ease var(--sbb-animation-duration-6x);
}
