:host {
  display: block;
}

.title {
  font-size: $size-font-base;
	color: black;
}

h1.title {
  color: red;
  font-size: calc(3 * #{$size-font-base});
}

h2.title {
  color: green;
  font-size: calc(2 * #{$size-font-base});
}

h3.title {
  color: pink;
  font-weight: bold;
  font-size: $size-font-base;
}
