@use '../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-chip-label-color: light-dark(var(--sbb-color-granite), var(--sbb-color-cloud));
  --sbb-chip-label-background-color: var(--sbb-background-color-3);
  --sbb-chip-label-padding-block: 0em;
  --sbb-chip-label-padding-inline: var(--sbb-spacing-fixed-2x);
  --sbb-chip-label-font-size: var(--sbb-text-font-size-xxs);
}
