@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

input {
  @include sbb.input-reset;

  font-size: var(--sbb-font-size-text-m);
  line-height: var(--sbb-typo-line-height-body-text);
  color: var(--sbb-form-field-text-color);
}
