@use '../../global/styles' as sbb;

:host {
  --sbb-time-input-max-width: #{sbb.px-to-rem-build(58)};

  @include sbb.mq($from: medium) {
    --sbb-time-input-max-width: #{sbb.px-to-rem-build(65)};
  }

  display: none;
}

input {
  max-width: var(--sbb-time-input-max-width);
}
