@use '../../core/styles' as sbb;
@use '../button.global' as button;

$icon-only: ':where(:state(slotted-icon), :state(has-icon-name)):not(:state(slotted))';
$disabled: '[disabled], :disabled, [disabled-interactive]';
$active: ':active, :state(active), [loading]';

:host {
  @include button.variables--host;
}

:host(:state(button)) {
  @include button.variables--forced-colors-button;
}

:host(:state(link)) {
  @include button.variables--forced-colors-link;
}

:host([negative]) {
  @include button.variables--negative;
}

:host([size='l']) {
  @include button.variables--size-l;
}

:host([size='m']) {
  @include button.variables--size-m;
}

:host([size='s']) {
  @include button.variables--size-s;
}

:host(#{$icon-only}) {
  @include button.variables--icon-only;
}

:host(:not(#{$disabled}, #{$active}):is(:hover, :state(force-hover))) {
  @include button.variables--hover;
}

// Disabled styles
:host(:is(#{$disabled})) {
  @include button.variables--disabled;
}

// Active styles
:host(:not(#{$disabled}):is(#{$active})) {
  @include button.variables--active;
}

:host([loading]:not(#{$disabled})) {
  @include button.variables--loading-animation;
}

.sbb-action-base {
  display: flex;
  @include button.variables--action-base;

  // Used to display border and shadow
  &::before {
    @include button.variables--before;
  }

  :host(:state(focus-visible)) &,
    // Handle focus on the host (button variant)
  :host(:focus-visible) &,
    // Handle focus on the action (link variant)
  &:focus-visible {
    &::before {
      @include button.variables--focus-visible;
    }
  }

  // Animation only works if we include the background definition
  // on the same level where the background property is applied
  :host([loading]:not(#{$disabled})) & {
    @include button.variables--loading-animation-background;
  }
}

.sbb-button__label {
  @include sbb.ellipsis;

  :host(#{$icon-only}) & {
    display: none;
  }
}

.sbb-button__label,
::slotted([slot='icon']),
sbb-icon {
  transition: translate var(--sbb-button-transition-duration)
    var(--sbb-button-transition-easing-function);
  translate: 0 var(--sbb-button-translate-y-content-hover, 0);
}

@include button.variables--loading-animation-keyframes;
