@use '../../core/styles' as sbb;
@use '../button.global' as button;

$icon-only: ':where(:state(slotted-icon), :state(has-icon-name)):not(:state(slotted))';
$disabled: '[disabled], :disabled, [disabled-interactive]';
$active: ':active, :state(active), [loading]';

:host {
  @include button.variables--host;
}

:host(:state(button)) {
  @include button.variables--forced-colors-button;
}

:host(:state(link)) {
  @include button.variables--forced-colors-link;
}

:host([negative]) {
  @include button.variables--negative;
}

:host([size='l']) {
  @include button.variables--size-l;
}

:host([size='m']) {
  @include button.variables--size-m;
}

:host([size='s']) {
  @include button.variables--size-s;
}

:host(#{$icon-only}) {
  @include button.variables--icon-only;
}

:host(:not(#{$disabled}, #{$active}):is(:hover, :state(force-hover))) {
  @include button.variables--hover;
}

// Disabled styles
:host(:is(#{$disabled})) {
  @include button.variables--disabled;
}

// Active styles
:host(:not(#{$disabled}):is(#{$active})) {
  @include button.variables--active;
}

:host([loading]:not(#{$disabled})) {
  @include button.variables--loading;
}

.sbb-action-base {
  display: flex;
  @include button.variables--action-base;

  // Used to display border and shadow
  &::before {
    @include button.variables--before;
  }

  :host([loading]:not(#{$disabled})) & {
    margin: var(--sbb-button-loading-border-width);
    padding-inline: calc(var(--sbb-button-padding-inline) - var(--sbb-button-loading-border-width));
    transition-property: none;
  }

  :host(:state(focus-visible)) &,
    // Handle focus on the host (button variant)
  :host(:focus-visible) &,
    // Handle focus on the action (link variant)
  &:focus-visible {
    &::before {
      @include button.variables--focus-visible;
    }
  }
}

.sbb-button__label {
  @include sbb.ellipsis;

  :host(#{$icon-only}) & {
    display: none;
  }
}

.sbb-button__label,
::slotted([slot='icon']),
sbb-icon {
  transition: translate var(--sbb-button-transition-duration)
    var(--sbb-button-transition-easing-function);
  translate: 0 var(--sbb-button-translate-y-content-hover, 0);
}

.sbb-button-loading-border {
  position: absolute;
  inset: calc(-1 * var(--sbb-button-loading-border-width));
  clip-path: border-box;
  border-radius: var(--sbb-button-border-radius);
  background: var(--_background-color);

  // Transform and z-index needed to support all browsers.
  transform: translateZ(-1px);
  z-index: -1;
  container-type: inline-size;
  contain: paint;
  animation: background-fade-in
    var(--sbb-disable-animation-duration, var(--sbb-animation-duration-6x))
    var(--sbb-disable-animation-duration, var(--sbb-button-loading-delay)) linear;
  animation-fill-mode: forwards;

  // Snake
  &::before {
    content: '';
    display: block;

    // The size adapts to either the container width or height (what is smaller).
    // The value itself is a design decision of UX and describes the snake length.
    width: 64cqmin;

    // The max-height avoids displaying the trail on the other side when button labels are very wide.
    max-height: var(--sbb-button-min-height);
    aspect-ratio: 2 / 1;
    position: absolute;
    background: radial-gradient(
      100% 100% at right,
      var(--sbb-button-color-active-text),
      transparent 50%
    );
    offset-path: border-box;
    offset-anchor: 100% 50%;
    opacity: 0;

    // The animation duration is calculated based on the button width in order that the snake has a constant traveling speed.
    // However, for the icon only version, we need to set a minimum duration to avoid the snake traveling too fast.
    animation:
      snake-fade-in
        var(--sbb-disable-animation-duration, calc(var(--sbb-animation-duration-12x) * 2))
        var(
          --sbb-disable-animation-duration,
          calc(var(--sbb-button-loading-delay) + var(--sbb-animation-duration-5x))
        )
        var(--sbb-animation-easing),
      snake-position
        var(
          --sbb-disable-animation-duration,
          calc(max(tan(atan2(var(--sbb-button-width), 1px)) / 136, 0.5) * 3s)
        )
        infinite linear;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
  }
}

@keyframes snake-position {
  to {
    offset-distance: 100%;
  }
}

@keyframes snake-fade-in {
  to {
    opacity: 1;
  }
}

@keyframes background-fade-in {
  to {
    background: var(--sbb-button-color-loading-border);
  }
}
