:host {
  --sbb-button-color-active-background: var(--sbb-color-milk);
  --sbb-button-color-active-border: var(--sbb-color-cloud);
  --sbb-button-color-active-text: var(--sbb-color-anthracite);
  --sbb-button-color-default-background: var(--sbb-color-white);
  --sbb-button-color-default-border: var(--sbb-color-cloud);
  --sbb-button-color-default-text: var(--sbb-color-charcoal);
  --sbb-button-color-hover-background: var(--sbb-color-white);
  --sbb-button-color-hover-border: var(--sbb-color-cloud);
  --sbb-button-color-hover-text: var(--sbb-color-iron);
  --sbb-button-shadow-1-color: var(--sbb-color-platinum-alpha-20);
  --sbb-button-shadow-2-color: var(--sbb-color-cement-alpha-20);
  --sbb-button-border-overlap-fix: 0rem;
}

:host([negative]) {
  --sbb-button-color-active-background: var(--sbb-color-charcoal);
  --sbb-button-color-active-border: var(--sbb-color-charcoal);
  --sbb-button-color-active-text: var(--sbb-color-cloud);
  --sbb-button-color-default-background: var(--sbb-color-midnight);
  --sbb-button-color-default-border: var(--sbb-color-iron);
  --sbb-button-color-default-text: var(--sbb-color-white);
  --sbb-button-color-hover-background: var(--sbb-color-midnight);
  --sbb-button-color-hover-border: var(--sbb-color-iron);
  --sbb-button-color-hover-text: var(--sbb-color-milk);
}

:host(:not([disabled], :disabled, [disabled-interactive], [negative], :active, [data-active])) {
  --sbb-button-box-shadow: var(--sbb-button-box-shadow-definition);
}
