@include host-component-properties;

:host {
  --checkbox-border-width: var(--sbb-border-width-1x);
  --checkbox-width: var(--sbb-size-icon-ui-small);
  --checkbox-height: var(--checkbox-width);
  --checkbox-border-color: var(--sbb-color-smoke-default);
  --checkbox-selection-color: var(--sbb-color-red-default);
  --checkbox-label-color: var(--sbb-color-charcoal-default);
  --checkbox-cursor: pointer;
  --checkbox-border-radius: #{px-to-rem-build(4)};
}

:host([disabled]) {
  --checkbox-color: var(--sbb-color-graphite-default);
  --checkbox-border-color: var(--sbb-color-graphite-default);
  --checkbox-selection-color: var(--sbb-color-graphite-default);
  --checkbox-label-color: var(--sbb-color-smoke-default);
  --checkbox-cursor: not-allowed;
}

.sbb-checkbox {
  @include text-s--regular;

  position: relative;
  display: block;
  color: var(--checkbox-label-color);
}

.sbb-checkbox__inner {
  display: flex;
  align-items: center;
  gap: var(--sbb-spacing-fixed-2x);
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: inherit;

  // Puts the element behind the parent while keeping it visible so that
  // it allows `click` events to propagate up.
  z-index: -1;
}

.sbb-checkbox__selection {
  position: relative;
  cursor: var(--checkbox-cursor);
  width: var(--checkbox-width);
  height: var(--checkbox-height);
  border-radius: var(--checkbox-border-radius);
  border: var(--checkbox-border-width) solid var(--checkbox-border-color);
  background-color: var(--sbb-color-white-default);
}

// todo: icon is bigger then --checkbox-width
.sbb-checkbox__icon {
  display: inline-flex;
  position: absolute;

  // We stretch the icon container over the selection element, in order to allow
  // full width of the svg icon without ignoring the selection border.
  margin: calc(var(--sbb-border-width-1x) * -1);
  width: var(--checkbox-width);
  height: var(--checkbox-height);

  svg {
    margin: auto;
  }

  path {
    stroke: var(--checkbox-selection-color);
  }
}

.sbb-checkbox__label {
  display: flex;
  gap: var(--sbb-spacing-fixed-2x);
  color: var(--checkbox-label-color);

  :host([icon-placement='start']) & {
    flex-direction: row-reverse;
  }
}

input[type='checkbox']:focus-visible + .checkbox__inner {
  @include focusOutline;

  border-radius: #{px-to-rem-build(4)};
}
