@use '../../core/styles' as sbb;

:host {
  --sbb-expansion-panel-content-padding-inline-start: var(
    --sbb-expansion-panel-content-padding-inline
  );

  display: block;
  padding-block-end: var(--sbb-expansion-panel-content-padding-block-end);
  padding-inline: var(--sbb-expansion-panel-content-padding-inline-start)
    var(--sbb-expansion-panel-content-padding-inline);
}

:host(:state(size-s)) {
  --sbb-expansion-panel-content-padding-inline: var(--sbb-expansion-panel-content-padding-inline-s);
}

:host(:state(size-l)) {
  --sbb-expansion-panel-content-padding-inline: var(--sbb-expansion-panel-content-padding-inline-l);
}

:host(:not(:state(size-s), :state(size-l))) {
  --sbb-expansion-panel-content-padding-inline: var(
    --sbb-expansion-panel-content-padding-inline-default
  );
}

:host(:state(icon-space)) {
  @include sbb.mq($from: small) {
    // The space taken by the icon in the sbb-expansion-panel-header must be considered here to correctly calculate the padding value;
    // this is the sum of the default padding, plus the icon space plus the gap between the icon and the header title.
    --sbb-expansion-panel-content-padding-inline-start: calc(
      var(--sbb-expansion-panel-content-padding-inline) + var(--sbb-expansion-panel-icon-size) +
        var(--sbb-expansion-panel-title-gap)
    );
  }
}

::slotted(:is(p, sbb-title):first-child) {
  margin-block-start: 0;
}
