@use '../../core/styles/index' as sbb;

:host {
  display: block;

  --sbb-calendar-cell-width: #{sbb.px-to-rem-build(44)};
  --sbb-calendar-cell-height: #{sbb.px-to-rem-build(48)};
  --sbb-calendar-hover-shift: #{sbb.px-to-rem-build(1)};
  --sbb-calendar-cell-background-color: transparent;
  --sbb-calendar-cell-padding: #{sbb.px-to-rem-build(2)};
  --sbb-calendar-cell-color: var(--sbb-color-2);
  --sbb-calendar-cell-selected-border: none;
  --sbb-calendar-cell-disabled-height: #{sbb.px-to-rem-build(1.5)};
  --sbb-calendar-cell-disabled-width: #{sbb.px-to-rem-build(25.5)};
  --sbb-calendar-cell-disabled-color: light-dark(var(--sbb-color-granite), var(--sbb-color-smoke));
  --sbb-calendar-cell-transition-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-2x)
  );
  --sbb-calendar-cell-transition-easing-function: var(--sbb-animation-easing);
  --sbb-calendar-cell-cursor: var(--sbb-cursor-pointer);
}

:host(:state(selected)) {
  --sbb-calendar-cell-selected-border: var(--sbb-border-width-1x) solid var(--sbb-border-color-2);
}

:host(:state(current)) {
  .sbb-calendar-day__value {
    @include sbb.text-s--bold;
  }
}

:host(:state(crossed-out)) {
  .sbb-calendar-day__value::after {
    content: '';
    height: var(--sbb-calendar-cell-disabled-height);
    width: var(--sbb-calendar-cell-disabled-width);
    position: absolute;
    background-color: var(--sbb-calendar-cell-disabled-color);
    top: 33%;
    left: 50%;
    transform: translate(-50%, -33%) rotate(-45deg);
  }
}

:host(:not(:active, :disabled)) {
  @include sbb.hover-mq($hover: true) {
    .sbb-calendar-day:hover {
      --sbb-calendar-cell-background-color: var(--sbb-background-color-3);

      padding-block-end: var(--sbb-calendar-hover-shift);

      &::before {
        @include sbb.if-forced-colors {
          @include sbb.focus-outline;

          // Basically the focus-outline mixin is made for use with focus-visible.
          // As we use it here with hover, we have to ensure that the outline is not overridden when mouse or touch is in use.
          --sbb-focus-outline-style: initial;
        }
      }
    }
  }
}

:host(:disabled) {
  --sbb-calendar-cell-color: var(--sbb-calendar-cell-disabled-color);
  --sbb-calendar-cell-cursor: unset;
}

:host(:focus-visible) {
  outline: 0;

  .sbb-calendar-day::before {
    @include sbb.focus-outline;
  }
}

:host(:not(:disabled):active) {
  --sbb-calendar-cell-background-color: var(--sbb-background-color-4);

  .sbb-calendar-day::before {
    @include sbb.if-forced-colors {
      @include sbb.focus-outline;

      // Basically the focus-outline mixin is made for use with focus-visible.
      // As we use it here with :active, we have to ensure that the outline is not overridden when mouse or touch is in use.
      --sbb-focus-outline-style: initial;
    }
  }
}

.sbb-calendar-day {
  @include sbb.button-reset;
  @include sbb.text-s--regular;

  display: flex;
  flex-direction: column;
  height: var(--sbb-calendar-cell-height);
  width: var(--sbb-calendar-cell-width);
  padding: var(--sbb-calendar-cell-padding);
  margin: auto;
  color: var(--sbb-calendar-cell-color);
  cursor: var(--sbb-calendar-cell-cursor);
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    inset: var(--sbb-calendar-cell-padding);
    background-color: var(--sbb-calendar-cell-background-color);
    border: var(--sbb-calendar-cell-selected-border);
    border-radius: var(--sbb-border-radius-6x);
    z-index: -1;
    transition-duration: var(--sbb-calendar-cell-transition-duration);
    transition-timing-function: var(--sbb-calendar-cell-transition-easing-function);
    transition-property: background-color;
  }
}

.sbb-calendar-day__value {
  height: var(--sbb-spacing-fixed-6x);
}

.sbb-calendar-day__extra {
  height: var(--sbb-spacing-fixed-5x);
  padding: var(--sbb-calendar-cell-padding);
}
