@use '../../core/styles' as sbb;

:host {
  display: flex;
  position: relative;
  height: fit-content;
  width: fit-content;
  margin-inline-start: auto;

  // Divider line to content
  &::after {
    content: '';
    display: var(--sbb-card-badge-border-display, none);
    position: absolute;
    inset: 0;
    border: var(--sbb-border-width-1x) solid CanvasText;
  }

  inset-block-start: 0;
  inset-inline-end: 0;
  padding-inline: var(--sbb-card-badge-padding-inline);
}

:host([color='white']) {
  --sbb-card-badge-color: var(--sbb-color-3);
  --sbb-card-badge-background-color: var(--sbb-background-color-1);
  --sbb-card-badge-border-color: light-dark(
    var(--sbb-color-aluminium),
    var(--sbb-color-anthracite)
  );
}

:host(:dir(rtl)) {
  --sbb-card-badge-skew: skew(-16deg, 0deg);
}

.sbb-card-badge-content {
  @include sbb.text--bold;

  font-size: var(--sbb-text-font-size-xxs);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--sbb-card-badge-gap);
  color: var(--sbb-card-badge-color);
}

.sbb-card-badge-background {
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--sbb-card-badge-background-color);
  border-end-start-radius: var(--sbb-card-badge-border-radius);

  // Increase size to avoid looking cut.
  margin-inline-end: calc(var(--sbb-spacing-fixed-3x) * -1);
  transform: var(--sbb-card-badge-skew);

  // Set border inline to the badge
  &::before {
    content: '';
    display: var(--sbb-card-badge-inline-border-display, block);
    position: absolute;
    inset: 0;
    border-block-end: var(--sbb-card-badge-border-width) solid var(--sbb-card-badge-border-color);
    border-inline-start: var(--sbb-card-badge-border-width) solid var(--sbb-card-badge-border-color);
    border-end-start-radius: var(--sbb-card-badge-border-radius);
  }
}
