@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

@mixin horizontal-orientation {
  --sbb-radio-button-group-orientation: row;
}

$breakpoints: 'zero', 'micro', 'small', 'medium', 'large', 'wide', 'ultra';

:host {
  @include horizontal-orientation;

  --sbb-radio-button-group-width: max-content;
  --sbb-radio-button-group-gap: var(--sbb-spacing-fixed-3x) var(--sbb-spacing-fixed-6x);
}

:host([orientation='vertical']) {
  --sbb-radio-button-group-orientation: column;
  --sbb-radio-button-group-width: 100%;
}

:host([data-has-selection-panel]) {
  --sbb-radio-button-group-width: 100%;
}

:host([data-has-selection-panel][orientation='vertical']) {
  --sbb-radio-button-group-gap: var(--sbb-spacing-fixed-2x) var(--sbb-spacing-fixed-4x);
}

@each $breakpoint in $breakpoints {
  @include sbb.mq($from: #{$breakpoint}) {
    // horizontal-from overrides orientation vertical
    :host([orientation='vertical'][horizontal-from='#{$breakpoint}']) {
      @include horizontal-orientation;
    }

    :host(
        [orientation='vertical'][horizontal-from='#{$breakpoint}']:not([data-has-selection-panel])
      ) {
      --sbb-radio-button-group-width: max-content;
    }
  }
}

.sbb-radio-group {
  display: flex;
  flex-direction: var(--sbb-radio-button-group-orientation);
  gap: var(--sbb-radio-button-group-gap);
  align-items: flex-start;
  width: var(--sbb-radio-button-group-width);
}

.sbb-radio-group__error {
  display: inline-block;
  margin-block-start: var(--sbb-spacing-fixed-1x);
}
