// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

.sbb-radio-group {
  display: flex;
  gap: var(--sbb-spacing-fixed-6x);
  width: max-content;

  :host([orientation='vertical']) & {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--sbb-spacing-fixed-3x);
  }
}

.sbb-radio-group__error {
  @include text-xxs--regular;

  display: inline-block;
  margin-block-start: var(--sbb-spacing-fixed-1x);
}
