// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: block;
}

.taser-hero {
  position: relative;
  display: block;
  @include visibleFocus();
}

.teaser-hero__image {
  display: block;
}

.teaser-hero__panel {
  @include absoluteCenterY;
}

.teaser-hero__link-info-text {
  @include screenReaderOnly;
}
