@use '../core/styles' as sbb;

:host {
  --sbb-loading-indicator-circle-duration: var(--sbb-disable-animation-duration, 1.5s);
  --sbb-loading-indicator-circle-background: conic-gradient(
    from 90deg,
    transparent,
    var(--sbb-loading-indicator-circle-color)
  );

  display: inline-block;
  line-height: 0;

  @include sbb.if-forced-colors {
    --sbb-loading-indicator-circle-color: CanvasText !important;
  }
}

:host([color='smoke']) {
  --sbb-loading-indicator-circle-color: var(--sbb-color-smoke);
}

:host([color='white']) {
  --sbb-loading-indicator-circle-color: var(--sbb-color-white);
  --sbb-loading-indicator-circle-background-color: var(--sbb-color-iron);
}

.sbb-loading-indicator {
  display: inline-flex;
  padding: var(--sbb-loading-indicator-circle-padding);
  vertical-align: middle;
  line-height: 1;
}

.sbb-loading-indicator__animated-element {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  color: transparent;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  background: var(--sbb-loading-indicator-circle-background);
  mask: radial-gradient(
    circle 0.4375em,
    #0000 98%,
    var(--sbb-loading-indicator-circle-background-color)
  );
  animation: rotation var(--sbb-loading-indicator-circle-duration) infinite linear;

  // Rounded start of strong color part
  &::after {
    content: '';
    width: var(--sbb-loading-indicator-circle-animated-width);
    height: var(--sbb-loading-indicator-circle-animated-height);
    background: var(--sbb-loading-indicator-circle-color);
    border-radius: var(--sbb-loading-indicator-circle-animated-border-radius);
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    overflow: hidden;
    margin: auto;
  }
}

@keyframes rotation {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 359deg;
  }
}
