:host {
  --image-border-radius: var(--border-radius-4x);
}

.lyne-image__figure {
  margin: 0;
}

.lyne-image__figure img {
  width: 100%;
  height: auto;
}

.lyne-image__lqip,
.lyne-image__img {
  position: absolute;
  inset: 0;
}

.lyne-image__figure .lyne-image__img {
  opacity: .000001;
  transition: opacity var(--animation-form-element-state-duration) var(--animation-form-element-state-easing);
}

.lyne-image__figure--loaded .lyne-image__img {
  opacity: .999999;
}

.lyne-image__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: pxToRem(var(--spacing-fixed-4x));
  border-radius: pxToRem(var(--image-border-radius));
}

.lyne-image__caption {
  @include text-xs--regular();
}

// Variant: Hero Teaser
.lyne-image__figure--teaser-hero .lyne-image__wrapper {
  --lyne-image-ratio-width: 1;
  --lyne-image-ratio-height: 1;

  @include mq($from: medium) {
    --lyne-image-ratio-width: 728;
    --lyne-image-ratio-height: 409;
  }

  @include mq($from: large) {
    --lyne-image-ratio-width: 896;
    --lyne-image-ratio-height: 504;
  }

  @include mq($from: wide) {
    --lyne-image-ratio-width: 1144;
    --lyne-image-ratio-height: 643;
  }

  @include mq($from: ultra) {
    --lyne-image-ratio-width: 1192;
    --lyne-image-ratio-height: 670;
  }

  aspect-ratio: var(--lyne-image-ratio-width) / var(--lyne-image-ratio-height);
};

