:host {
  --image-border-radius: var(--border-radius-4x);
}

.lyne-image__figure {
  margin: 0;
}

.lyne-image__figure img {
  max-width: 100%;
  height: auto;
  border-radius: pxToRem(var(--image-border-radius));
}

.lyne-image__lqip,
.lyne-image__img {
  position: absolute;
  inset: 0;
}

.lyne-image__figure .lyne-image__img {
  opacity: .000001;
  transition: opacity var(--animation-form-element-state-duration) var(--animation-form-element-state-easing);
}

.lyne-image__figure--loaded .lyne-image__img {
  opacity: .999999;
}

.lyne-image__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: pxToRem(var(--spacing-fixed-4x));
}

.lyne-image__caption {
  @include text-xs--regular();
}

.lyne-image__figure--1x1 .lyne-image__wrapper {
  aspect-ratio: 1 / 1;
}

.lyne-image__figure--5x4 .lyne-image__wrapper {
  aspect-ratio: 5 / 4;
}

.lyne-image__figure--4x3 .lyne-image__wrapper {
  aspect-ratio: 4 / 3;
}

.lyne-image__figure--3x2 .lyne-image__wrapper {
  aspect-ratio: 3 / 2;
}

.lyne-image__figure--16x9 .lyne-image__wrapper {
  aspect-ratio: 16 / 9;
}

.lyne-image__figure--2x1 .lyne-image__wrapper {
   aspect-ratio: 2 / 1;
}

.lyne-image__figure--1x2 .lyne-image__wrapper {
  aspect-ratio: 1 / 2;
}

.lyne-image__figure--9x16 .lyne-image__wrapper {
  aspect-ratio: 9 / 16;
}

.lyne-image__figure--2x3 .lyne-image__wrapper {
  aspect-ratio: 2 / 3;
}

.lyne-image__figure--3x4 .lyne-image__wrapper {
  aspect-ratio: 3 / 4;
}

.lyne-image__figure--4x5 .lyne-image__wrapper {
  aspect-ratio: 4 / 5;
}
