:host {

  --image-border-radius: var(--border-radius-4x);

}

.lyne-image__figure {
  position: relative;
  background: lime;
}

.lyne-image__blur-hash,
.lyne-image__img {
  position: absolute;
  inset: 0;
}

.lyne-image__figure .lyne-image__img {
  opacity: .000001;
  transition: opacity var(--animation-form-element-state-duration) var(--animation-form-element-state-easing);
}

.lyne-image__figure--loaded .lyne-image__img {
  opacity: .999999;
}

.lyne-image__figure--1x1 {
  aspect-ratio: 1 / 1;
}

.lyne-image__figure--5x4 {
  aspect-ratio: 5 / 4;
}
.lyne-image__figure--3x2 {
  aspect-ratio: 3 / 2;
}

.lyne-image__figure--16x9 {
  aspect-ratio: 16 / 9;
}

.lyne-image__figure--2x1 {
   aspect-ratio: 2 / 1;
}

.lyne-image__figure--1x2 {
  aspect-ratio: 1 / 2;
}

.lyne-image__figure--9x16 {
  aspect-ratio: 9 / 16;
}

.lyne-image__figure--2x3 {
  aspect-ratio: 2 / 3;
}

.lyne-image__figure--3x4 {
  aspect-ratio: 3 / 4;
}

.lyne-image__figure--4x5 {
  aspect-ratio: 4 / 5;
}
