// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

$breakpoints: 'zero', 'micro', 'small', 'medium', 'large', 'wide', 'ultra';

:host {
  --sbb-checkbox-group-align-items: flex-start;
  --sbb-checkbox-group-orientation: row;
  --sbb-checkbox-group-gap: var(--sbb-spacing-fixed-6x);
}

:host([orientation='vertical']) {
  --sbb-checkbox-group-orientation: column;
  --sbb-checkbox-group-gap: var(--sbb-spacing-fixed-3x);
}

@each $breakpoint in $breakpoints {
  @include mq($from: #{$breakpoint}) {
    // horizontal-from overrides orientation vertical
    :host([orientation='vertical'][horizontal-from='#{$breakpoint}']) {
      --sbb-checkbox-group-orientation: row;
    }
  }
}

.sbb-checkbox-group {
  display: flex;
  width: max-content;
  flex-direction: var(--sbb-checkbox-group-orientation);
  align-items: var(--sbb-checkbox-group-align-items);
  gap: var(--sbb-checkbox-group-gap);
}

.sbb-checkbox-group__error {
  display: inline-block;
  margin-block-start: var(--sbb-spacing-fixed-1x);
}
