@use '@sbb-esta/lyne-elements/core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-seat-reservation-navigation-travelclass-spacing: #{sbb.px-to-rem-build(12)};
  --sbb-seat-reservation-navigation-btn-outline-color: var(--sbb-color-granite);
  --sbb-seat-reservation-navigation-btn-outline-width: var(--sbb-border-width-1x);
  --sbb-seat-reservation-navigation-btn-background-color: var(--sbb-color-white);
  --sbb-seat-reservation-navigation-btn-outline-color-selected: var(--sbb-color-black);
  --sbb-seat-reservation-navigation-btn-outline-width-hover: var(--sbb-border-width-2x);
  --sbb-seat-reservation-navigation-btn-background-color-hover: var(--sbb-color-cloud);
}

// <li>
.sbb-seat-reservation-navigation__item-coach {
  display: flex;
  flex-direction: column;
  gap: var(--sbb-spacing-fixed-2x);
  width: #{sbb.px-to-rem-build(80)};
  list-style-type: none;

  &.first-coach,
  &.last-coach {
    .sbb-seat-reservation-navigation--first-class {
      width: calc(100% - #{sbb.px-to-rem-build(16)});
    }
  }

  &.first-coach {
    .sbb-seat-reservation-navigation__control-button {
      border-start-start-radius: var(--sbb-border-radius-8x);
      border-end-start-radius: var(--sbb-border-radius-8x);
    }

    .sbb-seat-reservation-navigation--first-class {
      margin-inline-start: var(--sbb-seat-reservation-navigation-travelclass-spacing);
    }
  }

  &.last-coach {
    .sbb-seat-reservation-navigation__control-button {
      border-start-end-radius: var(--sbb-border-radius-8x);
      border-end-end-radius: var(--sbb-border-radius-8x);
    }

    .sbb-seat-reservation-navigation__additional-information {
      padding-inline-end: var(--sbb-seat-reservation-navigation-travelclass-spacing);
    }

    .sbb-seat-reservation-navigation--first-class {
      margin-inline-end: var(--sbb-seat-reservation-navigation-travelclass-spacing);
    }
  }
}

.sbb-seat-reservation-navigation-driver-area {
  height: #{sbb.px-to-rem-build(36)};
  outline: var(--sbb-seat-reservation-navigation-btn-outline-width) solid
    var(--sbb-seat-reservation-navigation-btn-outline-color);
  border-radius: var(--sbb-border-radius-8x);
}

.sbb-seat-reservation-navigation__control-button {
  @include sbb.button-reset;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: #{sbb.px-to-rem-build(36)};
  outline: var(--sbb-seat-reservation-navigation-btn-outline-width) solid
    var(--sbb-seat-reservation-navigation-btn-outline-color);
  border-radius: var(--sbb-border-radius-2x);
  background-color: var(--sbb-seat-reservation-navigation-btn-background-color);
  cursor: pointer;
}

// same for all states
.sbb-seat-reservation-navigation__item-coach--selected
  .sbb-seat-reservation-navigation__control-button,
.sbb-seat-reservation-navigation__control-button:focus-visible,
.sbb-seat-reservation-navigation__control-button:hover,
.sbb-seat-reservation-navigation__control-button:active {
  --sbb-seat-reservation-navigation-btn-outline-width: var(
    --sbb-seat-reservation-navigation-btn-outline-width-hover
  );
  --sbb-seat-reservation-navigation-btn-outline-color: var(--sbb-color-black);
}

// focus, selected
.sbb-seat-reservation-navigation__item-coach--selected
  .sbb-seat-reservation-navigation__control-button,
.sbb-seat-reservation-navigation__control-button:focus-visible {
  --sbb-seat-reservation-navigation-btn-background-color: var(--sbb-color-milk);

  .sbb-seat-reservation-navigation__item-coach-travelclass {
    background-color: var(--sbb-color-black);
  }

  .sbb-seat-reservation-navigation__item-coach-number {
    color: var(--sbb-color-black);
  }
}

// hover
.sbb-seat-reservation-navigation__control-button:hover {
  --sbb-seat-reservation-navigation-btn-background-color: var(--sbb-color-cloud);

  .sbb-seat-reservation-navigation__item-coach-travelclass {
    background-color: var(--sbb-color-smoke);
  }

  .sbb-seat-reservation-navigation__item-coach-number {
    color: var(--sbb-color-iron);
  }
}

// active or pre-selected
.sbb-seat-reservation-navigation__control-button:active {
  --sbb-seat-reservation-navigation-btn-background-color: var(--sbb-color-silver);

  .sbb-seat-reservation-navigation__item-coach-travelclass {
    background-color: var(--sbb-color-metal);
  }

  .sbb-seat-reservation-navigation__item-coach-number {
    color: var(--sbb-color-anthracite);
  }
}

.sbb-seat-reservation-navigation__additional-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  column-gap: var(--sbb-spacing-fixed-2x);
  padding: 0 16px;
  font-family: var(--sbb-typo-font-family), sans-serif;
  font-weight: 700;
  color: var(--sbb-color-granite);

  @include sbb.if-forced-colors {
    color: var(--sbb-color-milk);
  }
}

.sbb-seat-reservation-navigation__item-coach-number {
  color: var(--sbb-color-granite);

  @include sbb.if-forced-colors {
    @include sbb.if-forced-colors {
      color: inherit;
    }

    color: var(--sbb-color-granite);
  }

  .sbb-seat-reservation-navigation__item-coach-travelclass {
    background-color: var(--sbb-color-charcoal);
  }
}

// graphical orientation of FIRST class
.sbb-seat-reservation-navigation--first-class {
  width: calc(100% - #{sbb.px-to-rem-build(4)});

  // use border instead of height to support force-color modes
  border: var(--sbb-border-width-1x) solid transparent;
  border-radius: var(--sbb-border-radius-1x);
  margin: auto;
  background-color: var(--sbb-color-lemon);
  transform: translateY(#{sbb.px-to-rem-build(1)});
}

// textual orientation of travel class
.sbb-seat-reservation-navigation__item-coach-travelclass {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: #{sbb.px-to-rem-build(20)};
  min-width: #{sbb.px-to-rem-build(20)};
  border-radius: var(--sbb-border-radius-1x);
  text-align: center;
  background-color: var(--sbb-color-granite);
  color: var(--sbb-color-white);
}
