@use '../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-form-error-color: var(--sbb-color-red125);
  --sbb-form-error-height: calc(var(--sbb-typo-line-height-body-text) * 1em);
  --sbb-form-error-icon-size: #{sbb.px-to-rem-build(17)};

  // Overrides sbb icon
  --sbb-icon-svg-width: var(--sbb-form-error-icon-size);
  --sbb-icon-svg-height: var(--sbb-form-error-icon-size);

  display: flex;
  align-items: flex-start;
  color: var(--sbb-form-error-color);
  min-height: var(--sbb-form-error-height);

  @include sbb.text-xs--regular;

  @include sbb.if-forced-colors {
    --sbb-form-error-color: LinkText !important;
  }
}

:host([negative]) {
  --sbb-form-error-color: var(--sbb-color-red-mode-dark);
}

.form-error__icon {
  display: flex;
  align-items: center;
  height: var(--sbb-form-error-height);
  margin-inline-end: var(--sbb-spacing-fixed-1x);
}

.form-error-content {
  // Fix for line-height taking more than reserved space
  line-height: var(--sbb-typo-line-height-body-text);
  vertical-align: text-top;
}

.form-error__icon-svg {
  stroke: currentcolor;
  height: var(--sbb-form-error-height);
}
