@use '../../core/styles' as sbb;

:host {
  display: block;

  // We add width definition to host, to make overwriting easy for consumers.
  width: max-content;
  max-width: 100%;

  // Set the line-height for adjacent elements in order to prevent from influence of a consumer-set line-height.
  line-height: var(--sbb-typo-line-height-text);

  --sbb-calendar-cell-size: #{sbb.px-to-rem-build(44)};

  // Match Figma design
  --sbb-calendar-cell-border-radius: calc(
    var(--sbb-border-radius-4x) + var(--sbb-calendar-cell-border-width)
  );
  --sbb-calendar-cell-transition-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-2x)
  );

  @include sbb.mq($from: small) {
    --sbb-calendar-control-view-change-height: #{sbb.px-to-rem-build(48)};
  }
}

:host(:state(enhanced)) {
  --sbb-calendar-cell-padding-block-end: var(--sbb-spacing-fixed-3x);
}

.sbb-calendar__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--sbb-calendar-tables-gap);
  transition-duration: var(--sbb-calendar-cell-transition-duration);
  position: relative;
}

:is(.sbb-calendar__year-view, .sbb-calendar__month-view) {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}

.sbb-calendar__wrapper:has(> :where(.sbb-calendar__year-view, .sbb-calendar__month-view))
  .sbb-calendar__day-view {
  visibility: hidden;
}

.sbb-calendar__table-header {
  display: flex;
  align-items: center;
  gap: var(--sbb-spacing-fixed-1x);
  height: var(--sbb-size-element-xs);
  margin-block-end: var(--sbb-spacing-fixed-4x);
}

.sbb-calendar__table-header span {
  flex: 1 1 auto;

  .sbb-calendar__day-view:not(:first-of-type) & {
    text-align: center;
  }
}

.sbb-calendar__control {
  -webkit-tap-highlight-color: transparent;
}

.sbb-calendar__table {
  width: 100%;
  border-collapse: collapse;
  height: max-content;
  flex: 0 0;

  animation: {
    name: show;
    duration: var(--sbb-calendar-table-animation-duration);
  }

  &.sbb-calendar__table-hide {
    --sbb-calendar-cell-transition-duration: 0ms;

    animation: {
      name: hide;
      duration: var(--sbb-calendar-table-animation-duration);
    }
  }
}

.sbb-calendar__table :is(thead, tbody) {
  // Depending where in the DOM it's used, it's possible that browser defaults set text-align to left.
  text-align: center;
}

.sbb-calendar__table-header-cell,
.sbb-calendar__table-header-cell-vertical {
  width: var(--sbb-calendar-cell-size);
  min-width: var(--sbb-calendar-cell-size);
  color: var(--sbb-calendar-header-color);
  padding: 0;
  font-size: var(--sbb-text-font-size-xs);
  font-weight: normal;
  letter-spacing: var(--sbb-typo-letter-spacing-text);

  :host(:not([multiple])) & {
    height: var(--sbb-calendar-cell-size);
  }
}

.sbb-calendar__table-header-cell-vertical {
  padding-block-end: var(--sbb-calendar-cell-padding-block-end);
}

.sbb-calendar__table-data {
  position: relative;
  padding: 0;
  text-align: center;
}

.sbb-calendar__day-cell {
  padding-block-end: var(--sbb-calendar-cell-padding-block-end);
}

sbb-calendar-day {
  :host(:not(:state(enhanced))) & {
    --sbb-calendar-cell-justify-content: center;
    --sbb-calendar-day-height: #{sbb.px-to-rem-build(44)};
    --sbb-calendar-day-extra-display: none;
    --sbb-calendar-day-value-height: unset;
    --sbb-calendar-day-crossed-out-top: 50%;
    --sbb-calendar-day-crossed-out-translate: translate(-50%, -50%) rotate(-45deg);
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(var(--sbb-calendar-table-animation-shift));
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0%);
  }

  to {
    opacity: 0;
    transform: translateY(var(--sbb-calendar-table-animation-shift));
  }
}
