@use '../../core/styles' as sbb;

:host {
  display: block;

  // We add width definition to host, to make overwriting easy for consumers.
  width: max-content;
  max-width: 100%;

  // Set the line-height for adjacent elements in order to prevent from influence of a consumer-set line-height.
  line-height: var(--sbb-typo-line-height-text);
}

:host(:state(enhanced)) {
  --sbb-calendar-cell-padding-block-end: var(--sbb-spacing-fixed-3x);
}

.sbb-calendar__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--sbb-calendar-tables-gap);
  position: relative;
}

:is(.sbb-calendar__year-view, .sbb-calendar__month-view) {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}

.sbb-calendar__day-view {
  :host(:not(:state(view-day))) & {
    visibility: hidden;
  }
}

.sbb-calendar__table-header {
  display: flex;
  align-items: center;
  gap: var(--sbb-calendar-control-gap);
  height: var(--sbb-size-element-xs);
  margin-block-end: var(--sbb-spacing-fixed-4x);
}

.sbb-calendar__table-header span {
  flex: 1 1 auto;
  padding-inline-start: var(--sbb-spacing-fixed-3x);
  color: var(--sbb-calendar-control-view-change-color);
}

.sbb-calendar__control {
  -webkit-tap-highlight-color: transparent;
}

.sbb-calendar__table {
  width: 100%;
  border-collapse: collapse;
  height: max-content;
  flex: 0 0;
}

.sbb-calendar__table :is(thead, tbody) {
  // Depending where in the DOM it's used, it's possible that browser defaults set text-align to left.
  text-align: center;
}

.sbb-calendar__table-header-cell,
.sbb-calendar__table-header-cell-vertical {
  width: var(--sbb-calendar-cell-size);
  min-width: var(--sbb-calendar-cell-size);
  color: var(--sbb-calendar-header-color);
  padding: 0;
  font-size: var(--sbb-text-font-size-xs);
  font-weight: normal;
  letter-spacing: var(--sbb-typo-letter-spacing-text);

  :host(:not([multiple])) & {
    height: var(--sbb-calendar-cell-size);
  }
}

.sbb-calendar__table-header-cell-vertical {
  padding-block-end: var(--sbb-calendar-cell-padding-block-end);
}

.sbb-calendar__table-data {
  position: relative;
  padding: 0;
  text-align: center;
}

.sbb-calendar__day-cell {
  padding-block-end: var(--sbb-calendar-cell-padding-block-end);
}

sbb-calendar-day {
  :host(:not(:state(enhanced))) & {
    --sbb-calendar-day-justify-content: center;
    --sbb-calendar-day-height: var(--sbb-calendar-day-size);
    --sbb-calendar-day-extra-display: none;
    --sbb-calendar-day-value-height: unset;
    --sbb-calendar-day-crossed-out-top: 50%;
    --sbb-calendar-day-crossed-out-translate: translate(-50%, -50%) rotate(-45deg);
  }
}
