@use '@sbb-esta/lyne-elements/core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  display: block;

  .coach-border,
  .coach-wrapper,
  .graphical-element {
    width: var(--sbb-seat-reservation-scoped-width);
    height: var(--sbb-seat-reservation-scoped-height);
    inset-block-start: var(--sbb-seat-reservation-scoped-inset-block-start);
    inset-inline-start: var(--sbb-seat-reservation-scoped-inset-inline-start);
    z-index: var(--sbb-seat-reservation-scoped-z-index);
  }

  .coach-border,
  .graphical-element ::slotted(*),
  .graphical-element {
    position: absolute;
  }

  .coach-border {
    z-index: 0;
  }
}
