@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
// FIXME draft, to be checked
@include sbb.host-component-properties;

:host {
  display: inline-block;
}

.sbb-calendar__wrapper {
  width: 280px;
  display: block;
}

.sbb-calendar__controls {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: var(--sbb-spacing-fixed-2x);
  margin-block-end: var(--sbb-spacing-fixed-4x);
}

.sbb-calendar__controls-month {
  width: 100%;
  text-align: center;
}

.sbb-calendar__table {
  @include sbb.stretch(width);
}

// FIXME trick for spacing between thead and tbody
tbody::before {
  width: 100%;
  display: block;
  content: '\200C';
  line-height: var(--sbb-spacing-fixed-4x);
}

th {
  @include sbb.text-xs--regular; // fixme for medium

  padding: 0;
  min-width: 40px;
}

td > button {
  @include sbb.text-s--regular;
  @include sbb.button-reset;
  @include sbb.stretch(width);
  @include sbb.stretch(height);
}

.sbb-datepicker__day-today {
  @include sbb.text-s--bold; // fixme
}

.sbb-datepicker__day-selected {
  border: 1px solid black; // fixme
}

.visually-hidden {
  @include sbb.screen-reader-only;
}
