@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  display: inline-block;

  --sbb-calendar-day-size: #{sbb.px-to-rem-build(40)};
  --sbb-calendar-day-padding: #{sbb.px-to-rem-build(2)};

  @include sbb.mq($from: micro) {
    --sbb-calendar-day-size: #{sbb.px-to-rem-build(44)};
  }
}

.sbb-calendar__wrapper {
  width: max-content;
  display: block;
}

.sbb-calendar__controls {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: var(--sbb-spacing-fixed-2x);
  margin-block-end: var(--sbb-spacing-fixed-4x);
}

.sbb-calendar__controls-month {
  @include sbb.text-s--regular;

  width: 100%;
  display: flex;
  gap: var(--sbb-spacing-fixed-10x);

  .sbb-calendar__controls-month-label {
    width: 100%;
    text-align: center;
  }
}

.sbb-calendar__table-container {
  display: flex;
  gap: var(--sbb-spacing-fixed-10x);
}

.sbb-calendar__table {
  @include sbb.stretch(width);

  border-collapse: collapse;
  height: max-content;
}

th {
  @include sbb.text-xs--regular; // fixme for medium

  color: var(--sbb-color-granite-default);
  width: var(--sbb-calendar-day-size);
  padding: 0;
  padding-block-end: var(--sbb-spacing-fixed-4x);
}

td {
  padding: var(--sbb-calendar-day-padding);
  height: var(--sbb-calendar-day-size);
  width: var(--sbb-calendar-day-size);
}

td > button {
  @include sbb.text-s--regular;
  @include sbb.button-reset;
  @include sbb.stretch(width);
  @include sbb.stretch(height);

  border-radius: 50%;
  color: var(--sbb-color-charcoal-default);
  position: relative;

  &:disabled {
    color: var(--sbb-color-granite-default);
  }

  &.sbb-datepicker__crossed-out::before {
    content: '';
    height: 1.5px;
    width: 25.5px;
    position: absolute;
    background-color: var(--sbb-color-granite-default);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:focus-visible {
    @include sbb.focus-outline;
  }
}

.sbb-datepicker__day-today {
  @include sbb.text-s--bold; // fixme
}

.sbb-datepicker__day-selected {
  color: var(--sbb-color-white-default);
  background-color: var(--sbb-color-charcoal-default);

  // box-shadow: inset 0 0 0 2px var(--sbb-color-charcoal-default); // fixme
}

.visually-hidden {
  @include sbb.screen-reader-only;
}
