@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-calendar-cell-height: #{sbb.px-to-rem-build(40)};
  --sbb-calendar-year-cell-width: #{sbb.px-to-rem-build(70)};
  --sbb-calendar-day-disabled-color: var(--sbb-color-granite-default);
  --sbb-calendar-header-color: var(--sbb-color-granite-default);
  --sbb-calendar-day-background-color: transparent;
  --sbb-calendar-day-padding: #{sbb.px-to-rem-build(2)};
  --sbb-calendar-day-color: var(--sbb-color-charcoal-default);
  --sbb-calendar-day-selected-color: var(--sbb-color-white-default);
  --sbb-calendar-day-selected-background-color: var(--sbb-color-charcoal-default);
  --sbb-calendar-day-disabled-height: #{sbb.px-to-rem-build(1.5)};
  --sbb-calendar-day-disabled-width: #{sbb.px-to-rem-build(25.5)};
  --sbb-calendar-day-transition-duration: var(--sbb-animation-duration-2x);
  --sbb-calendar-day-transition-easing-function: var(--sbb-animation-easing);
  --sbb-calendar-tables-gap: var(--sbb-spacing-fixed-10x);

  @include sbb.mq($from: micro) {
    --sbb-calendar-cell-height: #{sbb.px-to-rem-build(44)};
    --sbb-calendar-year-cell-width: #{sbb.px-to-rem-build(77)};
  }

  // We add width definition to host, to make overwriting easy for consumers.
  width: max-content;
}

.sbb-calendar__wrapper {
  width: 100%;
  display: block;
}

.sbb-calendar__controls {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: var(--sbb-spacing-fixed-2x);
  margin-block-end: var(--sbb-spacing-fixed-4x);
}

.sbb-calendar__controls-month {
  @include sbb.text-s--regular;

  width: 100%;
  display: flex;
  gap: var(--sbb-calendar-tables-gap);
}

.sbb-calendar__controls-month-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;

  &:focus-visible:not([data-focus-origin='mouse'], [data-focus-origin='touch']) {
    @include sbb.focus-outline;

    outline-offset: var(--sbb-spacing-fixed-1x);
    border-radius: var(--sbb-border-radius-2x);
  }
}

.sbb-calendar__table-container {
  display: flex;
  gap: var(--sbb-calendar-tables-gap);

  // The padding of the first and last column should not be visible if calendar is stretched.
  // Therefore we need a negative inline margin.
  // As we don't want to squeeze, the margin should never be greater than zero.

  // Min width is equals to the normal width of the calendar
  --sbb-calendar-min-width: calc(7 * var(--sbb-calendar-day-size));

  // The overflow variable is equals the difference between the actual width and the min width.
  --sbb-calendar-overflow: calc(100% - var(--sbb-calendar-min-width));

  // The start offset is negative margin which should overlap the parent container. Should never be a positive value.
  --sbb-calendar-start-offset: min(0px, -1 * (var(--sbb-calendar-overflow) / 12));
  --sbb-calendar-margin: var(--sbb-calendar-start-offset);

  :host([data-wide]) & {
    --sbb-calendar-min-width: calc(2 * 7 * var(--sbb-calendar-day-size) + var(--sbb-calendar-tables-gap));
    --sbb-calendar-margin: calc(0.5 * var(--sbb-calendar-start-offset));
  }

  margin-inline: var(--sbb-calendar-margin);
}

.sbb-calendar__table {
  width: 100%;
  border-collapse: collapse;
  height: max-content;
}

.sbb-calendar__table-header {
  @include sbb.text-xs--regular;

  color: var(--sbb-calendar-header-color);
  width: var(--sbb-calendar-cell-height);
  padding: 0;
  padding-block-end: var(--sbb-spacing-fixed-4x);
}

.sbb-calendar__table-data {
  position: relative;
  padding: 0;
  text-align: center;
  transition-duration: var(--sbb-calendar-day-transition-duration);
  transition-timing-function: var(--sbb-calendar-day-transition-easing-function);
  transition-property: background-color, padding;
}

.sbb-calendar__table-year,
.sbb-calendar__table-month {
  width: var(--sbb-calendar-year-cell-width);
}

.sbb-calendar__day {
  @include sbb.button-reset;
  @include sbb.text-s--regular;

  height: var(--sbb-calendar-day-size);
  width: var(--sbb-calendar-day-size);
  color: var(--sbb-calendar-day-color);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    inset: var(--sbb-calendar-day-padding);
    background-color: var(--sbb-calendar-day-background-color);
    border-radius: 50%;
    z-index: -1;
    transition-duration: var(--sbb-calendar-day-transition-duration);
    transition-timing-function: var(--sbb-calendar-day-transition-easing-function);
    transition-property: background-color;
  }

  @include sbb.hover-mq($hover: true) {
    &:not(.sbb-calendar__selected, :active, :disabled):hover {
      --sbb-calendar-day-background-color: var(--sbb-color-milk-default);

      padding-block-end: #{sbb.px-to-rem-build(1)};

      &::before {
        @include sbb.if-forced-colors {
          @include sbb.focus-outline;
        }
      }
    }
  }

  &:disabled {
    --sbb-calendar-day-color: var(--sbb-calendar-day-disabled-color);

    cursor: unset;
  }

  &:focus-visible::before {
    @include sbb.focus-outline;
  }

  &:not(.sbb-calendar__selected, :disabled):active {
    --sbb-calendar-day-background-color: var(--sbb-color-cloud-default);

    &::before {
      @include sbb.if-forced-colors {
        @include sbb.focus-outline;
      }
    }
  }
}

.sbb-calendar__day {
  border-radius: 50%;
}

.sbb-calendar__wide {
  border-radius: calc(var(--sbb-calendar-cell-height) / 2);
}

.sbb-calendar__crossed-out::after {
  content: '';
  height: var(--sbb-calendar-day-disabled-height);
  width: var(--sbb-calendar-day-disabled-width);
  position: absolute;
  background-color: var(--sbb-calendar-day-disabled-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sbb-calendar__day-today {
  @include sbb.text-s--bold;
}

.sbb-calendar__selected {
  --sbb-calendar-day-color: var(--sbb-calendar-day-selected-color);
  --sbb-calendar-day-background-color: var(--sbb-calendar-day-selected-background-color);

  @include sbb.if-forced-colors {
    --sbb-calendar-day-background-color: ButtonText !important;
  }
}

.sbb-calendar__visually-hidden {
  @include sbb.screen-reader-only;
}