// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  // Reminder: --_footer-gap-horizontal needs a new responsive gap design token
  // var(--spacing-responsive-s); is just a placeholder for now
  --_footer-gap-horizontal: var(--footer-gap-horizontal, var(--spacing-responsive-s));
  --_footer-gap-vertical: var(--footer-gap-vertical, var(--spacing-responsive-l));
  --_footer-background-color: var(--footer-background-color, var(--color-milk-default));
  --_footer-divider-color: var(--footer-divider-color, var(--color-cloud-default));
  --_footer-divider-thickness: var(--footer-divider-thickness, 1px);

  // Contextual design for lyne-stack
  --stack-text-color-normal: var(--color-metal-default);
}

.footer {
  @include page-spacing;
  margin-block-start: pxToRem(var(--spacing-responsive-l));
  padding-block-start: pxToRem(var(--spacing-responsive-l));
  padding-block-end: pxToRem(var(--spacing-responsive-l));
  background-color: var(--_footer-background-color);
}

.footer--primary-negative {
  --_footer-divider-color: var(--color-iron-default);
  --_footer-background-color: var(--color-charcoal-default);
  --title-text-color-normal: var(--color-storm-default);
}

.columns {
  // Reset
  width: 100%;
  padding: 0;
  margin: 0;

  @include page-spacing__inner;
  display: flex;
  flex-wrap: wrap;
  column-gap: pxToRem(var(--_footer-gap-horizontal));
  row-gap: pxToRem(var(--_footer-gap-vertical));

  ::slotted( [slot] ) {
    flex-basis: 100%;
    // Debugging helper
    //border: 1px solid var(--color-cloud-default);

    @include mq($from: small) {
      // Debugging helper: Swap flex definitions
      //flex: 0 0 calc(50% - (#{pxToRem(var(--_footer-gap-horizontal))}/2) - 2px);
      flex: 0 0 calc(50% - (#{pxToRem(var(--_footer-gap-horizontal))}/2));
    }
    @include mq($from: wide) {
      // Debugging helper: Swap flex definitions
      //flex: 0 0 calc(25% - ((3*#{pxToRem(var(--_footer-gap-horizontal))})/4) - 2px);
      flex: 0 0 calc(25% - ((3*#{pxToRem(var(--_footer-gap-horizontal))})/4));
    }
  }
  ::slotted( [slot='clock']) {
    max-width: 76px;
    @include mq($from: zero) {
      order: -1;
    }
    @include mq($from: small) {
      max-width: 112px;
      order: initial;
    }
    @include mq($from: wide) {
      margin-inline-start: auto;
    }
  }
}

.bottom {
  @include page-spacing__inner;
}

// Increase lyne-footer resilience
//
// Only apply spacing and thin line if footer bottom has a predecessor, excluding
// the hidden title which always needs to be present
:not(.title--visually-hidden) + .bottom {
  margin-block-start: pxToRem(var(--spacing-responsive-xl));
  border-block-start: var(--_footer-divider-thickness) solid var(--_footer-divider-color);
  padding-block-start: pxToRem(var(--spacing-fixed-8x));
}
