@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  display: block;
}

.sbb-flip-card--wrapper {
  position: relative;
  min-height: 280px;
  background-color: var(--sbb-color-cloud); // add cloud-alpha-80?
  border-radius: var(--sbb-border-radius-4x);
  overflow: hidden;
  display: flex;
  align-items: stretch;
}

.sbb-flip-card--toggle-button {
  position: absolute;
  inset-inline-start: var(--sbb-spacing-responsive-s);
  inset-block-end: var(--sbb-spacing-responsive-s);
}
