@use '../../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-flip-card-background-color: var(--sbb-background-color-4);
  --sbb-flip-card-border: var(--sbb-border-width-2x);
  --sbb-flip-card-border-radius: var(--sbb-border-radius-4x);
  --sbb-flip-card-dimensions: var(--sbb-size-element-xs);
  --sbb-flip-card-inset: var(--sbb-spacing-responsive-s);
  --sbb-flip-card-min-height: #{sbb.px-to-rem-build(280)};
  --sbb-flip-card-gap: var(--sbb-spacing-responsive-xs);
}

@mixin base-breakpoint-large {
  --sbb-flip-card-min-height: #{sbb.px-to-rem-build(320)};
}
