@use '../../core/styles' as sbb;

:host {
  --sbb-flip-card-summary-transition-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-5x)
  );
  --sbb-flip-card-summary-transition-delay: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-2x)
  );
  --sbb-flip-card-details-transition-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-4x)
  );

  position: relative;
  display: block;
}

:host(:hover) {
  @include sbb.hover-mq($hover: true) {
    --sbb-flip-card-background-color: light-dark(
      color-mix(in srgb, var(--sbb-color-cloud) 80%, transparent),
      var(--sbb-color-iron)
    );
    --sbb-flip-card-translate-title-y-hover: #{sbb.px-to-rem-build(-1)};
  }
}

:host(:state(flipped)) {
  --sbb-flip-card-toggle-icon-transform: rotate(45deg);
  --sbb-flip-card-details-transition-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-2x)
  );
  --sbb-flip-card-summary-transition-delay: 0s;

  ::slotted(sbb-flip-card-summary) {
    --sbb-flip-card-summary-opacity: 0;
    --sbb-flip-card-summary-pointer-events: none;
  }

  ::slotted(sbb-flip-card-details) {
    --sbb-flip-card-details-opacity: 1;
    --sbb-flip-card-details-translate-y: 0;
  }
}

:host(:state(image-alignment-after)) {
  @include sbb.mq($from: small, $to: large) {
    --sbb-flip-card-min-height: #{sbb.px-to-rem-build(240)};
  }

  @include sbb.mq($from: ultra) {
    --sbb-flip-card-min-height: #{sbb.px-to-rem-build(400)};
  }
}

.sbb-flip-card {
  position: relative;
  display: flex;
  height: 100%;
  flex-flow: wrap;
  flex-direction: column;
  gap: var(--sbb-flip-card-gap);
  min-height: var(--sbb-flip-card-min-height);
  background-color: var(--sbb-flip-card-background-color);
  border-radius: var(--sbb-flip-card-border-radius);
  transition:
    all var(--sbb-flip-card-summary-transition-duration) ease-out,
    min-height var(--sbb-flip-card-details-transition-duration);
  transition-delay: var(--sbb-flip-card-summary-transition-delay);
  cursor: var(--sbb-cursor-pointer);

  :host(:state(flipped)) & {
    min-height: max(var(--sbb-flip-card-min-height), var(--sbb-flip-card-details-height));
  }

  @include sbb.if-forced-colors {
    &::after {
      content: '';
      border: var(--sbb-flip-card-border) solid CanvasText;
      border-radius: var(--sbb-flip-card-border-radius);
      position: absolute;
      inset: 0;
      pointer-events: none;

      :host(:hover) & {
        @include sbb.hover-mq($hover: true) {
          border-color: Highlight;
        }
      }
    }
  }

  // Expanding dark background from the button when flipped.
  &::before {
    content: '';
    opacity: 0;
    pointer-events: none;
    position: absolute;
    inset-inline-start: var(--sbb-flip-card-inset);
    inset-block-end: var(--sbb-flip-card-inset);
    background-color: light-dark(var(--sbb-color-midnight), var(--sbb-color-iron));
    width: var(--sbb-flip-card-button-dimensions);
    height: var(--sbb-flip-card-button-dimensions);

    // Use this large border radius to improve the appearance of the expanding dark background.
    border-radius: #{sbb.px-to-rem-build(256)};
    transition: var(--sbb-disable-animation-duration, var(--sbb-animation-duration-3x)) ease-out;

    :host(:state(flipped)) & {
      opacity: 1;
      inset-inline-start: 0;
      inset-block-end: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--sbb-flip-card-border-radius);
      transition-duration: var(--sbb-disable-animation-duration, var(--sbb-animation-duration-5x));
    }
  }
}

.sbb-flip-card--toggle-button {
  position: absolute;
  inset-inline-start: var(--sbb-flip-card-inset);
  inset-block-end: var(--sbb-flip-card-inset);

  :host(:state(flipped)) & {
    --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);
  }
}

.sbb-flip-card--toggle-button-icon {
  transform: var(--sbb-flip-card-toggle-icon-transform, none);
  transition: transform var(--sbb-flip-card-summary-transition-duration) ease-out;
}

.sbb-flip-card-button {
  @include sbb.button-reset;

  position: absolute;
  inset: 0;
  width: 100%;
  border-radius: var(--sbb-flip-card-border-radius);
  cursor: var(--sbb-cursor-pointer);

  &:focus-visible {
    @include sbb.focus-outline;
  }
}
