@use '@sbb-esta/lyne-elements/core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-seat-reservation-compartment-number-background-first: #a57e0c;
  --sbb-seat-reservation-compartment-number-background-second: #126a12;

  display: block;
}

.sbb-seat-reservation {
  color: var(--sbb-seat-reservation-some-color-var);
}

.sbb-seat-reservation__wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.sbb-seat-reservation__wrapper--vertical {
  position: relative;
  left: 330px;
  transform: rotate(90deg);
  transform-origin: top left;
}

.sbb-seat-reservation__wrapper--vertical .sbb-seat-reservation__list-coaches {
  width: 100vh;
}

.sbb-seat-reservation__parent {
  overflow: scroll hidden;
  padding: 48px 0;
}

.sbb-seat-reservation__list-coaches {
  display: flex;
  gap: 4px;
  padding: 0;
  margin: 0;
  list-style: none;
  transform-origin: 0 0;
}

.sbb-seat-reservation__list-coaches .sbb-seat-reservation__item-coach {
  padding: 0;
  margin: 0;
  position: relative;
}

.sbb-seat-reservation__graphical-element {
  position: absolute;
}

.sbb-seat-reservation__compartment-number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.sbb-seat-reservation__compartment-number--first-class {
  background-color: var(--sbb-seat-reservation-compartment-number-background-first);
}

.sbb-seat-reservation__compartment-number--first-class {
  background-color: var(--sbb-seat-reservation-compartment-number-background-second);
}
