.story-asset {
  background-color: var(--sbb-color-white);

  &__hint {
    font-style: italic;
  }

  &__preview--tmp {
    padding: 2rem;
    max-width: 100%;
    border: var(--sbb-border-width-1x) solid var(--sbb-color-cloud);
  }

  &__preview--dark {
    background-color: var(--sbb-color-milk);
  }
}
