@use '@sbb-esta/lyne-elements/core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-seat-reservation-some-color-var: var(--color-black);
  --sbb-seat-reservation-wrapper-width: 600px;

  display: block;
}

.sbb-seat-reservation {
  color: var(--sbb-seat-reservation-some-color-var);
}

.sbb-seat-reservation__wrapper {
  display: flex;
  gap: 48px;
  flex-direction: column;

  &.sbb-seat-reservation__wrapper--vertical {
    position: relative;
    left: 330px;
    transform: rotate(90deg);
    transform-origin: top left;
  }

  &.sbb-seat-reservation__wrapper--vertical .sbb-seat-reservation__list-coaches {
    width: 100vh;
  }

  .sbb-seat-reservation__list-coaches {
    overflow: scroll hidden;
    display: flex;
    gap: 4px;
    padding: 48px 0;
    margin: 0;
    list-style: none;

    .sbb-seat-reservation__item-coach {
      padding: 0;
      margin: 0;
      position: relative;
    }
  }
}

.sbb-seat-reservation__item-coach .seat-reservation__compartment-number {
  text-align: center;
}
