:root {
  --occupancy-icon-height: 16;
  --occupancy-icon-width: 19;
}

.occupancy__list {
  @include listReset();
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: pxToRem(var(--spacing-fixed-2x));
  height: pxToRem(var(--icon-height));
}

.occupancy__list-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: pxToRem(2);
}

.occupancy__class--visual {
  @include text-s--regular();
  line-height: inherit;
}

.occupancy__class--visually-hidden {
  @include screenReaderOnly();
}

.occupancy__icon {
  height: pxToRem(var(--occupancy-icon-height));
  line-height: pxToRem(var(--occupancy-icon-height));
}

.occupancy__icon svg {
  height: pxToRem(var(--occupancy-icon-height));
  width: pxToRem(var(--occupancy-icon-width));
}
