@use '../../core/styles' as sbb;

:host {
  --_sbb-navigation-action-inset-inline-start: calc(
    (var(--sbb-size-icon-ui-small) + var(--sbb-spacing-fixed-1x)) * -1
  );
  --_sbb-navigation-action-inset-block-start: calc(1em * (var(--sbb-typo-line-height-text) / 2));
  --sbb-navigation-action-transition-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-3x)
  );

  display: block;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;
}

:host(:state(section-action):state(action-active).sbb-active) {
  --sbb-navigation-action-icon-display: block;
}

:host(:state(action-active)) {
  --sbb-navigation-action-color: var(--sbb-color-5);

  @include sbb.if-forced-colors {
    --sbb-navigation-action-color: Highlight;
  }
}

sbb-icon {
  display: var(--sbb-navigation-action-icon-display);
  position: absolute;
  inset-inline-start: var(--_sbb-navigation-action-inset-inline-start);
  inset-block-start: var(--_sbb-navigation-action-inset-block-start);
  translate: 0 -50%;
}

@include sbb.hover-mq($hover: true) {
  :host(:hover) {
    --sbb-navigation-action-color: var(--sbb-color-5);
  }
}

:host(:state(button)) {
  @include sbb.if-forced-colors {
    --sbb-navigation-action-color: ButtonText;
  }
}

:host([size='l']) {
  --sbb-navigation-action-font-size: var(--sbb-heading-font-size-4);
  --sbb-navigation-action-letter-spacing: var(--sbb-typo-letter-spacing-heading);
  --sbb-navigation-action-line-height: var(--sbb-typo-line-height-heading);
}

:host([size='m']),
:host([size='s']) {
  --sbb-navigation-action-line-height: var(--sbb-typo-line-height-text);
  --sbb-navigation-action-letter-spacing: var(--sbb-typo-letter-spacing-text);
}

:host([size='m']) {
  --sbb-navigation-action-font-size: var(--sbb-text-font-size-s);
}

:host([size='s']) {
  --sbb-navigation-action-font-size: var(--sbb-text-font-size-xxs);
}

:is(.sbb-navigation-button, .sbb-navigation-link) {
  display: flex;
  position: relative;
  color: var(--sbb-navigation-action-color);
  cursor: var(--sbb-cursor-pointer);
  transition: color var(--sbb-navigation-action-transition-duration) ease;
  outline: none;
  text-align: left;
  font-size: var(--sbb-navigation-action-font-size);
  line-height: var(--sbb-navigation-action-line-height);
  letter-spacing: var(--sbb-navigation-action-letter-spacing);
  font-weight: bold;
  hyphens: auto;
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  @include sbb.if-forced-colors {
    transition: none;
  }

  // Handle focus on the host (button variant)
  :host(:focus-visible) &,
    // Handle focus on the action (link variant)
  &:focus-visible {
    @include sbb.focus-outline;

    border-radius: calc(var(--sbb-border-radius-4x) - var(--sbb-focus-outline-offset));
  }
}
