@use '../../core/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-container-bg-color: var(--sbb-color-black-alpha-0);
  --sbb-sticky-bar-bg-color: var(--sbb-color-white-default);

  background-color: var(--sbb-container-bg-color);
}

:host([color='white']) {
  --sbb-container-bg-color: var(--sbb-color-white-default);
  --sbb-sticky-bar-bg-color: var(--sbb-color-white-default);
}

:host([color='milk']) {
  --sbb-container-bg-color: var(--sbb-color-milk-default);
  --sbb-sticky-bar-bg-color: var(--sbb-color-milk-default);
}

:host([color='midnight']) {
  --sbb-container-bg-color: var(--sbb-color-midnight-default);
  --sbb-sticky-bar-bg-color: var(--sbb-color-midnight-default);
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);

  color: var(--sbb-color-white-default);
}

.sbb-container {
  :host(:not([expanded])) & {
    @include sbb.page-spacing;
  }

  :host([expanded]) & {
    @include sbb.page-spacing-expanded;
  }
}
