@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  display: block;
}

:host([color='white']) {
  --sbb-container-background-color: var(--sbb-color-white);
}

:host([color='milk']) {
  --sbb-container-background-color: var(--sbb-color-milk);
}

.sbb-container {
  background-color: var(--sbb-container-background-color, transparent);

  // Placing content before and after the container stops the margin of inner elements from overflowing
  &::after,
  &::before {
    content: '\a0';
    display: block;
    visibility: hidden;
    height: 0;
  }

  :host(:not([expanded])) & {
    @include sbb.page-spacing;
  }

  :host([expanded]) & {
    @include sbb.page-spacing-expanded;
  }
}
