@use '../core/styles' as sbb;

:host {
  display: block;
  text-align: center;

  // Set the line-height for adjacent elements in order to prevent from influence of a consumer-set line-height.
  line-height: var(--sbb-typo-line-height-text);
}

::slotted(sbb-title[slot='title']) {
  margin: 0;
}

::slotted([slot='image']) {
  display: block;
  margin-inline: auto !important; // overrides '.sbb-figure' margin
  margin-block: var(--sbb-message-image-margin-block) !important; // overrides '.sbb-figure' margin
  width: 100%;
}

::slotted([slot='subtitle']) {
  color: var(--sbb-message-subtitle-color);
  font-size: var(--sbb-text-font-size-s);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  margin: 0;
}

::slotted([slot='legend']) {
  @include sbb.legend;

  margin-block: var(--sbb-message-legend-margin-block);
}

::slotted([slot='action']) {
  margin-block: var(--sbb-message-action-margin-block);
}
