@use '../core/styles' as sbb;

:host {
  --sbb-message-subtitle-color: light-dark(var(--sbb-color-granite), var(--sbb-color-platinum));
  --sbb-message-image-margin-block: 0 var(--sbb-spacing-responsive-s);
  --sbb-message-image-border-radius: var(--sbb-border-radius-4x);
  --sbb-message-legend-margin-block: var(--sbb-spacing-responsive-xxxs) 0;
  --sbb-message-action-margin-block: var(--sbb-spacing-responsive-xxxs) 0;

  display: block;
}

.sbb-message__container {
  text-align: center;
}

::slotted(sbb-title[slot='title']) {
  margin: 0;
}

::slotted([slot='image']) {
  display: block;
  margin-inline: auto !important; // overrides '.sbb-figure' margin
  margin-block: var(--sbb-message-image-margin-block) !important; // overrides '.sbb-figure' margin
  width: 100%;
}

::slotted([slot='subtitle']) {
  @include sbb.text-s--regular;

  color: var(--sbb-message-subtitle-color);
  margin: 0;
}

::slotted([slot='legend']) {
  @include sbb.legend;

  margin-block: var(--sbb-message-legend-margin-block);
}

::slotted([slot='action']) {
  margin-block: var(--sbb-message-action-margin-block);
}
