@use '../../core/styles/index' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-alert-group-gap: var(--sbb-spacing-fixed-3x);
  --sbb-alert-group-border-radius: var(--sbb-border-radius-4x);
}
