@use '../../core/styles' as sbb;

:host {
  display: flex;
  flex-direction: column;
  gap: var(--sbb-alert-group-gap);
}

:host(:focus-visible:not(:state(empty))) {
  @include sbb.focus-outline;

  border-radius: var(--sbb-alert-group-border-radius);
}

.sbb-alert-group__title {
  @include sbb.screen-reader-only;
}
