@use '../../core/styles/index' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-timetable-form-background-color: var(--sbb-color-white);
  --sbb-timetable-form-border-radius: var(--sbb-border-radius-4x);

  border-radius: var(--sbb-timetable-form-border-radius);
  background-color: var(--sbb-timetable-form-background-color);
  display: flex;
  flex-direction: column;
}
