@use '../../core/styles' as sbb;

:host {
  border-radius: var(--sbb-timetable-form-border-radius);
  background-color: var(--sbb-timetable-form-background-color);
  display: flex;
  flex-direction: column;
}
