// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: inline-block;

  --sbb-teaser-scale-hover: 1.02;
  --sbb-teaser-description-color: var(--sbb-color-metal-default);
  --sbb-teaser-flex-direction: row;
  --sbb-teaser-align-items: center;
  --sbb-teaser-gap: var(--sbb-spacing-fixed-4x);
}

:host([is-stacked]) {
  --sbb-teaser-flex-direction: column;
  --sbb-teaser-align-items: baseline;
  --sbb-teaser-gap: var(--sbb-spacing-fixed-3x);
}

.sbb-teaser {
  @include zeroWidthSpace;

  display: flex;
  text-decoration: none;

  &:focus-visible {
    @include focusOutline;
  }
}

.sbb-teaser__container {
  display: flex;
  flex-flow: var(--sbb-teaser-flex-direction) nowrap;
  align-items: var(--sbb-teaser-align-items);
  gap: var(--sbb-teaser-gap);
}

::slotted([slot='image']) {
  display: block;
  object-fit: cover;
  width: 100%;
  transition: var(--sbb-animation-duration-4x) var(--sbb-animation-easing);
  aspect-ratio: 4 / 3;

  @include hover-mq($hover: true) {
    .sbb-teaser:hover & {
      transform: scale(var(--sbb-teaser-scale-hover));
    }
  }
}

.sbb-teaser__image-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: var(--sbb-border-radius-4x);
  transition: var(--sbb-animation-duration-6x) var(--sbb-animation-easing);

  @include hover-mq($hover: true) {
    .sbb-teaser:hover & {
      @include shadow-level-9-hard;
    }
  }
}

.sbb-teaser__lead {
  @include clampLines($lines: 2);
}

.sbb-teaser__description {
  @include text-s--regular;
  @include clampLines($lines: 2);

  color: var(--sbb-teaser-description-color);
}

::slotted([slot='description']) {
  margin-block: 0;
}

.sbb-teaser__opens-in-new-window {
  @include screenReaderOnly;
}
