// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: inline-block;

  --teaser-scale-hover: 1.02;
  --teaser-description-color: var(--sbb-color-metal-default);
  --teaser-flex-direction: row;
  --teaser-align-items: center;
  --teaser-gap: var(--sbb-spacing-fixed-4x);
}

.teaser {
  text-decoration: none;
  display: flex;
  flex-flow: var(--teaser-flex-direction) nowrap;
  align-items: var(--teaser-align-items);
  gap: var(--teaser-gap);

  &:focus-visible {
    @include focusOutline;
  }
}

.teaser--is-stacked {
  --teaser-flex-direction: column;
  --teaser-align-items: baseline;
  --teaser-gap: var(--sbb-spacing-fixed-3x);
}

::slotted([slot='image']) {
  display: block;
  object-fit: cover;
  width: 100%;
  transition: var(--sbb-animation-duration-4x) var(--sbb-animation-easing);
  aspect-ratio: 4 / 3;

  .teaser:hover & {
    transform: scale(var(--teaser-scale-hover));
  }
}

.teaser__image-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: var(--sbb-border-radius-4x);
  transition: var(--sbb-animation-duration-6x) var(--sbb-animation-easing);

  .teaser:hover & {
    @include shadow-level-9-hard;
  }
}

.teaser__lead {
  @include clampLines($lines: 2);
}

.teaser__description {
  @include text-s--regular;
  @include clampLines($lines: 2);

  color: var(--teaser-description-color);
}

::slotted([slot='description']) {
  margin-block: 0;
}
