@use '../core/styles' as sbb;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: var(--sbb-visual-checkbox-dimension);
  height: var(--sbb-visual-checkbox-dimension);
  border-radius: var(--sbb-border-radius-2x);
  background-color: var(--sbb-visual-checkbox-background-color);
  cursor: var(--sbb-visual-checkbox-cursor);
  outline: var(--sbb-visual-checkbox-border-width) var(--sbb-visual-checkbox-border-style)
    var(--sbb-visual-checkbox-border-color);
  outline-offset: calc(-1 * var(--sbb-visual-checkbox-border-width));
}

:host([size='xs']) {
  --sbb-visual-checkbox-dimension: var(--sbb-checkbox-dimension-xs);
}

:host([size='s']) {
  --sbb-visual-checkbox-dimension: var(--sbb-checkbox-dimension-s);
}

:host([size='m']) {
  --sbb-visual-checkbox-dimension: var(--sbb-checkbox-dimension-m);
}

:host([negative]) {
  --sbb-visual-checkbox-background-color: var(--sbb-visual-checkbox-background-color-negative);
  --sbb-visual-checkbox-selection-color: var(--sbb-visual-checkbox-selection-color-negative);
}

:host([disabled]) {
  --sbb-visual-checkbox-background-color: var(--sbb-visual-checkbox-background-color-disabled);
  --sbb-visual-checkbox-border-style: var(--sbb-visual-checkbox-border-style-disabled);
  --sbb-visual-checkbox-cursor: var(--sbb-cursor-default);
  --sbb-visual-checkbox-border-color: var(--sbb-visual-checkbox-border-color-disabled);
  --sbb-visual-checkbox-selection-color: var(--sbb-visual-checkbox-selection-color-disabled);
}

:host([disabled][negative]) {
  --sbb-visual-checkbox-background-color: var(
    --sbb-visual-checkbox-background-color-negative-disabled
  );
  --sbb-visual-checkbox-selection-color: var(
    --sbb-visual-checkbox-selection-color-disabled-negative
  );
}

@include sbb.if-forced-colors {
  :host([indeterminate]) {
    --sbb-visual-checkbox-selection-color: ButtonBorder;
  }

  :host([indeterminate][disabled]) {
    --sbb-visual-checkbox-selection-color: GrayText;
  }

  :host([checked]:not([indeterminate])) {
    --sbb-visual-checkbox-background-color: Highlight;
    --sbb-visual-checkbox-border-width: 0;
  }

  :host([disabled][checked]:not([indeterminate])) {
    --sbb-visual-checkbox-background-color: GrayText;
  }
}

path {
  stroke: var(--sbb-visual-checkbox-selection-color);
}
