@use '../core/styles' as sbb;

:host {
  display: block;
}

:host([size='xs']) {
  --sbb-visual-checkbox-dimension: var(--sbb-visual-checkbox-dimension-xs);
}

:host(:is([size='s'], [size='m'])) {
  --sbb-visual-checkbox-dimension: var(--sbb-visual-checkbox-dimension-m);
}

:host([negative]) {
  --sbb-visual-checkbox-background-color: var(--sbb-visual-checkbox-background-color-negative);
  --sbb-visual-checkbox-selection-color: var(--sbb-visual-checkbox-selection-color-negative);
}

:host([disabled]) {
  --sbb-visual-checkbox-background-color: var(--sbb-visual-checkbox-background-color-disabled);
  --sbb-visual-checkbox-border-style: dashed;
  --sbb-visual-checkbox-cursor: default;
  --sbb-visual-checkbox-outline-color: var(--sbb-visual-checkbox-outline-color-disabled);
  --sbb-visual-checkbox-selection-color: var(--sbb-visual-checkbox-selection-color-disabled);
}

:host([disabled][negative]) {
  --sbb-visual-checkbox-background-color: var(
    --sbb-visual-checkbox-background-color-negative-disabled
  );
  --sbb-visual-checkbox-selection-color: var(
    --sbb-visual-checkbox-selection-color-disabled-negative
  );
}

@include sbb.if-forced-colors {
  :host([indeterminate]) {
    --sbb-visual-checkbox-selection-color: ButtonBorder;
  }

  :host([indeterminate][disabled]) {
    --sbb-visual-checkbox-selection-color: GrayText;
  }

  :host([checked]:not([indeterminate])) {
    --sbb-visual-checkbox-background-color: Highlight;
    --sbb-visual-checkbox-outline-color: none;
  }

  :host([disabled][checked]:not([indeterminate])) {
    --sbb-visual-checkbox-background-color: GrayText;
  }
}

.sbb-visual-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sbb-visual-checkbox-dimension);
  height: var(--sbb-visual-checkbox-dimension);
  border-radius: var(--sbb-border-radius-2x);
  border: var(--sbb-visual-checkbox-border-width) var(--sbb-visual-checkbox-border-style)
    var(--sbb-visual-checkbox-border-color);
  background-color: var(--sbb-visual-checkbox-background-color);
  cursor: var(--sbb-visual-checkbox-cursor);
  outline: var(--sbb-border-width-2x) solid var(--sbb-visual-checkbox-outline-color);
  outline-offset: calc(-1 * var(--sbb-border-width-2x));
}

.sbb-visual-checkbox__icon {
  display: inline-flex;
  width: var(--sbb-visual-checkbox-dimension);
  height: var(--sbb-visual-checkbox-dimension);

  svg {
    margin: auto;
  }

  path {
    stroke: var(--sbb-visual-checkbox-selection-color);
  }
}
