// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode

:host {
  display: block;
}

button {
  width: 100%;
  min-height: 100%;
  padding: 0;
  background: rgba(pink, .1);
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:hover {
  background: lime;
}
