@include host-component-properties;

@mixin dot {
  border-radius: 100%;
  border-color: white;
  position: relative;
  z-index: 2;
  height: var(--dot-size);
  width: var(--dot-size);
}

@mixin dot--transfer {
  @include dot;

  background-color: transparent;
  z-index: 2;

  @include ifForcedColors {
    .pearl-chain--past & {
      border-color: GrayText;
    }
  }
}

@mixin border {
  position: absolute;
  top: var(--dot-size);
  bottom: 0;
  flex: 1 1 0%;
  margin-inline-start: #{px-to-rem-build(4)};
  width: #{px-to-rem-build(2)};
}

:host {
  --dot-size-ultra: #{px-to-rem-build(12)};
  --dot-size-large: #{px-to-rem-build(10)};
  --dot-size-medium: #{px-to-rem-build(8)};
  --dot-size-small: #{px-to-rem-build(7)};
  --dot-size-extra-small: #{px-to-rem-build(6)};
  --dot-size: var(--dot-size-small);
  --bullet-border-width: var(--sbb-border-width-2x);
  --border-width: var(--sbb-border-width-2x);
  --spacing-small: var(--sbb-spacing-fixed-1x);
  --spacing-medium: var(--sbb-spacing-fixed-4x);
  --color-white: var(--sbb-color-white-default);
  --color-default: var(--sbb-color-black-default);
  --color-current-location: var(--sbb-color-red-default);
  --color-current-location-dark: var(--sbb-color-red150-default);
  --color-cancellation: var(--sbb-color-red-default);
  --color-past: var(--sbb-color-metal-default);
  --color-sky: #0079c7;
}

.position__dot--disable-animation {
  animation: unset;
}

.sbb-pearl-chain-item__dot-size-small {
  margin-inline-start: #{px-to-rem-build(1.5)};

  --dot-size: var(--dot-size-small);
}

.sbb-pearl-chain-item__dot-size-medium {
  margin-inline-start: #{px-to-rem-build(1)};

  --dot-size: var(--dot-size-medium);
}

.sbb-pearl-chain-item__dot-size-large {
  --dot-size: var(--dot-size-large);
}

.sbb-pearl-chain-item__dot-size-ultra {
  margin-inline-start: -1px;

  --dot-size: var(--dot-size-ultra);
}

.sbb-pearl-chain-item__dot-size-extra-small {
  margin-inline-start: calc(var(--dot-size-extra-small) / 2 - var(--bullet-border-width));
  top: calc(var(--dot-size-extra-small) / 2 - var(--bullet-border-width));

  --dot-size: var(--dot-size-extra-small);
}

.sbb-pearl-chain-item {
  position: relative;
}

.sbb-pearl-chain-item__line-standard {
  @include border;
}

.position__dot {
  --dot-size: var(--dot-size-large);
  @include dot;

  animation: pulse 3s infinite;
  border: var(--border-width) currentcolor;
  border-color: var(--color-cancellation);
  background-color: var(--color-cancellation);
}

.sbb-pearl-chain-item__line-dotted {
  @include border;

  background-color: transparent !important;
  border: 1px;
  border-style: dashed;
}

.sbb-pearl-chain-item__line-thin {
  @include border;

  width: 1px;
  margin-left: #{px-to-rem-build(4.48)};
}

.sbb-pearl-chain-item__dot-standard {
  @include dot;

  border: var(--border-width) currentcolor;
}

.sbb-pearl-chain-item__dot-thick-bullet {
  @include dot--transfer;

  border: var(--bullet-border-width) solid currentcolor;
  background-color: var(--color-white) !important;
}

.sbb-pearl-chain-item__dot-thin-bullet {
  --bullet-border-width: var(--sbb-border-width-1x);
  @include dot--transfer;

  border: var(--bullet-border-width) solid currentcolor;
  background-color: var(--color-white) !important;
}

.sbb-color__black {
  background-color: var(--color-default);
  border-color: var(--color-default);
}

.sbb-color__red {
  border-color: var(--color-cancellation);
  background-color: var(--color-cancellation);
}

.sbb-color__gray {
  border-color: var(--color-past);
  background-color: var(--color-past);
}

.sbb-color__sky {
  border-color: var(--color-sky);
  background-color: var(--color-sky);
}

.sbb-pearl-chain-item__row-middle {
  padding-top: 0;
  vertical-align: top;
  padding-inline-start: var(--spacing-small);
  padding-inline-end: var(--spacing-medium);
}

.sbb-pearl-chain-item__left-slot {
  margin-top: 1px;
}

.sbb-pearl-chain-item__row-left {
  vertical-align: top;
  position: relative;
}

.sbb-pearl-chain-item__row-right {
  vertical-align: top;
  position: relative;
  padding-bottom: var(--sbb-spacing-fixed-3x);
}

.sbb-pearl-chain-item__middle {
  vertical-align: top;
  border-spacing: 0;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-current-location-dark);
  }

  40% {
    box-shadow: 0 0 0 #{px-to-rem-build(6)} transparent;
  }
}
