@include host-component-properties;

@mixin dot {
  border-radius: 100%;
  border-color: var(--sbb-color-white-default);
  position: relative;
  z-index: 2;
  height: var(--sbb-dot-size);
  width: var(--sbb-dot-size);
}

@mixin dot--transfer {
  @include dot;

  background-color: transparent;
  z-index: 2;

  @include ifForcedColors {
    .pearl-chain--past & {
      border-color: GrayText;
    }
  }
}

:host {
  display: table-row;

  --sbb-dot-size-ultra: var(--sbb-spacing-fixed-3x);
  --sbb-dot-size-large: #{px-to-rem-build(10)};
  --sbb-dot-size-medium: var(--sbb-spacing-fixed-2x);
  --sbb-dot-size-small: #{px-to-rem-build(7)};
  --sbb-dot-size-extra-small: #{px-to-rem-build(6)};
  --sbb-dot-size: var(--sbb-dot-size-small);
  --sbb-bullet-border-width: var(--sbb-border-width-2x);
  --sbb-border-width: var(--sbb-border-width-2x);
  --sbb-border-width-thin: var(--sbb-border-width-1x);
  --sbb-spacing-small: var(--sbb-spacing-fixed-1x);
  --sbb-spacing-medium: var(--sbb-spacing-fixed-4x);
  --sbb-color-white: var(--sbb-color-white-default);
  --sbb-color-default: var(--sbb-color-charcoal-default);
  --sbb-color-current-location: var(--sbb-color-red-default);
  --sbb-color-current-location-dark: var(--sbb-color-red150-default);
  --sbb-color-cancellation: var(--sbb-color-red-default);
  --sbb-color-past: var(--sbb-color-metal-default);
  --sbb-color-sky: #0079c7;
}

.sbb-position__dot--disable-animation {
  animation: unset !important;
}

.sbb-pearl-chain-item__dot-size--small {
  --sbb-dot-size: var(--sbb-dot-size-small);

  inset-inline-start: 50%;
  transform: translateX(-50%);
}

.sbb-pearl-chain-item__dot-size--medium {
  --sbb-dot-size: var(--sbb-dot-size-medium);

  inset-inline-start: 50%;
  transform: translateX(-50%);
}

.sbb-pearl-chain-item__dot-size--large {
  --sbb-dot-size: var(--sbb-dot-size-large);

  inset-inline-start: 50%;
  transform: translateX(-50%);
}

.sbb-pearl-chain-item__dot-size--ultra {
  --sbb-dot-size: var(--sbb-dot-size-ultra);
}

.sbb-pearl-chain-item__dot-size--extra-small {
  margin-inline-start: calc(var(--sbb-dot-size-extra-small) / 2 - var(--sbb-bullet-border-width));
  inset-block-start: calc(var(--sbb-dot-size-extra-small) / 2 - var(--sbb-bullet-border-width));

  --sbb-dot-size: var(--sbb-dot-size-extra-small);
}

.sbb-pearl-chain-item {
  position: relative;
}

.sbb-pearl-chain-item__line {
  position: absolute;
  bottom: 0;
  flex: 1 1 0%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  width: var(--sbb-border-width-2x);
  inset-block-start: var(--sbb-dot-size);

  &::after {
    content: '';
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    height: var(--sbb-leg-status);
    width: var(--sbb-border-width);
    background-color: var(--sbb-color-past);
  }
}

.sbb-position__dot {
  @include dot;

  --sbb-dot-size: var(--sbb-dot-size-large);

  inset-block-start: var(--sbb-position);
  position: absolute;
  animation: pulse 2800ms var(--sbb-animation-easing) infinite;
  border: var(--sbb-border-width) currentcolor;
  border-color: var(--sbb-color-cancellation);
  background-color: var(--sbb-color-cancellation);
  inset-inline-start: 50%;
  transform: translateX(-50%);
}

.sbb-pearl-chain-item__line--dotted {
  background-color: unset;
  border-color: unset;
  background-image: linear-gradient(
    to bottom,
    currentcolor 0%,
    currentcolor 50%,
    var(--sbb-color-white) 50%
  );
  background-repeat: repeat-y;
  background-size: calc(2 * var(--sbb-spacing-small)) var(--sbb-spacing-small);
}

.sbb-pearl-chain-item__line--thin {
  width: var(--sbb-border-width-thin);
}

.sbb-pearl-chain-item__dot--standard {
  @include dot;

  border: var(--sbb-border-width) currentcolor;
}

.sbb-pearl-chain-item__dot--thick-bullet {
  @include dot--transfer;

  border: var(--sbb-bullet-border-width) solid currentcolor;
  background-color: var(--sbb-color-white) !important;
}

.sbb-pearl-chain-item__dot--thin-bullet {
  @include dot--transfer;

  --sbb-bullet-border-width: var(--sbb-border-width-thin);

  border: var(--sbb-bullet-border-width) solid currentcolor;
  background-color: var(--sbb-color-white) !important;
}

.sbb-color--charcoal {
  background-color: var(--sbb-color-default);
  border-color: var(--sbb-color-default);
  color: var(--sbb-color-default);
}

.sbb-color--red {
  border-color: var(--sbb-color-cancellation);
  background-color: var(--sbb-color-cancellation);
  color: var(--sbb-color-cancellation);
}

.sbb-color--metal {
  border-color: var(--sbb-color-past);
  background-color: var(--sbb-color-past);
  color: var(--sbb-color-past);
}

.sbb-color--sky {
  border-color: var(--sbb-color-sky);
  background-color: var(--sbb-color-sky);
  color: var(--sbb-color-sky);
}

.sbb-pearl-chain-item__column {
  display: table-cell;
  position: relative;
  vertical-align: top;
}

.sbb-pearl-chain-item__middle {
  vertical-align: top;
  border-spacing: 0;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 var(--sbb-color-red);
  }

  40% {
    box-shadow: 0 0 0 #{px-to-rem-build(4)} var(--sbb-color-red-alpha-20);
  }

  80% {
    box-shadow: 0 0 0 0 var(--sbb-color-red);
  }
}

@keyframes pulse-dot {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.6);
  }

  to {
    transform: scale(1);
  }
}
