@mixin image-aspect-ratio-4-3 {
  aspect-ratio: 4 / 3;
}

:host {
  --sbb-hover-scale: 1.02;
}

/* ************************************************* */
/* Layout & spacing                                  */
/* ************************************************* */
.teaser {
  border: none;
  text-decoration: none;
  text-align: start;

  &:hover {
    ::slotted([slot='image']) {
      @include shadow-level-9-hard;
      transform: scale(var(--sbb-hover-scale));
    }
  }
}

::slotted([slot='image']) {
  @include image-aspect-ratio-4-3;
  display: block;
  object-fit: cover;
  border-radius: var(--sbb-border-radius-4x);
  width: 100%;
  transition: var(--sbb-animation-duration-4x) var(--sbb-animation-easing);
}

.teaser__inner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.teaser__wrapper {
  width: 100%;
  margin-inline-end: var(--sbb-spacing-fixed-4x);
  margin-block-end: 0;
}

// Layout switch

.teaser__inner {
  .teaser--is-stacked & {
    flex-direction: column;
    align-items: baseline;
  }
}

.teaser__text {
  .teaser--is-stacked & {
    margin-inline-start: 0;
  }
}

.teaser__wrapper {
  .teaser--is-stacked & {
    margin-inline-end: 0;
    margin-block-end: var(--sbb-spacing-fixed-3x);
  }
}

/* ************************************************* */
/* Styling                                           */
/* ************************************************* */

.teaser__description {
  .teaser--primary-negative & {
    color: var(--sbb-color-black-default);
  }
}

.teaser__lead {
  @include clampLines($lines: 2);
}

.teaser__description {
  @include text-s--regular();
  @include clampLines($lines: 2);
  color: var(--sbb-color-metal-default);
}

::slotted([slot='description']) {
  margin-block-start: 0;
  margin-block-end: 0;
}
