// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: block;
}

.timetable {
  // contain: content;
  display: flex;
  flex-direction: column;
  margin-block-start: var(--sbb-spacing-fixed-1x);
}

.timetable > svg,
.timetable__column-headers {
  @include screenReaderOnly();
}
