@use '../../core/styles' as sbb;

:host {
  --sbb-error-color: var(--sbb-color-error);
  --sbb-error-height: calc(var(--sbb-typo-line-height-text) * 1em);
  --sbb-error-icon-size: #{sbb.px-to-rem-build(17)};

  // Overrides sbb icon
  --sbb-icon-svg-width: var(--sbb-error-icon-size);
  --sbb-icon-svg-height: var(--sbb-error-icon-size);

  display: flex;
  align-items: flex-start;
  color: var(--sbb-error-color);
  min-height: var(--sbb-error-height);

  @include sbb.text-xs--regular;

  @include sbb.if-forced-colors {
    --sbb-error-color: LinkText !important;
  }
}

:host([negative]) {
  --sbb-error-color: var(--sbb-color-red85);
}

.error__icon {
  display: flex;
  align-items: center;
  height: var(--sbb-error-height);
  margin-inline-end: var(--sbb-spacing-fixed-1x);
}

.error-content {
  // Fix for line-height taking more than reserved space
  line-height: var(--sbb-typo-line-height-text);
  vertical-align: text-top;
}

.error__icon-svg {
  stroke: currentcolor;
  height: var(--sbb-error-height);
}
