@use '../core/styles' as sbb;

:host {
  --sbb-select-placeholder-fallback-color: light-dark(
    var(--sbb-color-metal),
    var(--sbb-color-smoke)
  );

  display: block;
}

:host([negative]) {
  --sbb-select-placeholder-fallback-color: var(--sbb-color-5);
}

.sbb-select__trigger {
  @include sbb.ellipsis;

  cursor: var(--sbb-cursor-default);
  height: calc(1em * var(--sbb-typo-line-height-text));

  :host(:not(:state(has-display-value))) & {
    color: var(--sbb-select-placeholder-color, var(--sbb-select-placeholder-fallback-color));

    // Note: when the sbb-select is used within a sbb-form-field, some style are applied from it
    // (see selector `.sbb-form-field__input ::slotted(:where(input, select, sbb-select))` in the sbb-form-field.scss);
    // so, next line is mandatory because we need to override the rule from the parent.
    -webkit-text-fill-color: var(
      --sbb-select-placeholder-color,
      var(--sbb-select-placeholder-fallback-color)
    );
  }
}

.sbb-option-panel__overlay-container[popover] {
  margin: 0;
  padding: 0;
  border: none;
  width: auto;
  height: auto;
  background-color: transparent;
}
