@use '@sbb-esta/lyne-elements/core/styles' as sbb;

.sbb-sr-navigation__signs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--sbb-spacing-fixed-2x);
  overflow: hidden;
  line-height: normal;
  color: light-dark(var(--sbb-color-granite), var(--sbb-color-graphite));

  // decrease gap when three wide service-icons are combined
  &:has(> :nth-child(4)) {
    &:has(
      [name='SILENCE'],
      [name='SILENCE_ICON'] [name='SILENCE_AREA_ICON'],
      [name='BUSINESS'],
      [name='BUSINESS_COMFORT'],
      [name='BUSINESS_ICON']
    ) {
      gap: 0.25rem;

      &:has(
        [name='BICYCLE'],
        [name='BICYCLE_ICON'],
        [name='BICYCLE_LOW'],
        [name='BICYCLE_MIDDLE'],
        [name='BICYCLE_HIGH'],
        [name='BICYLCLE_LOW_ICON'],
        [name='BICYCLE_MIDDLE_ICON'],
        [name='BICYCLE_HIGH_ICON']
      ) {
        gap: 0.125rem;
      }
    }
  }
}

:host([vertical]) .sbb-sr-navigation__signs {
  flex-direction: column;
  height: 100%;
}
