@use '@sbb-esta/lyne-elements/core/styles' as sbb;
@use '../common/styles/seat-reservation-functions' as sbb-sr-functions;

.sbb-sr-navigation__signs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: var(--sbb-spacing-fixed-2x);
  overflow: hidden;
  line-height: normal;
  color: light-dark(var(--sbb-color-granite), var(--sbb-color-graphite));

  // TIMO-44215
  // decrease column-gap when three wide service-icons are combined
  &:has(:nth-child(n + 3 of .auto-width)) {
    // adjustment for silence- and business-icons
    &:has([name^='SILENCE'], [name^='BUSINESS']) {
      column-gap: sbb-sr-functions.sr-px-to-rem(6);

      // bicycle icon only needs further adjustment when combined with silence- and business-icons
      &:has([name^='BICYCLE']) {
        column-gap: sbb-sr-functions.sr-px-to-rem(3);
      }
    }
  }
}

:host([vertical]) .sbb-sr-navigation__signs {
  flex-direction: column;
  height: 100%;
}
