@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

.sbb-pearl-chain__time {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sbb-pearl-chain__time-walktime {
  @include sbb.text-xxs--regular;

  display: inline-flex;
  align-items: center;
}

.sbb-pearl-chain__time-walktime--left {
  margin-inline-end: var(--sbb-spacing-fixed-2x);
}

.sbb-pearl-chain__time-walktime--right {
  margin-inline-start: var(--sbb-spacing-fixed-2x);
}

.sbb-pearl-chain__time-chain {
  flex: 1 1 auto;
  align-self: center;
  margin-inline: var(--sbb-spacing-fixed-3x);
}

.sbb-pearl-chain__time-time {
  @include sbb.text-s--bold;
}

.sbb-screenreaderonly {
  @include sbb.screenReaderOnly;
}
