@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not applied on this level. We need to include box-sizing for every component.
@include sbb.box-sizing;

:host {
  display: block;
}

.tab-group {
  display: flex;
  flex-wrap: wrap;
}

.tab-content {
  margin-block-start: var(--sbb-spacing-responsive-m);
  transition: height var(--sbb-animation-duration-4x) var(--sbb-animation-easing);

  ::slotted(*) {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  ::slotted(*[active]) {
    visibility: visible;
    opacity: 1;
    height: fit-content;
    overflow: unset;
    transition: {
      duration: var(--sbb-animation-duration-4x);
      delay: var(--sbb-animation-duration-4x);
      timing-function: var(--sbb-animation-easing);
      property: opacity, visibility;
    }
  }

  ::slotted([role='tabpanel']:focus-visible) {
    @include sbb.focus-outline;
  }
}

// Make inactive nested tab groups non-focusable, to ensure accessibility
:host([data-nested]:not([active])) *,
:host([data-nested]:not([active])) ::slotted(*) {
  visibility: hidden;
  opacity: 0;
  height: 0;
}
