@use '../../core/styles' as sbb;

:host {
  --sbb-radio-button-inner-circle-color: var(--sbb-radio-button-background-color);

  // The border in unchecked state should fill the circle.
  --sbb-radio-button-background-fake-border-width: calc(var(--sbb-radio-button-dimension) / 2);

  // Align radio button to the first row of the label based on the line-height so that it's vertically
  // aligned to the label and sticks to the top if the label breaks into multiple lines
  --sbb-radio-button-icon-align: calc(
    (1em * var(--sbb-typo-line-height-text) - var(--sbb-radio-button-dimension)) / 2
  );
}

:host(:state(checked)) {
  --sbb-radio-button-inner-circle-color: var(--sbb-color-primary);
  --sbb-radio-button-background-fake-border-width: calc(
    (var(--sbb-radio-button-dimension) - var(--sbb-radio-button-inner-circle-dimension)) / 2
  );

  @include sbb.if-forced-colors {
    --sbb-radio-button-inner-circle-color: Highlight;
    --sbb-radio-button-border-color: Highlight;
  }
}

// Disabled definitions have to be after checked definitions
:host(:disabled) {
  --sbb-radio-button-label-color: light-dark(var(--sbb-color-granite), var(--sbb-color-aluminium));
  --sbb-radio-button-background-color: var(--sbb-background-color-3);
  --sbb-radio-button-border-style: dashed;
  --sbb-radio-button-inner-circle-color: var(--sbb-radio-button-background-color);
  --sbb-radio-button-cursor: var(--sbb-cursor-default);

  @include sbb.if-forced-colors {
    --sbb-radio-button-background-color: Canvas;
    --sbb-radio-button-inner-circle-color: GrayText;
    --sbb-radio-button-border-color: GrayText;
    --sbb-radio-button-border-style: solid;
  }
}

// Disabled definitions have to be after checked definitions
:host(:disabled:state(checked)) {
  --sbb-radio-button-inner-circle-color: var(--sbb-background-color-2-inverted);
}

:host([size='xs']) {
  --sbb-radio-button-font-size: var(--sbb-text-font-size-xs);
  --sbb-radio-button-dimension: var(--sbb-radio-button-dimension-xs);
}

:host([size='s']) {
  --sbb-radio-button-font-size: var(--sbb-text-font-size-s);
  --sbb-radio-button-dimension: var(--sbb-radio-button-dimension-s);
}

:host([size='m']) {
  --sbb-radio-button-font-size: var(--sbb-text-font-size-m);
  --sbb-radio-button-dimension: var(--sbb-radio-button-dimension-m);
}

.sbb-screen-reader-only {
  @include sbb.screen-reader-only;
}

.sbb-radio-button {
  font-size: var(--sbb-radio-button-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  display: block;
  cursor: var(--sbb-radio-button-cursor);
  user-select: none;
  position: relative;
  color: var(--sbb-radio-button-label-color);
  -webkit-tap-highlight-color: transparent;
}

.sbb-radio-button__label-slot {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  min-height: calc(var(--sbb-radio-button-font-size) * var(--sbb-typo-line-height-text));

  &::before,
  &::after {
    content: '';
    flex-shrink: 0;
    width: var(--sbb-radio-button-dimension);
    height: var(--sbb-radio-button-dimension);
    border-radius: 50%;
    margin-block-start: var(--sbb-radio-button-icon-align);

    transition: {
      duration: var(--sbb-disable-animation-duration, var(--sbb-animation-duration-4x));
      timing-function: ease;
      property: background-color, border;
    }

    @include sbb.if-forced-colors {
      transition: none;
    }
  }

  // Unchecked style
  &::before {
    background: var(--sbb-radio-button-inner-circle-color);

    // The border was used to generate the animation of the radio-button
    // The border color acts as background color.
    border: var(--sbb-radio-button-background-fake-border-width) solid
      var(--sbb-radio-button-background-color);
    margin-inline-end: var(--sbb-radio-button-label-gap);
  }

  &::after {
    position: absolute;
    border: var(--sbb-radio-button-border-width) var(--sbb-radio-button-border-style)
      var(--sbb-radio-button-border-color);
  }
}
