@use '../../core/styles' as sbb;

// Open/Close animation vars
$open-anim-rows-from: 0fr;
$open-anim-rows-to: 1fr;
$open-anim-opacity-from: 0;
$open-anim-opacity-to: 1;

:host {
  --sbb-expansion-panel-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-4x)
  );
  --sbb-expansion-panel-border-color: var(--sbb-border-color-4-inverted);
  --sbb-expansion-panel-border-width: var(--sbb-border-width-1x);
  --sbb-expansion-panel-border-block-start-color: var(--sbb-expansion-panel-border-color);
  --sbb-expansion-panel-border-block-start-width: var(--sbb-expansion-panel-border-width);
  --sbb-expansion-panel-start-end-radius: var(--sbb-expansion-panel-border-radius);
  --sbb-expansion-panel-start-start-radius: var(--sbb-expansion-panel-border-radius);
  --sbb-expansion-panel-end-end-radius: var(--sbb-expansion-panel-border-radius);
  --sbb-expansion-panel-end-start-radius: var(--sbb-expansion-panel-border-radius);
  --_sbb-expansion-panel-display: grid;

  display: block;
  background-color: var(--sbb-expansion-panel-background-color);
  border: var(--sbb-expansion-panel-border-width) solid var(--sbb-expansion-panel-border-color);
  border-block-start-color: var(--sbb-expansion-panel-border-block-start-color);
  border-block-start-width: var(--sbb-expansion-panel-border-block-start-width);
  border-radius: var(--sbb-expansion-panel-start-start-radius)
    var(--sbb-expansion-panel-start-end-radius) var(--sbb-expansion-panel-end-end-radius)
    var(--sbb-expansion-panel-end-start-radius);
  background-clip: padding-box;
}

:host([size='s']) {
  --sbb-expansion-panel-title-gap: var(--sbb-expansion-panel-title-gap-s);
}

:host([size='l']) {
  --sbb-expansion-panel-title-gap: var(--sbb-expansion-panel-title-gap-l);
}

:host(:not([size])) {
  --sbb-expansion-panel-title-gap: var(--sbb-expansion-panel-title-gap-default);
}

:host([disabled]) {
  @include sbb.if-forced-colors {
    --sbb-expansion-panel-border-color: GrayText;
    --sbb-expansion-panel-border-block-start-color: GrayText;
  }
}

:host([expanded]) {
  --_sbb-expansion-panel-display-expanded: var(--_sbb-expansion-panel-display);
}

:host(:state(accordion):state(accordion-first)) {
  --sbb-expansion-panel-start-end-radius: var(--sbb-expansion-panel-border-radius);
  --sbb-expansion-panel-start-start-radius: var(--sbb-expansion-panel-border-radius);
}

:host(:state(accordion):not(:state(accordion-first))) {
  --sbb-expansion-panel-border-block-start-width: 0;
  --sbb-expansion-panel-border-block-start-color: transparent;
  --sbb-expansion-panel-start-end-radius: 0;
  --sbb-expansion-panel-start-start-radius: 0;
}

:host(:state(accordion):state(accordion-last)) {
  --sbb-expansion-panel-end-end-radius: var(--sbb-expansion-panel-border-radius);
  --sbb-expansion-panel-end-start-radius: var(--sbb-expansion-panel-border-radius);
}

:host(:state(accordion):not(:state(accordion-last))) {
  --sbb-expansion-panel-end-end-radius: 0;
  --sbb-expansion-panel-end-start-radius: 0;
}

:host([color='white']) {
  --sbb-expansion-panel-background-color: var(--sbb-background-color-1);
  --sbb-expansion-panel-background-color-hover: var(--sbb-background-color-3);
}

:host([color='milk']) {
  --sbb-expansion-panel-background-color: var(--sbb-background-color-3);
  --sbb-expansion-panel-background-color-hover: var(--sbb-background-color-1);
}

:host([borderless]) {
  --sbb-expansion-panel-border-width: 0;
  --sbb-expansion-panel-border-color: transparent;
  --sbb-expansion-panel-border-block-start-width: 0;
  --sbb-expansion-panel-border-block-start-color: transparent;

  @include sbb.if-forced-colors {
    --sbb-expansion-panel-border-width: var(--sbb-border-width-1x);
    --sbb-expansion-panel-border-block-start-width: var(--sbb-expansion-panel-border-width);
  }
}

:host([borderless]:state(accordion):not(:state(accordion-first))) {
  --sbb-expansion-panel-border-block-start-width: var(--sbb-spacing-fixed-1x);

  @include sbb.if-forced-colors {
    --sbb-expansion-panel-border-block-start-width: 0;
  }
}

:host(:not([disabled]):state(toggle-hover)) {
  background-color: var(--sbb-expansion-panel-background-color-hover);

  @include sbb.if-forced-colors {
    --sbb-expansion-panel-border-color: Highlight;
    --sbb-expansion-panel-border-block-start-color: Highlight;
  }
}

.sbb-expansion-panel__header {
  margin: 0;
}

.sbb-expansion-panel__content-wrapper {
  display: var(--_sbb-expansion-panel-display-expanded, none);
  grid-template-rows: #{$open-anim-rows-from};
  opacity: #{$open-anim-opacity-from};

  :host(:state(state-opened)) & {
    grid-template-rows: #{$open-anim-rows-to};
    opacity: #{$open-anim-opacity-to};
  }

  :host(:state(state-opening)) & {
    animation-name: open, open-opacity;
    animation-fill-mode: forwards;
    animation-duration: var(--sbb-expansion-panel-animation-duration);
    animation-timing-function: var(--sbb-animation-easing);
    animation-delay: 0s, var(--sbb-expansion-panel-animation-duration);
  }

  :host(:state(state-closing)) & {
    display: var(--_sbb-expansion-panel-display);
    visibility: hidden;
    animation-name: close;
    animation-duration: var(--sbb-expansion-panel-animation-duration);
    animation-timing-function: var(--sbb-animation-easing);
  }
}

.sbb-expansion-panel__content {
  min-height: 0;
}

@keyframes open {
  from {
    grid-template-rows: #{$open-anim-rows-from};
  }

  to {
    grid-template-rows: #{$open-anim-rows-to};
  }
}

@keyframes open-opacity {
  from {
    opacity: #{$open-anim-opacity-from};
  }

  to {
    opacity: #{$open-anim-opacity-to};
  }
}

@keyframes close {
  from {
    grid-template-rows: #{$open-anim-rows-to};
    opacity: #{$open-anim-opacity-to};
  }

  to {
    grid-template-rows: #{$open-anim-rows-from};
    opacity: #{$open-anim-opacity-from};
  }
}
