@use '../../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-expansion-panel-background-color: var(--sbb-background-color-1);
  --sbb-expansion-panel-border-width: var(--sbb-border-width-1x);
  --sbb-expansion-panel-border-color: var(--sbb-border-color-4-inverted);
  --sbb-expansion-panel-border-radius: var(--sbb-border-radius-4x);

  // Vars which will be used by child components
  --sbb-expansion-panel-title-gap: var(--sbb-spacing-fixed-4x);
  --sbb-expansion-panel-icon-size: var(--sbb-size-icon-ui-medium);
}
