@use '../../core/styles' as sbb;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--sbb-logo-height);
  aspect-ratio: var(--sbb-logo-aspect-ratio);
  background-color: var(--sbb-logo-background-color, none);
  position: relative;

  @media (forced-colors: active) {
    --sbb-logo-word-mark-color: ButtonText !important;
  }

  --sbb-logo-anniversary-bounce-delay: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-2x)
  );
  --sbb-logo-anniversary-125-pull-out-delay: var(
    --sbb-disable-animation-duration,
    var(--sbb-logo-anniversary-initial-delay)
  );
  --sbb-logo-anniversary-125-pull-out-duration: var(--sbb-disable-animation-duration, 0.6s);
  --sbb-logo-anniversary-word-mark-delay: var(
    --sbb-disable-animation-duration,
    calc(var(--sbb-logo-anniversary-initial-delay) + 0.6s)
  );
  --sbb-logo-anniversary-word-mark-duration: var(--sbb-disable-animation-duration, 0.6s);
  --sbb-logo-anniversary-claim-delay: var(
    --sbb-disable-animation-duration,
    calc(var(--sbb-logo-anniversary-initial-delay) + 1.8s)
  );
  --sbb-logo-anniversary-claim-duration: var(--sbb-disable-animation-duration, 0.8s);
}

:host([animation='none']) {
  @include sbb.disable-animation;
}

:host([negative]) {
  --sbb-logo-word-mark-color: var(--sbb-color-white);
}

// As the logo should stay with it natural size (without additional text) we position it absolute.
svg {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}

// Clips area left of the signet to hide animating texts
#sbb-logo-anniversary__word-mark,
#sbb-logo-anniversary__125 {
  clip-path: url('#sbb-logo-letter-mask');
}

#sbb-logo-anniversary__125 :is(path, rect) {
  fill: var(--sbb-logo-word-mark-color);
  animation: pull-out var(--sbb-logo-anniversary-125-pull-out-duration)
    var(--sbb-logo-anniversary-125-pull-out-delay) var(--sbb-logo-anniversary-125-pull-out-easing)
    forwards;

  &:nth-child(2) {
    animation-delay: calc(
      var(--sbb-logo-anniversary-125-pull-out-delay) + var(--sbb-logo-anniversary-bounce-delay)
    );
  }

  &:nth-child(3) {
    animation-delay: calc(
      var(--sbb-logo-anniversary-125-pull-out-delay) + 2 * var(--sbb-logo-anniversary-bounce-delay)
    );
  }
}

#sbb-logo-anniversary__word-mark path {
  fill: var(--sbb-logo-word-mark-color);
  translate: -100% 0;
  opacity: 0;
  animation: pull-in var(--sbb-logo-anniversary-word-mark-duration)
    var(--sbb-logo-anniversary-word-mark-delay) var(--sbb-logo-anniversary-word-mark-easing)
    forwards;

  &:nth-child(1) {
    animation-delay: calc(
      var(--sbb-logo-anniversary-word-mark-delay) + 2 * var(--sbb-logo-anniversary-bounce-delay)
    );
  }

  &:nth-child(2) {
    animation-delay: calc(
      var(--sbb-logo-anniversary-word-mark-delay) + var(--sbb-logo-anniversary-bounce-delay)
    );
  }
}

#sbb-logo-anniversary__panel,
#sbb-logo-anniversary__signet {
  // We us px values here because it relates to the svg context
  translate: 68px 0;
  animation: move-to-origin var(--sbb-logo-anniversary-word-mark-duration)
    var(--sbb-logo-anniversary-word-mark-delay) var(--sbb-logo-anniversary-word-mark-easing)
    forwards;
}

#sbb-logo-anniversary__panel {
  fill: var(--sbb-logo-panel-color);
  stroke: var(--sbb-logo-panel-color);
}

#sbb-logo-anniversary__signet {
  fill: var(--sbb-logo-signet-color);
}

#sbb-logo-anniversary__claim {
  fill: var(--sbb-logo-word-mark-color);
  opacity: 0;
  animation: fade-in var(--sbb-logo-anniversary-claim-duration)
    var(--sbb-logo-anniversary-claim-delay) var(--sbb-logo-anniversary-claim-easing) forwards;
}

@keyframes move-to-origin {
  100% {
    translate: 0;
  }
}

@keyframes pull-out {
  80% {
    opacity: 0;
  }

  100% {
    translate: -100% 0;
  }
}

@keyframes pull-in {
  20% {
    opacity: 0;
  }

  100% {
    translate: 0;
    opacity: 1;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
