@use '../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-toggle-slide-element-height: #{sbb.theme-pattern-select(
      (
        'standard': var(--sbb-size-element-m),
        'lean': var(--sbb-size-element-s),
      ),
      $theme
    )};
  --sbb-toggle-slide-button-dimension: #{sbb.theme-pattern-select(
      (
        'standard': var(--sbb-button-min-height-size-m),
        'lean': var(--sbb-button-min-height-size-s),
      ),
      $theme
    )};
  --sbb-toggle-slide-font-size: var(--sbb-text-font-size-xs);
  --sbb-toggle-slide-border-color: var(--sbb-border-color-5);
  --sbb-toggle-slide-border-color-disabled: light-dark(
    var(--sbb-color-graphite),
    var(--sbb-color-smoke)
  );
  --sbb-toggle-slide-background-color: var(--sbb-background-color-1);
  --sbb-toggle-slide-color: light-dark(var(--sbb-color-metal), var(--sbb-color-smoke));
  --sbb-toggle-slide-color-disabled: var(--sbb-color-5);
  --sbb-toggle-slide-padding-inline: var(--sbb-spacing-fixed-4x);
}
