@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-expansion-panel-animation-duration: var(--sbb-animation-duration-4x);
  --sbb-expansion-panel-background-color: var(--sbb-color-white-default);
  --sbb-expansion-panel-content-visibility: hidden;
  --sbb-expansion-panel-content-max-height: 0;
  --sbb-expansion-panel-content-opacity: 0;
  --sbb-expansion-panel-content-transition: max-height var(--sbb-expansion-panel-animation-duration)
      var(--sbb-animation-easing),
    padding var(--sbb-expansion-panel-animation-duration) var(--sbb-animation-easing),
    opacity var(--sbb-expansion-panel-animation-duration) var(--sbb-animation-easing);
  --sbb-expansion-panel-border: var(--sbb-border-width-1x) solid var(--sbb-color-cloud-default);
  --sbb-expansion-panel-border-top: 0;
  --sbb-expansion-panel-top-right-radius: unset;
  --sbb-expansion-panel-top-left-radius: unset;
  --sbb-expansion-panel-bottom-right-radius: unset;
  --sbb-expansion-panel-bottom-left-radius: unset;
}

:host([expanded]) {
  --sbb-expansion-panel-content-visibility: visible;
  --sbb-expansion-panel-content-max-height: calc(
    var(--sbb-expansion-panel-content-height) + var(--sbb-spacing-responsive-xs) +
      var(--sbb-spacing-responsive-xs)
  );
  --sbb-expansion-panel-content-opacity: 1;
  --sbb-expansion-panel-content-transition: max-height var(--sbb-expansion-panel-animation-duration)
      var(--sbb-animation-easing),
    padding var(--sbb-expansion-panel-animation-duration) var(--sbb-animation-easing),
    opacity var(--sbb-expansion-panel-animation-duration)
      var(--sbb-expansion-panel-animation-duration) var(--sbb-animation-easing);
}

:host(:first-child) {
  --sbb-expansion-panel__border-top: var(--sbb-border-width-1x) solid var(--sbb-color-cloud-default);
}

:host([color='milk']) {
  --sbb-expansion-panel-background-color: var(--sbb-color-milk-default);
}

:host([borderless]) {
  --sbb-expansion-panel-border: var(--sbb-border-width-1x) solid transparent;
}

.sbb-expansion-panel {
  background-color: var(--sbb-expansion-panel__background-color);
  padding-block: var(--sbb-spacing-responsive-xs);
  padding-inline: var(--sbb-spacing-fixed-6x);
  border-top: var(--sbb-expansion-panel-border-top);
  border-bottom: var(--sbb-expansion-panel-border);
  border-left: var(--sbb-expansion-panel-border);
  border-right: var(--sbb-expansion-panel-border);
  border-radius: var(--sbb-expansion-panel-top-left-radius)
    var(--sbb-expansion-panel-top-right-radius) var(--sbb-expansion-panel-bottom-right-radius)
    var(--sbb-expansion-panel-bottom-left-radius);
  background-clip: padding-box;
}

.sbb-expansion-panel__header {
  margin: 0;
}

.sbb-expansion-panel__content {
  display: block;
  overflow: hidden;
}

::slotted(sbb-expansion-panel-content) {
  visibility: var(--sbb-expansion-panel-content-visibility);
  max-height: var(--sbb-expansion-panel-content-max-height);
  opacity: var(--sbb-expansion-panel-content-opacity);
  transition: var(--sbb-expansion-panel-content-transition);
}
