@use '../../core/styles' as sbb;

:host {
  --sbb-toggle-option-cursor: var(--sbb-cursor-pointer);
  --sbb-toggle-option-color: light-dark(var(--sbb-color-anthracite), var(--sbb-color-cloud));
  --sbb-toggle-option-icon-min-size: var(--sbb-size-icon-ui-small);

  display: inline-block;
  overflow: hidden;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;
}

:host([checked]) {
  --sbb-toggle-option-color: var(--sbb-color-2);
}

:host([disabled]) {
  --sbb-toggle-option-cursor: unset;
  --sbb-toggle-option-color: light-dark(var(--sbb-color-anthracite), var(--sbb-color-cloud));
}

.sbb-toggle-option {
  @include sbb.text-xs--bold;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sbb-spacing-fixed-1x);
  height: var(--sbb-toggle-height);
  padding-inline: var(--sbb-toggle-padding-inline);
  color: var(--sbb-toggle-option-color);
  cursor: var(--sbb-toggle-option-cursor);
}

.sbb-toggle-option__label {
  @include sbb.ellipsis;
}

sbb-icon,
::slotted(sbb-icon) {
  min-width: var(--sbb-toggle-option-icon-min-size);
  min-height: var(--sbb-toggle-option-icon-min-size);
}
