// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  --image-border-radius: var(--border-radius-4x);
}

.image__figure {
  margin: 0;
}

.image__figure img {
  max-width: 100%;
  height: auto;
  border-radius: pxToRem(var(--image-border-radius));
}

.image__lqip,
.image__img {
  position: absolute;
  inset: 0;
}

.image__figure .image__img {
  opacity: .000001;
  transition: opacity var(--animation-form-element-state-duration) var(--animation-form-element-state-easing);
}

.image__figure--loaded .image__img {
  opacity: .999999;
}

.image__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: pxToRem(var(--spacing-fixed-4x));
}

.image__caption {
  @include text-xs--regular();
}

.image__figure--1x1 .image__wrapper {
  aspect-ratio: 1 / 1;
}

.image__figure--5x4 .image__wrapper {
  aspect-ratio: 5 / 4;
}

.image__figure--4x3 .image__wrapper {
  aspect-ratio: 4 / 3;
}

.image__figure--3x2 .image__wrapper {
  aspect-ratio: 3 / 2;
}

.image__figure--16x9 .image__wrapper {
  aspect-ratio: 16 / 9;
}

.image__figure--2x1 .image__wrapper {
   aspect-ratio: 2 / 1;
}

.image__figure--1x2 .image__wrapper {
  aspect-ratio: 1 / 2;
}

.image__figure--9x16 .image__wrapper {
  aspect-ratio: 9 / 16;
}

.image__figure--2x3 .image__wrapper {
  aspect-ratio: 2 / 3;
}

.image__figure--3x4 .image__wrapper {
  aspect-ratio: 3 / 4;
}

.image__figure--4x5 .image__wrapper {
  aspect-ratio: 4 / 5;
}
