// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

div {
  --color-default-text: var(--color-white-default);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 400px;
  left: 32px;
  top: 0px;

  /* midnight/default */

  background: #151515;
  /* Level-5/Hard */

  box-shadow: 0px 1px 8px rgba(141, 141, 141, 0.2), 0px 4px 32px rgba(141, 141, 141, 0.1);
  border-radius: 8px;

  &.large {
    height: 59px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    span {
      color: var(--color-default-text);
      &.icon {
        height: 27px;
        width: 24px;
        padding: 2px 0px;
        fill: currentColor;
      }
      &.text {
        color: var(--color-default-text);
        width: 145px;
      }
    }

  }

  &.small {
    height: 48px;
  }

}
