// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: block;

  --text-color-label: var(--sbb-color-metal-default);

  --text-color-input-default: var(--sbb-color-charcoal-default);
  --text-color-input-error: var(--sbb-color-red125-default);

  --border-color-default: var(--sbb-color-smoke-default);
  --border-color-disabled: var(--sbb-color-graphite-default);
  --border-color-error: var(--sbb-color-red125-default);
  --border-color-focus: var(--sbb-color-charcoal-default);

  --background-color-default: var(--sbb-color-white-default);
  --background-color-disabled: var(--sbb-color-milk-default);
  --text-color-readonly: var(--sbb-color-granite-default);
  --text-color-disabled: var(--border-color-disabled);

  --input-height: var(--sbb-size-form-element-l-min-height-small);

  --input-with-icon-padding-inline-start: 44px; //TODO Design Token?

  --icon-size: var(--size-icon-ui-small);

  @include mq($from: medium) {
    --input-height: var(--sbb-size-form-element-l-min-height-medium);
  }

  @include ifForcedColors {
    --border-color-error: LinkText;
    --text-color-input-error: LinkText;
    --text-color-disabled: GrayText;
  }
}

.input-wrapper {
  position: relative;
}

::slotted(.input-wrapper--error) {
  color: var(--text-color-input-error);
}

::slotted(.input-wrapper__inner) {
  position: relative;
}

// Input
::slotted(.input) {
  @include text-m--regular();
  @include placeholder();
  @include ellipsis();
  -webkit-appearance: none;

  width: 100%;
  box-sizing: border-box;
  height: var(--input-height);
  padding-block-start: var(--sbb-spacing-fixed-5x);
  padding-inline-start: var(--sbb-spacing-fixed-3x);
  padding-inline-end: var(--sbb-spacing-fixed-3x);

  background-color: var(--background-color-default);
  border: var(--sbb-border-width-1x) solid var(--border-color-default);
  border-radius: var(--sbb-border-radius-4x);
}

::slotted(.input:focus) {
  border-color: var(--border-color-focus);
  outline: none;
}

::slotted(.input[disabled]) {
  color: var(--text-color-disabled);
  border-color: var(--text-color-disabled);
  background-color: var(--background-color-disabled);
}

::slotted(.input[disabled] + .input-label) {
  color: var(--text-color-disabled);
}

::slotted(.input[readonly]) {
  color: var(--text-color-readonly);
  border-color: var(--text-color-disabled);
  background-color: var(--background-color-disabled);
}

::slotted(.input--no-border) {
  border: none;
  @include shadow-level-5-hard;

  @include ifForcedColors() {
    border: var(--sbb-border-width-1x) solid CanvasText;
  }
}

// Input Variant
.input-wrapper--label-hidden .input {
  padding-block-start: 0;
}

.input-wrapper--with-icon .input {
  padding-inline-start: var(--input-with-icon-padding-inline-start);
}

.input-wrapper--error .input {
  color: inherit;
  border-color: var(--border-color-error);
}

// Label
// ----------------------------------------------
.input-label {
  @include text-xs--regular();
  position: absolute;
  inset-block-start: var(--sbb-spacing-fixed-1x);
  inset-block-end: var(--sbb-spacing-fixed-1x);
  inset-inline-start: 0;

  display: flex;
  max-width: 100%;
  padding-inline-start: var(--sbb-spacing-fixed-3x);
  padding-inline-end: var(--sbb-spacing-fixed-3x);
  color: var(--text-color-label);
  user-select: none;
  pointer-events: none;
}

.input-label--text {
  @include ellipsis();
}

.input-label--optional {
  flex: 0 0 auto;
}

// Label Variants
// ----------------------------------------------
.input-wrapper--label-hidden .input-label {
  @include screenReaderOnly();
}

.input-wrapper--with-icon .input-label {
  padding-inline-start: var(--input-with-icon-padding-inline-start);
}

// Icon
// ----------------------------------------------
.input__icon {
  @include absoluteCenterY;
  inset-inline-start: var(--sbb-spacing-fixed-3x);
  height: var(--icon-size);
  overflow: hidden;
  fill: currentColor;
}
