@use '../../core/styles' as sbb;

@mixin icon-only {
  // The variable is assigned to the property in the sbb-header component if it is
  // the first element in the header and needs left offset correction (see sbb-header.scss).
  // To avoid duplicated CSS definitions, the value itself is assigned here in
  // sbb-header-button/sbb-header-link instead of sbb-header.

  // Move it left by padding of header action to the icon itself.
  --_sbb-header-first-item-padding-shift: calc(
    -0.5 * (var(--sbb-header-action-min-width) - var(--sbb-header-action-icon-dimension))
  );
  --sbb-header-action-padding-inline-zero: 0;
  --sbb-header-action-active-border-margin-inline: calc(
    0.5 * (100% - var(--sbb-size-icon-ui-small))
  );

  .sbb-header-action__text {
    @include sbb.screen-reader-only;

    // This is a workaround to fix styling after orientation change on iOS.
    // If the display value changes comparing to the base state (display: flex),
    // it re-renders and displays everything correctly.
    // Without this workaround, elements are overlapping each other.
    display: flex;
  }
}

:host {
  display: inline-block;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize CSS of several frameworks.
  outline: none !important;

  --sbb-header-action-padding-inline: var(--sbb-spacing-fixed-5x);
  --sbb-header-action-color: var(--sbb-color-1);
  --sbb-header-action-background-color: transparent;
  --sbb-header-action-min-height: var(--sbb-size-element-s);
  --sbb-header-action-min-width: var(--sbb-header-action-min-height);
  --sbb-header-action-transition-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-2x)
  );
  --sbb-header-action-transition-easing: var(--sbb-animation-easing);
  --sbb-header-action-border-color: transparent;
  --sbb-header-action-background-inset: 0;
  --sbb-header-action-translate-y: 0;
  --sbb-header-action-gap: var(--sbb-spacing-fixed-2x);
  --sbb-header-action-icon-dimension: var(--sbb-size-icon-ui-small);
  --sbb-header-action-active-border-width: var(--sbb-border-width-2x);
  --sbb-header-action-active-border-color: var(--sbb-header-action-color);
  --sbb-header-action-active-border-margin-inline: var(--sbb-header-action-padding-inline);
  --sbb-header-action-active-border-scale: 0;

  // If expanded, move it left by left padding.
  // As result, the icon should be aligned with the left side of the page wrapper.
  --_sbb-header-first-item-padding-shift: calc(-1 * var(--sbb-header-action-padding-inline));
  --sbb-header-first-item-icon-shift: #{sbb.px-to-rem-build(2)};
  --sbb-header-first-item-margin-inline-start: calc(
    var(--_sbb-header-first-item-padding-shift) - var(--sbb-header-first-item-icon-shift)
  );

  @include sbb.if-forced-colors {
    --sbb-header-action-border-color: CanvasText;
    --sbb-header-action-color: LinkText;

    // Hide border with forced colors, as state is displayed on border
    --sbb-header-action-active-border-width: 0;
  }
}

@include sbb.hover-mq($hover: true) {
  :host(:hover:not(:active, :state(active))) {
    --sbb-header-action-background-color: var(--sbb-background-color-3);
    --sbb-header-action-translate-y: #{sbb.px-to-rem-build(-1)};
    --sbb-header-action-background-inset: calc(var(--sbb-border-width-2x) * -1);

    @include sbb.if-forced-colors {
      --sbb-header-action-border-color: Highlight;
    }
  }
}

:host(:is(:active, :state(active))) {
  --sbb-header-action-background-color: var(--sbb-background-color-4);

  @include sbb.if-forced-colors {
    --sbb-header-action-border-color: Highlight;
  }
}

:host(.sbb-active) {
  --sbb-header-action-active-border-scale: 1;

  @include sbb.if-forced-colors {
    --sbb-header-action-border-color: Highlight;
  }
}

:host(:state(button)) {
  @include sbb.if-forced-colors {
    --sbb-header-action-color: ButtonText;
  }
}

// If there is no icon and the action is the first in the header, the left offset
// must be changed (other value than for the icon only variant) to align the text with the container.
// The value corresponds to the padding of the header action itself.
:host(:not(:state(slotted-icon), :state(has-icon-name))) {
  --sbb-header-first-item-margin-inline-start: var(--_sbb-header-first-item-padding-shift);
}

.sbb-action-base {
  @include sbb.text-inherit;

  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: var(--sbb-header-action-color);
  text-decoration: none;
  min-height: var(--sbb-header-action-min-height);
  min-width: var(--sbb-header-action-min-width);
  padding-inline: var(
    --sbb-header-action-padding-inline-zero,
    var(--sbb-header-action-padding-inline)
  );
  cursor: var(--sbb-cursor-pointer);
  user-select: none;
  outline: none;

  &::before {
    position: absolute;
    content: '';
    inset: var(--sbb-header-action-background-inset);
    border-radius: var(--sbb-border-radius-infinity);
    background-color: var(--sbb-header-action-background-color);
    transition-duration: var(--sbb-header-action-transition-duration);
    transition-timing-function: var(--sbb-header-action-transition-easing);
    transition-property: inset, background-color;
    border: var(--sbb-border-width-1x) solid var(--sbb-header-action-border-color);

    @include sbb.if-forced-colors {
      border-width: var(--sbb-border-width-2x);
    }
  }

  // Handle focus on the host (button variant)
  :host(:focus-visible) &,
  // Handle focus on the action (link variant)
  &:focus-visible {
    &::before {
      @include sbb.focus-outline;
    }
  }

  // Active state border
  &::after {
    content: '';
    position: absolute;
    border-block-end: var(--sbb-header-action-active-border-width) solid
      var(--sbb-header-action-active-border-color);
    inset: auto 0 calc(-1 * var(--sbb-header-action-active-border-width));
    margin-inline: var(--sbb-header-action-active-border-margin-inline);
    scale: var(--sbb-header-action-active-border-scale);
    transition: scale var(--sbb-header-action-transition-easing)
      var(--sbb-header-action-transition-duration);
  }
}

.sbb-header-action__wrapper {
  display: flex;
  align-items: center;
  gap: var(--sbb-header-action-gap);
  white-space: nowrap;
  transform: translateY(var(--sbb-header-action-translate-y));
  transition: transform var(--sbb-header-action-transition-duration)
    var(--sbb-header-action-transition-easing);
  will-change: transform;
  max-width: 100%;
}

.sbb-header-action__icon {
  // Set stroke on header icons
  --sbb-icon-svg-stroke-color: currentcolor;
  --sbb-icon-svg-stroke-width: 1px;

  min-width: var(--sbb-header-action-icon-dimension);
  min-height: var(--sbb-header-action-icon-dimension);
  line-height: 0;

  :host(:not(:state(slotted-icon), :state(has-icon-name))) & {
    display: none;
  }
}

.sbb-header-action__text {
  @include sbb.text-xs--bold;
  @include sbb.ellipsis;

  display: block;

  :host(:not(:state(slotted))) & {
    display: none;
  }
}

// If there is no slotted text, regardless of expanded-from state, the icon only variant should be set.
:host(:is(:state(slotted-icon), :state(has-icon-name)):not(:state(slotted))) {
  @include icon-only;
}

// TODO: reevaluate this once 'CSS container queries' is supported
// https://caniuse.com/css-container-queries-style
@each $breakpoint, $value in sbb.$mq-breakpoints {
  // We skip zero breakpoint as it would resolve into (to: 0).
  // The rules are set to force the icon only variant if there is slotted text, but not yet expanded.
  @if $breakpoint != 'zero' {
    :host(
      [expand-from='#{$breakpoint}']:is(:state(slotted-icon), :state(has-icon-name)):state(slotted)
    ) {
      @include sbb.mq($to: #{$breakpoint}) {
        @include icon-only;
      }
    }
  }
}

::slotted([slot='icon']:is(sbb-image, img)) {
  width: var(--sbb-header-action-icon-dimension);
  height: var(--sbb-header-action-icon-dimension);
  border-radius: var(--sbb-border-radius-infinity);
}
