// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  --some-color-var: var(--color-black-default);
}

.header-action__icon {
  margin-left: var(--sbb-spacing-fixed-5x);
  margin-right: var(--sbb-spacing-fixed-2x);
}

.header-action__label {
  margin-right: var(--sbb-spacing-fixed-5x);
}

.header-action__link {
  display: flex;
  align-content: center;
}

.header-action__button {
  @include button;
}
