// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  display: flex;
  min-height: var(--sbb-size-button-m-min-height);
  padding-inline: var(--sbb-spacing-fixed-5x);
  border-radius: var(--sbb-border-radius-16x);
}

:host([expand-from='zero']) {
  @include mq($from: zero) {
    .header-action__label {
      display: block;
    }
  }
}

:host([expand-from='micro']) {
  @include mq($from: micro) {
    .header-action__label {
      display: block;
    }
  }
}

:host([expand-from='small']) {
  @include mq($from: small) {
    .header-action__label {
      display: block;
    }
  }
}

:host([expand-from='medium']) {
  @include mq($from: medium) {
    .header-action__label {
      display: block;
    }
  }
}

:host([expand-from='large']) {
  @include mq($from: large) {
    .header-action__label {
      display: block;
    }
  }
}

:host([expand-from='wide']) {
  @include mq($from: wide) {
    .header-action__label {
      display: block;
    }
  }
}

:host([expand-from='ultra']) {
  @include mq($from: ultra) {
    .header-action__label {
      display: block;
    }
  }
}

:host(:hover) {
  background-color: var(--sbb-color-milk-default);
}

:host(:active) {
  background-color: var(--sbb-color-cloud-default);
}

.header-action__icon {
  line-height: 0;
  color: var(--sbb-color-black-default);
  margin-right: var(--sbb-spacing-fixed-2x);
  @include mq($to: small) {
    margin-right: 0;
  }
}

.header-action__label {
  display: var(--sbb-header-action-visibility-override, none);
  color: var(--sbb-color-black-default);
  @include text-xs--bold;
}

.header-action__link {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  text-decoration: none;
}

.header-action__button {
  @include button;

  display: flex;
}
