// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  --card-badge-color-primary: var(--color-white-default);
  --card-badge-color-primary-negative: var(--color-black-default);
  --card-badge-background-color-primary: var(--color-black-default);
  --card-badge-background-color-primary-negative: var(--color-white-default);
  --card-badge-border-color-primary-negative: var(--color-aluminium-default);

  @include ifForcedColors() {
    border-inline-start: pxToRem(1) solid CanvasText;
    border-block-end: pxToRem(1) solid CanvasText;;
  }
}

.card-badge {
  display: flex;
  align-items: center;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  padding-inline-start: pxToRem(var(--spacing-fixed-1x));
  padding-inline-end: pxToRem(var(--spacing-fixed-8x));
  border-end-start-radius: pxToRem(var(--border-radius-4x));

  // Left to right expression
  right: pxToRem(var(--spacing-fixed-3x), true);
  transform: skew(16deg, 0deg);
  > * {
    transform: skew(-16deg, 0deg);
    padding-inline-start: .5em;
  }
  // Right to left expression
  &[dir="rtl"] {
    right: initial;
    left: pxToRem(var(--spacing-fixed-3x), true);
    transform: skew(-16deg, 0deg);
    > * {
      transform: skew(16deg, 0deg);
    }
  }

  /* ************************************************* */
  /* Variants                                          */
  /* ************************************************* */
  &--primary {
    color: var(--card-badge-color-primary);
    background-color: var(--card-badge-background-color-primary);
  }

  &--primary-negative {
    color: var(--card-badge-color-primary-negative);
    background-color: var(--card-badge-background-color-primary-negative);
    border-block-end: solid 1px var(--card-badge-border-color-primary-negative);
    border-inline-start: solid 1px var(--card-badge-border-color-primary-negative);
  }

  &--regular {
    @include text-xxs--bold;
  }
}
