@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-flip-card-details-opacity: 0;
  --sbb-flip-card-details-translate-y: var(--sbb-spacing-fixed-2x);

  display: contents;
}

.sbb-flip-card-details {
  pointer-events: none;
  color: var(--sbb-color-milk);
  opacity: var(--sbb-flip-card-details-opacity);
  padding: var(--sbb-spacing-responsive-s);
  padding-block-end: calc(
    var(--sbb-spacing-responsive-s) + var(--sbb-spacing-responsive-xs) + var(--sbb-size-element-m)
  );
  transform: translateY(var(--sbb-flip-card-details-translate-y));
  transition: var(--sbb-flip-card-details-transition-duration) ease-out;
  transition-delay: var(--sbb-flip-card-details-transition-delay);
  max-height: var(--sbb-flip-card-details-min-height);
}
