@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-flip-card-details-opacity: 0;
  --sbb-flip-card-details-translate-y: var(--sbb-spacing-fixed-2x);
  --sbb-flip-card-details-max-height: var(--sbb-flip-card-details-min-height);
  --sbb-flip-card-details-transition-delay: var(
    --sbb-disable-animation-zero-time,
    var(--sbb-animation-duration-5x)
  );
  --sbb-flip-card-details-padding: var(--sbb-spacing-responsive-s);
  --sbb-flip-card-details-padding-block-end: calc(
    var(--sbb-spacing-responsive-s) + var(--sbb-spacing-responsive-xs) + var(--sbb-size-element-m)
  );

  display: contents;
}

:host([data-flipped]) {
  --sbb-flip-card-details-max-height: calc(
    var(--sbb-flip-card-details-min-height) + var(--sbb-flip-card-details-padding) +
      var(--sbb-flip-card-details-padding-block-end)
  );
}

.sbb-flip-card-details {
  pointer-events: none;
  color: var(--sbb-color-milk);
  opacity: var(--sbb-flip-card-details-opacity);
  padding: var(--sbb-flip-card-details-padding);
  padding-block-end: var(--sbb-flip-card-details-padding-block-end);
  max-height: var(--sbb-flip-card-details-max-height);
  transform: translateY(var(--sbb-flip-card-details-translate-y));
  transition-property: max-height, transform, opacity;
  transition-duration: var(--sbb-flip-card-details-transition-duration);

  :host([data-flipped]) & {
    transition-delay: 0s, var(--sbb-flip-card-details-transition-delay),
      var(--sbb-flip-card-details-transition-delay);
  }
}
