@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-flip-card-details-some-color-var: var(--color-black);

  display: block;
}

.sbb-flip-card-details {
  color: var(--sbb-flip-card-details-some-color-var);
}
