:host {
  display: block;

  // TODO: missing design tokens
  --font-family: 'SBBWeb Roman';
  --font-size-heading: 16;
  --font-size-body: 14;
  --letter-spacing: 0.03em;
  --line-height: 1.7;
  --chevron-transition-timing-function: ease-in;
  --chevron-transition-duration: 200ms;
  --expand-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --expand-animation-duration: 1500ms;

  --color-heading: var(--color-black-default);
  --color-chevron: var(--color-black-default);
  --color-icon: var(--color-black-default);
  --color-body: var(--color-black-default);
  --color-default: var(--color-white-default);

  --icon-size: var(--size-icon-ui-small);

  --header-padding-block: var(--spacing-fixed-5x);
  --header-padding-inline: var(--spacing-fixed-6x);
  --icon-padding-inline-end:  var(--spacing-fixed-3x);
  --body-padding-block: var(--spacing-fixed-5x);
  --body-padding-inline: var(--spacing-fixed-6x);

  --border-radius-small: var(--border-radius-1x);
  --border-radius-large: var(--border-radius-8x);
}

.accordion-item {
  width: 100%;
  // background-color: var(--color-white-default);
  background-color: grey;
  border-radius: pxToRem(var(--border-radius-small));
  font-family: var(--font-family);
  font-weight: normal;
}

.accordion-item--first {
  border-top-left-radius: pxToRem(var(--border-radius-large));
  border-top-right-radius: pxToRem(var(--border-radius-large));
}

.accordion-item--last {
  border-bottom-left-radius: pxToRem(var(--border-radius-large));
  border-bottom-right-radius: pxToRem(var(--border-radius-large));
}

.accordion-item__heading {
  display: block;
  margin: 0;
}

.accordion-item__button {
  @include buttonReset;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: pxToRem(var(--font-size-heading));
  color: var(--color-heading);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  padding-block-start: pxToRem(var(--header-padding-block));
  padding-block-end: pxToRem(var(--header-padding-block));
  padding-inline-start: pxToRem(var(--header-padding-inline));
  padding-inline-end: pxToRem(var(--header-padding-inline));
}

.accordion-item__icon {
  color: var(--color-icon);
  flex-shrink: 0;
  flex-grow: 0;
}

::slotted(svg[slot='icon']) {
  display: block;
  fill: currentColor;
  height: pxToRem(var(--icon-size));
  margin-inline-end: pxToRem(var(--icon-padding-inline-end));
}

.accordion-item__title {
  display: block;
  flex: 1;
  flex-shrink: 1;
  flex-grow: 1;
  text-align: left;
}

.accordion-item__chevron {
  color: var(--color-chevron);
  padding-inline-start: pxToRem(var(--header-padding-inline));
  flex-basis: pxToRem(var(--icon-size));
  height: pxToRem(var(--icon-size));
  flex-shrink: 0;
  flex-grow: 0;
}

.accordion-item__chevron svg {
  display: block;
  fill: currentColor;
  transition: transform var(--chevron-transition-duration) var(--chevron-transition-timing-function);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.accordion-item__chevron--rotate svg {
  transform: rotate3d(0, 0, 1, 180deg);
}

.accordion-item__body {
  box-sizing: border-box;
  overflow: hidden;
  transition-property: height, opacity;
  transition-duration: var(--expand-animation-duration);
  transition-timing-function: var(--expand-animation-timing-function);
}

.accordion-item--closed .accordion-item__body {
  display: none;
  opacity: 0;
}

.accordion-item--has-icon .accordion-item__body-inner {
  padding-inline-start: calc(#{pxToRem(var(--body-padding-inline))} + #{pxToRem(var(--icon-size))} + #{pxToRem(var(--icon-padding-inline-end))});
}

.accordion-item__body-inner {
  box-sizing: border-box;
  padding-inline-start: pxToRem(var(--body-padding-inline));
  padding-inline-end: pxToRem(var(--body-padding-inline));
  padding-block-end: pxToRem(var(--body-padding-block));
  font-size: pxToRem(var(--font-size-body));
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  color: var(--color-body);
}

// style first slot child
::slotted(*:first-of-type[slot='content']) {
  padding-top: 0;
  padding-block-start: 0;
  margin-block-start: 0;
  margin-top: 0;
}

// style last slot child
::slotted(*:last-of-type[slot='content']) {
  padding-bottom: 0;
  padding-block-end: 0;
  margin-block-end: 0;
  margin-bottom: 0;
}
