// ----------------------------------------------------------------------------------------------------
// A11y: MediaQueries & Other things
// ----------------------------------------------------------------------------------------------------
@mixin ifForcedColors {
  @media (forced-colors: active) {
    @content
  }
};

@mixin visibleFocus {
  // TODO: missing design tokens
  --focus-outline-color: var(--color-black-default);
  --focus-outline-width: var(--border-width-1x);
  --focus-outline-offset: var(--spacing-fixed-1x);

  :host(.focus-visible) & {
    outline-offset: pxToRem(var(--focus-outline-offset));
    outline: pxToRem(var(--focus-outline-width)) solid var(--focus-outline-color);
  }
};

@mixin screenReaderOnly {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin scrollMarginBlockStart() {
  scroll-margin-block-start: pxToRem(var(--spacing-fixed-10x));
}
