// -----------------------------------------------------------------------------
// Card: Mixins & CSS variables
// -----------------------------------------------------------------------------

@mixin card {
  --card-border-radius: var(--border-radius-8x);
  --card-padding: var(--spacing-responsive-xxs-zero);

  padding: pxToRem(var(--card-padding));
  background-color: var(--card-background-color);
  border-radius: pxToRem(var(--card-border-radius));

  position: relative;
  overflow: hidden;
}

@mixin card--primary {
  --card-background-color: var(--color-milk-default);
  @include card;
}

@mixin card--primary-negative {
  --card-background-color: var(--color-white-default);
  @include card;
}
