// -----------------------------------------------------------------------------
// Card: Mixins & CSS variables
// -----------------------------------------------------------------------------

// @include mq($from: small) {}
// @include mq($from: medium) {}
// @include mq($from: wide) {}
// @include mq($from: ultra) {}

@mixin card {
  --card-background-color: var(--color-milk-default);
  --card-border-radius: var(--border-radius-8x);
  // @Todo: padding should be xxs, does not exist as design token
  --card-padding: var(--spacing-responsive-xs-zero);

  padding: pxToRem(var(--card-padding));
  background-color: var(--card-background-color);
  border-radius: pxToRem(var(--card-border-radius));

  position: relative;
  overflow: hidden;
}
