@use '../../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-calendar-cell-border: var(--sbb-calendar-cell-border-width) solid
    var(--sbb-border-color-1-inverted);
  --sbb-calendar-cell-color: var(--sbb-color-2);
  --sbb-calendar-cell-cursor: var(--sbb-cursor-pointer);
  --sbb-calendar-cell-justify-content: normal;
  --sbb-calendar-cell-inset: #{sbb.px-to-rem-build(1)};
  --sbb-calendar-cell-font-size: var(--sbb-text-font-size-s);
  --sbb-calendar-cell-font-weight: unset;
  --sbb-calendar-cell-transition-easing-function: var(--sbb-animation-easing);
  --sbb-calendar-cell-year-month-width: #{sbb.px-to-rem-build(77)};
  --sbb-calendar-cell-year-month-height: #{sbb.px-to-rem-build(44)};
  --sbb-calendar-day-width: #{sbb.px-to-rem-build(44)};
  --sbb-calendar-day-height: #{sbb.px-to-rem-build(48)};
  --sbb-calendar-day-value-height: var(--sbb-spacing-fixed-6x);
  --sbb-calendar-day-extra-display: block;
  --sbb-calendar-day-extra-height: var(--sbb-spacing-fixed-4x);
  --sbb-calendar-day-crossed-out-top: 33%;
  --sbb-calendar-day-crossed-out-translate: translate(-50%, -33%) rotate(-45deg);
}
