@use '../../core/styles' as sbb;

:host {
  --sbb-focus-outline-offset: #{sbb.px-to-rem-build(2)};

  display: block;
  font-size: var(--sbb-calendar-cell-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  cursor: var(--sbb-calendar-cell-cursor);
  color: var(--sbb-calendar-cell-color);

  // Match Figma Design
  border-radius: calc(var(--sbb-border-radius-4x) + var(--sbb-calendar-cell-border-width));

  // Used for visual separation
  margin: var(--sbb-calendar-cell-margin);

  // Pre-serve spacing for border. Transparent border can't be used because with forced colors it will be always displayed.
  padding: var(--sbb-calendar-cell-border-width);
  transition-duration: var(--sbb-calendar-cell-transition-duration);
  transition-timing-function: var(--sbb-calendar-cell-transition-easing-function);
  transition-property: background-color;
}

:host(:is(sbb-calendar-weekday, sbb-calendar-weeknumber)) {
  --sbb-calendar-cell-font-size: var(--sbb-text-font-size-xs);
  --sbb-calendar-day-height: var(--sbb-calendar-day-size);

  color: var(--sbb-calendar-header-color);
}

:host(:is(sbb-calendar-day, sbb-calendar-weekday, sbb-calendar-weeknumber)) {
  height: var(--sbb-calendar-day-height);
  width: var(--sbb-calendar-day-width);
}

:host(:focus-visible) {
  @include sbb.focus-outline;
}

:host(:state(current)) {
  font-weight: bold;
}

:host(:state(selected)) {
  border: var(--sbb-calendar-cell-border-width) solid var(--sbb-calendar-cell-border-color-selected);
  padding: 0;
}

:host(:disabled) {
  --sbb-calendar-cell-color: var(--sbb-calendar-cell-disabled-color);
  --sbb-calendar-cell-cursor: unset;
}

:host(:not(:disabled, :where(:state(active), :active)):hover) {
  @include sbb.hover-mq($hover: true) {
    background-color: var(--sbb-calendar-cell-background-color-hover);
  }
}

:host(:not(:disabled):hover) {
  @include sbb.hover-mq($hover: true) {
    @media (forced-colors: active) {
      @include sbb.focus-outline;

      // Basically the focus-outline mixin is made for use with focus-visible.
      // As we use it here with hover, we have to ensure that the outline is not overridden when mouse or touch is in use.
      --sbb-focus-outline-style: initial;
    }
  }
}

:host(:not(:disabled):where(:state(active), :active)) {
  background-color: var(--sbb-calendar-cell-background-color-active);
}

.sbb-action-base {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.sbb-calendar-year,
.sbb-calendar-month {
  height: var(--sbb-calendar-cell-year-month-height);
  width: var(--sbb-calendar-cell-year-month-width);

  :host(:state(crossed-out)) & {
    &::after {
      content: '';
      height: var(--sbb-calendar-cell-disabled-height);
      width: var(--sbb-calendar-cell-disabled-width);
      position: absolute;
      background-color: var(--sbb-calendar-cell-disabled-color);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
