@use '../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-image-aspect-ratio: 16 / 9;
  --sbb-image-object-fit: cover;
  --sbb-image-border-radius: var(--sbb-border-radius-4x);
}
