@use '../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-image-border-radius: var(--sbb-border-radius-4x);
  --sbb-image-aspect-ratio: auto;
  --sbb-image-animation-duration: var(
    --sbb-disable-animation-zero-time,
    var(--sbb-animation-duration-4x)
  );

  display: block;
}

:host([aspect-ratio='1-1']) {
  --sbb-image-aspect-ratio: 1 / 1;
}

:host([aspect-ratio='1-2']) {
  --sbb-image-aspect-ratio: 1 / 2;
}

:host([aspect-ratio='2-1']) {
  --sbb-image-aspect-ratio: 2 / 1;
}

:host([aspect-ratio='2-3']) {
  --sbb-image-aspect-ratio: 2 / 3;
}

:host([aspect-ratio='3-2']) {
  --sbb-image-aspect-ratio: 3 / 2;
}

:host([aspect-ratio='3-4']) {
  --sbb-image-aspect-ratio: 3 / 4;
}

:host([aspect-ratio='4-3']) {
  --sbb-image-aspect-ratio: 4 / 3;
}

:host([aspect-ratio='4-5']) {
  --sbb-image-aspect-ratio: 4 / 5;
}

:host([aspect-ratio='5-4']) {
  --sbb-image-aspect-ratio: 5 / 4;
}

:host([aspect-ratio='16-9']) {
  --sbb-image-aspect-ratio: 16 / 9;
}

:host([aspect-ratio='9-16']) {
  --sbb-image-aspect-ratio: 9 / 16;
}

// Variant: Hero Teaser and Paid Teaser
:host([data-teaser]) {
  --sbb-image-aspect-ratio: 1 / 1;

  @include sbb.mq($from: small) {
    --sbb-image-aspect-ratio: 16 / 9;
  }
}

:host(:is([border-radius='none'], [data-teaser])) {
  --sbb-image-border-radius: 0;
}

:host([border-radius='round']:not([data-teaser])) {
  --sbb-image-border-radius: var(--sbb-border-radius-infinity);
}

.sbb-image__figure {
  margin: 0;
}

.sbb-image__img {
  position: absolute;
  inset: 0;
  opacity: 0.000001;

  :host([data-loaded]) & {
    opacity: 0.999999;
  }
}

.sbb-image__blurred {
  :host([data-loaded]) & {
    opacity: 0;
  }
}

// After successful loading an image, the loaded image is faded in over the blurred lqip image with a short transition.
// To support transparent images, we need also to fade out the blurred lqip image.
// This is not perfect in the case of a non transparent image, but does not look that bad.
:is(.sbb-image__img, .sbb-image__blurred) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity var(--sbb-image-animation-duration) var(--sbb-animation-easing);
}

.sbb-image__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  border-radius: var(--sbb-image-border-radius);
  aspect-ratio: var(--sbb-image-aspect-ratio);
}

.sbb-image__caption {
  @include sbb.text-xs--regular;

  margin-block-start: var(--sbb-spacing-fixed-4x);
}
