@use '../../core/styles' as sbb;

:host {
  display: flex;
}

@include sbb.hover-mq($hover: true) {
  :host(:hover) {
    --sbb-breadcrumb-color: var(--sbb-breadcrumb-color-hover);
  }
}

:host(:is(:active, :state(active))) {
  --sbb-breadcrumb-color: var(--sbb-breadcrumb-color-active);
}

.sbb-breadcrumb {
  --sbb-link-text-decoration-line: none;

  @include sbb.link-base;

  display: flex;
  cursor: var(--sbb-cursor-pointer);
  gap: var(--sbb-breadcrumb-gap);
  color: var(--sbb-breadcrumb-color);
  align-items: center;
  overflow: hidden;
  outline: none;
  font-size: var(--sbb-breadcrumb-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);

  &:focus-visible {
    @include sbb.focus-outline;

    border-radius: var(--sbb-border-radius-2x);
  }
}

.sbb-breadcrumb__label {
  @include sbb.ellipsis;

  :host(:not(:state(slotted))) & {
    display: none;
  }
}

.sbb-breadcrumb__icon,
::slotted(*) {
  slot[name='icon'] & {
    flex-shrink: 0;
  }
}
