@use '../../core/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  display: flex;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize css of several frameworks.
  outline: none !important;
}

.sbb-datepicker-next-day {
  @include sbb.button-base;

  margin: auto;
  -webkit-tap-highlight-color: transparent;
}
