.list {
  text-align: center;
  margin: 1.5rem 0;

  @media (min-width: 643px) {
    float: right;
    margin: 2.75rem 0;
  }

  @media (min-width: 1025px) {
    margin: 1.5rem 0;
    padding-right: 1.5rem;
  }
}

.item {
  padding: 0 0 0 1.25rem;
  font-size: 0.75rem;

  @media (min-width: 1025px) {
    padding: 0.875rem 1.25rem 0 0;
  }
}

.icon {
  float: right;
  position: absolute;
  bottom: 1rem;
  right: 1.375rem;

  @media (min-width: 643px) {
    bottom: 2rem;
    right: 2.75rem;
  }

  @media (min-width: 1025px) {
    position: initial;
  }
}
