@use '../core/styles' as sbb;

:host {
  --sbb-timetable-occupancy-color: var(--sbb-color-black-default);

  @include sbb.if-forced-colors-dark {
    --sbb-timetable-occupancy-color: var(--sbb-color-white-default);
  }
}

:host([negative]:not([negative='false'])) {
  --sbb-timetable-occupancy-color: var(--sbb-color-white-default);
}

.sbb-timetable-occupancy__list {
  @include sbb.list-reset;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--sbb-spacing-fixed-2x);
}

.sbb-timetable-occupancy__list-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--sbb-spacing-fixed-1x);
}

.sbb-timetable-occupancy__list-item-class {
  @include sbb.text-s--regular;

  color: var(--sbb-timetable-occupancy-color);
  line-height: 1rem;
}

.sbb-timetable-occupancy__list-item-icon {
  display: flex;
}

.sbb-timetable-occupancy__visually-hidden {
  @include sbb.screen-reader-only;
}
