@use '@sbb-esta/lyne-elements/core/styles' as sbb;

:host {
  display: inline-block;
}

.duration {
  @include sbb.text-s--regular;

  margin: 0;
  white-space: nowrap;
}

.duration__text--visually-hidden {
  @include sbb.screen-reader-only;
}
