@use '../../core/styles' as sbb;

:host {
  display: block;

  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize css of several frameworks.
  outline: none !important;
}

:host([role='button']) {
  @include sbb.link-variables--button;
}

.sbb-action-base {
  @include sbb.link-base;

  display: flex;
  align-items: center;
  word-break: break-word;
  width: 100%;
  cursor: pointer;
  padding: var(--sbb-link-padding, 0);

  :host([disabled]) & {
    pointer-events: none;
    cursor: default;

    @include sbb.if-forced-colors {
      color: GrayText;
    }
  }

  // Hide focus outline when focus origin is mouse or touch. This is being used as a workaround in various components.
  :host(:focus-visible:not([data-focus-origin='mouse'], [data-focus-origin='touch'])) & {
    @include sbb.focus-outline;

    border-radius: calc(var(--sbb-border-radius-4x) - var(--sbb-focus-outline-offset));
  }

  :host(:hover:not([disabled])) & {
    @include sbb.link-hover-rules;
  }

  :host(:is(:active, [data-active]):not([disabled])) & {
    // Active definitions have to be after :hover definitions
    @include sbb.link-active-rules;
  }
}
