// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: block;
  margin-block-start: pxToRem(var(--spacing-fixed-2x));

  --text-color: var(--color-red125-default);

  @include ifForcedColors {
    --text-color: LinkText;
  }

}

// Error
// ----------------------------------------------
.input-label--error {
  @include text-xs--regular();
  color: var(--text-color);
}
