// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  --sbb-sector-label-color: var(--sbb-color-metal-default);
  --sbb-sector-label-padding: var(--sbb-spacing-fixed-1x);
  --sbb-sector-label-margin: var(--sbb-spacing-fixed-2x);
  --sbb-sector-label-background: var(--sbb-color-white-default);
  --sbb-sector-line-color: var(--sbb-color-cement-default);
  --sbb-sector-wagon-width: var(--sbb-train-formation-wagon-width);
  --sbb-sector-wagon-gap: var(--sbb-spacing-fixed-1x);

  @include ifForcedColors {
    --sbb-sector-line-color: CanvasText;
  }
}

.sbb-sector {
  flex: 0 0 auto;
}

.sbb-sector__label {
  color: var(--sbb-sector-label-color);
  text-align: center;
  position: relative;
  @include text-s--regular;

  // Line behind the sector-label
  &::before {
    content: '';
    position: absolute;
    inset: 50% 0;
    height: 1px;
    background-color: var(--sbb-sector-line-color);
  }
}

.sbb-sector__sticky-wrapper {
  background-color: var(--sbb-sector-label-background);
  position: sticky;
  inset: auto 0;
  padding: 0 var(--sbb-sector-label-padding);
  margin: 0 var(--sbb-sector-label-margin);
}

.sbb-sector__wagons {
  display: flex;
  gap: var(--sbb-sector-wagon-gap);
}
