@use '../../core/styles/index' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  display: block;
  position: absolute;
  inset-block-start: var(--sbb-sidebar-title-padding-block);
  inset-inline-end: var(--sbb-sidebar-padding);
}
