@use '../../core/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-step-label-color: var(--sbb-color-iron);
  --sbb-step-label-prefix-size: #{sbb.px-to-rem-build(36)};
  --sbb-step-label-prefix-border-style: solid;
  --sbb-step-label-prefix-background-color: var(--sbb-color-white);
}

:host([data-selected]) {
  --sbb-step-label-color: var(--sbb-color-charcoal);
}

:host([disabled]) {
  --sbb-step-label-color: var(--sbb-color-granite);
  --sbb-step-label-prefix-border-style: dashed;
}

:host([data-vertical]) {
  --sbb-step-label-prefix-size: #{sbb.px-to-rem-build(32)};
}

:host(:hover:not([disabled])) {
  @include sbb.hover-mq($hover: true) {
    --sbb-step-label-prefix-background-color: var(--sbb-color-milk);
  }
}

// Hide focus outline when focus origin is mouse or touch. This is being used as a workaround in various components.
:host(:focus-visible:not([data-focus-origin='mouse'], [data-focus-origin='touch'])) {
  @include sbb.focus-outline;

  border-radius: var(--sbb-border-radius-1x);
}

.sbb-step-label {
  @include sbb.text-l--bold;

  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--sbb-spacing-fixed-4x);
  color: var(--sbb-step-label-color);
}

.sbb-step-label__prefix {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--sbb-step-label-prefix-size);
  min-height: var(--sbb-step-label-prefix-size);
  border-radius: 50%;
  border: var(--sbb-border-width-1x) var(--sbb-step-label-prefix-border-style)
    var(--sbb-color-cloud);
  background-color: var(--sbb-step-label-prefix-background-color);
  transition: background-color var(--sbb-animation-duration-6x) ease;
}

.sbb-step-label__text {
  @include sbb.ellipsis;

  text-wrap: nowrap;
}

sbb-icon {
  z-index: 1;
  background-color: var(--sbb-step-label-prefix-background-color);
  transition: background-color var(--sbb-animation-duration-6x) ease;
}
