@use '../../core/styles' as sbb;

:host {
  display: inline-block;
}

:host([data-is-selection-panel-input]) {
  // Use !important here to not interfere with Firefox focus ring definition
  // which appears in normalize css of several frameworks.
  outline: none !important;
}

:host(:not([data-is-selection-panel-input])) {
  @include sbb.selection-panel-variables;

  @include sbb.selection-panel;
}

:host(:focus-visible:not([data-is-selection-panel-input])) {
  @include sbb.focus-outline;
}

// Change the focus outline when the input is placed inside of a selection panel
// as the main input element.
:host(:focus-visible[data-is-selection-panel-input]) {
  .sbb-radio-button::after {
    content: '';
    position: absolute;
    display: block;
    inset-block: calc(
      (var(--sbb-spacing-responsive-xs) * -1) + var(--sbb-focus-outline-width) -
        (var(--sbb-focus-outline-offset) * 2)
    );
    inset-inline: calc(
      (var(--sbb-spacing-responsive-xxs) * -1) + var(--sbb-focus-outline-width) -
        (var(--sbb-focus-outline-offset) * 2)
    );
    border: var(--sbb-focus-outline-color) solid var(--sbb-focus-outline-width);
    border-radius: calc(var(--sbb-border-radius-4x) + var(--sbb-focus-outline-offset));
  }
}

:host([checked]:not(:disabled)) {
  @include sbb.selection-panel-checked-variables;
}

:host([disabled]) {
  @include sbb.selection-panel-disabled-variables;
}
