@use '../../core/styles' as sbb;

:host {
  display: contents;
}

.sbb-tab-nav-bar {
  @include sbb.list-reset;

  display: flex;
  flex-wrap: wrap;
}

::slotted(a) {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--sbb-tab-label-gap);
  color: var(--sbb-tab-label-color);
  margin: 0;
  padding-inline: var(--sbb-tab-label-inline-padding);
  min-height: var(--sbb-tab-label-height);
  transition: color var(--sbb-tab-label-animation-duration) var(--sbb-tab-label-animation-easing);
  font-size: var(--sbb-tab-label-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  font-weight: var(--sbb-tab-label-font-weight);
  text-decoration: var(--sbb-tab-label-text-decoration);

  &::after {
    position: absolute;
    content: '';
    inset-inline: 0;
    inset-block-end: 0;
    height: var(--sbb-tab-label-marker-thickness);
    background-color: var(--sbb-tab-label-color);
    transform: var(--sbb-tab-label-marker-transform, scale(0));
    transition: {
      duration: var(--sbb-tab-label-animation-duration);
      timing-function: var(--sbb-tab-label-animation-easing);
      property: transform, background-color;
    }

    @include sbb.if-forced-colors {
      background-color: ButtonText;
    }
  }
}

::slotted(a[data-has-divider]) {
  &::before {
    content: '';
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: 0;
    width: var(--sbb-tab-nav-bar-width);
    height: var(--sbb-border-width-1x);
    background-color: var(--sbb-tab-label-line-color);
  }
}

::slotted(a.sbb-disabled) {
  --sbb-tab-label-text-decoration: line-through;

  pointer-events: none;
}

::slotted(a:hover:not(.sbb-disabled)) {
  @include sbb.hover-mq($hover: true) {
    --sbb-tab-label-marker-transform: scale(1);
  }
}

::slotted(a:active:not(.sbb-disabled)) {
  --sbb-tab-label-color: var(--sbb-color-3);
}

::slotted(a.sbb-active:not(.sbb-disabled)) {
  --sbb-tab-label-marker-transform: scale(1);
  --sbb-tab-label-color: var(--sbb-color-3);
}

::slotted(a:focus-visible) {
  @include sbb.focus-outline;

  border-radius: var(--sbb-tab-label-outline-border-radius-internal);
}
