@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

.sbb-expansion-panel-header {
  @include sbb.button-reset;
  @include sbb.text-l--regular;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--sbb-spacing-fixed-6x);
  width: 100%;
  padding-block: var(--sbb-spacing-responsive-xs);
  padding-inline: var(--sbb-spacing-fixed-6x);
  text-align: start;
  cursor: pointer;
}

.sbb-expansion-panel-header__title,
.sbb-expansion-panel-header__toggle,
.sbb-expansion-panel-header__icon {
  display: flex;
}

.sbb-expansion-panel-header__title {
  align-items: center;
  gap: var(--sbb-spacing-fixed-4x);
  overflow: hidden;
}

.sbb-expansion-panel-header__label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
