@use '@sbb-esta/lyne-elements/core/styles' as sbb;

:host {
  --sbb-pearl-chain-vertical-width: 100%;

  display: block;
}

.sbb-pearl-chain-vertical {
  display: table;
  width: var(--sbb-pearl-chain-vertical-width);
}
