<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>FA4CC366-B05C-41EB-993F-21EC45CD5CE9</string>
	<key>title</key>
	<string>Slate</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
