@use '../../core/styles' as sbb;

@mixin horizontal-orientation {
  --sbb-radio-button-group-orientation: row;
  --sbb-radio-button-group-radio-button-width: auto;
}

$breakpoints: 'zero', 'small', 'large', 'ultra';

:host {
  display: block;
}

:host([orientation='vertical']) {
  --sbb-radio-button-group-orientation: column;
  --sbb-radio-button-group-width: 100%;
  --sbb-radio-button-group-radio-button-width: 100%;
}

:host(:state(has-panel)) {
  --sbb-radio-button-group-width: 100%;
  --sbb-radio-button-group-gap: var(--sbb-spacing-fixed-2x) var(--sbb-spacing-fixed-4x);

  // Distribute available space to the panels
  --sbb-radio-button-group-radio-button-flex: auto;
}

@each $breakpoint in $breakpoints {
  @include sbb.mq($from: #{$breakpoint}) {
    // horizontal-from overrides orientation vertical
    :host([orientation='vertical'][horizontal-from='#{$breakpoint}']) {
      @include horizontal-orientation;

      // We need to unset the 100% width of the vertical mode if it starts to be horizontal
      --sbb-radio-button-group-radio-button-width: initial;
    }

    :host([orientation='vertical'][horizontal-from='#{$breakpoint}']:not(:state(has-panel))) {
      --sbb-radio-button-group-width: max-content;
    }
  }
}

.sbb-radio-group {
  display: flex;
  flex-direction: var(--sbb-radio-button-group-orientation);
  gap: var(--sbb-radio-button-group-gap);
  align-items: flex-start;
  width: var(--sbb-radio-button-group-width);

  :host(:state(slotted-error)) & {
    margin-block-end: var(--sbb-spacing-fixed-1x);
  }
}

::slotted(sbb-radio-button-panel) {
  width: var(--sbb-radio-button-group-radio-button-width);
  flex: var(--sbb-radio-button-group-radio-button-flex);
}
