// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

button {
  width: 100%;
  padding: 0;
}

.button--earlier-connections .button__chevron svg {
  transform: rotate(180deg);
}
