// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

button {
  width: 100%;
  padding: 0;
}

.button__inner_wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  align-items: center;
}

.button--earlier-connections .button__inner_wrapper,
.button--later-connections .button__inner_wrapper {
  justify-content: center;
}

lyne-timetable-cus-him,
lyne-timetable-transportation-walk {
  flex: 1 1 auto;
}

button[dir="rtl"] .button__chevron {
  transform: scaleX(-1);
}

.button--walk .button__cta {
  @include text-xs--regular();
  margin-inline-start: pxToRem(var(--spacing-fixed-2x));
  margin-inline-end: pxToRem(var(--spacing-fixed-1x));

  @include mq($to: micro) {
    display: none;
  }

}

