// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: block;

  --transportation-min-width: 38;

  @include mq($from: medium) {
    --transportation-min-width: 43;
  }

}

.time {
  @include text-s--bold();
  min-width: pxToRem(var(--transportation-min-width));
  margin: 0;
  font-variant-numeric: tabular-nums;
}

.time--departure {
  margin-inline-end: pxToRem(var(--spacing-fixed-3x));
}

.time--arrival {
  margin-inline-start: pxToRem(var(--spacing-fixed-3x));
}

.time__text--visually-hidden {
  @include screenReaderOnly();
}
