:host {
  --sbb-tab-label-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-2x)
  );

  // The desired border radius is --sbb-border-radius-2x.
  // We have to subtract --sbb-focus-outline-offset in order have the desired visual border radius.
  --sbb-tab-label-outline-border-radius-internal: calc(
    var(--sbb-tab-label-outline-border-radius) - var(--sbb-focus-outline-offset)
  );
}

:host(:is(:state(size-s), [size='s'])) {
  --sbb-tab-label-height: var(--sbb-size-element-xs);
  --sbb-tab-label-inline-padding: var(--sbb-spacing-responsive-xxxs);
  --sbb-tab-label-font-size: var(--sbb-text-font-size-s);
}

:host(:is(:state(size-l), [size='l'])) {
  --sbb-tab-label-height: var(--sbb-size-element-m);
  --sbb-tab-label-inline-padding: var(--sbb-spacing-responsive-xs);
  --sbb-tab-label-font-size: var(--sbb-text-font-size-m);
}

:host(:is(:state(size-xl), [size='xl'])) {
  --sbb-tab-label-height: var(--sbb-size-element-m);
  --sbb-tab-label-inline-padding: var(--sbb-spacing-responsive-xs);
  --sbb-tab-label-font-size: var(--sbb-text-font-size-xl);
}
