// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  display: inline-block;
  line-height: 0;
  margin-inline: var(--sbb-icon-margin-inline);
  margin-block: var(--sbb-icon-margin-block);
}

svg {
  width: var(--sbb-icon-svg-width);
  height: var(--sbb-icon-svg-height);

  &:not(.color-immutable) {
    [fill]:not([fill='none']) {
      fill: currentcolor;
    }

    [stroke]:not([stroke='none']) {
      stroke: currentcolor;
    }

    // stylelint-disable plugin/stylelint-bem-namics
    // stylelint-disable selector-not-notation
    // TODO: Maybe improve this solution in CDN Image
    & >,
    :where(:not([stroke]):not([fill])) {
      :where(path, polygon, polyline):where(:not([stroke]):not([fill])) {
        fill: currentcolor;
      }
    }
    // stylelint-enable selector-not-notation
    // stylelint-enable plugin/stylelint-bem-namics
  }
}
