// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  display: inline-block;
  line-height: 0;
  margin-inline: var(--sbb-icon-margin-inline);
  margin-block: var(--sbb-icon-margin-block);
}

svg {
  width: var(--sbb-icon-svg-width);
  height: var(--sbb-icon-svg-height);
}
