@use '@sbb-esta/lyne-elements/core/styles' as sbb;

.app-overview {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.app-compare-link {
  @include sbb.mq($from: large) {
    margin-inline-start: auto;
  }
}
