@use '../../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-dialog-actions-border-color: var(--sbb-color-cloud);

  padding-inline: var(--sbb-dialog-padding-inline);
  padding-block: var(--sbb-dialog-padding-block);
  margin-block-start: auto;
  background-color: var(--sbb-dialog-background-color);

  // Horizontal line has to be absolute positioned because otherwise
  // it interferes with scroll detection of above container.
  &::before {
    content: '';
    display: block;
    position: absolute;
    border-block-start: var(--sbb-border-width-1x) solid var(--sbb-dialog-actions-border-color);
    width: 100%;
    margin-block-start: calc(-1 * var(--sbb-dialog-padding-block));
    margin-inline-start: calc(-1 * var(--sbb-dialog-padding-inline));

    @include sbb.if-forced-colors {
      border-color: CanvasText;
    }
  }
}
