@use '../../core/styles' as sbb;

:host {
  grid-area: actions;
  padding-inline: var(--sbb-dialog-padding-inline);
  padding-block: var(--sbb-dialog-padding-block);
  margin-block-start: auto;
  background-color: var(--sbb-dialog-background-color);
  transition: box-shadow var(--sbb-animation-easing) var(--sbb-dialog-shadow-animation-duration);
  box-shadow: var(--sbb-dialog-block-end-box-shadow, none);
  position: relative;

  // Horizontal line has to be absolute positioned because otherwise
  // it interferes with scroll detection of above container.
  &::before {
    content: '';
    display: block;
    position: absolute;
    align-self: start;
    border-block-start: var(--sbb-border-width-1x) solid var(--sbb-dialog-actions-border-color);
    transition: border-color var(--sbb-animation-easing) var(--sbb-dialog-shadow-animation-duration);
    inset: 0 auto auto 0;
    width: 100%;

    @include sbb.if-forced-colors {
      border-color: CanvasText;
    }
  }
}
