@use '../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --image-border-radius: var(--sbb-border-radius-4x);

  display: block;
}

.image__figure {
  margin: 0;
}

.image__figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__img {
  position: absolute;
  inset: 0;
}

// After successful loading an image, the loaded image is faded in over the blurred lqip image with a short transition.
// To support transparent images, we need also to fade out the blurred lqip image.
// This is not perfect in the case of a non transparent image, but does not look that bad.
.image__figure :is(.image__img, .image__blur-hash) {
  :host(:not([disable-animation])) & {
    transition: opacity var(--sbb-animation-duration-4x) var(--sbb-animation-easing);
  }
}

.image__figure .image__img {
  opacity: 0.000001;
}

.image__figure--loaded .image__img {
  opacity: 0.999999;
}

.image__figure--loaded .image__blur-hash {
  opacity: 0;
}

.image__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  border-radius: var(--image-border-radius);
}

// aspect ratios 'free', '1-1', '1-2', '2-1', '2-3', '3-2', '3-4', '4-3', '4-5', '5-4', '9-16', '16-9'
.image__figure--ratio-free .image__wrapper {
  aspect-ratio: var(--image-aspect-ratio, auto);
}

.image__figure--ratio-1-1 .image__wrapper {
  aspect-ratio: 1 / 1;
}

.image__figure--ratio-1-2 .image__wrapper {
  aspect-ratio: 1 / 2;
}

.image__figure--ratio-2-1 .image__wrapper {
  aspect-ratio: 2 / 1;
}

.image__figure--ratio-2-3 .image__wrapper {
  aspect-ratio: 2 / 3;
}

.image__figure--ratio-3-2 .image__wrapper {
  aspect-ratio: 3 / 2;
}

.image__figure--ratio-3-4 .image__wrapper {
  aspect-ratio: 3 / 4;
}

.image__figure--ratio-4-3 .image__wrapper {
  aspect-ratio: 4 / 3;
}

.image__figure--ratio-4-5 .image__wrapper {
  aspect-ratio: 4 / 5;
}

.image__figure--ratio-5-4 .image__wrapper {
  aspect-ratio: 5 / 4;
}

.image__figure--ratio-16-9 .image__wrapper {
  aspect-ratio: 16 / 9;
}

.image__figure--ratio-9-16 .image__wrapper {
  aspect-ratio: 9 / 16;
}

.image__caption {
  margin-block-start: var(--sbb-spacing-fixed-4x);
  @include sbb.text-xs--regular;
}

// no radius
.image__figure--no-radius .image__wrapper {
  border-radius: 0;
}

// full radius
.image__figure--round .image__wrapper {
  border-radius: var(--sbb-border-radius-infinity);
}

// Variant: Hero Teaser and Paid Teaser
.image__figure--teaser .image__wrapper {
  aspect-ratio: 1 / 1;

  @include sbb.mq($from: small) {
    aspect-ratio: 16 / 9;
  }
}
