@use '../../core/styles' as sbb;

:host {
  display: block;
}

.sbb-link-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--sbb-spacing-fixed-3x);
}

.sbb-link-list-title {
  // Overwrite sbb-title default margin
  margin: 0;

  :host(:not(:state(slotted-title), [title-content])) & {
    display: none;
  }
}
