@use '../../core/styles' as sbb;

:host {
  display: block;
  margin-block: var(--sbb-dialog-padding-block);
  margin-inline: var(--sbb-dialog-padding-inline);
}

:host([negative]) {
  @include sbb.title--negative;
}

.sbb-title {
  hyphens: auto;
}
