@use '../../core/styles' as sbb;

:host {
  @include sbb.selection-panel-variables;
  @include sbb.selection-panel;

  --sbb-radio-button-panel-suffix-color: var(--sbb-color-charcoal);
  --sbb-radio-button-panel-subtext-color: var(--sbb-color-granite);

  display: inline-block;
}

:host([color='milk']) {
  @include sbb.selection-panel-milk-variables;
}

:host([borderless]:not([checked])) {
  @include sbb.selection-panel-borderless-variables;
}

:host(:focus-visible) {
  @include sbb.focus-outline;
}

:host([checked]:not(:disabled)) {
  @include sbb.selection-panel-checked-variables;
}

:host([disabled]) {
  @include sbb.selection-panel-disabled-variables;
}

slot[name='suffix'] {
  color: var(--sbb-radio-button-panel-suffix-color);
}

slot[name='subtext'] {
  display: block;
  color: var(--sbb-radio-button-panel-subtext-color);
  padding-inline-start: var(--sbb-spacing-fixed-8x);

  :host(:not([data-slot-names~='subtext'])) & {
    display: none;
  }
}
