:host {
  --reservation-graphic-width: var(--graphic-width-from-host);
  --reservation-graphic-height: var(--graphic-height-from-host);
  --reservation-graphic-rotation: var(--graphic-rotation-from-host, 0);
  --reservation-graphic-contents-rotation: calc(
    var(--place-control-text-rotation-from-host, 0) - var(--reservation-graphic-rotation)
  );

  display: block;
}

.sbb-seat-reservation-graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--reservation-graphic-width) * 1rem);
  height: calc(var(--reservation-graphic-height) * 1rem);
  transform-origin: center;
  transform: rotate(calc(var(--reservation-graphic-rotation) * 1deg));

  svg {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    .fix-rotation-inverse {
      transform-origin: center;
      transform: rotate(calc(var(--reservation-graphic-contents-rotation) * 1deg));
    }
  }
}
