@use '@sbb-esta/lyne-elements/core/styles' as sbb;

:host {
  --sbb-reservation-graphic-width: 16;
  --sbb-reservation-graphic-height: 16;
  --sbb-reservation-graphic-rotation: 0;
  --sbb-reservation-graphic-inverse-rotation: 0;
}

.sbb-seat-reservation-icon,
.sbb-seat-reservation-graphic {
  --sbb-icon-svg-width: calc(var(--sbb-reservation-graphic-width) * 1px);
  --sbb-icon-svg-height: calc(var(--sbb-reservation-graphic-height) * 1px);

  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--sbb-reservation-graphic-width) * 1px);
  height: calc(var(--sbb-reservation-graphic-height) * 1px);
  transform-origin: center;
  rotate: calc(var(--sbb-reservation-graphic-rotation) * 1deg);
}

.sbb-seat-reservation-icon {
  // override color directly set in the SVG file coming from CDN
  color: var(--sbb-color-granite);
}

.sbb-seat-reservation-graphic {
  svg {
    width: clamp(100%, 100%, 100%);
    height: clamp(100%, 100%, 100%);

    .fix-rotation-inverse {
      transform-origin: center;
      rotate: calc(var(--sbb-reservation-graphic-inverse-rotation) * 1deg);
    }
  }

  @include sbb.if-forced-colors {
    svg:not(.color-immutable) {
      [fill]:not([fill='none']) {
        fill: currentcolor;
      }
    }

    .no-bg {
      fill: transparent;
    }
  }
}
