@use '../../core/styles' as sbb;

:host {
  --sbb-calendar-cell-font-size: var(--sbb-text-font-size-xs);
  --sbb-calendar-cell-font-weight: normal;
}

.sbb-calendar-weekday {
  height: var(--sbb-calendar-day-width);
  width: var(--sbb-calendar-day-width);
  color: var(--sbb-calendar-header-color);
}
