@use '@sbb-esta/lyne-elements/core/styles' as sbb;

// Depends on the place state and current event (hover|focus), the background and fill colors of the place,
// backrest of place and the text color are handled by colorizePlace function.
@mixin colorizePlace($state, $event, $textColor) {
  ::part(svg-place) {
    fill: var(--sbb-reservation-place-control-#{$state}-background-#{$event});
  }

  ::part(svg-backrest) {
    fill: var(--sbb-reservation-place-control-#{$state}-backrest-background-#{$event});
  }

  .sbb-seat-reservation-place-control__text {
    background-color: var(--sbb-reservation-place-control-#{$state}-background-#{$event});
    color: $textColor;
  }
}

$disabled: '[disabled], :disabled, .sbb-reservation-place-control--disabled';

:host {
  --sbb-reservation-place-control-rotation: 0;
  --sbb-reservation-place-control-text-rotation: 0;
  --sbb-reservation-place-control-text-size: calc(
    var(--sbb-place-control-text-scale-value, 1) * 0.5
  );

  // Color definition for text with state FREE
  --sbb-reservation-place-control-free-text-default: var(--sbb-color-black);

  // Color background definition for place witzh state FREE
  --sbb-reservation-place-control-free-background-default: var(--sbb-color-white);
  --sbb-reservation-place-control-free-background-hover: var(--sbb-color-cloud);
  --sbb-reservation-place-control-free-background-focus: var(--sbb-color-silver);

  // Color background definition for backrest with state FREE
  --sbb-reservation-place-control-free-backrest-background-default: var(--sbb-color-black);
  --sbb-reservation-place-control-free-backrest-background-hover: var(--sbb-color-black);
  --sbb-reservation-place-control-free-backrest-background-focus: var(--sbb-color-black);

  // Color background definition for place with state SELECTED
  --sbb-reservation-place-control-selected-background-default: var(--sbb-color-red);
  --sbb-reservation-place-control-selected-background-hover: var(--sbb-color-red125);
  --sbb-reservation-place-control-selected-background-focus: var(--sbb-color-red150);

  // Color background definition for backrest with state SELECTED
  --sbb-reservation-place-control-selected-backrest-background-default: var(--sbb-color-red150);
  --sbb-reservation-place-control-selected-backrest-background-hover: #7d000f;
  --sbb-reservation-place-control-selected-backrest-background-focus: #5a000b;

  display: inline-block;
}

.sbb-seat-reservation-place-control {
  $root: &;

  position: relative;

  &__button {
    @include sbb.button-reset;

    display: block;
    font-size: calc(var(--sbb-reservation-place-control-text-size) * 1px);
    transition: transform 0.25s ease-in-out;

    &:focus {
      border-radius: var(--sbb-border-radius-1x);
      outline: 2px solid var(--sbb-color-black);
    }

    #{$root}--state-free &:not(#{$disabled}) {
      @include colorizePlace(
        'free',
        'default',
        var(--sbb-reservation-place-control-free-text-default)
      );

      cursor: pointer;

      &:hover {
        @include colorizePlace('free', 'hover', var(--sbb-color-iron));
      }

      &:focus {
        @include colorizePlace('free', 'focus', var(--sbb-color-anthracite));
      }
    }

    #{$root}--state-selected &:not(#{$disabled}) {
      @include colorizePlace(
        'selected',
        'default',
        var(--sbb-reservation-place-control-selected-background-default)
      );

      cursor: pointer;

      &:hover {
        @include colorizePlace('selected', 'hover', var(--sbb-color-iron));
      }

      &:focus {
        @include colorizePlace('selected', 'focus', var(--sbb-color-anthracite));
      }
    }

    #{$root}--state-allocated &,
    #{$root}--state-restricted & {
      cursor: not-allowed;
    }
  }

  &__text {
    overflow: hidden;
    display: none;
    position: absolute;
    inset-block-start: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%)
      rotate(calc(var(--sbb-reservation-place-control-text-rotation) * 1deg));
    font-family: var(--sbb-typo-font-family);

    // dont use sbb.px-to-rem or --sbb-typo-scale-0-75x; we want "em" in this case!
    font-size: 0.75em;

    // dont use transparent or remove background, otherwise there are a11y violations regarding
    // insufficient color contrast
    background-color: var(--sbb-color-white);

    #{$root}--state-free &,
    #{$root}--state-allocated &,
    #{$root}--state-restricted#{$root}--type-bicycle & {
      display: block;
    }

    #{$root}--type-bicycle & {
      inset-block-start: 66%;
      inset-inline-start: 50%;

      // We need to adjust transform origin point for bicycle places text (necessary for rotation),
      // because the position of place number is not centered in the place area.
      // The value 16% is the optimal value for the rotation offset on the origin y-axis.
      transform-origin: center 16%;

      // use a smaller font-size to avoid a11y violation
      font-size: 0.6875em;
    }

    #{$root}--state-allocated &,
    #{$root}--state-restricted & {
      background-color: transparent;
      color: var(--sbb-color-smoke);
    }

    // Depending on the place orientation, minor positioning adjustments may need to be made to center the text,
    // because of the width of the SVG which is not square
    #{$root}--orientation-0#{$root}--type-seat & {
      inset-inline-start: 45%;
    }
    #{$root}--orientation-90#{$root}--type-seat & {
      inset-block-start: 46%;
      inset-inline-start: 50%;
    }
    #{$root}--orientation-180#{$root}--type-seat & {
      inset-inline-start: 53%;
    }
    #{$root}--orientation-270#{$root}--type-seat & {
      inset-block-start: 52%;
      inset-inline-start: 52%;
    }
  }
}
