@use '@sbb-esta/lyne-elements/core/styles' as sbb;

:host {
  display: block;

  --sbb-pearl-chain-time-height: auto;

  @include sbb.mq($from: small) {
    --sbb-pearl-chain-time-height: #{sbb.px-to-rem-build(25)};
  }

  @include sbb.mq($from: large) {
    --sbb-pearl-chain-time-height: #{sbb.px-to-rem-build(28)};
  }
}

.sbb-pearl-chain__time {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: var(--sbb-pearl-chain-time-height);
}

.sbb-pearl-chain__time-walktime,
.sbb-pearl-chain__time-transfer {
  @include sbb.text-xxs--regular;

  display: inline-flex;
  align-items: center;
}

.sbb-pearl-chain__time-walktime--walk-small-left {
  transform: translateX(sbb.px-to-rem-build(-7));
  margin-inline-end: calc(var(--sbb-spacing-fixed-2x) - #{sbb.px-to-rem-build(7)});
}

.sbb-pearl-chain__time-walktime--walk-small-right {
  margin-inline-start: calc(var(--sbb-spacing-fixed-2x) - #{sbb.px-to-rem-build(4)});
}

.sbb-pearl-chain__time-walktime--wheelchair-small-left {
  transform: translateX(sbb.px-to-rem-build(-6));
  margin-inline-end: calc(var(--sbb-spacing-fixed-2x) - #{sbb.px-to-rem-build(7)});
}

.sbb-pearl-chain__time-walktime--wheelchair-small-right {
  margin-inline-start: calc(var(--sbb-spacing-fixed-2x) - #{sbb.px-to-rem-build(4)});
}

.sbb-pearl-chain__time-walktime-prime-symbol {
  float: right;
}

.sbb-pearl-chain__time-transfer {
  gap: var(--sbb-spacing-fixed-1x);
}

.sbb-pearl-chain__time-transfer--sa-ci-departure {
  margin-inline-end: var(--sbb-spacing-fixed-2x);
}

.sbb-pearl-chain__time-transfer--sa-ci-arrival {
  margin-inline-start: calc(var(--sbb-spacing-fixed-2x) - #{sbb.px-to-rem-build(4)});
}

.sbb-pearl-chain__time-chain {
  flex: 1 1 auto;
  align-self: center;
  margin-inline: var(--sbb-spacing-fixed-3x);
}

.sbb-pearl-chain__time-time {
  @include sbb.text-s--bold;

  color: var(--sbb-color-2);
}

.sbb-screen-reader-only {
  @include sbb.screen-reader-only;
}
