@use '../core/styles' as sbb;

:host {
  @include sbb.title-rules;

  --sbb-title-text-color-normal: var(--sbb-title-text-color-normal-override, var(--sbb-color-3));

  display: block;
  color: var(--sbb-title-text-color-normal);
}

:host([id]) {
  @include sbb.scroll-margin-block-start;
}

:host(:where([level='1']:not([visual-level]), [visual-level='1'])) {
  @include sbb.title--level-1;
}

:host(:where([level='2']:not([visual-level]), [visual-level='2'])) {
  @include sbb.title--level-2;
}

:host(:where([level='3']:not([visual-level]), [visual-level='3'])) {
  @include sbb.title--level-3;
}

:host(:where([level='4']:not([visual-level]), [visual-level='4'])) {
  @include sbb.title--level-4;
}

:host(:where([level='5']:not([visual-level]), [visual-level='5'])) {
  @include sbb.title--level-5;
}

:host(:where([level='6']:not([visual-level]), [visual-level='6'])) {
  @include sbb.title--level-6;
}
