@use '../../core/styles' as sbb;

:host {
  --sbb-step-label-animation-duration: var(
    --sbb-disable-animation-duration,
    var(--sbb-animation-duration-2x)
  );

  position: relative;
  display: flex;
  min-width: 0;
  max-width: fit-content;
  gap: var(--sbb-step-label-gap);
  cursor: var(--sbb-step-label-cursor);
  color: var(--sbb-step-label-color);
  font-size: var(--sbb-step-label-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
  line-height: var(--sbb-typo-line-height-text);

  &::before {
    @include sbb.absolute-center-x-y;

    font-size: var(--sbb-step-label-number-font-size);
    font-weight: var(--sbb-step-label-font-weight-selected, normal);
    inset-block-start: calc(
      var(--sbb-step-label-font-size) * (var(--sbb-typo-line-height-text) / 2) +
        (var(--sbb-border-width-1x) / 2)
    );
    inset-inline-start: calc(var(--sbb-step-label-prefix-size) / 2);
    line-height: 1;
    z-index: 1;
    translate: -50% calc(-50% + var(--sbb-step-label-translate-y-content-hover, 0px));
    transition: translate var(--sbb-step-label-animation-duration) var(--sbb-animation-easing);
  }
}

:host(:state(selected)) {
  --sbb-step-label-color: var(--sbb-color-3);
  --sbb-step-label-font-weight-selected: bold;

  @media (forced-colors: active) {
    --sbb-step-label-color: Highlight !important;
  }
}

:host(:state(size-s)) {
  --sbb-step-label-gap: var(--sbb-step-label-gap-s);
  --sbb-step-label-prefix-size: var(--sbb-step-label-prefix-size-s);
  --sbb-step-label-font-size: var(--sbb-step-label-font-size-s);
}

:host(:state(size-m)) {
  --sbb-step-label-gap: var(--sbb-step-label-gap-m);
  --sbb-step-label-prefix-size: var(--sbb-step-label-prefix-size-m);
  --sbb-step-label-font-size: var(--sbb-step-label-font-size-m);
}

:host(:disabled) {
  --sbb-step-label-color: light-dark(var(--sbb-color-granite), var(--sbb-color-graphite));
  --sbb-step-label-prefix-border-style: dashed;

  @media (forced-colors: active) {
    --sbb-step-label-color: GrayText !important;
  }
}

:host(:hover:not(:disabled)) {
  @include sbb.hover-mq($hover: true) {
    --sbb-step-label-cursor: var(--sbb-cursor-pointer);
    --sbb-step-label-prefix-background-color: var(--sbb-background-color-3);
    --sbb-step-label-translate-y-content-hover: #{sbb.px-to-rem-build(-1)};
    --sbb-step-label-prefix-size-grow-hover: calc(var(--sbb-border-width-2x) * -1);
  }
}

:host(:focus-visible) {
  @include sbb.focus-outline;

  border-radius: var(--sbb-border-radius-1x);
}

:host(:state(orientation-vertical)) {
  transition: margin var(--sbb-stepper-animation-duration) var(--sbb-animation-easing);
}

:host(:state(orientation-vertical):not(:first-of-type)) {
  margin-block-start: var(--sbb-spacing-fixed-6x);
}

:host(:state(selected):state(orientation-vertical)) {
  margin-block-end: var(--sbb-spacing-fixed-8x);
}

.sbb-step-label__prefix {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--sbb-step-label-prefix-size);
  height: var(--sbb-step-label-prefix-size);
  inset-block-start: calc(
    1em * (var(--sbb-typo-line-height-text) / 2) + (var(--sbb-border-width-1x) / 2) -
      (var(--sbb-step-label-prefix-size) / 2)
  );

  &::before {
    content: '';
    position: absolute;
    inset: calc(var(--sbb-step-label-prefix-size-grow-hover, 0px));
    border-radius: var(--sbb-border-radius-infinity);
    border: var(--sbb-border-width-1x) var(--sbb-step-label-prefix-border-style)
      var(--sbb-step-label-prefix-border-color);
    background-color: var(--sbb-step-label-prefix-background-color);
    transition: {
      duration: var(--sbb-step-label-animation-duration);
      timing-function: var(--sbb-animation-easing);
      property: background-color, inset;
    }
  }
}

.sbb-step-label__text {
  font-weight: bold;

  :host(:state(orientation-horizontal)) & {
    @include sbb.ellipsis;
  }
}

::slotted(sbb-icon),
sbb-icon {
  z-index: 1;
  background-color: var(--sbb-step-label-prefix-background-color);
  border-radius: var(--sbb-border-radius-infinity);
  translate: 0 var(--sbb-step-label-translate-y-content-hover, 0);
  transition: {
    duration: var(--sbb-step-label-animation-duration);
    timing-function: var(--sbb-animation-easing);
    property: background-color, translate;
  }
}
