:host {
  --occupancy-icon-height: 12;
  --occupancy-icon-width: 14;

  @include mq($from: medium) {
    --occupancy-icon-height: 16;
    --occupancy-icon-width: 19;
  }

}

.occupancy__list {
  @include listReset();
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: pxToRem(var(--sbb-spacing-fixed-2x));
}

.occupancy__list-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: pxToRem(2);
}

.occupancy__class--visual {
  @include text-s--regular();
}

.occupancy__class--visually-hidden {
  @include screenReaderOnly();
}

.occupancy__icon {
  height: pxToRem(var(--occupancy-icon-height));
}

.occupancy__icon svg {
  float: inline-start;
  height: pxToRem(var(--occupancy-icon-height));
  width: pxToRem(var(--occupancy-icon-width));
  fill: currentColor;
}
