:host {
  --occupancy-icon-height: #{px-to-rem-build(12)};
  --occupancy-icon-width: #{px-to-rem-build(14)};

  @include mq($from: medium) {
    --occupancy-icon-height: #{px-to-rem-build(16)};
    --occupancy-icon-width: #{px-to-rem-build(19)};
  }
}

.occupancy__list {
  @include list-reset;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--sbb-spacing-fixed-2x);
}

.occupancy__list-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: #{px-to-rem-build(2)};
}

.occupancy__class--visual {
  @include text-s--regular;
}

.occupancy__class--visually-hidden {
  @include screenReaderOnly;
}

.occupancy__icon {
  height: var(--occupancy-icon-height);
}

.occupancy__icon svg {
  float: inline-start;
  height: var(--occupancy-icon-height);
  width: var(--occupancy-icon-width);
  fill: currentcolor;
}
