@use '../../core/styles' as sbb;

$theme: 'standard' !default;

// Used by `sbb-option` and `sbb-autocomplete-grid-option`
@mixin base {
  --sbb-option-color: var(--sbb-color-3);
  --sbb-option-background-color: inherit;
  --sbb-option-background-color-hover: var(--sbb-background-color-3);
  --sbb-option-background-color-active: var(--sbb-background-color-4);
  --sbb-option-disabled-border-color: light-dark(var(--sbb-color-graphite), var(--sbb-color-smoke));
  --sbb-option-disabled-background-color: var(--sbb-background-color-3);
  --sbb-option-padding-inline: var(--sbb-spacing-responsive-xxxs);
  --sbb-option-min-height: var(--sbb-size-element-s);
  --sbb-option-column-gap: var(--sbb-spacing-responsive-xxxs);
  --sbb-option-justify-content: start;
  --sbb-option-cursor: var(--sbb-cursor-pointer);
  --sbb-option-border-radius: var(--sbb-border-radius-4x);
  --sbb-option-icon-color: light-dark(var(--sbb-color-metal), var(--sbb-color-smoke));
  --sbb-option-focus-outline-color: transparent;
  --sbb-option-focus-outline-inset: var(--sbb-spacing-fixed-1x);
  --sbb-option-font-size: var(--sbb-text-font-size-s);
}
