@use '../../core/styles' as sbb;

:host {
  display: block;
  background-color: var(--sbb-option-background-color);
  font-size: var(--sbb-option-font-size);
  letter-spacing: var(--sbb-typo-letter-spacing-text);
}

:host(:state(negative)) {
  --sbb-option-color: var(--sbb-color-3-negative);
  --sbb-option-icon-color: var(--sbb-color-5);
  --sbb-option-background-color-hover: var(--sbb-background-color-3-negative);
  --sbb-option-background-color-active: var(--sbb-background-color-4-negative);
  --sbb-option-disabled-border-color: var(--sbb-border-color-5);
  --sbb-option-disabled-background-color: var(--sbb-background-color-3-negative);
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);
}

:host(:hover:not(:state(disabled))) {
  @include sbb.hover-mq($hover: true) {
    --sbb-option-background-color: var(--sbb-option-background-color-hover);
  }
}

:host(:active:not(:state(disabled))) {
  --sbb-option-background-color: var(--sbb-option-background-color-active);
}

// If highlighting is enabled, hide the original slot content
:host(:not(:state(disable-highlight))) {
  .sbb-option__label slot {
    display: none;
  }
}

:host(:state(disabled)) {
  --sbb-option-cursor: var(--sbb-cursor-default);

  @include sbb.if-forced-colors {
    --sbb-option-color: GrayText;
  }
}

:host(:state(variant-select)) {
  --sbb-option-column-gap: var(--sbb-spacing-fixed-2x);
  --sbb-option-justify-content: space-between;
}

:host(:state(variant-select):state(multiple)) {
  --sbb-option-justify-content: start;
}

:host(:state(active)) {
  --sbb-option-focus-outline-color: var(--sbb-focus-outline-color);
}

.sbb-option__label--highlight {
  :host(:not(:is(:state(disabled)))) & {
    @include sbb.text--bold;
    @include sbb.if-forced-colors {
      color: Highlight;
    }
  }
}

.sbb-option {
  position: relative;
  display: flex;
  min-height: var(--sbb-option-min-height);
  align-items: center;
  column-gap: var(--sbb-option-column-gap);
  padding-inline: var(--sbb-option-padding-inline);
  justify-content: var(--sbb-option-justify-content);
  color: var(--sbb-option-color);
  cursor: var(--sbb-option-cursor);
  -webkit-tap-highlight-color: transparent;
  -webkit-text-fill-color: var(--sbb-option-color);

  // We use the pseudo element to display the focus outline (inline in this case)
  &::after {
    content: '';
    display: block;
    position: absolute;
    inset: var(--sbb-option-focus-outline-inset);
    pointer-events: none;
    border: var(--sbb-focus-outline-width) solid var(--sbb-option-focus-outline-color);
    border-radius: var(--sbb-option-border-radius);
  }

  // Add inner border and background for disabled option when it's not multiple
  :host(:state(disabled):not(:state(multiple))) & {
    position: relative;
    z-index: 0;

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: #{sbb.px-to-rem-build(6)};
      border: var(--sbb-border-width-1x) dashed var(--sbb-option-disabled-border-color);
      border-radius: var(--sbb-border-radius-2x);
      background-color: var(--sbb-option-disabled-background-color);
      z-index: -1;

      @include sbb.if-forced-colors {
        border-color: GrayText;
      }
    }
  }
}

.sbb-option__icon {
  display: flex;
  min-width: var(--sbb-size-icon-ui-small);
  min-height: var(--sbb-size-icon-ui-small);
  color: var(--sbb-option-icon-color);

  :host(:not(:state(slotted-icon), :state(has-icon-name))) & {
    // Can be overridden by the 'preserve-icon-space' on the autocomplete
    display: var(--sbb-option-icon-container-display, none);
  }
}

.sbb-option__label {
  text-overflow: var(--sbb-option-text-overflow);
  overflow: var(--sbb-option-overflow);
  white-space: var(--sbb-option-white-space, initial);
}
