@use '../core/styles' as sbb;

:host {
  --sbb-link-list-anchor-border-color: var(--sbb-color-cloud);
}

:host([negative]) {
  --sbb-link-list-anchor-border-color: var(--sbb-color-granite);
}

::slotted(:is(sbb-block-link, sbb-block-link-button, sbb-block-link-static)) {
  --sbb-link-text-decoration: none;
}

.sbb-link-list-anchor {
  @include sbb.list-reset;

  display: flex;
  gap: var(--sbb-spacing-fixed-2x);
  flex-flow: column;
  margin-inline-start: var(--sbb-spacing-fixed-4x);
  padding-inline-start: var(--sbb-spacing-fixed-4x);
  padding-block: var(--sbb-spacing-fixed-1x);
  border-inline-start: var(--sbb-border-width-1x) solid var(--sbb-link-list-anchor-border-color);
}
