@use '../core/styles' as sbb;

// Box-sizing rules contained in typography are not traversing Shadow DOM boundaries. We need to include box-sizing mixin in every component.
@include sbb.box-sizing;

:host {
  --sbb-link-list-anchor-border-color: var(--sbb-color-cloud);

  display: block;
}

:host([negative]) {
  --sbb-link-list-anchor-border-color: var(--sbb-color-granite);
}

::slotted(:is(sbb-block-link, sbb-block-link-button, sbb-block-link-static)) {
  --sbb-link-text-decoration: none;
}

.sbb-link-list-anchor-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--sbb-spacing-fixed-3x);
}

.sbb-link-list-title {
  // Overwrite sbb-title default margin
  margin: 0;

  :host(:not([data-slot-names~='title'], [title-content])) & {
    display: none;
  }
}

.sbb-link-list-anchor {
  @include sbb.list-reset;

  display: flex;
  gap: var(--sbb-spacing-fixed-2x);
  flex-flow: column;
  margin-inline-start: var(--sbb-spacing-fixed-4x);
  padding-inline-start: var(--sbb-spacing-fixed-4x);
  padding-block: var(--sbb-spacing-fixed-1x);
  border-inline-start: var(--sbb-border-width-1x) solid var(--sbb-link-list-anchor-border-color);
}
