@use './standard-theme';

:root {
  --sbb-color-primary: var(--sbb-color-metal);
  --sbb-color-primary-85: var(--sbb-color-smoke);
  --sbb-color-primary-125: var(--sbb-color-granite);
  --sbb-color-primary-150: var(--sbb-color-anthracite);
}
