// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include host-component-properties;

:host {
  flex-grow: var(--sbb-toggle-option-flex-grow);
}

:host input[type='radio'] {
  display: none;
}

.sbb-toggle-option {
  @include text-xs--regular;

  display: flex;
  cursor: pointer;
  padding-inline: var(--sbb-toggle-padding-inline);
  padding-block: var(--sbb-toggle-padding-block);
  border-radius: var(--sbb-border-radius-16x);
  color: var(--sbb-toggle-option-text-color);
  justify-content: center;

  &::after {
    content: attr(data-text);
    visibility: hidden;
    @include text-xs--bold;
  }
}

:host([checked]) {
  .sbb-toggle-option {
    @include text-xs--bold;

    background-color: white;
    color: var(--sbb-toggle-selected-option-text-color);
  }
}
