@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --sbb-toggle-option-cursor: pointer;
  --sbb-toggle-option-color: var(--sbb-color-anthracite-default);
  --sbb-toggle-option-icon-min-size: var(--sbb-size-icon-ui-small);
  --sbb-toggle-option-line-height: calc(1em * var(--sbb-typo-line-height-body-text));

  display: inline-block;
  overflow: hidden;
  z-index: 1;
}

:host(:focus-visible) {
  outline: none;
}

:host([checked]) {
  --sbb-toggle-option-color: var(--sbb-color-charcoal-default);
}

:host([disabled]) {
  --sbb-toggle-option-cursor: unset;
  --sbb-toggle-option-color: var(--sbb-color-graphite-default);
}

input[type='radio'] {
  @include sbb.screen-reader-only;
}

.sbb-toggle-option {
  @include sbb.text-xs--bold;

  cursor: var(--sbb-toggle-option-cursor);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--sbb-toggle-min-width);
  padding-inline: var(--sbb-toggle-padding-inline);
  padding-block: var(--sbb-toggle-padding-block);
  border-radius: var(--sbb-border-radius-16x);
  color: var(--sbb-toggle-option-color);

  &:not(.sbb-toggle-option--icon-only) {
    --sbb-icon-margin-inline: 0 var(--sbb-spacing-fixed-1x);
  }

  :host([icon-name]) & {
    // Recalculate padding to maintain the same toggle height when the icon is displayed.
    padding-block: calc(
      var(--sbb-toggle-padding-block) -
        ((var(--sbb-toggle-option-icon-min-size) - var(--sbb-toggle-option-line-height)) / 2)
    );
  }
}

.sbb-toggle-option__label {
  @include sbb.ellipsis;
}

sbb-icon,
::slotted(sbb-icon) {
  min-width: var(--sbb-toggle-option-icon-min-size);
  min-height: var(--sbb-toggle-option-icon-min-size);
}
