@use '../../core/styles' as sbb;

$theme: 'standard' !default;

@mixin base {
  --sbb-navigation-action-gap: var(--sbb-spacing-responsive-xs);
  --sbb-navigation-marker-position-x: var(--sbb-spacing-fixed-1x);
  --sbb-navigation-marker-position-y: unset;
  --sbb-navigation-marker-width: #{sbb.px-to-rem-build(17)};
  --sbb-navigation-marker-border: var(--sbb-border-width-1x);
  --sbb-navigation-marker-padding-inline-start: var(--sbb-spacing-fixed-6x);
  --sbb-navigation-marker-typo-line-height: var(--sbb-typo-line-height-heading);
  --sbb-navigation-margin-inline-start: var(--sbb-spacing-fixed-3x);
  --sbb-navigation-marker-font-size-l: #{sbb.theme-pattern-select(
      (
        'standard': var(--sbb-text-font-size-xl),
        'lean': var(--sbb-text-font-size-l),
      ),
      $theme
    )};
  --sbb-navigation-marker-font-size: #{sbb.theme-pattern-select(
      (
        'standard': var(--sbb-text-font-size-xl),
        'lean': var(--sbb-text-font-size-xxs),
      ),
      $theme
    )};
  --sbb-navigation-marker-letter-spacing: #{sbb.theme-pattern-select(
      (
        'standard': var(--sbb-typo-letter-spacing-heading),
        'lean': var(--sbb-typo-letter-spacing-text),
      ),
      $theme
    )};
  --sbb-navigation-marker-line-height: #{sbb.theme-pattern-select(
      (
        'standard': var(--sbb-title-line-height, var(--sbb-typo-line-height-heading)),
        'lean': var(--sbb-typo-line-height-text),
      ),
      $theme
    )};
}
