@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
@include sbb.host-component-properties;

:host {
  --card-badge-color-primary: var(--sbb-color-white-default);
  --card-badge-color-primary-negative: var(--sbb-color-black-default);
  --card-badge-background-color-primary: var(--sbb-color-black-default);
  --card-badge-background-color-primary-negative: var(--sbb-color-white-default);
  --card-badge-border-color-primary-negative: var(--sbb-color-aluminium-default);

  @include sbb.if-forced-colors {
    border-inline-start: #{sbb.px-to-rem-build(1)} solid CanvasText;
    border-block-end: #{sbb.px-to-rem-build(1)} solid CanvasText;
  }
}

.card-badge {
  display: flex;
  align-items: center;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  padding-inline-end: var(--sbb-spacing-fixed-6x);
  border-end-start-radius: var(--sbb-border-radius-4x);
  z-index: inherit;

  // Left to right expression
  right: calc(var(--sbb-spacing-fixed-3x) * -1);
  transform: skew(16deg, 0deg);

  > * {
    transform: skew(-16deg, 0deg);
    padding-inline-start: var(--sbb-spacing-fixed-2x);
  }

  // Right to left expression
  &[dir='rtl'] {
    right: initial;
    left: calc(var(--sbb-spacing-fixed-3x) * -1);
    transform: skew(-16deg, 0deg);

    > * {
      transform: skew(16deg, 0deg);
    }
  }

  // *************************************************
  // Variants
  // *************************************************
  &--primary {
    color: var(--card-badge-color-primary);
    background-color: var(--card-badge-background-color-primary);
  }

  &--primary-negative {
    color: var(--card-badge-color-primary-negative);
    background-color: var(--card-badge-background-color-primary-negative);
    border-block-end: solid 1px var(--card-badge-border-color-primary-negative);
    border-inline-start: solid 1px var(--card-badge-border-color-primary-negative);
  }

  &--regular {
    @include sbb.text-xxs--bold;
  }
}
