:host {
  --walk-icon-height: 24;
  --walk-icon-width: var(--walk-icon-height);
}

.walk {
  display: flex;
  align-items: center;
  @include text-s--regular();
  margin: 0;
  pointer-events: all;
  cursor: help;
}

.walk--departure {
  margin-inline-end: pxToRem(var(--spacing-fixed-2x));
}

.walk--arrival {
  margin-inline-start: pxToRem(var(--spacing-fixed-2x));
}

.walk__text--visually-hidden {
  @include screenReaderOnly();
}

.walk__icon {
  width: pxToRem(10);
  margin-inline-end: pxToRem(var(--spacing-fixed-1x));
}

.walk--second-level .walk__duration--visual {
  order: -1;
  margin-inline-start: 0;
  margin-inline-end: pxToRem(var(--spacing-fixed-3x));
}

.walk--second-level .walk__icon {
  margin-inline-end: pxToRem(var(--spacing-fixed-2x));
}

.walk__icon svg {
  float: left;
  height: pxToRem(var(--walk-icon-height));
  width: pxToRem(var(--walk-icon-width));
  transform: translateX(pxToRem(-7));

  @include ifForcedColors {
    fill: CanvasText;
  }

}
