@use './typo';
@use './a11y';
@use '../core/mediaqueries';

@mixin link-variables {
  --sbb-link-color-normal: var(--sbb-color-granite-default);
  --sbb-link-color-hover: var(--sbb-color-red125-default);
  --sbb-link-color-active: var(--sbb-color-red150-default);
  --sbb-link-text-decoration: none;

  @include a11y.if-forced-colors {
    --sbb-link-text-decoration: underline;
  }
}

@mixin link-variables--negative {
  --sbb-link-color-normal: var(--sbb-color-white-default);
  --sbb-link-color-hover: var(--sbb-color-cloud-default);
  --sbb-link-color-active: var(--sbb-color-silver-default);
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);
}

@mixin link-variables--inline {
  --sbb-link-color-normal: inherit;
  --sbb-link-text-decoration: underline;
}

@mixin link-variables--inline-negative {
  --sbb-link-color-hover: var(--sbb-color-graphite-default);
  --sbb-link-color-active: var(--sbb-color-metal-default);
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-dark);
}

@mixin link-variables--button {
  @include a11y.if-forced-colors {
    --sbb-link-color-normal: ButtonText;
    --sbb-link-color-hover: ButtonText;
    --sbb-link-color-active: ButtonText;
  }
}

@mixin link-base {
  color: var(--sbb-link-color-normal);
  text-decoration: var(--sbb-link-text-decoration);
  user-select: none;
}

@mixin link-inline-base {
  @include typo.text-inherit;
}

@mixin link-focus-visible {
  // Hide focus outline when focus origin is mouse or touch. This is being used in tooltip as a workaround.
  &:focus-visible:not([data-focus-origin='mouse'], [data-focus-origin='touch']) {
    @include a11y.focus-outline;

    border-radius: calc(var(--sbb-border-radius-4x) - var(--sbb-focus-outline-offset));
  }
}

@mixin link-hover-rules {
  @include mediaqueries.hover-mq($hover: true) {
    color: var(--sbb-link-color-hover);
    text-decoration: underline;
  }
}

@mixin link-hover {
  &:hover {
    @include link-hover-rules;
  }
}

@mixin link-active-rules {
  color: var(--sbb-link-color-active);
}

@mixin link-active {
  &:active {
    @include link-active-rules;
  }
}

@mixin link-inline-consolidation {
  @include link-base;
  @include link-inline-base;
  @include link-focus-visible;
  @include link-hover;

  // Active definitions have to be after :hover definitions
  @include link-active;
}

@mixin link-inline {
  @include link-variables;
  @include link-variables--inline;
  @include link-inline-consolidation;
}

@mixin link-inline-negative {
  // We don't include link-variables and link-variables--negative here
  // because they are going to be overridden anyways.
  @include link-variables--inline;
  @include link-variables--inline-negative;
  @include link-inline-consolidation;
}
